[2021-03-17 19:06] mengqiy opened #1560 "Create StarlarkScript CRD for starlark function"
Currently we have StarlarkRun which can have a starlark script inline.
In the future, we want to have StarlarkScript to wrap a starlark script and StarlarkRun can reference it. This solves the reusability issue.

[2021-03-17 20:00] frankfarzan commented on #1559
Re "filepath of the resource": Orchestrator must handle multi-object files, so filepath is not a primary key.

[2021-03-17 20:57] karlkfi commented on #1383
I keep running into cases where I want this.

In the latest example, I was refactoring a gke-cluster package into 1 parent parent with 2 sub-packages (cluster & subnet) and I needed to share the subnet name (a substitution) between the two packages. But there's no way to do that right now, because substitutions aren't inherited and can't be overridden like setter defaults.

If I could set a substi

[2021-03-17 21:41] morgante commented on #1386
+1 to making recursive the default, since it's the default when adding a new package.

[2021-03-17 21:57] mikebz commented on #1386
@phanimarupaka @frankfarzan @mortent is the `next` branch recursive by default?

[2021-03-17 21:58] mgoltzsche commented on #1531
Sounds good! Looking forward to playing with that!

[2021-03-17 23:03] mikebz commented on #1544
We will see what it takes to get this to work but setting the priority to p2 for now since I have not seen this widely reported and I don't know if customers have mentioned this.

[2021-03-18 00:13] phanimarupaka commented on #1386
Yes. It will be recursive by default. Not just for setters but for all the other functions.

[2021-03-18 10:08] PatrickChenSe opened #1562 "Duplicated resources with the same kind, group, namespace and name don't report an error."
### Expected behavior
If we accidentally apply two resources with the same kind, group, namespace, and name, kpt should report an error.

### Actual behavior
No error. And dry-run and apply return different results.

### Information
kpt version: 0.36.1

Two PubSubTopics with the same kind, group, namespace and name pass preview and apply.
[code]
`kpt live preview`
Output:
[code]
`kpt live apply`
O

[2021-03-18 16:56] mengqiy commented on #1516
Closed by #1556

[2021-03-18 16:56] #1516 closed

[2021-03-18 17:27] mengqiy opened #1563 "Starlark demo -> examples"
Depending on how long we want the demo to be,  we can choose to cover some of the following scenarios.
- Generator: create a or more new resources
- Mutate some fields in the existing resources
- Remove one more resources from the resource list
- Validate resources: return structured errors

[2021-03-18 17:27] mengqiy commented on #1563
@frankfarzan @droot @Shell32-Natsu Thoughts?

[2021-03-18 18:41] frankfarzan commented on #1563
SGTM. My recommendation is to show examples that do something useful (no foobar).

[2021-03-18 19:36] frankfarzan commented on #1489
@mengqiy As part of this, we should do a quick UI mock for a function.

[2021-03-18 20:09] mikebz commented on #1531
@droot any chance we can link this issue to the Epic or Feature ticket?  That way when it closes we can let @mgoltzsche know?

[2021-03-18 20:43] #1535 closed

[2021-03-18 21:04] mengqiy opened #1564 "Use ENTRYPOINT in apply-setter and search-replace functions"
We should follow what we do in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/189/files#diff-22be26d2b9ade84e3aa6f7e8dfe4992f0fbb6a8da7bbf6c2cd6c109d7097e4a5R15
We need to ensure they work with `kpt fn doc`

[2021-03-18 21:22] droot opened #1565 "Update the command reference docs for `kpt fn` command groups"
Since we have introduced many changes for the upcoming `v1` version, the task here is to update the command reference docs in one shot. We should do it once we hit code complete for all these commands.

/cc @frankfarzan @Shell32-Natsu

[2021-03-18 22:08] mikebz commented on #1545
Hi @marshall007, first of all thank you for being an active user of our toolchain.  There is a lot to unpack here.

## upstream remotes

First of all you are correct that remotes have a stability gap over pulling packages locally.  We have seen that from customers and that is one of the key motivations for kpt (even though remotes are going to be hard to unwind because of how popular kustomize is)

[2021-03-18 23:13] runewake2 opened #1567 "Reduce End-2-End Test Flakiness"
The `end-to-end-test.sh` tests can create flaky behavior resulting in false test failures during Pull Requests and merges to the master branch. This is introduced due to test resources persisting between different tests. Right now this behavior seems rare.

To resolve this manually usually using "Re-run Jobs" works.

We should attempt to remove resource conflicts between tests so that tests provid

[2021-03-19 04:18] marshall007 commented on #1545
@mikebz thanks for the detailed response, much appreciated! The part that feels burdensome to us is piping of the kustomize output to a separate directory which is also maintained in the git repo.

It feels like following all the other best practices (mainly unwinding remote refs and not doing anything that references external state in generators/transformers) results in having kustomizations that

[2021-03-19 17:31] frankfarzan opened #1569 "kpt.dev section pages are blank"
For example, `kpt.dev/installation` is a blank page. It should either not be clickable in the navbar or have links to subpages.

[2021-03-19 17:34] frankfarzan opened #1570 "reference docs: pkg"
Overhaul and audit of all reference docs for `pkg` commands.

See #1577 for guidance on command references.

[2021-03-19 17:38] frankfarzan opened #1571 "reference docs: fn"
Overhaul and audit of all reference docs for fn commands.

See #1577 for guidance on command references.

[2021-03-19 17:39] frankfarzan opened #1572 "reference docs: live"
Overhaul and audit of all reference docs for live commands.

See #1577 for guidance on command references.

[2021-03-19 17:40] frankfarzan opened #1573 "tutorial docs"
These docs will replace existing Guides.

[2021-03-19 17:45] frankfarzan opened #1574 "Site infra: kpt book"
For kpt v1, we are authoring the guide in a book format. To give a rough idea, see Rust book: https://doc.rust-lang.org/book/title-page.html

Requirements:

- [x] Page previous/next navigation. The reader should be guided sequentially through the book. This is different than the random access for command references we have today.
- [x] Chapter and page numbering.
- [x] Organizing the `md` files. W

[2021-03-19 17:46] frankfarzan opened #1575 "Site infra"
Tracking issue for site infrastructure and look and feel:

- [x] Page navigation #1574
- [x] Section page rendering #1569
- [x] Demo videos are not rendered #1578
- [x] Shell block syntax highlighting #1579
- [x] Styling for selected navbar item is too subtle #1580
- [x] Don't auto expand navbar sections #1603

[2021-03-19 17:46] frankfarzan opened #1576 "kpt v1 docs"
- [x] references
  - [x] pkg: #1570
  - [x] fn:  #1571
  - [x] live: #1572
  - [x] CLI usability changes: #1577
- [x] book: #1573
- [x] Migrate catalog functions example to use kpt 1.0 CLI #1548
- [ ] Complete and polish function catalog docs #1890
- [x] site infra: #1575
- [x] function catalog infra: #1465

[2021-03-19 17:53] frankfarzan opened #1577 "CLI usability: reference docs consistency"
As part of CLI usability, commands are removed, moved to a different group, renamed, etc. This issue covers the cross-cutting changes to command reference to ensure consistency. Each command group has a separate issue (#1576) for addressing the content changes which is out of scope for this issue.

- [x] Ensure every CLI command has a corresponding reference doc
- [x] Prune deleted commands
- [x]

[2021-03-19 18:42] frankfarzan opened #1578 "Demo videos are not rendered"
Compare:
https://googlecontainertools.github.io/kpt/reference/live/init/

and http://127.0.0.1:3000/reference/live/init/

[2021-03-19 18:44] frankfarzan opened #1579 "Shell block syntax highlighting"
Compare rendering of such a block from current site to new site:

[code]

[2021-03-19 19:33] frankfarzan opened #1580 "Styling for selected navbar item is too subtle"
https://screenshot.googleplex.com/6hdKemcpXWk5w5y

This is a11y issue: It's not obvious which page is currently selected on the navbar given slight font color difference (light grey to white) and right chip (different shades of blue).

[2021-03-19 20:12] etefera opened #1581 "Enable monitoring and analytics for next site"
A project owner should enable analytics through the sidebar of the firebase console.

[2021-03-19 20:58] #1579 closed

[2021-03-19 22:33] mikebz commented on #1581
site monitoring is a P1 in IMHO

[2021-03-19 22:39] #1485 closed

[2021-03-22 17:05] #1530 closed

[2021-03-22 17:22] #1578 closed

[2021-03-22 17:22] #1569 closed

[2021-03-22 18:38] #1580 closed

[2021-03-22 19:11] karlkfi opened #1591 "kptfile spec doesn't allow non-string values"
### Expected behavior

I expect the following to parse correctly, accepting a non-string value and validating the type after parsing the Kptfile:

[code]

### Actual behavior

The value field is a string in Go, so the integer fails to parse with the error:

[code]

This requires the value to be a string, which is confusing:

[code]

[2021-03-22 19:14] Shell32-Natsu commented on #1591
@phanimarupaka Can you take a look? Looks like related to setters.

[2021-03-22 19:37] phanimarupaka commented on #1591
@karlkfi This is a known issue and the workaround seems like you already figured out the workaround. We addressed this in next branch.

[2021-03-22 20:08] phanimarupaka opened #1592 "Make DIR optional for live commands"
As part of making cli experience consistent across all the commands in kpt, we should make DIR argument optional for live commands and default to current directory. STDIN should be accepted by commands if '-' is specified similar to kubectl.

`kpt live apply` should default to current working directory

`kpt live apply -` should accept STDIN input.

[2021-03-22 20:39] frankfarzan commented on #1574
I took a crack at organizing the book content in #1585. Note the following:

- The chapter and page numbers are encoded in the directory and file names.
- The directory and file name determines the title of the page. As such, the title is omitted in the `md` files.

[2021-03-22 20:55] mikebz commented on #1592
How does STDIN reconcile with ResourceGroup being recorded on disk?  Wouldn't the customer always have the resources on disk?  If we are getting a STDIN input from another tool, where does the resourcegroup come from?

[2021-03-22 20:57] mikebz commented on #1591
@phanimarupaka can you please link to the duplicate issue and close this as a duplicate if it is indeed a dupe?

[2021-03-22 21:01] mikebz commented on #1575
@etefera when you triage an issue please add it to the project.  Done here, just makes sure these are not lost in the future.

[2021-03-22 21:05] mikebz commented on #1564
@mengqiy @phanimarupaka this wasn't added to the project.  Not sure if this is actively being worked on or not.  Please update when you get a chance.

[2021-03-22 21:08] morgante opened #1593 "kpt cfg set panics when not provided enough arguments"
### Expected behavior
If I don't specify enough arguments, a friendly error message is returned

### Actual behavior
Running `kpt cfg set` with insufficient arguments (or an unset setter value) yields a panic:

[code]

### Information
v0.38.1

[2021-03-22 21:28] phanimarupaka commented on #1564
@mikebz Yes. This is being worked on.

[2021-03-22 21:40] mikebz commented on #1545
@marshall007 I took a quick look at your packages and it seems like almost all of the changes you are looking the package consumers to do are string value setting updates.  Is that correct?

if you are asking people to just set some setters and then output a fully hydrated config here: `kustomize build . -o manifests` I am not sure why you need kustomize in the picture.

When you don't mix and mat

[2021-03-22 21:52] mikebz commented on #1564
thank you!  Adding to the `In Progress`

[2021-03-22 22:45] frankfarzan commented on #1574
As part of this, we need to figure out best way to formulate the URL for the rendered pages considering SEO, ability to rename chapter/pages, etc. See comments in #1585

[2021-03-22 22:47] phanimarupaka commented on #1592
The resource group also must be part of STDIN. That is true in the current version of kpt as well.

cc @seans3

[2021-03-22 22:51] wstrange commented on #1545
I'm following along here, because we have quite a bit of kustomize.

I am gathering that the easiest path forward is to convert all the kustomizations to kpt. I.e. they really are not complementary - more like two different approaches to the problem.

I think that's OK - but would suggest the docs cover this - and perhaps provide a migration guide.

[2021-03-22 22:57] phanimarupaka commented on #1591
@mikebz There is no issue as such but this is addressed as part of overall design for kpt v1. I think we can add v1alpha2 tag and close this issue. Let me know if you think otherwise.

[2021-03-22 22:59] phanimarupaka commented on #1532
This problem should be solved for all function input and not just for apply-setters which will be done in Q2.

[2021-03-22 22:59] #1532 closed

[2021-03-23 22:47] #1591 closed

[2021-03-23 22:51] mengqiy opened #1598 "Categories for the fn catalog"
Forking from https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/194#discussion_r599135294

[2021-03-24 00:04] #1564 closed

[2021-03-24 00:06] #1514 closed

[2021-03-24 00:11] mengqiy opened #1600 "Exclude meta resources for kpt live apply"
Currently there's a general mechanism using local-config annotation but we can do better.

[2021-03-24 16:16] runewake2 opened #1601 "Run Kpt Dependency License Check During Pull Requests"
Kpt runs checks during release to confirm that all it's dependencies are using a supported license. We should expand the checks that Kpt runs during Pull Requests so that these [checks](https://github.com/GoogleContainerTools/kpt/blob/master/scripts/create-licenses.sh) are run. This will allow any potential issues to be caught as soon as possible and prevent these issues from arising later in the

[2021-03-24 16:23] mikebz commented on #1601
@runewake2 when you set the ticket to triaged do not forget to add it to the project.  Otherwise it's not on the backlog.

[2021-03-24 18:06] frankfarzan opened #1603 "Don't auto expand navbar sections"
Navbar sections (e.g. installation) should only expand when selected. Currently, all pages are auto-expanded which is overwhelming.

https://screenshot.googleplex.com/T46ieeLBYW8rBt9

[2021-03-24 18:17] #1275 closed

[2021-03-24 18:17] #1274 closed

[2021-03-24 19:00] runewake2 opened #1604 "Correctly Handle Kpt Dependency License Versions"
Kpt runs a [`check`](https://github.com/GoogleContainerTools/kpt/blob/master/scripts/create-licenses.sh) to validate kpt dependency licenses. This check can fail in the case where two dependencies exist:

[code]

If the `foo/bar/` module is not checked out with `go mod vendor` then the check will fail.

This behavior is currently present in Kpt's `posener` dependency.

[2021-03-24 19:16] marshall007 commented on #1545
@mikebz

We are primarily exposing setters as a convenience for three primary use cases:

1. folks that want a more traditional CI deployment workflow (i.e. not using gitops) or wish to and want a migration path from CI to gitops
2. those that are using gitops but don't want to deal with adding their own patches in kustomize for simple things
3. other situations where the customer cannot use stric

[2021-03-24 19:53] Shell32-Natsu commented on #1551
Close in #1561

[2021-03-24 19:53] #1551 closed

[2021-03-24 19:53] Shell32-Natsu commented on #1547
Closed in #1561

[2021-03-24 19:53] #1547 closed

[2021-03-24 20:03] Shell32-Natsu commented on #1390
Should we define the complete result schema in the spec or we just define a `results` field in the output list? The `functionConfig` is defined in latter way.

[2021-03-24 20:07] mortent opened #1606 "The kpt pkg diff command should handle nested packages"
The diff command currently doesn't handle remote subpackages and will try to diff everything in local with upstream. We should at least make sure diffing a single package excludes remote subpackages, and potentially allow diffing a full hierarchy of packages at the same time.

[2021-03-24 20:09] #1505 closed

[2021-03-24 20:13] natasha41575 opened #1608 "Design a mechanism to inject OpenAPI schema into kpt functions"
Kpt should have a mechanism to inject the OpenAPI document to a function when it is executed, no matter what language the function is written in.

@mengqiy

[2021-03-24 20:29] droot opened #1609 "Abstract out resource pruning code to reuse it in `kpt fn render` and `kpt fn eval`"
As part of implementing [resource pruning for `kpt fn render`](https://github.com/GoogleContainerTools/kpt/pull/1589), a concern was raised about having common resource pruning code between `kpt fn eval` and `kpt fn render`. There isn't a straight forward to share this code in the current implementations. I am filing this issue to record it as a technical debt for the project.

[2021-03-24 22:09] mortent opened #1612 "Race when install RG with kpt live apply"
### Expected behavior
Running kpt live apply should install the RG and complete successfully

### Actual behavior
I get an error `error: no matches for kind "ResourceGroup" in group "kpt.dev"` on the first attempt. Trying again works as expected.

### Information
CRDs are not immediately ready after being installed, so kpt should wait for the `Established` condition to become true before continuin

[2021-03-24 22:41] runewake2 commented on #1604
Note: #1605 introduced a temporary workaround for this, but we still need a longer term solution for this.

[2021-03-24 22:46] frankfarzan commented on #1390
There are two different things:

1. Wire format `ResourceList.results`, this is not a separate KRM.
2. Output of the kpt CLI `FunctionResults` which is a KRM.

[2021-03-24 23:17] Shell32-Natsu opened #1614 "Refactor fn eval cmd to avoid using function annotation"
Current implementation for `kpt fn eval` uses annotation `config.kubernetes.io/function` to pass the function specs to the fn runner. The implementation is inherited from kyaml. Although this is used purely internally we should refactor to get rid of it.

This should not be prioritized and we can do it after adding `fn eval` e2e tests.

[2021-03-24 23:40] frankfarzan commented on #1577
Also, let's delete the From/To tables:

https://screenshot.googleplex.com/4dVNty7YYnDrp68

They're not comprehensible.

[2021-03-24 23:43] frankfarzan commented on #1465
Other concerns:

- [ ] Function usage docs are consistent across 1st party functions
- [ ] Function examples are consistent
- [ ] Function categorization is rationalized
- [ ] Function versioning in docs

[2021-03-25 00:03] mengqiy commented on #1465
Let's update the list in https://github.com/GoogleContainerTools/kpt/issues/1489 if needed.

[2021-03-25 00:06] frankfarzan commented on #1465
What's the difference between these issues? Do you want dedup?

[2021-03-25 02:04] Bobgy commented on #1218
Hi @phanimarupaka, I tried using `.krmignore`, but I kept getting the `wrong Node Kind error`.
Can you clarify when that feature was supported?
Is it in `kpt 0.37.1`?
And what is its syntax?

I'm getting this error message:
[code]

I put a `.krmignore` file in `upstream/manifests` with the following content:

[code]

However, neither the relative path, nor the file name seem to be read. I'm still

[2021-03-25 02:17] Bobgy commented on #1218
Ohhh, I think I figured out
`.krmignore` can only be used to ignore folders, not files.

Is that correct? Can we have official documentation for it? It's a little hard digging through how exactly it works.

[2021-03-25 02:20] Bobgy commented on #1218
Hmm, another caveat found, it seems `.krmignore` only takes effect when my working dir directly contains it. This seems make it unsable, I publish packages, if a `.krmignore` in the upstream package doesn't have effect, all my consumers need to set up a `.krmignore` for themselves?

[2021-03-25 03:40] mikebz commented on #1614
@Shell32-Natsu please add to the project

[2021-03-25 04:19] mikebz commented on #1545
It might be better to connect live and walk through some of these use cases.  I am mikebz@g......com (fill in the blank :) )

[2021-03-25 15:39] mikebz commented on #1592
@phanimarupaka or @seans3 can you please add the rough sizing to this problem?

[2021-03-25 16:12] mikebz commented on #1562
Thanks for reporting this @PatrickChenSe .  The overall behavior is in line with how kubectl behaves.  I am not sure we would take on fixing this issue in a client side tool.  Here is an example:

[code]

[code]

The combined config has duplicates:
[code]

[2021-03-25 16:12] #1562 closed

[2021-03-25 16:55] mortent opened #1616 "Support 3-way merge of the Kptfile pipeline"
During updates, we need to merge the pipeline coming from local, upstream and origin.

[2021-03-25 17:00] phanimarupaka opened #1617 "Curated functions catalog: mdtogo setup, docs for search-replace and apply-setters"

[2021-03-25 17:05] phanimarupaka commented on #1593
PR https://github.com/kubernetes-sigs/kustomize/pull/3748

[2021-03-25 17:43] frankfarzan opened #1618 "`kpt pkg get` blocks for a long time"
kpt pkg get https://github.com/kubernetes/website/content/en/examples/application/cassandra cassandra
$ fetching package content/en/examples/application/cassandra from https://github.com/kubernetes/website to ...

### Expected behavior

Fetch the package

### Actual behavior

Hangs (or a takes very long time)

### Information

0.39 mac os

### Steps to reproduce the behavior

[2021-03-25 17:50] frankfarzan commented on #1618
Note that even though that repo is large, shallow clone terminates in 7s:
[code]

[2021-03-25 18:12] frankfarzan opened #1619 "kubeval example docs doesn't work"
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/validators/kubeval

Package has been moved.

AI(s):
- Audit all example package documentation
- Consider how to test documentation is correct

[2021-03-25 18:13] frankfarzan commented on #1619
Per our offline discussion, don't use categories for subdirectory organization

[2021-03-25 18:15] frankfarzan commented on #1618
We should also consider showing progress similar to clone, it's not good UX to be blocking for more than a few seconds without providing feedback.

[2021-03-25 18:45] frankfarzan commented on #1619
Also, what's the status for using semver in docs instead of `unstable`?

[2021-03-25 19:02] frankfarzan commented on #1619
Also, why does kubeval require network? We should make it work hermatically so it can be used declaratively. Eventually, this function should use the OpenAPI document provided by orchestrator to validate schemas.

[2021-03-25 19:16] frankfarzan opened #1621 "kubeval function should be run hermetically"
Currently kubeval requires network to fetch schemas:

https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/functions/ts/kubeval/src/kubeval.ts#L162

We should make it work hermetically so it can be used declaratively. This function should eventually use the OpenAPI document provided by orchestrator to validate schemas. To get unblocked immediately consider baking the schemas i

[2021-03-25 19:23] mengqiy commented on #1619
semver is being used in the release branch which is where the doc will be generated from.
e.g. https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/set-namespace/v0.1/examples/mutators/set-namespace/v0.1.1/advanced/fn-config.yaml#L8

We plan to use `unstable` in the master branch.

[2021-03-25 19:24] mortent commented on #1618
So it does actually complete, but it is very slow. There are several reasons for this:
 * kpt first tries to fetch it using the package-specific ref (which in this case is `content/en/examples/application/cassandra/master`). But in this case this tag doesn't exist, so the initial attempt fails.
 * Each attempt actually tries fetching the repo two ways, first by fetching just the specified ref, and

[2021-03-25 20:29] frankfarzan opened #1622 "`kpt pkg tree` visualization of package hierarchy"
[code]

Kptfile is rendered like a regular file which makes the output less readable.

[2021-03-25 21:20] frankfarzan commented on #1618
May want to split this into 2 issues: speeding up `get` and showing progress. For this package, it's really don't matter if it takes X minutes or it never terminates, the user won't stick around to find out.

[2021-03-25 23:37] #1593 closed

[2021-03-26 00:03] phanimarupaka commented on #1622
@frankfarzan Here is the PR. https://github.com/kubernetes-sigs/kustomize/pull/3759

[2021-03-26 22:54] howardjohn opened #1625 "`kpt fn run` should warn with declarative exec functions and --enable-exec not set"
### Is your feature request related to a problem? Please describe.
I set up a YAML like
[code]

and ran `kpt fn run --log-steps -v9`. Nothing happens and there is no output
### Describe the solution you'd like

Some logs to indicate why the function is not run

### Describe alternatives you've considered

### Additional context

[2021-03-27 01:12] marshall007 commented on #1545
@mikebz email sent, thanks!

[2021-03-29 00:18] mortent opened #1626 "kpt live doesn't consistently use name or label for identifying the inventory object"
kpt live relies on two different approaches to looking up the inventory object(s). The legacy solution is to use the inventory label to look up one or more inventory objects, which means the name of the inventory objects doesn't matter. The new approach which is used by the RG provider is to rely on the name for looking up the inventory object, while the id is only used as a way to detect overlapp

[2021-03-29 00:36] mortent commented on #1622
So the reason why the Kptfile is included in the output, it that it provides a way for users to see the package hierarchy with the `tree` command. I agree we should look at whether including the Kptfile in the output is the right way to achieve this, but I'm not sure we should just remove it without any replacement. Visualizing the package hierarchy seems pretty useful, so I think we should keep t

[2021-03-29 01:49] phanimarupaka commented on #1622
@mortent There is Pkg: prefix for folders which are packages. Please refer to tests in the PR. This helps users to know the package hierarchy.

[2021-03-29 13:57] #1433 closed

[2021-03-29 14:13] mortent commented on #1622
Ack. I had forgotten that we also use the Pkg prefix.

[2021-03-29 16:56] Shell32-Natsu opened #1627 "Define structs for function structured result"
Part of #1390

[2021-03-29 17:09] #1603 closed

[2021-03-29 17:17] frankfarzan commented on #1625
As part of the new kpt 1.0 design, declarative functions must be dockerized (`kpt render`). Imperative invocation of a single function (kpt eval`) can use dockerized and non-dockerized executables.

[2021-03-29 17:20] droot commented on #1524
This is addressed with the PR #1589 so closing this.

[2021-03-29 17:20] #1524 closed

[2021-03-29 17:31] johnbelamaric opened #1628 "kpt fn runs functions as nobody which is a hassle for scratch-based containers"
### Expected behavior
I can use scratch-based containers without adding a fake `/etc/passwd` file.

### Actual behavior
When running `kpt fn run`, `kpt` defaults to the user nobody. This means that when I create a container image from scratch, I have to create a fake `/etc/passwd` file with nobody in it, or the function execution will fail. This is not the end of the world but annoying. Wouldn't a

[2021-03-29 17:37] #1464 closed

[2021-03-29 17:50] frankfarzan commented on #1628
Is your request to have the kpt orchestrator run all containers with a well-known uid instead of user `nobody`?

If so, this would be a backwards incompatible change. Although the Functions Spec doesn't explicitly state user `nobody`, the API has been effectively defined via current implementation, so we need a very strong justification for changing it:

https://github.com/kubernetes-sigs/kustomiz

[2021-03-29 21:40] frankfarzan commented on #1558
Test case tracker: https://docs.google.com/spreadsheets/d/1V5f1UpL0_WqJPyeFTaR0bR4acCGtoUENYHVvV_HOlrc/edit#gid=0

[2021-03-29 21:42] Shell32-Natsu opened #1631 "Add e2e tests for `kpt fn {eval, source, sink}`"
We need to add e2e tests for `kpt fn eval`.

- [x] Update test driver to support new command #1646
- [x] Implement the [tests cases](https://docs.google.com/spreadsheets/d/1V5f1UpL0_WqJPyeFTaR0bR4acCGtoUENYHVvV_HOlrc/edit#gid=0)
- [ ] Automate the tests

[2021-03-29 22:12] mengqiy opened #1632 "Catalog repo should use kpt 1.0 when available"
The catalog repo should use kpt 1.0 (both CLI as well as package format) when that's available.

[2021-03-29 22:16] frankfarzan commented on #1632
Dup: #1548

[2021-03-29 22:17] #1632 closed

[2021-03-29 22:24] #1574 closed

[2021-03-29 22:24] #1575 closed

[2021-03-30 00:57] mortent opened #1635 "Better handling of changes to GVKNN for resource-merge strategy"
The resource-merge strategy doesn't currently work well if there are changes to the values we use to pair resources for merge, i.e. G(V)KNN. This essentially means that using the `set-namespace` function, or any of the `set-name-prefix/suffix` would cause unexpected behavior when updating the package.

- [x] Design and test-cases
- [ ] Implementation

[2021-03-30 02:04] mengqiy opened #1636 "Use the same format for usage docs for all functions"
The usage doc template will be updated by:
- https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/198
- https://github.com/GoogleContainerTools/kpt-functions-sdk/pull/254

Currently only function apply-setter and function search-replace conform it.
We should update the other functions.

[2021-03-30 17:16] #1273 closed

[2021-03-30 18:48] johnbelamaric commented on #1628
Yes, that is essentially the request. I suppose in my pipeline I can use
the --as-current-user flag. So it's not a huge deal, more of an
inconvenience. It seems an odd default to assume a specific username exists
in the container.

On Mon, Mar 29, 2021 at 10:50 AM Frank Farzan ***@***.***>
wrote:

[2021-03-30 19:28] mengqiy opened #1640 "npm init kpt-functions can't generate valid types for GKE"
GKE networking has a type that cause the generator in `npm init kpt-functions` to generate a type with duplicated `Item`.

GKE version: v1.18.12-gke.1210

`npm install` will complain about `error TS2300: Duplicate identifier 'Item'.`

The generated type that doesn't work in src/gen/io.gke.networking.v1beta1.ts

[code]

[2021-03-30 20:45] mengqiy opened #1641 "TS fn SDK should support generating code from a README file"
We reuse mdtogo from kpt in the catalog repos for golang functions: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/196

We should build something similar in the TS SDK to support generating code from markdown file.

We eventually want to have similar workflow and experience when users use our golang (to be built) and TS SDKs.

[2021-03-30 20:53] mengqiy opened #1642 "Epic: Golang SDK for building functions"
Forking from https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/196#discussion_r604334320

We currently have a SDK for TS. We should have a similar SDK in golang.
IMO it may look like kubebuilder. It should provide
- [**WIP**] Standard Go pkg for KRM function https://github.com/GoogleContainerTools/kpt/issues/2568
- scaffolds source files (including tests). User only need to fill i

[2021-03-30 21:02] runewake2 commented on #1506
To provide some context here outside our other conversations:

Version 0.39.0 of kpt introduces a new `kpt-gcloud` image that you can find here: [`gcr.io/kpt-dev/kpt-gcloud`](gcr.io/kpt-dev/kpt-gcloud)

Sizewise this image is in between the `kpt` image and the `cloud-sdk` images w/ kpt.

There are currently 4 images available with kpt. They will fit different needs:

- `gcr.io/kpt-dev/kpt` - This

[2021-03-30 21:21] #1195 closed

[2021-03-30 21:27] #1281 closed

[2021-03-30 21:33] #1495 closed

[2021-03-30 21:42] #1434 closed

[2021-03-30 21:43] phanimarupaka commented on #1406
This has been addressed in the next branch.

[2021-03-30 21:43] #1406 closed

[2021-03-30 21:44] phanimarupaka commented on #1383
This has been addressed in next branch.

[2021-03-30 21:46] #1113 closed

[2021-03-30 21:46] #1043 closed

[2021-03-30 21:46] #1042 closed

[2021-03-30 21:49] #1303 closed

[2021-03-30 21:54] frankfarzan opened #1644 "CLI usability: Implementation"
Tracking all the changes from the design.

- [x] Design: kpt CLI Usability (https://github.com/GoogleContainerTools/kpt/issues/1495)
- [x] Remove cfg command group and clean-up (https://github.com/GoogleContainerTools/kpt/issues/1517)
- [x] Delete desc, setters and search commands related code and cleanup (https://github.com/GoogleContainerTools/kpt/pull/1597)
- [x] Make DIR optional for pkg comma

[2021-03-30 22:18] frankfarzan opened #1645 "Convert or delete all Kptfile kpt.dev/v1alpha1 from the next branch"
This includes either deleting or converting examples and docs to use v1alpha2

[2021-03-30 23:40] phanimarupaka commented on #1218
When package consumers pull the package, krmignore file is also pulled onto the package. So package consumers need not set it up. Can you point me to the example repo and steps to reproduce the problem.

[2021-03-31 16:21] mikebz commented on #1642
@mengqiy any guess as to the size of this effort?

[2021-03-31 18:05] #1617 closed

[2021-03-31 18:42] mengqiy commented on #1642
This task needs to be designed first and then implemented. We may want to break this task to smaller ones and we can use this one as an umbrella issue.

[2021-03-31 22:44] mikebz commented on #247
looks like a stale issue, closing.  Please re-open if needed.

[2021-03-31 22:44] #247 closed

[2021-03-31 23:17] frankfarzan opened #1650 "kpt.dev show should widgets for filing/fixing doc issues"
Similar to GCP docs, there should be two icons on every page:
- File an issue for that doc page
- Create a PR for quick fixes to that doc page

[2021-03-31 23:26] frankfarzan opened #1651 "Prev/Next buttons reload the entire page"
Compare the following:
- Clicking on a book page in navbar
- Click on 'next' or 'previous'

The latter reloads the entire page including the navbar taking significantly longer.

[2021-03-31 23:42] runewake2 commented on #1604
Moving this back to the backlog. We have a temporary workaround in place. We should find a more permanent solution to this but that does not need to happen now. This issue should stick around until the workaround in [create-licenses](https://github.com/GoogleContainerTools/kpt/blob/master/scripts/create-licenses.sh) is removed.

Specifically we need a replacement for this code:

[code]

[2021-03-31 23:59] frankfarzan opened #1652 "Linter to enforce docs style guide"
We're going to automatically enforce a style guide on all documentation (reference, book, catalog). This will be a growing list of rules, starting with:

- [x] All references to the tool should be `kpt` (small case).
- [x] No broken links (I believed this is enforced already)
- [ ] Banned words: hydration -> render
- [ ] Function images must be versioned, disallow `unstable` tag
- [ ] All verbatim

[2021-04-01 00:05] frankfarzan opened #1653 "Single installation page"
We should combine all installation instructions into a single page. Within that page, order sections based on most common:

1. Download binary
2. gcloud
3. brew (mac specific)
4. docker

[2021-04-01 00:13] frankfarzan opened #1654 "Clean up and aggregate demo videos"
Currently each reference doc has an asciicinema video which will be stale given the v1 changes. Probably the most maintainable option is to have one or two demo videos max giving a very high level view of kpt and delete all these videos. We can have a demo of the quick start to ensure the video doesn't go stale in the future given the quick start will need to be e2e tested.

[2021-04-01 00:15] frankfarzan opened #1655 "All examples in documentation need to have e2e testing"
This includes examples in the book and in the reference docs.

[2021-04-01 00:21] frankfarzan opened #1656 "Trailing slash should not be required for docs URL"
Both of these should work:

https://kpt.dev/book/
https://kpt.dev/book

Latter gives a 404 now.

[2021-04-01 16:42] mikebz commented on #1655
I believe this is already done.  @etefera can you comment?  This was supposed to be a part of the Q1 OKRs.

[2021-04-01 16:45] mikebz commented on #1650
Great suggestion.  This will help get fixes quickly.  Extra credit - the template for the issue should be a "doc bug"

[2021-04-01 17:12] etefera commented on #1655
Yes, https://raw.githubusercontent.com/GoogleContainerTools/kpt/next/site/guides/consumer/get/README.md is an example of where we're validating the shell commands we're presenting. Is there something missing in that functionality?

[2021-04-01 18:13] runewake2 opened #1658 "Separate Docker Images From Kpt Release"
Currently Kpt's Docker Images build Kpt from source instead of utilizing a released version of Kpt. This means that in order to ship a new version of the Kpt containers - even if no code changes are made - a new release of Kpt must be triggered. This also introduces duplicate work (we must build kpt for release + once per container we release) and introduces potential for tests to miss coverage in

[2021-04-01 18:41] mortent opened #1659 "Set up release pipeline for the `next` branch"
We want to be able to make early access releases from the `next` branch. We still need to be able to make normal releases from the master branch, so it should not impact our current pipeline. If some of the setup in the existing pipeline can be reused, that would be great.

We also want to be able to make these pre-releases, to make it clear to users that these would not be stable releases. Eventu

[2021-04-01 18:50] phanimarupaka opened #1661 "Remove `config` in function spec"
I was trying `kpt fn render` and I provided a path to config option expecting that it would read from the path.

[code]

But I received an error: `error: failed to run pipeline in package . pipeline run: . missing Resource metadata` which din't help me to figure out what's wrong. Sunil helped me with debugging and the mistake was that I passed path to `config` but it should be `configPath`.

[code

[2021-04-01 18:52] frankfarzan commented on #1659
Related to this, installation docs need to be updated.

[2021-04-01 19:04] frankfarzan opened #1662 "Visually distinguish new and old sites"
There will be two kpt sites co-existing for a while:

1. https://googlecontainertools.github.io/kpt  for master (0.39)
2. https://kpt.dev for next (1.0+)

Both sites should make it very obvious what kpt version they're targeting. If a user does a Google search and lands in one of these, there should be a prominent way to quickly figure this out what version the doc is talking about.

Related: Figu

[2021-04-01 20:34] frankfarzan commented on #1661
Are you suggesting we don't have inline KRM using `config`? There's prior art with Kustomize allow inlining, we should assess the pros/cons before deciding. I agree having separate resources enables schema validation.

[2021-04-01 20:45] frankfarzan opened #1664 "Finalize mechanism for ignoring files/directories"
Decide between ignore list in Kptfile versus `krmignore`. I prefer the former given Kptfile is conceptually about defining what's in (or not in) a package. Having a separate mechanism seems extraneous.

[2021-04-01 20:53] phanimarupaka commented on #1661
Yes. Both inline `config` and `configMap`. When in doubt we can start simple with simple option `configPath` and add the support later for other 2 options. WDYT?

[2021-04-01 21:11] frankfarzan commented on #1661
I think we need to keep `configMap`, otherwise simple cases are too verbose. `configMap` doesn't have the schema/validation problem (it's simple key/value).

[2021-04-01 21:23] frankfarzan opened #1666 "Functions e2e test harness should test CLI output"
We want to test expected error messages and non-structured results.

[2021-04-01 21:29] frankfarzan commented on #1666
One complication here is testing on different OS's if the output contains paths. One pragmatic option is to only test the output on select platforms.

[2021-04-01 21:39] etefera commented on #1651
This is a bug reproducible when the text of next/previous is selected. For some reason, clicking a non-character pixel in the link doesn't cause this behavior. Investigating now.

[2021-04-01 21:43] mortent commented on #1659
I think we should just keep releases from `next` only on github until we have something that can replace the existing releases from master.

[2021-04-01 21:49] droot commented on #1661
@phanimarupaka and me had a chat about it. Two things discussed:

- We don't have a strong use-case for inline config. So may be we don't support it initially and support it later. This can remove the confusion that Phani ran into.
- Extending the configMap to generic function args where it can be take key-value where value can be any primitive type int, string, list-of-primitive-types. It can be

[2021-04-01 22:14] mengqiy opened #1668 "Document the schema for function's metadata.yaml"
We should document the schema from go/kpt-fn-metadata.
They are being used in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/202.

[2021-04-01 22:18] mengqiy opened #1669 "Audit and test function catalog documentations"
AIs from https://github.com/GoogleContainerTools/kpt/issues/1619
We should audit all example package documentation.
Ideally, we should add automated tests to ensure documentation is correct. We may want to do something like kustomize docs.

[2021-04-01 22:20] runewake2 commented on #1659
When should a `next` release be triggered?

Is the intention to use a tagged release or would some derivative of the existing [Cloud Build job](https://github.com/GoogleContainerTools/kpt/blob/master/release/branch/cloudbuild.yaml) we have that publishes the most recent `master` version work?

What artifacts should a `next` release include? Binaries for the different architectures? Containers?

[2021-04-01 22:33] mortent commented on #1659
I think we want releases to be triggered by tags, so the same strategy as we do now. No need to build artifacts on every push to the next branch, at least for now.
This is not fully decided yet, but if we end up setting a separate job, we can assume tags originating from the `next` branch start with `v1.` and tags originating from master starts with `v0.`. This should allow us to set up non-overla

[2021-04-01 23:07] Shell32-Natsu opened #1670 "`kpt fn eval` should ignore the function config files used in pipeline by default"
They will be included if `--include-meta-resources` is given.

[2021-04-01 23:34] frankfarzan commented on #1661
Different discussions:

1. naming: `function config` is part of functions spec. If we want to name this to `args` or `params` (both are better names than `function config`) everywhere, it will be a backwards incompatible change to function spec. I wouldn't have it be called different things in Kpefile schema versus Functions spec.
2. For non-primitive value (`args`), it still needs to be converted

[2021-04-02 00:13] phanimarupaka commented on #1661
1. We should get rid of the concept of configMap both in Kptfile and accepting as function spec input. ConfigMap is extremely restrictive and simple inputs like `replicas: 3` can't be passed via configMap as `3` is non-string there. We should have new CRD `FunctionParams`(or `FunctionArgs`) which has similar schema as configMap but is more expressive in-terms of allowing primitive types(and arrays

[2021-04-02 00:16] droot commented on #1661
Sorry, extending the config-map is wrong phrasing. Yes, It requires a custom resource. This can be achieved without changing the function spec though but it will require changes in the function SDKs (not sure if we can do that in backward compatible way). I also feel that it may eliminate the need for functions to define their custom CRDs for function config because `configMap` is too restrictive.

[2021-04-02 00:29] frankfarzan commented on #1661
Sounds like you're saying this function config should be schema less? In the extreme, we can just pass a JSON object. That provides a lot of flexibility, but kind of losing the point of having KRM that can be consumed by other tooling, such as Cloud Code authoring assistance or validation.

3 options:
1. Do nothing
2. Diverge terminology between wire format and Kptfile
3. Support multiple versions

[2021-04-02 00:35] phanimarupaka commented on #1661
It should have base schema which can be extended by package publishers so that Cloud Code can provide authoring assistance/validations.

[2021-04-02 18:57] ashlineldridge opened #1671 "Crashes with index out of range error"
### Expected behavior

Invalid command line invocations should produce appropriate error messages and not stack traces.

### Actual behavior

It's been a while between `kpt cfg set` calls and I ran the command wrong which produced the stack trace shown below.

[code]

### Information

Kpt version: 0.38.1

[2021-04-02 19:08] ashlineldridge opened #1673 "Kpt inserts !!int YAML tags for string setters that had integer values"
### Expected behavior

I'd expect that if a setter is defined with type `string` then integer tags would not be added to the output YAML.

### Actual behavior

Given the a directory containing the following Kptfile:

[code]

And a single resource file:

[code]

If I run `kpt cfg set . account-id abc`, then the resource file is modified to:

[code]

### Information

Kpt version: 0.38.1

[2021-04-02 20:11] mikebz commented on #1673
@etefera @runewake2 can one of you take a quick look at this?

[2021-04-02 20:14] mikebz commented on #1671
dupe of #1593

@phanimarupaka do we have a patch release of this?   I thought this was in .38.1
@runewake2 do you know if you grabbed the dependency update for this?

[2021-04-02 20:20] #1671 closed

[2021-04-02 20:31] frankfarzan opened #1675 "site 404 on quick start"
https://kpt.dev/book/01-getting-started/01-quickstart

This is due to navbar being stale.

[2021-04-02 20:34] frankfarzan commented on #1675
Related fix: https://github.com/GoogleContainerTools/kpt/pull/1637/

[2021-04-02 21:26] frankfarzan opened #1678 "Organize site/ directory"
Currently site/ directory is dumping ground of content, random scripts, assets, an image, etc:

[code]

Some suggestions:
- `content` dir: All user-editable markdown.
- `scripts` dir: Contains scripts
- Remove any cruft such as hugo scripts (e.g. tools.go)
- Single directory for images: `/static/images` vs `/diagrams` vs `/icons` ...

[2021-04-02 21:36] frankfarzan opened #1680 "Docs preview does not work properly"
Steps to repo:
1. Run `make site-run-server`
2. Make an edit to a markdown file

The page doesn't reflect the changes. Reloading the page leads to a 404:

[2021-04-02T21:33:41.642Z]  "GET /book/02-concepts/00" Error (404): "Not found"
[2021-04-02T21:33:41.799Z]  "GET /book/02-concepts/00" "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Saf

[2021-04-02 21:58] runewake2 commented on #1671
I believe we'd need a new `cmd/config` release to pick up the fix for this.

[2021-04-02 22:16] frankfarzan opened #1681 "kpt.dev landing page"
We have a stop-gap overview page:
https://kpt.dev/?id=overview

The end state should have a high production value. For comparison, see these landing pages:

https://www.terraform.io/
https://kustomize.io/
https://www.pulumi.com/

[2021-04-02 22:25] droot commented on #1552
@Shell32-Natsu This seems to be a subtasks of #1631

[2021-04-02 22:26] Shell32-Natsu commented on #1552
Duplicate of #1631

[2021-04-02 22:26] #1552 closed

[2021-04-02 22:53] mikebz commented on #1671
@runewake2 can you spin one up and create .38.2?

[2021-04-02 22:56] mortent opened #1682 "Improve test coverage for packaging"
We still have some areas for packaging that does not have sufficient test coverage.

[2021-04-02 23:11] runewake2 commented on #1671
We could build `v0.39.1` after `cmd/config` is released. I am not able to perform releases in Kustomize though.

[2021-04-03 04:33] #214 closed

[2021-04-05 00:34] mortent commented on #1443
We have changed the design, so this is no longer relevant.

[2021-04-05 00:34] #1443 closed

[2021-04-05 00:35] #1197 closed

[2021-04-05 12:34] etefera commented on #1680
In this case, the browser likely cached the previous README file. The above PR addresses cache-busting for the dev experience. In the interim, a hard refresh should remove the stale file from the cache. The above PR also updates `make site-run-server` to allow for the same routing behavior as the URL checking script, which should prevent 404ing on paths that exist on the local filesystem while an

[2021-04-05 17:28] mikebz commented on #1606
@etefera between the doc site issues can you please connect with @mortent and take on this task?

[2021-04-05 17:28] Shell32-Natsu commented on #1350
I created a PR to see what tests will fail on Windows and macOS. #1683

Windows error log:
[logs_3412.zip](https://github.com/GoogleContainerTools/kpt/files/6259548/logs_3412.zip)

macOS error log:
[logs_3413.zip](https://github.com/GoogleContainerTools/kpt/files/6259554/logs_3413.zip)

[2021-04-05 17:29] mikebz commented on #1682
@etefera I think Morten can use some help on this.  Can you sync up with him and see if this is something you can get engaged in as well?

[2021-04-05 19:08] etefera commented on #1606
Can do.

[2021-04-05 19:08] etefera commented on #1682
Will do today.

[2021-04-05 19:58] runewake2 opened #1687 "Reduce kpt Check Site Workflow Duration"
kpt's check site runs for a very long time (~30 minutes) and can occasionally time out. We should try to reduce the duration of this job to accelerate iteration on kpt.dev.

This is mostly for tracking, I don't think we need to fix this now.

https://github.com/GoogleContainerTools/kpt/actions/workflows/checkSite.yml

[2021-04-05 20:17] frankfarzan opened #1688 "Convert wordpress example to v1alpha2 and setter function"
wordpress is the primary example of using subpackages. It also contains setters which need to be moved to use the function.

[2021-04-05 20:39] mengqiy opened #1689 "We should test the expected CLI output in function catalog tests"
The CLI output will be the only thing that a user can see when the user doesn't use structured output.
We should test the expected CLI output ensure that the CLI output itself contains reasonable enough information for functions.

[2021-04-05 20:44] phanimarupaka commented on #1688
Ack.

[2021-04-05 20:49] Shell32-Natsu commented on #1689
Isn't this duplicated with #1666?

[2021-04-05 21:01] frankfarzan commented on #1622
Couple of issue with current formatting:

[code]

1. Inconsistent treatment of top-level package (`wordress`) and subpackages (`mysql`). There's `Pkg: ` prefix for subpackages, but not top-level package.
2. Using `Pkg: ` doesn't really highlight the fact it's a package.
3. Inconsistent treatment of meta resources. We define meta resources as any resource specific to kpt functioning. Besides, Kptfi

[2021-04-05 21:58] phanimarupaka opened #1691 "kpt fn render doesn't handle subpackage files correctly"
When we invoke `kpt fn render` on a package with subpackages in it, the rendered resources in the subpackages are written to parent parent package as opposed to writing them to subpackages itself.

e.g. for a package with following tree structure
[code]

`kpt fn render` on the package results in the following

[code]

[2021-04-05 22:37] mengqiy commented on #1689
You are right.

[2021-04-05 22:37] #1689 closed

[2021-04-05 23:51] phanimarupaka opened #1693 "cli-utils: Decouple ManifestReader and cobra"
Manifest reader needs args argument currently which makes it tightly coupled with cli. This issue is to remove that dependency and pass the path argument to the manifest reader instead of cobra args. With this, the cmd folder has all the cobra related code and the rest of the api is just a library.

[2021-04-05 23:51] phanimarupaka commented on #1693
https://github.com/kubernetes-sigs/cli-utils/pull/342

[2021-04-06 00:29] phanimarupaka commented on #1673
This is related to the way we handle types currently. That is a valid yaml value btw but it creates confusion. I figured out a way to fix this(change the type of field value using setters) in the next branch and implemented it. I will fix it in the master as well as users are running into this issue.

[2021-04-06 01:56] #1199 closed

[2021-04-06 03:33] mikebz commented on #1673
@phanimarupaka before we backport a fix let's make sure the @ashlineldridge doesn't have a work around first.  If there is a work around in their workflow then I am OK just adding a test to the `next` branch and making sure that with the next release we don't hit this.

[2021-04-06 16:39] mikebz commented on #1673
@ashlineldridge can you advise us on the urgency of this fix?

[2021-04-06 17:00] phanimarupaka commented on #1673
Couple of workarounds here:

1. What is the intended type of `accountID` field ? Seems like it should be a `string`. If so, why is it's value an integer currently(which is incorrect) ?
The quick 1 time fix is to do the sed operation to replace `accountID: 123` with `accountID: "123"` and it works fine further going.

2. If `accountID` can be of any type, then remove `type: string` from setter defi

[2021-04-06 17:00] mengqiy opened #1695 "UI mock for catalog site"

[2021-04-06 17:14] droot commented on #1691
This is addressed as part of #1694

[2021-04-06 17:14] #1691 closed

[2021-04-06 17:15] #1693 closed

[2021-04-06 18:37] runewake2 commented on #1671
The fix for this should be available in version [`v0.39.1`](https://github.com/GoogleContainerTools/kpt/releases/tag/v0.39.1) of kpt.

[2021-04-06 20:05] droot opened #1697 "Ensure package-examples are tested as part of e2e tests"
We have [`package-examples`](https://github.com/GoogleContainerTools/kpt/tree/master/package-examples) in kpt repo that are referenced by the documentation. These are an important part of user journeys in trying out the kpt so we need to ensure as we evolve kpt, these are up to date and well tested.

We can not use the packages under `package-examples` in our e2e tests because the test driver expe

[2021-04-06 20:05] droot commented on #1697
/cc @frankfarzan @Shell32-Natsu @phanimarupaka

[2021-04-06 21:29] frankfarzan commented on #1661
@droot It's fine to remove `config` in favor of having `configMap` and `configPath` for now. It's always possible to add fields later, but can't remove them post-v1.

[2021-04-06 21:44] Shell32-Natsu commented on #1508
This issue needs to update the `cmd/config`, will do it after #1698 merged.

[2021-04-07 01:11] frankfarzan opened #1702 "Delete stale docs"
- [ ] /guides (Superseded by the book).
- [ ] /concepts (Superseded by chapter 2 of the book).

Also delete any artifacts referenced by these pages such as static images.

[2021-04-07 03:49] ashlineldridge commented on #1673
@mikebz @phanimarupaka Thanks for the update and the workarounds. This is not urgent - we have worked around it by ensuring that our string setters are specified with quotes in the resource YAML files.

[2021-04-07 06:54] #1695 closed

[2021-04-07 06:59] mengqiy opened #1703 "Ensure metadata file is update in presubmit CI"
Ensure:
- `sourceURL` is working
- `examplePackageURLs` is working and contains all examples in current branch
-  If current branch is not master, the URLs should use the release branch names.

[2021-04-07 16:52] Shell32-Natsu commented on #1508
@droot @frankfarzan Should we filter out non-KRM resources in `fn render` and `fn eval`?

[2021-04-07 17:11] droot commented on #1508
Here is my mental model: `kpt` should process files with `yaml, yml, json` extensions by default. If user wants to exclude certain files from processing,  they can add such files to`.krmignore`. So in this case, adding `.prettierrc.json` to `.krmignore` should work unless there is a bug. @Shell32-Natsu can you pl. verify that ?

There's been a discussion of tracking these ignore files in the `Kptf

[2021-04-07 17:18] Shell32-Natsu commented on #1508
@droot The `.krmignore` works fine.

[2021-04-07 18:56] mikebz commented on #1545
I think the final action here is to ensure that we have some good documentation for the kpt+kustomize mix.  We are going to make sure we add this to the doc refresh task.

[2021-04-07 19:29] natasha41575 opened #1704 "kpt fn render should throw an error if a generator tries to create a resource with a duplicate path and index of an existing resource"
See test case "path-index-duplicate" in this PR: https://github.com/GoogleContainerTools/kpt/pull/1699

[2021-04-07 19:29] natasha41575 commented on #1704
@droot

[2021-04-07 19:47] runewake2 commented on #1506
I'm going to close this issue. We have a new image available and documentation for that image is available at https://kpt.dev/installation/docker/

I think we can handle additional changes or feedback in other issues.

[2021-04-07 19:47] #1506 closed

[2021-04-07 20:27] Shell32-Natsu opened #1706 "kpt fn may modify the comments at the beginning of the resource file"
`resources.yaml`:
[code]

`function.sh`:
[code]

kpt command:
[code]

Output:
[code]

A comment is added after the first line of resource. Looks like this a problem in kyaml.

---

Another similar bug about the comment is, if we change the `resources.yaml` file to this:
[code]

Than the comment in first line will be removed after kpt fn.

Output:
[code]

[2021-04-07 20:28] Shell32-Natsu commented on #1706
cc @mikebz @droot

[2021-04-07 21:56] #1675 closed

[2021-04-07 22:22] Shell32-Natsu opened #1709 "pipeline validator doesn't accept function name with tag"
https://github.com/GoogleContainerTools/kpt/blob/8b5daec4b33ca99d3618ce80db9ab68a8921c379/pkg/api/kptfile/v1alpha2/validation.go#L95-L109

Needs to add tag check.

[2021-04-07 22:22] Shell32-Natsu commented on #1709
cc @droot

[2021-04-08 00:37] frankfarzan opened #1714 "Consistent styling between images and text"
It's good to align the font family and styling betwen images and text:

https://github.com/GoogleContainerTools/kpt/pull/1701#discussion_r608979814

[2021-04-08 00:55] #1598 closed

[2021-04-08 00:55] #1619 closed

[2021-04-08 02:06] frankfarzan opened #1717 "Add logo to site"
Add kpt logo to kpt.dev in:
- [ ] Navbar. Combination of logo and `kpt` should be clickable and link to top-level doc (not the splash page).
- [x] Favicon
- [ ] Splash/landing page

This needs to be done for both catalog.kpt.dev as well.

[2021-04-08 02:11] frankfarzan commented on #1651
This still happens on kpt.dev

[2021-04-08 17:00] droot opened #1718 "Function spec docs needs to clarify the path annotation details"
This came up in a PR --> https://github.com/GoogleContainerTools/kpt/pull/1699#discussion_r608874780

Copying the content from the PR:

[2021-04-08 17:07] Shell32-Natsu commented on #1670
@mikebz @droot Which milestone do you think this should belong to?

[2021-04-08 17:18] frankfarzan opened #1719 "Rationalize and document `local-config` annotation in the book."

[2021-04-08 17:22] #1709 closed

[2021-04-08 17:24] frankfarzan commented on #1688
PR is still in progress.

[2021-04-08 17:30] phanimarupaka commented on #1688
My bad. Closed by mistake. Thanks.

[2021-04-08 17:34] #1673 closed

[2021-04-08 17:55] frankfarzan commented on #1508
Different discussions here:

- Mechanism for kpt to ignore files and directories:
  - For `next` branch, we need to finalize the mechanism for ignoring files and directories. https://github.com/GoogleContainerTools/kpt/issues/1664
  - On `master` branch, we should document the current behavior of using `.krmignore`.
- kpt should enforce a precondition that all items in `ResourceList` (`.items` and

[2021-04-08 17:59] Shell32-Natsu commented on #1460
This behavior is from `kio.Pipeline`. https://github.com/kubernetes-sigs/kustomize/blob/14dc3dfb81ce52e1b9d7e90a1b673de7e78c0c52/kyaml/kio/kio.go#L124

`Pipeline` has an option `ContinueOnEmptyResult` to control it.

[2021-04-08 18:38] Shell32-Natsu commented on #1670
1. We need to upgrade kyaml version after next kyaml release.
2. We have a work around (`.krmignore`). Not ideal but works.

I will put this to m2 milestone.

[2021-04-08 18:39] droot commented on #1670
So had a discussion with @Shell32-Natsu about it. Here is the summary:

- He has already done the hard work of adding a function to filter files in `kio` pkg in `kyaml`. So bring that change in kpt next will require bumping up `kyaml` [This has some minor risks associated].
- Users can use `.krmignore` files to ignore function config files if they run in to this issue.

So, no pressing need to do

[2021-04-08 18:56] #1702 closed

[2021-04-08 19:07] frankfarzan opened #1720 "Book cover page should have a `next` link"
1. Book cover should have a next button https://kpt.dev/book/
2. Last page should not have a next button. Currently: https://kpt.dev/book/06-apply/02-lifecycle-of-applied-resources

[2021-04-08 19:38] frankfarzan opened #1722 "Consistent YAML formatting"
kpt needs to consistently format resources. Previously, there was `kpt cfg fmt` which is now removed in favor of having a global flag that controls styling/formatting as a cross-cutting feature.

As part of this, all examples in `/package-examples` (highest priority) and test data should be pre-formatted (Unless testing formatting logic itself). For example, `eval` comand on the nginx package in t

[2021-04-08 19:47] frankfarzan opened #1723 "`live init` on `next` branch should not use `inventory-template.yaml`"
Default behavior in 1.0 release is to use `inventory` field in Kptfile and `ResourceGroup`.

[2021-04-08 20:23] droot commented on #1722
I think having a dedicated command to format resources sounds useful to me. Which subcommand group we should bring it in ?

[2021-04-08 20:30] frankfarzan commented on #1722
`kpt pkg fmt` is consistent with `kpt pkg tree`, etc. In english: "I want to format my package".

[2021-04-08 20:40] Shell32-Natsu commented on #1706
For the first behavior, the reason should be https://github.com/go-yaml/yaml/issues/613. go-yaml v3 version is still pinned to `gopkg.in/yaml.v3 v3.0.0-20200313102051-9f266ea9e77c`.

[2021-04-08 20:41] Shell32-Natsu commented on #1706
For second behavior, I think the reason is the first document is considered empty and removed from the results. That's expected.

[2021-04-08 20:58] phanimarupaka commented on #1722
How about having it as a format function instead ? By default any such functionality should be a function unless there is a great need to include it as part of cli.

[2021-04-08 21:42] neuromantik33 opened #1724 "Problems reconciling PodSecurityPolicies"
### Expected behavior

I'm unable to apply a kustomize/kpt package with a `reconciliation-timeout` which contains `PodSecurityPolicy` resources.

### Actual behavior

[code]
### Information

kpt version: 0.39.1
kustomize package: https://github.com/metallb/metallb/tree/main/manifests (fetched with `kpt pkg get`)
### Steps to reproduce the behavior

Validate that PodSecurityPolicies are correctly h

[2021-04-08 21:49] #1592 closed

[2021-04-08 21:49] #1644 closed

[2021-04-08 23:44] mengqiy commented on #1706
We should bump the go-yaml version for all of the functions.

[2021-04-09 00:22] droot opened #1726 "kpt functions writing using Go SDK should use latest release of go-yaml pkg"
We have been experiencing several issues related to roundtripping of comments in YAML. One such example is license header is deleted when starlark function is invoked. Pl. refer to discussion in the PR https://github.com/GoogleContainerTools/kpt/pull/1696.

Issue filed on `go-yaml` pkg repo: https://github.com/go-yaml/yaml/issues/613

I have tested two functions `starlark` and `set-annotation` by

[2021-04-09 01:34] seans3 commented on #1723
The default behavior in 1.0 is that new packages which call `kpt live init` will store the `Inventory` fields in the `kptfile` (which creates a `ResourceGroup` custom resource when applied).

Just to be clear, any existing `ConfigMap` inventory objects in clusters previously created with `inventory-template.yaml` will continue to work (we're not going to force all users to recreate their cluster d

[2021-04-09 02:11] seans3 commented on #1724
Hello Nicolas,

NOTE: PodSecurityPolicy was recently deprecated in Kubernetes version 1.21
(released today). It does *NOT* affect this issue, but you will eventually
want to move beyond the PSP (probably to a custom admission webhook).

The error which stands out to me is:

failed: can't adopt an object without the annotation
config.k8s.io/owning-inventory
<http://config.k8s.io/owning-inventorysec

[2021-04-09 09:52] neuromantik33 commented on #1724
Ok so I deleted everything and started over (namespace included).
I decided to redeploy:
[code]

Trying again in order to make sure no inventory warning messages show up:
[code]
And for debug purposes
[code]
Now I understand that `PodSecurityPolicies` are being deprecated, but for the moment they are part of the metallb manifests, so I can't get around that. It seems as if the status cannot be rea

[2021-04-11 22:14] mortent opened #1731 "Verify and document migration from client-side to server-side apply with kpt live"
We added support for server-side apply for kpt in https://github.com/kubernetes-sigs/cli-utils/pull/257, but I don't think we have fully explored the experience for updating from client-side to server-side apply. Even the k8s documentation isn't super specific on this: https://kubernetes.io/docs/reference/using-api/server-side-apply/#upgrading-from-client-side-apply-to-server-side-apply

[2021-04-11 23:38] mortent opened #1732 "Add merge strategy flag to the kpt pkg get command"
Since the update strategy is now part of the package Kptfile, we should let users specify this on the command line when first fetching a package. It should be an option flag that will default to `resource-merge`.

[2021-04-12 15:38] mortent commented on #1731
Some open questions here:
 * How does the migration work for situations where the field manager is something else than `kubectl`? Is there something special about the `kubectl` field manager during the process?
 * What is the expectation on the use of the `--force` flag for migration?

[2021-04-12 18:22] Shell32-Natsu commented on #1508
@karlkfi So for this particular issue, the solution is adding the non-KRM resources you don't want to include to `.krmginore` file. We may improve the ignore list functionality in the kpt v1.

[2021-04-12 18:22] #1508 closed

[2021-04-12 18:26] Shell32-Natsu opened #1733 "Update doc for `.krmignore` behavior"
We should update the doc website to document the `.krmignore` file behavior in kpt commands.

[2021-04-12 18:27] Shell32-Natsu commented on #1733
cc @mikebz @frankfarzan

[2021-04-12 18:28] Shell32-Natsu commented on #1508
#1733

[2021-04-12 19:27] seans3 commented on #1723
https://github.com/GoogleContainerTools/kpt/pull/1734

[2021-04-12 20:00] mengqiy opened #1735 "Automate cherrypicking process with a robot in catalog repo"

[2021-04-12 20:41] mikebz commented on #1726
gentle reminder - let's put that triage flag on the things that are already understood by the team 🙇

[2021-04-12 20:42] mikebz commented on #1723
gentle reminder: let's put the triaged label on for things that are already understood by the team 🙇

[2021-04-12 21:39] mikebz commented on #1421
@frankfarzan let me know if just having our current examples is not sufficient.

[2021-04-12 21:51] mikebz commented on #1421
I am just going to go ahead and use this issue for moving the current examples and from there we can figure out what we want to do to add to the current example coverage.

[2021-04-12 21:56] mortent commented on #1733
There are still some questions around whether the `.krmignore`file is the correct way to handle this. Ref https://github.com/GoogleContainerTools/kpt/issues/1664

[2021-04-12 22:59] Shell32-Natsu commented on #1733
@mortent Yes but we should document it for *current* behavior. If you think it's unnecessary then we can close this.

[2021-04-13 17:29] droot commented on #1706
This PR https://github.com/GoogleContainerTools/kpt/pull/1727 should address the issue here. @Shell32-Natsu pl. close this once verfied.

[2021-04-13 18:15] natasha41575 opened #1744 "kpt fn render generator functions duplicate resources generated in parent directories"
See path-index-ancestor and path-index-outofpkg in https://github.com/GoogleContainerTools/kpt/pull/1699

@droot @mengqiy @Shell32-Natsu

[2021-04-13 20:40] #1704 closed

[2021-04-13 21:34] mikebz commented on #1571
@droot reminder - can you please resolve the potential dupe here.

[2021-04-13 22:10] etefera commented on #1651
Addressed in https://github.com/GoogleContainerTools/kpt/pull/1728

[2021-04-13 22:10] #1651 closed

[2021-04-14 01:32] droot commented on #1557
This is addressed with #1634

[2021-04-14 02:14] #1622 closed

[2021-04-14 02:38] phanimarupaka commented on #1688
Closing this issue as the PR is approved but can't be merged till Frank's approval. The PR will still be open.

[2021-04-14 02:38] #1688 closed

[2021-04-14 02:40] phanimarupaka commented on #1412
@droot I can pick this up.

[2021-04-14 02:43] phanimarupaka commented on #1635
@mortent I can pick this up as I have worked on this issue in current version of kpt.

[2021-04-14 07:22] Bobgy commented on #1545
This is an interesting read!
I've got same feelings as @marshall007, if kpt would support kustomize directly, I can save so many precious lines from [a custom Makefile](https://github.com/kubeflow/gcp-blueprints/blob/ecb14f5dc41890889c3db2ba5663254bb45cd0ed/kubeflow/Makefile) we maintain in kubeflow/gcp-blueprints. We need a Makefile mainly to standardize the workflow of

for our users.

I'm curio

[2021-04-14 17:02] #1558 closed

[2021-04-14 17:35] #1732 closed

[2021-04-14 18:17] #1616 closed

[2021-04-14 20:26] droot commented on #1697
/cc @Shell32-Natsu

[2021-04-14 20:29] droot commented on #1666
Yes, for m2 milestone, we should target select platforms (Linux and OSX).

[2021-04-14 20:31] droot commented on #1565
This is duplicate of https://github.com/GoogleContainerTools/kpt/issues/1565.

[2021-04-14 20:31] #1565 closed

[2021-04-14 20:32] droot commented on #1565
my bad, this is duplicate of https://github.com/GoogleContainerTools/kpt/issues/1565

[2021-04-14 20:33] droot commented on #1571
Done.

[2021-04-14 20:38] droot commented on #1412
Yes, we do want to support out-of-place mode for `kpt fn render`. I do agree that it is not highest priority. But being able to dump the output of `fn render` in a separate directory helps with being able to diff the changes without having to depend on `git`. Also supporting dumping the output in a separate directory requires very little change in the code.

I will keep this in `m2` with low prior

[2021-04-14 20:42] #1706 closed

[2021-04-14 20:47] droot opened #1754 "kpt pipeline validation should return errors compatible with new error format."
We recently introduced `internal/errors` pkg and have partially used in `kpt fn render` command. The task here to use the same error format for the pipeline validations.

[2021-04-14 20:52] droot opened #1755 "`kpt fn render` e2e test cases should check content for stdout/stderr output messages"
We introduced many negative e2e test cases for `kpt fn render` but we do not check content output on stdout/stderr for these test cases. Test harness is going to support assertions for content emitted on stdout/stderr and we should use that to ensure expected content is emitted in all the negative test cases.

/cc @Shell32-Natsu @natasha41575

[2021-04-14 20:58] droot opened #1756 "Use `kpt`'s new config packaging and rendering workflows for day0 and dayN user journeys"
Now that we have a functional build for `kpt`, we should validate the packaging and rendering workflows through some of the customer journeys that involves day0 and dayN scenarios.

[2021-04-14 20:58] droot commented on #1756
/cc @mortent @mikebz

[2021-04-14 20:59] phanimarupaka commented on #1412
Ack. I will work on it.

[2021-04-14 21:06] #1726 closed

[2021-04-14 21:07] mengqiy commented on #1726
Fixed in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/213

[2021-04-14 21:08] #1098 closed

[2021-04-14 21:08] #1626 closed

[2021-04-14 21:09] natasha41575 commented on #1235
will be covered by https://github.com/GoogleContainerTools/kpt/issues/1521

[2021-04-14 21:09] #1235 closed

[2021-04-14 21:22] #914 closed

[2021-04-14 21:35] mortent commented on #1635
An interesting case here is how we can determine during update whether we should run the pipeline or not. A package might have a pipeline, but it isn't clear whether the user is leveraging the pipeline for in-place or out-place hydration.

[2021-04-15 15:32] droot commented on #1460
I am not sure what's the reasoning behind this behavior, but it seems to be inconsistent. Prioritizing it.

[2021-04-15 16:52] seans3 commented on #1723
Completed

[2021-04-15 16:52] #1723 closed

[2021-04-15 17:18] Shell32-Natsu commented on #1755
Dup with #1666 ?

[2021-04-15 17:44] bharathkkb opened #1761 "Empty string setter throws OpenAPI validation when used with subst"
### Expected behavior
`kpt cfg set . foo testnew` works without error

This used to work in 0.38.1
[code]

### Actual behavior

In 0.39
[code]

### Information

 Kpt Version: 0.39.1

Files:

[code]
[code]

### Steps to reproduce the behavior

[2021-04-15 20:46] mengqiy commented on #1026
This is already done.

[2021-04-15 20:46] #1026 closed

[2021-04-15 20:48] mengqiy commented on #762
Done in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/197

[2021-04-15 20:48] #762 closed

[2021-04-16 01:49] #1436 closed

[2021-04-16 18:27] #1460 closed

[2021-04-16 18:36] mikebz commented on #1653
I have a PR but I slightly disagree with the ordering of the most common.  Not a huge issue and we can always change it around.  I think GCP customers probably get kpt through gcloud first.  At least the sample of 1 (myself) is that I rarely download binaries onto my local machine directly.

[2021-04-16 21:06] mikebz commented on #1476
Potential use case from KCC: https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/451

[2021-04-16 21:37] #1474 closed

[2021-04-16 21:37] #1475 closed

[2021-04-19 00:02] noroutine opened #1771 "panic on missed argument"
### Expected behavior

[code]

### Actual behavior

[code]
### Information

Accidentally missed directory argument and got panic

Kpt 0.39.1

### Steps to reproduce the behavior

Just as is

[code]

[2021-04-19 17:58] #1755 closed

[2021-04-19 19:49] runewake2 commented on #1350
I put together a quick sample PR that would enable e2e testing of kpt binaries on different platforms (Mac, Windows and Linux). This does not address container issues or existing test failures mentioned above (my test is just to run `kpt version` to ensure the binary runs). But the example passes on all OS's without further code changes. Code here: #1773

[2021-04-19 20:13] runewake2 commented on #1771
Hi, thanks for reporting this. Could you try running this with [kpt v0.39.2](https://github.com/GoogleContainerTools/kpt/releases/tag/v0.39.2) and let us know if this is still occurring? I no longer see this behavior in that version. This is what I am seeing on version 0.39.2:

[code]

[2021-04-19 21:00] natasha41575 commented on #1666
#1762 checks the CLI output - but it does a substring match rather than an exact match (discussion was in [this comment thread](https://github.com/GoogleContainerTools/kpt/pull/1762#discussion_r614997518)).

For example, for validate-resource-failure, the actual stdout is:
`package "/var/folders/l9/fkxgtdvn3435dzj2zj4gj9x000rk3j/T/kpt-pipeline-e2e-113726026/validate-resource-failure": running func

[2021-04-19 21:09] natasha41575 commented on #1666
reopening because the previous PR was just for fn render; I will update it for fn eval as well.

[2021-04-19 21:39] noroutine commented on #1771
Hi @runewake2

Confirm it is gone in v0.39.2 👌

[2021-04-19 21:39] #1771 closed

[2021-04-19 22:58] runewake2 opened #1776 "Improve Test Coverage for kpt Package Diff"
- [x] Kptfile has diff when pipeline changes are made (#1777)
- [x] Running a diff against a directory which does not contain a Kptfile (empty dir) (#1914)
- [x] Running a diff against a directory which does not exist (#1914)
- [x] Running a diff when an invalid git ref is provided (#1914)
- [x] Running a 3 way diff provides three parameters to the diff command (#1914)

[2021-04-20 18:23] Shell32-Natsu commented on #1531
@droot Do we have an issue to track how does pipeline handle the resources generated by function or we have implemented it?

[2021-04-20 21:04] #1697 closed

[2021-04-21 00:04] #1670 closed

[2021-04-21 11:48] yhrn opened #1781 "kpt cfg set very slow due to parsing openapi schema"
### Expected behavior
`kpt cfg set` to be a reasonably fast thing to do

### Actual behavior
[code]
As you can see using an empty OpenAPI schema file speeds it around 15x and the result always seems to be the same.

### Information
kpt version 0.38.1

### Steps to reproduce the behavior
See "Actual behavior" section

[2021-04-21 16:26] mikebz commented on #1781
@natasha41575 can you take a look please?

[2021-04-21 17:13] frankfarzan opened #1782 "Do not use `unstable` function images in kpt repo"
All code and documentation should use a specific version of a function.

[2021-04-21 19:24] mikebz commented on #1782
agreed.  I have tagged all of them to unstable because it was available and enabled the automatic checking which was the goal of migration of existing samples.  We def should fix this before going live.

[2021-04-21 19:37] frankfarzan opened #1783 "`kpt fn` error formatting"
Example error message after running `kpt fn render` in Quickstart:
https://kpt.dev/book/01-getting-started/02-quickstart

[code]

Issues:

- [x] Inconsistency referring to the package. `package ".".` vs "pkg .`"
- [x] Need to follow style guide (K5): go/kpt-errors-style-guide
- [x] Line breaks.
- [x] There's bunch of internal identifiers that wouldn't make sense to the user such as `fn.render` `pk

[2021-04-21 19:38] frankfarzan commented on #1783
cc @phanimarupaka for CLI-wide consistency

[2021-04-21 19:50] frankfarzan commented on #1783
When you change `0.0.1` to `unstable`, render doesn't return the error from kubeval function:

[code]

Compare to running imperatively:

[code]

[2021-04-21 19:57] frankfarzan commented on #1783
Also, a question on what's send to stdout vs stderr:
https://github.com/GoogleContainerTools/kpt/pull/1762/files#r617836270

cc @natasha41575

[2021-04-21 20:00] frankfarzan commented on #1782
@mengqiy to confirm, but I think the best practice for ene-users is to either use `vMAJOR` or `vMAJOR.MINOR`. We should pick one of these and consistency use them in docs.

[2021-04-21 20:14] frankfarzan opened #1785 "Test expected stdout/error of functions in the catalog"
Related changes to the test harness: https://github.com/GoogleContainerTools/kpt/issues/1666

[2021-04-21 20:21] frankfarzan commented on #1653
I think that assumes the following:

1. All users of `kpt` have `glcoud`
2. `gcloud` is using the latest version of `kpt

This may not be true. If someone wants to kick the tire around with kpt (maybe go through the 5m Quickstart), asking them to download gcloud presents friction.

I suggest the following:

1. Download binary
2. gcloud
3. brew (mac specific)
4. docker
5. source

[2021-04-21 20:49] frankfarzan commented on #1557
Reopening this since we need to hash out the UX for error reporting and CLI output.

A list of all the data involved in running functions:

1. What function provides:
    1. ResourceList.results
    2. ResourceList.items
    3. stderr
    4. exit code
2. Orchestrator provides metadata:
    1. What function is running (Specially important when running a pipeline)

We need to figure out the best UX

[2021-04-21 20:53] frankfarzan commented on #1557
#1783 should be addressed as part of this.

[2021-04-21 21:26] Shell32-Natsu commented on #1783
This is because of the implementation in `kubeval` function, more accurate, TS-SDK. By default it will only generate the structured results to stdout. The errors will be printed to `stderr` only when env `STRUCTURED_RESULTS` is set.

[2021-04-21 21:30] frankfarzan commented on #1783
There's a discrepancy between output of `render` and `eval` for the same function.

Also, regardless of whether a function uses structured results, stderr, or both, we need to provide reasonable UX. See https://github.com/GoogleContainerTools/kpt/issues/1557#issuecomment-824348955

[2021-04-21 21:37] frankfarzan commented on #1557
As part this, need to add e2e test cases for both `render` and `eval`: go/kpt-test-cases

[2021-04-21 21:52] frankfarzan opened #1786 "`live init` requires an explicit package directory"
[code]

[2021-04-21 21:54] frankfarzan opened #1787 "ResourceGroup CRD not installed automatically"
[code]

[2021-04-21 22:02] frankfarzan commented on #1787
In the case that kpt fails to install CRD for whatever reason, the error message should instruct the user to install it using `install-resource-group`.

[2021-04-21 22:02] mortent commented on #1787
It is installed, but it seems like we don't wait to the CRD to become `Established` before we continue. There is another issue for this: https://github.com/GoogleContainerTools/kpt/issues/1612

[2021-04-21 22:55] phanimarupaka commented on #1786
Ack

[2021-04-22 01:12] frankfarzan commented on #1786
May want to audit that items in https://github.com/GoogleContainerTools/kpt/issues/1644 are completed

[2021-04-22 03:04] mikebz commented on #1412
I think given that we are now short on resource I suggest we move this out to M3.  This is a P2 feature and we should focus on getting a full E2E experience with in place hydration.

[2021-04-22 05:19] phanimarupaka commented on #1412
Yes. Moving it to M3.

[2021-04-22 16:32] natasha41575 commented on #1754
The error output still needs to be standardized, but pipeline validation is now using the new errors package.

[2021-04-22 16:32] #1754 closed

[2021-04-22 16:52] natasha41575 opened #1793 "Fix error message for set-namespace"
See error output in https://github.com/GoogleContainerTools/kpt/pull/1774.

The error output for fn-eval/invalid-fn-config-file is `"wrong Node Kind for  expected: MappingNode was ScalarNode: value: {I am not a valid config file}"`. The error message leaks low-level yaml constructs, has spacing issues (`for  expected` has two spaces), and is imcomprehensible.

The error output for fn-eval/missing-

[2021-04-22 16:58] morgante opened #1794 "Examples in kpt documentation should use local-config annotation"
Currently, the [examples](https://googlecontainertools.github.io/kpt/reference/fn/run/#custom-functionconfig) for declaratively running functions use config maps and local kinds.

However, these are not properly-formed Kubernetes objects (ex. the ConfigMap has no name) and should not be applied to a cluster. We should add the local-config annotation to them to ensure they are never applied (see #9

[2021-04-22 17:07] #1653 closed

[2021-04-22 19:49] mengqiy opened #1798 "Detect and automatically pull updated container images"
We can probably make kpt always pull the images. If the image already exists locally (i.e. SHA matches), it just uses it. It should not cause a big performance issue.
Doing this is important, since we have moving tags like v1 and v0.1.

[2021-04-22 20:14] mikebz opened #1799 "when fetching a bad branch name the error is not user friendly"
### Expected behavior
If kpt is fetching a bad branch we should get a better error code.

### Actual behavior
[code]

### Information
Version: next @ f9a765e91fec820fd6a825be8a9f77efbe61b7c9

[2021-04-22 20:32] phanimarupaka opened #1800 "kpt live init exits silently without displaying the namespace being used"
In the current version of kpt, live init displays the namespace being using to configure the RG, but the next branch doesn't. It would be better if we display it to be transparent to users.

[2021-04-22 20:32] mortent commented on #1557
Related to this, the current output while a pipeline is running is a little confusing. It prints
[code]
with the caret blinking at the end of the line. It looks like we expect some kind of user input.

[2021-04-22 20:41] frankfarzan opened #1801 "`pkg get` optionally auto-initializing a Git repo"
$ kpt pkg get ... --init-repo

This is porcelain for doing `git init` and `git commit` of the pristine copy of the upstream.

[2021-04-22 20:49] frankfarzan commented on #1557
Yes, I want to see a design doc iterating on the UI here. There are good prior art for CLI showing task progress.

[2021-04-22 20:56] frankfarzan commented on #1666
As part of this, please audit the error messages to ensure they're clear and actionable and conform to go/kpt-errors-style-guide. Many of the error message I'm seeing have poor UX.

[2021-04-22 21:31] natasha41575 commented on #1783
Listing some other output issues here (based on https://github.com/GoogleContainerTools/kpt/pull/1774 and https://github.com/GoogleContainerTools/kpt/pull/1762):

fn-render/invalid-inline-config error message should include what Resource is missing metadata; the error currently only says `missing Resource metadata`, leaving the user to hunt for which Resource threw the error.

fn-render/no-fnconfi

[2021-04-22 21:33] natasha41575 commented on #1666
Added a comment https://github.com/GoogleContainerTools/kpt/issues/1783#issuecomment-825199107 listing the error messages that can be improved

[2021-04-22 23:41] #1794 closed

[2021-04-23 17:29] Shell32-Natsu opened #1804 "TS-SDK will not write errors to stderr by default"
TS-SDK uses env `LOG_TO_STDERR` and CLI flag `log_to_stderr` to control the behavior of writing errors to `stderr`. By default it will not write the errors to `stderr`.

https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/b7e346f0c18f972edf7ca02272734fbc68fca905/ts/kpt-functions/src/run.ts#L143
https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/b7e346f0c18f972edf7ca02272734f

[2021-04-23 17:29] Shell32-Natsu commented on #1804
@frankfarzan

[2021-04-23 18:05] frankfarzan commented on #1654
@phanimarupaka is putting together a demo of the Quickstart, so let's produce a video we can embed somewhere in the site and delete all the other demo scripts/videos.

[2021-04-23 18:08] frankfarzan commented on #1804
In case of `kubeval`, even if function doesn't write to `stderr`, it's populating `results` right? So given the output UI, you should be able to see the results:
https://docs.google.com/document/d/1mWZyYcCWmFUZuNNG3O0r-Y-FOk256JS-1mVpNRxeuMg/edit?hl=en#

[2021-04-23 18:09] Shell32-Natsu commented on #1804
Yes. But the structured result support in the CLI output should be done after #1390

[2021-04-23 18:14] Shell32-Natsu commented on #1804
We will add the env to `render` runtime to keep consistent and avoid breaking existing functions.

[2021-04-23 18:23] frankfarzan commented on #1804
The way LOG_TO_STDERR works today in TS SDK: if enabled, it prints the results to stderr. Its semantic is really `ALSO_LOG_RESULTS_TO_STDERR`. This means with the UI proposal [1] where the orchestrator prints the `results`, you will see the same information duplicated.

So, once there new UI is ready:
- Neither `render` or `eval` should set this env variable

[1] https://docs.google.com/document/d

[2021-04-23 19:44] Shell32-Natsu commented on #1804
The behavior of `render` has been updated in #1805. We should remove the env after supporting structured result but it's not a big deal (the env is only used in TS SDK to control stderr output). So close this.

[2021-04-23 19:44] #1804 closed

[2021-04-23 19:49] #1465 closed

[2021-04-23 20:07] mortent opened #1807 "Reduce the number of files copied during get/update"
### Is your feature request related to a problem? Please describe.
When we fetch packages from an upstream git repo, we need to fetch the whole repo (although we try to only fetch a specific commit when possible), then copy it to a temporary directory before we then make it available for get/update. The copy operations is a factor in making the commands somewhat slow for large repos.

### Describe

[2021-04-23 20:10] mortent opened #1808 "Avoid the use of external diff tools for the `kpt pkg diff` command"
### Is your feature request related to a problem? Please describe.
We currently rely on the user having a diffing tool available on the command line. This is an ok assumption for linux and maybe macOS, but less so for windows.

### Describe the solution you'd like
We should see if we can use a diffing library that we can bundle with kpt. At the very least, make sure we have a solution that is usab

[2021-04-23 20:26] natasha41575 commented on #1781
cc @mortent @phanimarupaka

[2021-04-23 20:29] #1666 closed

[2021-04-23 21:01] frankfarzan commented on #1680
Preview still doesn't work correctly, it seems to cache the content once at the start up. Subsequent changes are not rendered.

To repro:

1. make site-run-server
2. Edit a page, e.g. http://127.0.0.1:3000/book/03-packages/
3. Reload the page -> changes not shown
4. Rerun step 1 -> changes shown

[2021-04-23 22:06] mengqiy commented on #1782
Yes, using `v<MAJOR>` or `v<MAJOR>.<MINOR>` is recommended.
For functions that are pre-v1, I'd recommend to use `v<MAJOR>.<MINOR>`, since `v0` may look a little strange to users.
For functions that are post-v1, I'd recommend to use `v<MAJOR>`.

[2021-04-23 22:12] mengqiy commented on #1548
We will need to update output in function examples after the kpt output change lands (https://github.com/GoogleContainerTools/kpt/issues/1783)

[2021-04-23 22:28] #1621 closed

[2021-04-23 22:49] phanimarupaka opened #1810 "kpt live apply: Solve namespace bootstrapping problem"
Currently namespace resource can't be included in the package as inventory object/RG needs it to be created already. The resources in the package can be deployed only after creating inventory object/RG in the cluster. This is a chicken-egg problem due to which creating namespace is part of bootstrapping problem in kpt currently. Consumers must resort to creating namespace. This leads to friction i

[2021-04-24 22:06] phanimarupaka commented on #1781
@yhrn Thanks for filing the issue. The issue is with all the kpt commands and not just `kpt cfg set`. The reason being, kpt parses openapi schema before invoking every command. This problem will be addressed as a whole in the upcoming kpt v1.

[2021-04-25 23:06] howardjohn opened #1815 "gcr.io/kpt-fn/set-namespace deletes comments in file"
Start with file:
[code]

Run:
`kpt fn run --image gcr.io/kpt-functions/set-namespace .`

Results:
[code]

Run again:
[code]

`kpt version is `0.39.2`.

I am not sure if this is a bug with set-namespaces or kpt in general.

[2021-04-26 07:46] seans3 commented on #1810
I don't believe this is correct. Namespace can be included, since we have special-case code to ensure the namespace for the inventory object is always created before the inventory object. Closing. Please re-open as a bug if you can reproduce a situation where this does not work.

[2021-04-26 07:46] #1810 closed

[2021-04-26 15:20] etefera commented on #1682
Closing in favor of more targeted bugs for test cases.

[2021-04-26 15:20] #1682 closed

[2021-04-26 16:11] mikebz commented on #1815
@mengqiy can you please take a look?

[2021-04-26 17:01] Shell32-Natsu commented on #1815
Looks like function `gcr.io/kpt-functions/set-namespace` is old set-namespace function.

[2021-04-26 17:02] howardjohn commented on #1815
I am not 100% sure but with some brief testing it seems like it may happen with any function, or at least another function (https://github.com/mgoltzsche/khelm) has the same issue.

[2021-04-26 17:02] #1720 closed

[2021-04-26 17:09] #1680 closed

[2021-04-26 18:00] #1198 closed

[2021-04-26 18:29] natasha41575 commented on #1781
@yhrn Thank you for bringing this to our attention. To add to @phanimarupaka's comment, there are a couple things I'd like to note.

We will be replacing `kpt cfg set` with a kpt function that will apply all setters at once. There is an example of this function here:
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/apply-setters/simple

In this scenario, we will o

[2021-04-26 18:45] mortent commented on #1618
The performance of the example here is improved substantially by the changes in https://github.com/GoogleContainerTools/kpt/pull/1778. There is still room to improve however, and we have a more specific issue to reduce the number of files we need to copy during get/update: https://github.com/GoogleContainerTools/kpt/issues/1807

The UX to show progress has also been improved, but this also remains

[2021-04-26 18:45] #1618 closed

[2021-04-26 18:53] mengqiy commented on #1815
I think this has been fixed in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/222.
@howardjohn Can you please try to use image `gcr.io/kpt-fn/set-namespace:v0.1` which is our latest image

[2021-04-26 18:55] mortent commented on #1376
This has been addressed in the `next` branch, i.e. the new design for kpt. We now capture the output from git to stdout and stderr, include that in the error returned, and print it as part of the error message to the user.

We do eventually want to move to use the Go client for git. It just isn't the top priority right now.

[2021-04-26 18:55] #1376 closed

[2021-04-26 19:00] mortent commented on #1527
This is addressed on the `next` branch, i.e. the implementation of the new kpt design.
First, we actually look at the `HEAD` symbolic reference to determine what is the default branch in the upstream repo, rather than guessing `main` or `master`.
Second, if a ref is specified that doesn't exist, we print an error message that clearly explains the problem.

[2021-04-26 19:00] #1527 closed

[2021-04-26 19:09] mortent commented on #1079
@yhrn We have implemented caching on the `next` branch so it applies to all update strategies as well as get/fetch.

With the new implementation, we no longer do a full `git fetch origin` unless it is actually needed (typically required if the ref is specified as a short commit SHA), and instead relying on shallow fetch. The implementation doesn't fully remove the calls to the upstream repo, but i

[2021-04-26 20:38] frankfarzan opened #1821 "`search-replace` function blockers"
These docs do not work:

https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/go/search-replace

Multiple issues:

1. This runs successfully without validating at least a `by-` flag is specified:

[code]

2. In addition, where there are no matches, there's no indication just a blank line printed:

[code]

3. Also, the docs here incorrectly refer to `apply-setters`, p

[2021-04-27 02:45] howardjohn commented on #1815
gcr.io/kpt-fn/set-namespace:v0.1 seems to have an even more critical issue - it deletes all my files with `config.kubernetes.io/local-config: "true"` configs (including the file actually declaratively configuring set-namespace to run!).

It also seems a lot more destructive, completely re-ordering the YAML which has the side effect of massive diffs and some removed comments (when the comment is on

[2021-04-27 06:42] yhrn commented on #1079
Nice, I'll see if I get the chance to try this out before there's an pre-release out.

[2021-04-27 06:43] yhrn commented on #1781
@natasha41575 Thanks for the update! I'll try out the new setter fn.

[2021-04-27 07:58] yhrn commented on #1781
@natasha41575 @mortent I tried out the [new setter fn](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/go/apply-setters) and in general it is a massive improvement with both inline interpolation, declarative declaration and the ability to set multiple setter values at once. I saw two problems though:

1. [Blocker] I can't find a way to specify the setter type. T

[2021-04-27 16:04] phanimarupaka commented on #1781
@yhrn Thanks for trying out the new apply-setters function and providing the feedback.

1. Providing type information will be addressed in the coming versions of the function. Not just type, we want to provide a way for the package publishers to provide the comprehensive schema for setters so that package consumers can fill them with authoring assistance. That effort is WIP. The futuristic UX woul

[2021-04-27 16:52] seans3 commented on #1731
A collaboration document with Spotify to work and document some of these issues: https://docs.google.com/document/d/14IWVExoFV8_TNQ0b8Uv2ROzh1o5bu2gijFzHWPIgCBw/edit?resourcekey=0-APC0pJG4_Qth2H9beP1z8Q#heading=h.iivv45yu16mq

[2021-04-27 16:58] seans3 commented on #1800
Fixed with: https://github.com/GoogleContainerTools/kpt/pull/1816

[2021-04-27 16:58] #1800 closed

[2021-04-27 17:18] yhrn commented on #1781
@phanimarupaka Thanks for a quick response!

1. Great, that addresses my concerns.
2. We do have these more unusual cases so erroring out specifically in those cases when not all setter values are provided would likely be good enough.

[2021-04-27 17:19] yhrn commented on #1781
@phanimarupaka Another question - would it be feasible to move the apply-setter logic out of the main package so that it can be imported and reused in other, complex functions?

[2021-04-27 19:56] frankfarzan opened #1825 "Catalog site styling issues"
- [x] Match styling with kpt.dev (font, navlink states, etc.)
- [x] Consistent use of headers between usage and example docs (Use `###` instead of `##` in examples). Compare:
    - https://kpt-dev-catalog.web.app/set-annotation/v0.1/
    - https://kpt-dev-catalog.web.app/set-annotation/v0.1/advanced/
- [x] From catalog site, clicking on kpt.dev links in navbar does a full reload (maybe WIP)

[2021-04-27 21:28] mikebz commented on #1662
in backlog grooming, moving to M3 to focus on functionality

[2021-04-27 21:31] #1645 closed

[2021-04-27 21:46] frankfarzan opened #1826 "Monorepo versioning convention should be consistent with CLI convention"
Monorepo versioning uses the schema `package-examples/wordpress/v0.2` instead of `package-examples/wordpress@v0.2` which is more consistent with CLI convention:

`$ kpt pkg get <MY_REPO_URL>/packages/wordpress@v0.1`

If we make this change, we should still support the previous convention for backwards compatibility.

https://kpt.dev/book/03-packages/08-publishing-a-package?id=monorepo-versioning

[2021-04-27 23:21] frankfarzan opened #1827 "Design and documentation of merge conflict handling"

[2021-04-27 23:57] frankfarzan commented on #1662
Should consider having kpt.dev use a different theme as well, currently it uses the same color palette as existing site. I'm personally a fan of dark themes (you can use an extension to see how it would look), but don't have a strong opinion.

[2021-04-28 00:08] #1744 closed

[2021-04-28 01:55] frankfarzan opened #1829 "Fetching a subpackage in a directory-versioned parent package"
It should be possible to fetch just a subpackage of a published package. Currently, you need to specify the full tag of the parent package:

`$ kpt pkg get https://github.com/GoogleContainerTools/kpt.git/package-examples/wordpress/mysql@package-examples/wordpress/v0.1`

Instead, we should consider simplfying to:

`$ kpt pkg get https://github.com/GoogleContainerTools/kpt.git/package-examples/wordp

[2021-04-28 02:37] etefera opened #1831 "Docs: Don't track hidden functions"
The function catalog site should not surface functions that have the `hidden` field set to true in their metadata.

[2021-04-28 03:16] #1831 closed

[2021-04-28 06:01] mengqiy commented on #1815
A work around is separate the sources and fn configs by directories. And then use `kpt fn run --fn-path fn-config/ resources/`.

The docs related to `config.kubernetes.io/local-config`:
- https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/config-io.md#configkubernetesiolocal-config
- https://github.com/GoogleContainerTools/kpt/releases/tag/v0.34.0

It's not ve

[2021-04-28 06:08] mengqiy commented on #1669
closed by GoogleContainerTools/kpt-functions-catalog#246

[2021-04-28 06:08] #1669 closed

[2021-04-28 08:03] phanimarupaka opened #1832 "Move the apply-setter logic out of the main package"
Move the apply-setters logic out of the main package so that it can be imported and reused in other, complex functions.

Follow up from the issue: https://github.com/GoogleContainerTools/kpt/issues/1781#issuecomment-827775769

[2021-04-28 08:04] phanimarupaka commented on #1781
@yhrn Sure. Added an issue for tracking https://github.com/GoogleContainerTools/kpt/issues/1832

[2021-04-28 16:47] mikebz commented on #1662
I think a different theme is a good idea.  Dark is good but also since this is a "Google Cloud Tools" production we might want to have something that aligns more with https://cloud.google.com/docs

Either way this is probably something we can save for M4.

[2021-04-28 16:59] frankfarzan commented on #1662
Yes, there are multiple aspects to this issue which can be separated:

- [ ] New site should show the CLI version (1.0+) as docs are versioned (Visible on every page)
- [ ] Old site should show it's targeting pre 1.0 version. Do not need to make major surgery to the old site, probably a banner  on every page suffices.
- [ ] In addition, using a different theme to as an additional differentiator.
-

[2021-04-28 18:41] natasha41575 commented on #1781
@phanimarupaka can we file a separate issue for apply-setters to error out for setters with no delimiters?

@yhrn Is there anything else you would like us to address?

[2021-04-28 19:22] #1650 closed

[2021-04-28 19:56] phanimarupaka opened #1834 "Epic: Migrate critical packages to kpt 1.0"
- [x] POC on Blueprints Controller, Landing Zone packages migration
- [x] Design proposal for e2e path to migrate existing kpt packages to make them compatible with kpt 1.0
- [x] Implement helper function(gcr.io/kpt-fn/fix) to help with [automated portion](https://kpt.dev/installation/migration?id=automated-portion-of-migration) of migration.
- [x] Document end to end migration steps (https://kpt.

[2021-04-28 22:02] mortent opened #1835 "kpt pkg init should create package dir if it doesn't exist"
### Is your feature request related to a problem? Please describe.
Currently `kpt pkg init` fails if the user tries to run it on a non-existent directory.

### Describe the solution you'd like
We should create the directory.

### Describe alternatives you've considered

### Additional context

[2021-04-28 22:05] mikebz commented on #1835
M2 or M3?

[2021-04-29 02:30] frankfarzan opened #1836 "Rename `upstreamLock.gitLock`"
`upstreamLock.gitLock` should be `upstreamLock.git` (Just the tag not the struct)

[2021-04-29 06:21] yhrn opened #1838 "[Question] Will Kpt v1 come with a set of built-in functions"
Considering some existing core functionality, like setters, will be moved to a function along other transforms that will probably be considered core functionality in the future I'm wondering if Kpt will be delivered with these functions build in? There's a couple of reasons for this question:

1. Versioning - having to version the core functions separately from Kpt itself seems cumbersome.
2. Dock

[2021-04-29 06:23] yhrn commented on #1781
@natasha41575 Thanks for asking - I have one more question but I opened #1838 to avoid derailing this issue even more.

I think it might make sense to keep this issue open until fully addressed by a released version but it's not that important to me since we have a simple workaround in place.

[2021-04-29 07:03] yhrn commented on #1761
@mortent  Any progress on this one? It will become a major issue to us as soon as an affected version is included in gcloud.

[2021-04-29 17:39] natasha41575 commented on #1781
Thank you for filing follow-up issues. Because `kpt cfg set` is being deprecated, I am going to close this issue as there doesn't appear to be anything else to do here right now. If performance for setters is still slow in the next version of kpt, we can reopen this or open a new issue.

[2021-04-29 17:39] #1781 closed

[2021-04-29 17:53] wstrange commented on #1838
Regarding the docker dependency: It really makes it more painful to run kpt safely inside a pod. For example - in a tekton pipeline. Today you need to map the docker socket - which a lot of environments will not allow.

Built in functions, and/or starlark like would avoid this.

[2021-04-29 17:56] natasha41575 commented on #1761
@yhrn I'm taking a look today

[2021-04-29 18:19] natasha41575 commented on #1761
I can reproduce this issue using kpt 0.39.2, but when I build from the master branch the error goes away and the field is set correctly.

I talked to @mortent and we will aim for a release early next week, after which this should be resolved.

[2021-04-29 18:34] frankfarzan commented on #1838
Have all functions be containerized is done for a number of reasons. Since functions are containerized, they can encapsulate different toolchains, languages, and runtimes. For example, the function container image can encapsulate:

- A binary built using kpt’s official Go or Typescript SDK
- Wrap an existing KRM tool such as kubeval
- Invoke a bash script performing low-level operations
- The inte

[2021-04-29 19:36] #1761 closed

[2021-04-29 20:14] mortent opened #1842 "Release kpt 1.0 through homebrew and gcloud"
- [x] Release 1.0 to gcloud
- [ ] Release 1.0 to homebrew
- [ ] Update installation doc

[2021-04-29 20:24] frankfarzan opened #1843 "Render Notes box in docs"
Currently we hack it using:

`> Refer to the [command reference][get-doc] for more details.`

For an example of a Notes box, see:

https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster

Alternate solution to introducing html or non-markdown: we can change how quotes `> ` are rendered to make them look like notes boxes (more portable docs). Otherwise please update th

[2021-04-29 20:26] frankfarzan commented on #1843
Alternate solution to introducing html or non-markdown: we can change how quotes `> ` are rendered to make them look like notes boxes.

[2021-04-29 20:27] #1570 closed

[2021-04-29 20:27] #1836 closed

[2021-04-29 20:44] wstrange commented on #1838
I thought starlark was builtin to kpt itself and did not require docker to be running?

I totally get (and love) the "UNIX" like pipeline concept. Docker is just such a pain the rear to run *in* Kubernetes itself.  It's nice to be able to "virtualize" your CI/CD in K8S - turtles all the way down. We use Kaniko in Tekton to avoid DIND or mounting the docker socket.

Perhaps this is not `kpt`'s issu

[2021-04-29 20:46] aw185176 opened #1844 "Go Function SDK docs are very out of date"
### Expected behavior
Doc examples work with dependencies used by Kpt itself (in this case, kyaml@v0.10.17)

### Actual behavior
`framework.Command` doesn't  exist in kyaml@v0.10.17

[2021-04-29 21:30] frankfarzan opened #1845 "`tree` command should optionally (?) show whether a package is dependent or independent"
Context: https://github.com/GoogleContainerTools/kpt/pull/1830/files#r622638975

Let's mock the UI for how to to show this.

[2021-04-29 22:08] mortent opened #1846 "Improve experience when git repo asks for auth when using https protocol"
### Is your feature request related to a problem? Please describe.
Running
[code]
against a private repo, will lead to multiple prompts for username and password. This is a poor experience.

### Describe the solution you'd like
Ideally we should let the user provide the username and password once in this case, even if kpt need to make multiple calls against the upstream repo (fetch refs and then f

[2021-04-29 22:11] natasha41575 opened #1847 "Kpt should have a declarative means of specifying OpenAPI document"
Currently kpt has the flags `--k8s-schema-source` and `--k8s-schema-file` to allow users to specify where the schema comes from.

There should be a declarative way of doing so in a Kptfile. As part of this, we need to rationalize it with the flags.

[2021-04-29 22:29] frankfarzan commented on #1838
In kpt 1.0, it's becoming just another function similar to other "runtime functions" as Rego (gatekeeper) and CEL in the future.

FYI, There's a `kpt fn export` command that shows how to run kpt on various CI/CD systems:

https://googlecontainertools.github.io/kpt/guides/consumer/function/export/

For Tekton, it mounts the docker socket which you don't seem a fan of. What problems does it cause in

[2021-04-30 01:39] wstrange commented on #1838
Mounting the docker socket in a K8S cluster is risky, and lots of security focused organizations won't allow it due the possibilty of container escape, etc.  I suppose if you are running a private cluster, and you trust your developers its not a _huge_ deal (trying to be pragmatic here..). This is really the entire motivation for Kaniko (docker builds without the docker daemon).

Things like Googl

[2021-04-30 05:10] Shell32-Natsu opened #1849 "`fn eval` should use the same runtime with `render`"
Currently `fn eval` is using the runtime borrowed from kyaml instead of the `render` runtime because the `render` runtime hasn't supported some features required by `eval`, like network, mount, etc. Eventually we should get rid of the runtime from kyaml and make `eval` to use the same runtime with `render`.

This requires:
- [ ] Extract `internal/cmdrender/runtime` to a separate package.
- [ ] Imp

[2021-04-30 16:39] Shell32-Natsu opened #1850 "Cli Usability: Ensure consistent pkg reference across commands"
The `DisplayPath` used in `fn render` [PR](https://github.com/GoogleContainerTools/kpt/pull/1822) is a simple relative path to CWD. This is very ugly when users run the command with absolute path to the package.

We should have a solution for package reference and ensure consistent across all commands.

Also discussed in this thread https://docs.google.com/document/d/1mWZyYcCWmFUZuNNG3O0r-Y-FOk256

[2021-04-30 16:39] Shell32-Natsu commented on #1850
cc @droot @frankfarzan @phanimarupaka

[2021-04-30 16:43] Shell32-Natsu commented on #1850
Example of current display path used in `render`. https://github.com/GoogleContainerTools/kpt/pull/1822#discussion_r624015876

[2021-04-30 18:12] frankfarzan opened #1852 "Remove unfriendly stack trace in error messages"
[code]

`cmdget.preRunE` doesn't make sense to end-users and is polluting the output.

[2021-04-30 18:27] frankfarzan opened #1855 "Docs: 1.2 Quickstart: Show kubeval catching some issues"
To show the value of this, we can instruct the user to introduce deliberate issues.

[2021-04-30 18:30] mikebz opened #1856 "Docs: 3.2 Exploring a Package"
Following: https://kpt.dev/book/03-packages/02-exploring-a-package results in empty output. Not sure if things are working or not working.  We should have an example that gives user feedback that something positive happened.

[2021-04-30 18:32] mortent commented on #1852
Same for the error message if running `kpt pkg update` with a dirty working tree:

[code]

[2021-04-30 18:35] mikebz opened #1857 "Docs: 3.2 Exploring a Package"
Suggestion: add git init sequence here since the following commands change the config and then in later pages we do an update (which requires a .git)

[2021-04-30 18:47] mortent commented on #1852
Trying to update a package and provide the incorrect path gives an unhelpful error message:
[code]

[2021-04-30 18:49] phanimarupaka commented on #1856
Function output is being addressed as part of this issue

https://github.com/GoogleContainerTools/kpt/issues/1557

[2021-04-30 18:56] frankfarzan opened #1858 "[Docs: 3.3 Editing a Package] Formatting-related changes after running eval"
All published packages need to be autoformatted. Related to changes to formatting as part of `render` which is a required part of the lifecycle: https://kpt.dev/book/02-concepts/02-package-lifecycle

[2021-04-30 19:02] mortent opened #1859 "Improve error message if docker daemon is not available/running"
### Expected behavior
An error message that makes it clear what the problem is.

### Actual behavior
If the daemon isn't running, I get the following error message:
[code]

Is there a way we can check the status of docker before we run the pipeline?

[2021-04-30 19:11] Shell32-Natsu opened #1860 "`fn render` should forbid validators to modify resources"

[2021-04-30 19:12] phanimarupaka commented on #1821
Ack.

As in no output? This was intentional. Other tools like `yq` also does the same rather than throwing an error. The current behavior is correct IMO.

Ack.

This will be addressed by https://github.com/GoogleContainerTools/kpt/issues/1557

[2021-04-30 19:15] Shell32-Natsu opened #1861 "`fn eval` should follow the same output format with `fn render`"
Part of #1557

[2021-04-30 19:15] frankfarzan opened #1862 "[Docs: 1.2 Quickstart] kubeval should be configured with `strict: true`"

[2021-04-30 19:17] Shell32-Natsu commented on #1856
Covered by #1861

[2021-04-30 19:17] #1856 closed

[2021-04-30 19:17] frankfarzan opened #1863 "Standardize CLI output messaging"
We need to follow the same style guide for command output. Compare output of `fn render` and `live init` in terms of showing progress and success

[2021-04-30 19:20] phanimarupaka commented on #1856
@mikebz Should we close this ? Make it a duplicate ? Or keep it open ?

[2021-04-30 19:21] frankfarzan opened #1864 "Installation doc doesn't work"
Currently, Installation docs point to `latest` builds of binaries which wouldn't work (There are other releases besides CLI such as example packages).

[2021-04-30 19:21] mikebz commented on #1856
Closing is fine. Thanks!

[2021-04-30 19:25] Shell32-Natsu commented on #1859
kpt requires git and docker. May be we can check the requirements at the beginning of the command?

And for this particular error, we will defined an error struct for it.

[2021-04-30 19:56] runewake2 opened #1865 "Clarify the use of --reconcile-timeout in kpt live apply"
kpt docs introduce `kpt live apply --reconcile-timeout` without documenting `reconcile-timeout`. It would be useful to introduce why this flag is included in the docs and what it's for. If this is the default behavior we want then we should establish a safe default and use that value instead of expecting the flag each time `kpt live apply` is run.

[2021-04-30 20:00] frankfarzan opened #1866 "Support `Kptfile` with `yaml` extension"
Not having a `yaml` extension causes frictions as editors and IDE do not auto-detect the file format of Kptfile. The original reason for not having the extension are not compelling. If we don't do this before 1.0, then we need to suppport Kptfiles with and without extension.

[2021-04-30 20:10] runewake2 opened #1867 "Add copy button to shell blocks on kpt.dev"
kpt doc packages that includes CLI examples include `$` characters to signify user input. These characters are included when copying from the documentation (you need to manually remove them). Preventing this character from being copied would make interacting with docs easier.

For example:

[code]

currently copies `$ kpt live apply` but ideally would only include `kpt live apply`. This would help

[2021-04-30 20:48] etefera opened #1869 "More user-friendly errors for kpt pkg update"
### Expected behavior
On a bad invocation of `kpt pkg update`, expect to see actionable or user-oriented feedback.
For example, `kpt pkg update mypackage` in a non-initialized or non-package directory:
`Error: Unable to update package "/mydir/mypackage". Are you referencing an initialized package directory?`
### Actual behavior
`Error: Failed to execute git command "git status -s" `

### Informati

[2021-04-30 21:01] mengqiy commented on #1862
I changed it in https://github.com/GoogleContainerTools/kpt/pull/1797/files. Did it get reverted somehow?

[2021-04-30 21:04] phanimarupaka commented on #1862
I reverted it as I was facing an issue.

[code]

[2021-04-30 21:14] phanimarupaka commented on #1862
But we should not add it back until the issue is addressed as users might not know to run `docker pull`. WDYT?

[2021-04-30 21:18] mengqiy commented on #1862
SGTM

[2021-05-01 06:29] phanimarupaka opened #1870 "Expect users to provide all setter values in patterns with no delimiters"
If providing incomplete setter values for a complex expression the apply-setters fn will do best effort attempt at figuring out what the missing value was and calculate the new value using that, e.g. if 'x=value' is provided as input and the expression in kpt-set: something-${x}-${y}. This works well if there are delimiters between x and y that do not appear in the values but is otherwise likely t

[2021-05-02 22:53] runewake2 opened #1872 ""unknown option `initial-branch=master`" Error When Running kpt Tests"
This is an informational issue, at this time I do not think a fix is required.

When running kpt tests an error may occur `unknown option 'initial-branch=master'` this is caused by an unrecognized flag `initial-branch` which is only available in recent versions of git (I believe versions 2.31.1 and above). If your `git version` is below this, upgrade git and run the tests again.

One note: this ap

[2021-05-02 22:53] #1872 closed

[2021-05-03 15:47] #1659 closed

[2021-05-03 15:53] mortent commented on #1869
This is also covered in https://github.com/GoogleContainerTools/kpt/issues/1852. Closing this as a duplicate and we'll track it there.

[2021-05-03 15:53] #1869 closed

[2021-05-03 16:07] #1627 closed

[2021-05-03 16:10] Shell32-Natsu opened #1873 "Generate result file if error occurs in `fn render`."
#1557 #1783

[2021-05-03 17:20] frankfarzan commented on #1852
Guideline for error messages:

go/kpt-errors-style-guide

Feel free to add more rules or clarify with examples

[2021-05-03 18:41] frankfarzan commented on #1850
This is part of CLI consistency effort. We need the following to be standardized:

- Definition of package name and identifier (and provide common code for them). See https://kpt.dev/book/03-packages/01-getting-a-package?id=package-name-and-identifier
- How the package name and identifier are presented.

For example, compare how `tree` command present the package:

`PKG: nginx`

vs how `render` an

[2021-05-03 19:08] natasha41575 commented on #1557
Adding that we should address the concerns raised here:
https://github.com/GoogleContainerTools/kpt/pull/1839#pullrequestreview-650567778

[2021-05-03 19:15] frankfarzan commented on #1838
Yes, we should have a good story for running functions on k8s. Full stop. However, not containerizing the functions is not the solution and it would throwing out the baby with the bath water.

[2021-05-03 19:44] droot opened #1876 "`make generate` generates result in `make build` failure on kpt repo"
Running `make generate` on the kpt repo results in following failures:

[code]

There are three issues here:

- `kpt live` docs have some mdtgo tag missing
- `kpt pkg` docs have examples missing. Empty block should be sufficient
- `kpt live` docs contains some mdtgo metadata tags
- `kpt overview` has some redeclaration issues.

[2021-05-03 19:58] runewake2 commented on #1876
This may be related to this bug from a couple months ago. Sounds like a similar issue. #1402

[2021-05-03 20:48] yhrn commented on #1838
@frankfarzan

I was also mainly thinking about running in k8s. On use case I was considering was an operator using setters to hydrate manifests based on CR fields values (using something like [kubebuilder declarative pattern](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern)

Our home rolled CI system does cache images but it tries to be smart about it and will only cache images

[2021-05-03 22:16] mortent opened #1881 "Formatting breaks yaml anchors/references"
### Expected behavior
Formatting configs would not break yaml docs that includes anchors and references.

### Actual behavior
Running the `kpt fn render` command on a configuration that includes anchors and references ends up putting the anchors before the references in the yaml, thereby making the yaml invalid.

### Information

### Steps to reproduce the behavior
[code]

[2021-05-03 22:21] Shell32-Natsu commented on #1881
I cannot reproduce this because the package uses a private image? How does the output yaml look like?

[2021-05-03 22:24] mortent commented on #1881
Simplified the example to avoid relying on the private images.

[2021-05-03 22:34] Shell32-Natsu commented on #1881
cc @phanimarupaka @droot

[2021-05-03 22:56] phanimarupaka commented on #1881
The issue is with format filter ordering of fields. We should implement additional sorting rules to have anchors before references. What is the priority of this ? m2 or m3 ?

[2021-05-03 23:05] frankfarzan commented on #1838
But what does it mean for a "core" function not to be explicitly versioned? It could mean:

a) Do not provide backwards compatibility guarantees (no semver)
b) Implicitly provide semver major version 1 indefinitely.

I think you're talking about b) since it's unacceptable to ask users to change all existing kpt package when updating the kpt CLI. Our current plan is not radically different:

c) Exp

[2021-05-03 23:07] droot opened #1882 "kpt.dev should a reference page for `Kptfile` schema"
The reference for `Kptfile` schema can live under `reference` or under `Appendix` section. This page will be referenced by other end user docs and CLI command help texts.

Older site had the reference [here](https://googlecontainertools.github.io/kpt/api-reference/kptfile/) We can repurpose the tooling here to improve the styling to match current style and evolve it over time.

Some inspiration:
[

[2021-05-03 23:07] droot commented on #1882
/cc @frankfarzan

[2021-05-03 23:08] droot commented on #1882
A reference page from k8s deployment:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#deployment-v1-apps

[2021-05-03 23:28] frankfarzan commented on #1882
In terms of where this should live on the site:

- reference/
   - cmd
     - pkg
     - fn
     - live
    - schema
      - Kptfile
      - FunctionResults

e.g.:

kpt.dev/reference/cmd/pkg/get
kpt.dev/reference/schema/kptfile

Please update all existing links.

[2021-05-03 23:29] opsroller commented on #1866
@frankfarzan, Please see https://editorconfig.org

[2021-05-03 23:35] frankfarzan commented on #1866
Thanks for the pointer, but that still requires end-users to install plugins/extensions in their editors, no? This issue is about reducing friction by using the simplest mechanism available to deduce file format (the file extension) which doesn't require any additional user action.

[2021-05-03 23:58] phanimarupaka opened #1883 "Avoid name `config` as everything is config"
Go thorough all references in kpt, kyaml and kpt-functions-catalog and rename the references to config to more meaningful names as everything is a config.

[2021-05-04 00:13] phanimarupaka opened #1884 "Avoid synopsis section in catalog README"
A command "synopsis" refers to the exact syntax used to describe a CLI. e.g.

https://kpt.dev/reference/pkg/get/

We're not using this word correctly in function usage. I suggest getting rid of Synopsis section and just having:

Overview
FunctionConfig
Examples
Please follow up in a separate PR and change the template in the process.

[2021-05-04 00:18] #1870 closed

[2021-05-04 00:18] mortent commented on #1881
I put this in m4. I don't think using anchors and references are very common with k8s config, so I don't think it is a major issue. But we should keep track of it and see if we can eventually get it fixed.

[2021-05-04 00:24] phanimarupaka commented on #1722
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/242

[2021-05-04 00:24] #1722 closed

[2021-05-04 00:30] phanimarupaka commented on #1821
@frankfarzan 1,2,3 issues are resolved. 4 is a general issue with functions output in general and is being tracked here https://github.com/GoogleContainerTools/kpt/issues/1557, should we keep this till it is closed? And the issue description is not very accurate as replace works fine and search also produces results if --results-dir is specified. Issue is with displaying output. Consider changing

[2021-05-04 00:32] frankfarzan commented on #1821
There's a reference in the book to this issue. Let's leave this open even if the issue is not in the func impl as a signal to the readers of the book.

[2021-05-04 02:00] frankfarzan opened #1886 "Scope cluster-related flags to `live` functionality"
Currently, there's a kitchen sink of flags that only make sense when talking to the cluster in some `live` commands:

https://kpt.dev/reference/

These should not be global flags and need to apply only to commands that require them.

[2021-05-04 02:03] frankfarzan commented on #1886
cc @mortent @phanimarupaka @natasha41575

[2021-05-04 02:43] mortent commented on #1886
I am planning to clean this up as part of https://github.com/GoogleContainerTools/kpt/issues/1572

[2021-05-04 03:08] #1846 closed

[2021-05-04 04:00] opsroller commented on #1866
no, no it does not.

On Monday, May 3, 2021, Frank Farzan ***@***.***> wrote:

[2021-05-04 11:42] yhrn opened #1889 "New Starlark fn does not support custom parameters nor imperative run"
Apologies if this is premature feedback - I realize that this is yet to be released officially. Feel free to close if this is already planned for.

I tried out the new Starlark fn and it's pretty limited compared to the current built in alpha functionality:

1. There is no way to pass parameters to the Starlark code, the function requires a custom config that only takes a single parameter `source`

[2021-05-04 12:34] yhrn commented on #1838
I'm not sure that I have said that a "core" function shouldn't be explicitly versioned. What I'm trying to suggest is that version X.Y.Z of kpt could include version A.B.C of one "core" function and D.E.F of another. From a semver perspective I guess that this would require Kpt to bump the major version whenever a core function does so or include both major version of the function from then on. Bu

[2021-05-04 16:47] mengqiy opened #1890 "Complete and polish function catalog docs"
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/go/_template

[2021-05-04 17:04] seans3 commented on #1612
Closed by: https://github.com/GoogleContainerTools/kpt/pull/1817

[2021-05-04 17:04] #1612 closed

[2021-05-04 17:04] seans3 commented on #1787
Closed by: https://github.com/GoogleContainerTools/kpt/pull/1817

[2021-05-04 17:04] #1787 closed

[2021-05-04 17:54] mikebz commented on #1889
@mengqiy heads up

[2021-05-04 17:56] mikebz commented on #1844
@mengqiy heads up

[2021-05-04 18:09] mikebz commented on #1815
pipeline-validate example is a good repro of disappearing files:
[code]

[2021-05-04 18:50] mengqiy opened #1892 "Question: should `eval` mutate the `fnConfig` resource in the same directory as input resources"
For example, in https://github.com/GoogleContainerTools/kpt/tree/87191859fdef443395741d85e134e5aa1cd0f877/package-examples/pipeline-validate
~~The gatekeeper constraintTemplates and constraints are considered as function config, but they are passed to the functions using `resourceList.items`. If we drop constraintTemplates and constraints from the output, it will cause the corresponding resource f

[2021-05-04 18:53] frankfarzan commented on #1892
Not sure I parsed this. The Gatekeeper functions doesn't have any `functionConfig`. What's the problem?

[2021-05-04 19:42] frankfarzan opened #1893 "`wordpress` example has inconsistent setter names and references"
https://github.com/GoogleContainerTools/kpt/tree/next/package-examples/wordpress

Where's `wp-image` and  `wp-tag` used?

I also question whether we should use `apply-setters` in the primary example in our documentation.

[2021-05-04 20:02] frankfarzan commented on #1893
We should add e2e tests for `wordpress` and `nginx` (There's an issue for this). Low-hanging fruit is to use the hydation test harness to test `render` for now.

[2021-05-04 20:05] frankfarzan commented on #1655
This includes testing all packages in `package-examples` directory. Currently we have multiple methods for testing:

1. Tests embedded in documentation.
2. Hydration-only: test harness using `.expected` directory
3. Live e2e
4. Packaging e2e?

We need to decide how to get coverage here. 2) is an easy low-hanging fruit.

[2021-05-04 20:28] #1489 closed

[2021-05-04 20:57] #572 closed

[2021-05-04 21:16] mortent opened #1894 "kpt live apply reading from stdin doesn't work"
### Expected behavior
I should be able to use `cat * | kpt live apply -` to apply resources into a cluster. This currently just returns the error `error: argument '-' is not but must be a directory`.

### Actual behavior
This should lead to the resources in `*` being applied.

### Information
As part of this, we should also look into how users can provide inventory information to kpt when reading

[2021-05-04 21:43] mikebz commented on #1866
I am not sure this is an M2 task.  I think we can even support optional .yaml extension past v1

[2021-05-04 21:45] mikebz commented on #1867
I would argue that this is an M4 task.  This doesn't preclude us from going out to customers with fairly good doc as long as the documents are accurate.

[2021-05-04 21:49] mikebz commented on #1857
I see it's added here: https://kpt.dev/book/03-packages/03-editing-a-package - closing.

[2021-05-04 21:49] #1857 closed

[2021-05-04 21:51] mikebz commented on #1864
I would consider just pointing to next for now and doing a PR when we switch to latest.  I suspicion is that adding versioning to docs is a bigger task.

[2021-05-04 22:28] runewake2 commented on #1867
Agreed, I do not think this issue should block any of our release milestones but would provide a helpful UX improvement to the sites current behavior whenever we are able to prioritize that.

[2021-05-04 22:51] frankfarzan commented on #1890
Example of a usage doc with multiple issues:

https://catalog.kpt.dev/set-labels/v0.1/

- `Examples` section at the end is redundant
- Synopsis is a misnomer and needs to be changed in the template: #1884
- Typo. There's no field `metadata/labels`
- D6 rule of go/kpt-docs-style-guide. e.g. fieldSpecs (Please audit for others)
- Raw link URLs (e.g. https://github.com/kubernetes-sigs/kustomize/blob/

[2021-05-04 23:29] #1893 closed

[2021-05-05 00:01] frankfarzan opened #1899 "Document kpt roadmap and limitations of 1.0"

[2021-05-05 00:32] frankfarzan opened #1900 "Improve render output when there are not functions in the package"
$ kpt fn render blah
Package "blah":

Successfully executed 0 function(s) in 1 package(s).

[2021-05-05 00:41] frankfarzan opened #1901 "Document function semver scheme"
Need to have a document on https://catalog.kpt.dev/ about the semver scheme for functions, backwards compatibility guarantees, and provide guidance.

[2021-05-05 04:18] #1876 closed

[2021-05-05 05:27] mortent commented on #1864
So there are a few things related to this:
 * We should consider moving the examples into a separate repo to avoid having non-kpt releases in the same repo. It will break the automatic generating of release notes with goreleaser and also means the time needed to fetch the example packages are dependent on the size of the kpt repo. Alternatively, we need to look into tuning the generation of releas

[2021-05-05 11:37] fsommar opened #1903 "Support impersonation --as option for kpt live"
Hi 👋

I'm missing functionality for user impersonation in kpt live; in short, having the `--as=user` option from kubectl available for kpt live. Our use case is that we're defaulting cluster users to a read-only account, while giving them access to impersonate a service account with elevated permissions for the instances where they need to edit or delete a resource.

Although, in a round-about way

[2021-05-05 18:20] frankfarzan opened #1904 "Fine-grained control allowed functions and their privilege using `FunctionPermission`"
Since KRM functions enable running untrusted code that manipulates the package configuration, it’s important to provide visibility and control into what KRM functions are allowed to run with what permissions. There are two attack surfaces that we need to protect:
- Local Machine: `kpt fn` rexposes the machine where kpt functions are invoked.
- Workload Cluster: Configuration manipulated by KRM fun

[2021-05-05 18:23] frankfarzan opened #1905 "Design and implementation of "built-in" functions"
Currently, there is no notion of built-in functions. The first-party function images in `gcr.io/kpt-fn` have no special meaning or treatment and are released and versioned independently from the kpt CLI. This is by design and has many benefits:

- We want kpt CLI to be a small, stable, core that provides extension points. In contrast, there will be an ever growing catalog of functions with a highe

[2021-05-05 18:30] frankfarzan commented on #1838
I think there are orthogonal concerns here:

1. Executing function containers on k8s (e.g. Using Tekton)
2. Versioning: I opened a separate issue #1905 for this, and provided a starwman of what I think you're looking for. This is orthogonal to whether a fucntion is containerized or not. Even if execute Go binaries, they would still have versioning.
3. Performance concerns around executing containe

[2021-05-05 19:07] Shell32-Natsu commented on #1861
Some considerations:
1. The package information shouldn't be printed if the directory is not a package.
2. The final statement `Successfully executed x function(s)...` is not necessary since `eval` always runs one function.
3. The output should be entirely hidden when the result resources are printed to stdout, like in `--dry-run` mode or in a function chain.

[2021-05-05 19:10] mengqiy commented on #1889
@yhrn Thanks a lot for your feedbacks!

This is planed to be solved in https://github.com/GoogleContainerTools/kpt/issues/1560.

To support it, we will need to support ConfigMap as fn config. We will share the design with you when we have something.

[2021-05-05 20:06] mengqiy commented on #1844
There was a big refactor in kyaml@v0.10.14.
Our golang guide (https://googlecontainertools.github.io/kpt/guides/producer/functions/golang/) only works with kyaml <= v0.10.13.

cc: @frankfarzan who is overhauling our user guides.

[2021-05-05 23:25] #1860 closed

[2021-05-05 23:30] mikebz commented on #1756
moving to M3 so we can define what we need to cover here.

[2021-05-05 23:43] mengqiy commented on #1722
It seems we start to format the resources in `kpt fn render` (#1813).
@phanimarupaka Is there a reason not doing it for `kpt fn eval`?

[2021-05-05 23:48] phanimarupaka commented on #1722
Yes. `eval` can be invoked on validator functions as well. Mutating resources in such scenarios looks awkward. If users want to format resources, they can invoke explicit `format` image.

[2021-05-05 23:51] mengqiy commented on #1722
Thanks for clarification!

[2021-05-06 00:04] phanimarupaka opened #1910 "Check stdout in fn render and eval tests with non-zero exit code"
Currently fn eval and render tests only check the stdout if exit code is non-zero. Output to stdout of non-zero cases also must be verified.

[2021-05-06 00:06] #1858 closed

[2021-05-06 00:13] phanimarupaka commented on #1850
@frankfarzan The output for functions look good. So should we change the output of `tree`?

[code]

[2021-05-06 16:54] etefera commented on #1825
Unlikely to be addressed since the catalog is hosted on a different site, but marking done as it should consistently load in the same frame https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/272

[2021-05-06 16:55] droot opened #1915 "Hash out details for CLI input/output, resource input/output and result output in `fn` commands"
`kpt fn` commands involve the following:

- Resources: How are resources read and written out
- StructuredResult: How are structured results written out (No reading here)
- CLI output: How is the CLI output written

Some of `kpt fn` commands can be composed together, for ex. `kpt fn source| kpt fn eval| kpt fn sink.....` or `kpt fn render| kpt live apply`. All the above are controlled by the CLI f

[2021-05-06 16:56] droot commented on #1915
/cc @frankfarzan @Shell32-Natsu @mengqiy @phanimarupaka

[2021-05-06 17:07] phanimarupaka opened #1916 "Starter kit for developing a new function"
We need a starter kit so that users can write a simple function by adding few lines of code. Eventually this will be provided by sdk but we need something now to point users to.

[2021-05-06 17:10] phanimarupaka commented on #1916
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/274

[2021-05-06 17:19] mengqiy commented on #1563
We need to move the 3 examples in https://github.com/mengqiy/starlark-demo to the catalog repo.

[2021-05-06 17:34] karlkfi commented on #1375
I think this FR is probably still valid with kpt v1 syntax. It just needs some tweaking.

Basically with kpt v1 there's no more index of setters in the kptfile, so any script to do the substitution generation would need to read the entire set of resources, parse the inline comments, and extract a list of setters and their current values... I hope kpt already has a library function for this.

Hypot

[2021-05-06 17:55] mengqiy commented on #1916
If you want to choose starlark in the starter kit, we have some examples that are not currently living in tha catalog repo: https://github.com/GoogleContainerTools/kpt/issues/1563#issuecomment-833701352

[2021-05-06 19:38] marshall007 commented on #985
@phanimarupaka could you provide another status update here? It appears that the search/replace functionality in #961 has all been implemented but I am having trouble tracking down related MRs and doc. We are interested in this functionality as well as improved setters UX proposal you [linked above](https://github.com/GoogleContainerTools/kpt/issues/985#issuecomment-702462007).

I wanted to chime

[2021-05-06 19:47] frankfarzan commented on #1559
Are all resources required to have `metadata.name`? How about function configs?

[2021-05-06 20:10] phanimarupaka commented on #985
Hi @marshall007, thanks for the comment. Here is the new version of set operation, a kpt function named `[apply-setters](https://catalog.kpt.dev/apply-setters/v0.1/)`. We have also significantly simplified the experience of creating setters using our new `[search-replace](https://catalog.kpt.dev/search-replace/v0.1/?id=examples)` function. Please try them out and let us know your feedback. You can

[2021-05-06 20:20] phanimarupaka commented on #1375
@karlkfi Yes. This functionality a variant of apply-setters function and can be achieved with some tweaking to it as you mentioned. This qualifies to be a separate function.

I think the question here is, who should write and maintain this function and what should be the timeline? So this is more of a planning question which I would redirect to @mikebz @frankfarzan

[2021-05-06 21:31] mengqiy commented on #1892
@frankfarzan Updated the issue after debugging it a bit.

We should have a consistent behavior in functions about how to handle resources with a `local-config` annotation.
One thing we can do is to never mutate resources with a `local-config` annotation and always pass them as is to output.

[2021-05-06 21:36] frankfarzan commented on #1892
If you're talking about 1.0 design: Why does `fn` commands care about `local-config` annotation? This annotation is only relevant to `live` commands and denotes whether a resource should be applied or not. Also note that function configs will not require this annotation since we know through the reference in `configPath` field that the resource should not be applied.

[2021-05-06 21:49] mengqiy commented on #1606
@etefera Are you working on this?

@mikebz This task is much bigger than I expected. XL means ~2 weeks of work which is pretty big commitment. If Eyob is not working on this or doesn't plan to  work on this, I can try to help with it.

[2021-05-06 21:57] #1861 closed

[2021-05-06 21:59] Shell32-Natsu opened #1920 "Modify kpt CLI to output the aggregated results as a KRM resource"
Part of #1390

[2021-05-06 22:03] Shell32-Natsu commented on #1557
The works remained for this task are:
1. Aggregate structured results
2. Create results file.
3. Hash output for the behavior with CLI stdin and stdout

These tasks are coved by umbrella issue #1390. Subtasks: #1920, #1915

[2021-05-06 23:09] mengqiy commented on #1892
I agree with what you said. But I feel there are some use cases that are not streamlined.

When a user has resources and fn config in the same directory, the experience of `kpt fn eval` is not streamlined.

Taking https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/starlark/simple as an example.
The starlark script set `.metadata.namespace` in all resources.

The **c

[2021-05-06 23:38] mengqiy commented on #1892
cc: @droot @Shell32-Natsu

[2021-05-06 23:39] frankfarzan commented on #1892
OK, so you're describing a specific scenario where:
a) You're using `eval`
b) `fnConfig` happens to be in the same directory as resources you're operating on.

My first question is: are you sure you don't want to user `render` instead? In what scenario are you packaging the resources and `functionConfig` together but don't want to declare a pipeline?

For sake of discussion, assuming this is a rea

[2021-05-07 00:38] karlkfi commented on #1375
Hmm, you're right. Since it no longer needs to modify the kptfile or make kpt cli calls it could be a kpt function. All it has to do is add kpt-set inline comments. I hadn't thought of that. That means anyone could write it.

[2021-05-07 00:54] marshall007 commented on #985
@phanimarupaka great, thanks! We don't have much experience using kpt functions yet, but this looks fantastic! I will give this a shot before filing a separate issue. Looking at this, I do have a few more questions if you don't mind:

Am I understanding [the implementation of `apply-setters/applysetters/apply_setters.go`](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/080e22ffd

[2021-05-07 00:56] mengqiy commented on #1892
I'm not sure. Most users probably will declare a pipeline. I'm just examining to ensure the behavior for running functions is not confusing to users.

We anyway need to fix set-annotations, set-labels and set-namespace to stop the behavior of removing resources with `local-config`. Otherwise, packages like https://github.com/GoogleContainerTools/kpt/tree/87191859fdef443395741d85e134e5aa1cd0f877/pa

[2021-05-07 02:49] phanimarupaka commented on #985
Yes. They are incompatible. But existing kpt packages can be easily migrated to new version in an automated fashion. The work is in progress and you can track the progress in this epic https://github.com/GoogleContainerTools/kpt/issues/1834. For customers like you using setters, migration can be done in a button click.

Yes. We want to make simple use-cases very simple. They cover most of the cust

[2021-05-07 17:33] mikebz opened #1924 "kpt live apply - doesn't work."
### Expected behavior
We advertise that kpt live apply takes input from stdin, when attempting this command I get an error

### Actual behavior
[code]

### Steps to reproduce the behavior
build kpt from the latest next commit: 87191859fdef443395741d85e134e5aa1cd0f877

[2021-05-07 17:49] frankfarzan opened #1925 "Version kpt.dev docs"
Docs need to be versioned alongside the CLI release.

[2021-05-07 17:50] frankfarzan commented on #1864
Versioning of docs is tracked by https://github.com/GoogleContainerTools/kpt/issues/1925

This issue is scoped to making installation doc valid in m2 using stop gap solutions.

[2021-05-07 17:53] frankfarzan commented on #1864
The proper solution here is versioning the docs instead of pointing to the latest release artifact. This is tracked by #1925. Limiting releases to just CLI is brittle is a brittle solution.

[2021-05-07 18:07] mortent commented on #1924
Duplicate of https://github.com/GoogleContainerTools/kpt/issues/1894.

[2021-05-07 18:07] #1924 closed

[2021-05-07 18:54] phanimarupaka opened #1927 "`kpt live diff` is noisy and contains irrelevant changes"
I made a small change to nginx package(bumped up replicas), but the live diff shows very verbose output. I expect this diff to be more precise and show me what I need to see.

[code]

[code]
[code]

[2021-05-07 19:02] frankfarzan opened #1928 "Examples packages do not work with `server-side` apply"
[code]

[code]

[2021-05-07 19:06] frankfarzan opened #1929 "`live preview` doesn't work"
Client-side preview doesn't really preview changes that will be applied:

Change a single field in wordpress package (e.g. port value). There's a discrepency between `preview` and `apply` commands:

[code]

[2021-05-07 19:14] frankfarzan commented on #1927
The core UX issue is that with even with no human authored changes, you see diff like this.

[2021-05-07 19:41] johnbelamaric opened #1931 "apply-setters function does not apply substitutions"
### Expected behavior
I would expect the apply-setters function to work in a manner identical to `kpt cfg set`.

### Actual behavior
Substitutions are ignored, which makes them useless if you want to use the package in an automation pipeline with apply-setters.

### Information

Kpt Version: 0.39.2

### Steps to reproduce the behavior
Run apply-setters against a package with substitutions defined.

[2021-05-07 20:25] mikebz commented on #1931
@phanimarupaka can you please take a look at this one using kpt `next` branch?

[2021-05-07 20:29] mikebz commented on #1931
@johnbelamaric just to be clear you have tried using this with kpt `next` build or you tried the new function with old kpt?

https://catalog.kpt.dev/apply-setters/v0.1/

Here is the example:
[code]
where there is a substitution.  Is this the thing that you tried and it's not working for you?

[2021-05-07 20:39] natasha41575 opened #1932 "fn render test harness should check structured results"
To test https://github.com/GoogleContainerTools/kpt/pull/1923, the test harness should check structured results for kpt fn render. It currenly only does this for fn eval

[2021-05-07 20:54] mikebz commented on #985
@marshall007 just a quick note on the long term thought process around functions.  The long term vision is to make sure that functions can be used in a variety of products for customization or validation of configuration.  We need to make them work really well in kpt first and then definitely look at how to make sure the same functions work well in kustomize scenarios as well.  Right now kustomize

[2021-05-07 21:06] mengqiy opened #1933 "Functions using kustomize library should not drop resource with local-config annotation"
For example, https://github.com/GoogleContainerTools/kpt/tree/87191859fdef443395741d85e134e5aa1cd0f877/package-examples/pipeline-validate this package has 4 input resources (2 normal resources + 2 local-config resources for gatekeeper)
After running fn set-labels, it drops the 2 local-config resources that are for gatekeeper.
Fn gatekeeper doesn't find any constraints specified, and always return

[2021-05-07 21:20] frankfarzan commented on #1933
Why and how does that function drop `local-config`?

[2021-05-07 21:31] mengqiy commented on #1933
set-annotations, set-labels, set-namespace and ensure-name-substring use kustomize library to update resources.
All of them is doing something like the following (e.g. https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/d4dd831f1657660cdfd4fec51a6882c43d9ddf97/functions/go/set-labels/main.go#L75-L83):
[code]

`NewResMapFromRNodeSlice`drops every resource with a `local-config` annota

[2021-05-07 22:24] phanimarupaka commented on #1507
@frankfarzan Do we need CRD support for apply-setters in m3 ? Unless it is needed for migration story, I want to move it to m4. Current ConfigMap approach is good enough I guess. WDYT ?

[2021-05-07 22:39] frankfarzan commented on #1507
Moved to m4

[2021-05-07 23:07] #1928 closed

[2021-05-07 23:14] phanimarupaka commented on #1931
Yes. It does.

We are getting rid of the concept of substitutions and the pattern will just be inline comment. So the current version of setters and substitutions are not compatible with apply-setters function. However, we will be releasing a new image `gcr.io/kpt-fn/fix`  (WIP) which will fix the comment pattern in your existing kpt package to the new pattern so that apply-setters function can wo

[2021-05-07 23:23] johnbelamaric commented on #1931
Ah, I see. So the newer version of `kpt` does things differently, but supports essentially the same functionality?

[2021-05-07 23:29] phanimarupaka commented on #1931
Yes it does, in a more cleaner fashion.

[2021-05-07 23:35] johnbelamaric commented on #1931
Ok, awesome. Is there a released version of `kpt` that has the new behavior? Or do I need to build it?

[2021-05-07 23:56] frankfarzan opened #1937 "reference doc: top-level"
https://kpt.dev/reference/

Just a high-level description of the command groups will suffice. Examples and demo are stale and should be deleted.

[2021-05-07 23:57] frankfarzan commented on #1937
cc @mortent since you're changing the global flags.

[2021-05-07 23:58] mengqiy opened #1938 "Better error message when kubeval can't find schema for CRD"
Currently the error message is like the following:
`ERR  - stdin: Failed initializing schema file:///tmp/master-standalone-strict/custom-custom-v1.json: open /tmp/master-standalone-strict/custom-custom-v1.json: no such file or directory`

We should provide more useful and actionable error message.

[2021-05-08 00:03] frankfarzan opened #1939 "Discrepancy between `--help` and `kpt.dev/reference/`"
For example:

- [x] `pkg tree` command is missing in kpt.dev
- [x] `live migrate` command is missing in kpt.dev
- [x] `live fetch-k8s-schema` is stale on kpt.dev (should be removed)

General fix is to ensure the two cannot diverge.

[2021-05-08 00:03] frankfarzan commented on #1939
cc @mortent

[2021-05-08 00:13] mikebz commented on #1931
@johnbelamaric we are going to open up the new build for people to give us feedback in a few weeks.  Right now we know we are missing some P1 docs and P1 features.  If you have deadlines that press you to get a build early and start migrating content - let us know. If not we will welcome your feedback in M3 milestone - https://github.com/GoogleContainerTools/kpt/milestones

[2021-05-08 00:14] mikebz commented on #1931
For right now I am going to close this, as it's not a bug and we have the scenario supported in the `next` branch.

[2021-05-08 00:14] #1931 closed

[2021-05-08 00:15] mikebz commented on #1864
@etefera assigning this to you for right now to make sure we unblock people who use kpt.dev

[2021-05-08 04:41] etefera commented on #1939
`live fetch-k8s-schema` is already removed on site.

[2021-05-08 21:55] stefanhenseler opened #1940 "Partial setter matching doesn't work with kebab case"
### Expected behavior

running:

`kpt fn run . --image gcr.io/kpt-fn/apply-setters:v0.1 -- 'registry=gcr.io' `

against a resource with the following setter comment:

` image: docker.io/my-app/my-app-backend:1.0.0 # kpt-set: ${registry}/${app-image-repo}/${app-image-name}:${app-image-tag}`

should result in the following output:

` image: gcr.io/my-app/my-app-backend:1.0.0 # kpt-set: ${registry}/$

[2021-05-09 03:36] phanimarupaka opened #1941 "Document sync command equivalent functionality using update"
Many customers are using kpt pkg sync command which is being deprecated in kpt v1. Kpt book doesn't currently cover declaratively updating nested subpackages. We need a section to illustrate sync command equivalent functionality using update command.

[2021-05-09 05:27] phanimarupaka commented on #1940
@stefanhenseler Thanks for trying out the new apply-setters function and filing the issue. I raised a PR for the fix.

As a user survey, can you please provide feedback on the new version of setters when compared to the existing version of setters. Do you see any friction points ?

[2021-05-09 13:27] stefanhenseler commented on #1940
@phanimarupaka Thanks for creating a PR for this.

I really like the new way how setters work. Also, our customers really like how simple it is to write setters now. It used to be very tedious to just write up a simple setter using the openapi spec in the kpt file. The new way is so much simpler and also kind of elegant. I especially like how quickly you can now just write up a whole kpt package w

[2021-05-09 13:42] stefanhenseler commented on #1940
@phanimarupaka Thanks for creating a PR for this.

In a nutshell, we really like the new way how setters work. Our customers really appreciate how simple it is to write setters now. It used to be very tedious to just write up a simple setter using the openapi spec in the kpt file. The new way is so much simpler and also kind of elegant. I especially like how quickly you can now just write up a who

[2021-05-09 17:45] phanimarupaka commented on #1940
@stefanhenseler Thanks for the feedback. Good to hear that.

That issue is already under consideration.
Current solution: Assuming you are a package publisher, you can help your consumers by including ConfigMap with descriptions as comments so that your package consumers can discover and edit the values in file([example](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/exa

[2021-05-09 18:02] stefanhenseler commented on #1940
Yes, this is what we are doing at the moment. We just comment out all the available setters and add comments as descriptions. This allows a user to understand the setters right away. But especially if there are many sub-packages which one does dynamically add, it would be better if this could be part of the tooling. I think adding the possibility to use a schema for validation using comments as we

[2021-05-09 18:11] phanimarupaka commented on #1635
@frankfarzan This is almost done. Just need a final approval from @mortent on the PR. So moving it back to m2.

[2021-05-09 18:29] phanimarupaka commented on #1940
Yes. We want to leave the most common cases UX simple. So we will not be adding more data to setter comments as it will affect the readability of resource files. We might ask package publishers to provide schema in a meta file separate from resources itself. But it is too early to discuss about that. Stay tuned for updates.

If most of your customers are using default pattern, I would recommend us

[2021-05-09 18:38] #1832 closed

[2021-05-09 18:51] stefanhenseler commented on #1940
Sounds great! Looking forward to seeing where this goes.

I didn't use it yet in that way, but I guess this should be sufficient. I actually think although there might be some edge cases where the setter substitution would help, It's better to keep it out for simplicity's sake. Also, search-replace seems very flexible. I will look into it.

[2021-05-10 05:11] phanimarupaka opened #1942 "Design and implement `upsert-resource` function"
Users need a way to easily upsert a resource to the package. Upsert is an operation that adds a Resource(uniquely identified by Group, Kind, Name and Namespace(GKNN)) to a package if it does not already exist, or replaces it if it already exists in the package.

- [x] Design `upsert-resource` function
- [ ] Implement `upsert-resource` function

[2021-05-10 14:49] droot commented on #1932
This is addressed as part of #1923

[2021-05-10 14:49] #1932 closed

[2021-05-10 15:46] mortent commented on #1927
The diff shown with `kpt live diff` shows the diff between the local configuration and the actual configuration found in the apiserver. Due to defaulted fields, fields managed by other controllers, and values added by the apiserver, there can be substantial differences from the local configuration. This is the expected behavior and aligned with how `kubectl diff` works.

One possible way to reduce

[2021-05-10 16:25] mortent commented on #1929
This is the expected behavior here. By default kpt will do a client-side dry-run, which doesn't actually compare the state of the local resources against the resources in the cluster. So it doesn't have any way to determine if a resource will be updated or remain unchanged when we do the actual apply. Thus, the output when actually doing the apply (when we do know what happened) will differ.

In g

[2021-05-10 16:45] mikebz commented on #1942
this is in review.  Do we hav e PR associated with it?

[2021-05-10 18:26] mortent opened #1946 "Align kpt live UX with other kpt command groups"
### Is your feature request related to a problem? Please describe.
The `kpt live` UX doesn't follow the same conventions as the other kpt commands.

### Describe the solution you'd like
Align the UX so it feels familiar for users of other parts of kpt

### Additional context
Some challenges here is that the `kpt live` functionality is somewhat different than the other parts of kpt. One key example

[2021-05-10 19:40] frankfarzan commented on #1929
I would flip the question around. Why should a user run the `preview` command at all? Specifically for the example above, what is it telling us?

Tangential to this is that the question of statistics printed for apply and preview, e.g.:

[code]

What are we telling the user here in plain english? What's does `6 configured` mean? We should file a separate issue for this. As it stands, it's hard to

[2021-05-10 20:43] natasha41575 opened #1948 "kpt fn should show progress when downloading an image"
If a function image does not exist locally, kpt has to download it. `kpt fn render` and `kpt fn eval` should show progress when downloading an image.

[2021-05-10 21:53] droot commented on #1390
Linking a comment where we discuss confusion about two formats of results: https://github.com/GoogleContainerTools/kpt/pull/1923#discussion_r628604165

[2021-05-10 22:31] mengqiy opened #1952 "`live apply` should not apply function configs by default"
We should have this behavior to ensure the package after hydration is ready to be consumed by `kpt live`.
`kpt live` ignore resources what have the local-config annotation.

For example, we have the following Kptfile and fn config file:
[code]

[code]

After the hydration, the fn config file should become:
[code]

[2021-05-10 22:37] natasha41575 opened #1953 "Functions in catalog should report better error message when functionConfig is missing"
See test case fn-render/no-fnconfig.

The error message for set-label is `failed to configure function: function config must be a ConfigMap or SetLabelConfig`. This can be improved, e.g. `missing functionConfig, must specify ConfigMap or SetLabelConfig`.

All functions should have a good error message for a missing functionConfig.

cc @droot @mengqiy @Shell32-Natsu

[2021-05-10 22:38] frankfarzan commented on #1952
Probably the more seamless UI is that `live` should not apply `functionConfig` without requiring this annotation. The only corner case is when there's a `functionConfig` that happens to also be a resource you want to apply.

[2021-05-10 22:42] frankfarzan commented on #1953
Also, note `functionConfig` is one word: https://kpt.dev/book/02-concepts/03-functions

[2021-05-10 22:45] frankfarzan commented on #1681
We have a stop-gap overview page:
https://kpt.dev/?id=overview

The end state should have a high production value. For comparison, see these landing pages:

https://www.terraform.io/
https://kustomize.io/
https://www.pulumi.com/

[2021-05-11 00:03] natasha41575 opened #1958 "fn render invariant: functions should not be able to modify resources outside of their current package"
When running `kpt fn render`, a function in a package should only be able to modify and generate resources within the current package. If it tries to write outside of its package, kpt should fail with error.

i.e. fn-render/path-index-ancestor and fn-render/path-index-outofpkg should fail with exit code 1.

cc @frankfarzan @droot @Shell32-Natsu

ref: https://github.com/GoogleContainerTools/kpt/iss

[2021-05-11 01:10] yuwenma commented on #1447
Thank you for the input @marshall007, just a tip for your `kpt live diff/destry` use case, you can try using a tmp dir as an intermediate place to hold the kustomize output before they are "kpt-live" applied to the cluster. e.g.
[code]

[2021-05-11 01:41] mengqiy opened #1959 "Fn render should error when there are multiple resources in a fn config file"
Current behavior: Only the first one is respected and the rest are ignored.

[2021-05-11 05:12] mengqiy opened #1960 "Structured results use 4 spaces indentation in some places"
Structured results use 4 spaces indentation in some places
Here is the code: https://github.com/GoogleContainerTools/kpt/blob/d2dc33fe6c0185df83d82e885907ceefbc62445f/internal/fnruntime/utils.go#L32

</details>
For example:

[code]
</details>
Even though it's valid yaml, this behavior is not consistent with other yaml formatting in kpt.

[2021-05-11 14:56] marshall007 commented on #985
@mikebz thanks, that makes sense regarding the implementation of functions themselves. What I was more interested in is whether or not there was a plan to standardize around the conventions/naming of things. Would you mind commenting on this aspect as well? Examples include:

- despite `Kptfile` being (afaik) a strict superset of the `Krmfile` spec, tooling to manipulate them is completely indepen

[2021-05-11 16:33] mortent opened #1964 "Output from `kpt live preview` and `kpt live apply` can be confusing"
The output from `kpt live preview` includes information about which operation would be performed, but it isn't obvious what the categories mean and the results from `preview` and `live` are different.

The categories and the output is aligned with kubectl, and there are good reasons for why the output will differ between `apply` and `preview`.

We should look into whether there are ways to improve

[2021-05-11 16:35] mortent commented on #1929
Preview is useful for two things:
* Validation of the resources prior to applying any of them. Client-side dry-run does some validation, but this is much more useful with server-side dry-run.
* See which resources will be applied and which resources will be pruned. The example here doesn't have an example of that, but being able to see which resources will be pruned is quite useful. As we implemen

[2021-05-11 16:36] #1940 closed

[2021-05-11 16:59] frankfarzan commented on #1929
This is both a UX issue and documentation issue. For example, no where in our documentation do we explain any of this:

https://kpt.dev/reference/live/preview/

It's not really acceptable to say that's how kubectl works, and users should already be familiar with it. If that's the case, why are we providing this at all instead of directing users to use kubectl? kubectl is the floor, not the ceiling

[2021-05-11 18:03] mengqiy commented on #1892
If there are no AIs here we can close this.

[2021-05-11 18:03] #1892 closed

[2021-05-11 18:35] #1938 closed

[2021-05-11 20:18] mengqiy opened #1969 "Migrate tests in kpt-functions-sdk to use the new kpt"
https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/6d56c218eb8d72b0a56366b7b3927105d4068ec3/.github/workflows/ci.yaml#L107
We should use the new kpt.

[2021-05-11 20:32] Shell32-Natsu opened #1971 "Document changes from `fn run` to `fn eval`"

[2021-05-11 20:51] frankfarzan opened #1973 "formatting changes introduced by `eval`"
[code]

Two issues:
1) Why is `set-namespace` changing the formatting?
2) More importantly: This is a general issue that can happen with arbitrary functions. The current answer is that you should run `render` after `eval`. But then, why not just have `eval` perform formatting as well as a convenience?

[2021-05-11 21:12] mikebz commented on #1937
I see that the page is there.  Do we have other loose ends that we want to wrap up before we close this out?

[2021-05-11 21:28] frankfarzan commented on #1973
But you can have a pipeline with just a validator and `render` would format?

[2021-05-11 22:02] etefera commented on #1606
@mortent Do we have some repro steps with our packages for this?

[2021-05-11 22:11] frankfarzan commented on #1969
We should also get rid of tests that use `docker` directly. We should only use `kpt` CLI.

[2021-05-11 22:33] etefera commented on #1843
@frankfarzan We can use Docsify's built-in helpers for this as well https://docsify.js.org/#/helpers?id=general-tips and https://docsify.js.org/#/helpers?id=important-content
Do those look good to you?

[2021-05-11 23:04] #1843 closed

[2021-05-11 23:53] frankfarzan opened #1976 "Poor error message: `failed to get subpackage`"
Hard to repro, but should be sufficient to fix:

`Error: failed to get subpackage paths: failed to read package at /private/tmp: failed to read package /private/tmp: open /private/tmp/gmacupdater_hylbm4uq: permission denied`

Issues:
- Duplicate messages `failed to read package /private/tmp`
- `failed to get subpackage` shouldn't be the top-level message. (`failed to read package` is more relevant

[2021-05-12 00:10] phanimarupaka commented on #1973
So you say we should format resources as part of eval as well ?

[2021-05-12 00:21] frankfarzan commented on #1976
[code]

Note the stdin token (`-`) was missing, which is going to be a common pitfall.

[2021-05-12 05:16] phanimarupaka commented on #1937
https://github.com/GoogleContainerTools/kpt/pull/1978

@frankfarzan Any other items should be covered by this issue ?

[2021-05-12 05:36] droot commented on #1821
These should be addressed with #1961

[2021-05-12 15:01] mengqiy opened #1980 "Kpt fn eval help text is out of date"
Currently it still shown some `kpt fn run` stuff:
[code]

[2021-05-12 15:01] mengqiy commented on #1980
cc: @droot @Shell32-Natsu

[2021-05-12 15:49] droot commented on #1980
Yes, I am working on it, will send a PR soon.

[2021-05-12 16:23] nonylene commented on #1724
I got the same error,`failed: can't adopt an object without the annotation config.k8s.io/owning-inventory`, while `live preview` and `live apply`, after I've upgraded kpt to 0.38.1 (or 0.39.2) from 0.38.0.

The name and `cli-utils.sigs.k8s.io/inventory-id`  of the inventory ConfigMap  to be applied has not been changed between upgrades. Additionaly, they are also identical with the ones in the liv

[2021-05-12 17:48] frankfarzan commented on #1559
Generalizing this to both `fn render` and `fn eval`. For example, with `eval`, if you have two function configs with same GKNN, you get such an error today:

`"failed to run function: may not add resource with an already registered id: ~G_v1_ConfigMap|~X|setterValues"`

[2021-05-12 17:50] phanimarupaka commented on #1973
Agree. So how about formatting resources as part of eval command as with clear messaging. In the following example, search(without replace) is formatting resources with clear messaging.

[code]

[2021-05-12 17:51] #1635 closed

[2021-05-12 18:15] #1937 closed

[2021-05-12 19:10] droot commented on #1559
Can you share more about the scenario here ? (especially how were you invoking these)
Are these functionConfigs referred in the pipeline ? If yes, then `kpt fn eval` should exclude those by default.  @Shell32-Natsu

[2021-05-12 19:15] frankfarzan commented on #1559
[code]

Where both setters.yaml and setter2.yaml are identical (Same GVKNN):

This succeeds:

[code]

This fails:
[code]

[2021-05-12 21:41] mortent commented on #1903
@fsommar I just verified that this works on the upcoming major release of kpt that we plan to release at the end of q2. There are already a pre-release of this available at https://github.com/GoogleContainerTools/kpt/releases/tag/v1.0.0-alpha.2, but I wouldn't recommend using that for anything other than testing yet.

I'm not sure why this doesn't work for the v0.39.2 release. If this is critical

[2021-05-12 21:48] seans3 commented on #1964
* Specifically, client-side `preview` reports all resources that are `Unchanged` as `Configured`. Basically, client-side preview does not know if an resource will be changed or not. This is an artifact of `kubectl` client-side `dry-run`, and is not easily fixed. Moving to server-side `preview` will fix this problem.
* Objects which are changes are reported as `Configured`. Maybe a better term migh

[2021-05-12 22:24] #1973 closed

[2021-05-12 22:29] phanimarupaka opened #1986 "kpt pkg diff doesn't work with subdirectories in a repo"
### Expected behavior

kpt pkg diff should work with packages which are subdirectories in a base repository

### Actual behavior

Throws error

### Information

### Steps to reproduce the behavior

[code]

[2021-05-12 22:31] phanimarupaka commented on #1986
@mortent @etefera

[2021-05-12 23:34] mengqiy opened #1988 "Functions should complain about unknown keys in the ConfigMap"
Functions should complain about unknown keys in the ConfigMap because it can be a potential typo by the user.

[2021-05-12 23:36] mengqiy opened #1989 "Add examples for functions"
We should add the following examples:
- [x] kubeval:
  - [x] how to use mount in imperative run (https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/619)
  - [x] how to skip kinds in declarative run
- [x] starlark:
  - [x] convert the 3 demos to examples: https://github.com/GoogleContainerTools/kpt/issues/1563 (Done in https://github.com/GoogleContainerTools/kpt-functions-catalog/pu

[2021-05-13 00:43] mengqiy opened #1992 "Make the release names match the path in the repo"
Request from https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/266#issuecomment-831529786

We need to confirm if this approach still work if the function version becomes `v2.0.0+`.
IIRC go require special layout for go modules with major version > 2.

[2021-05-13 00:43] mengqiy commented on #1992
cc: @yhrn and @phanimarupaka

[2021-05-13 01:31] #1929 closed

[2021-05-13 16:34] etefera commented on #1864
Closing since installation docs currently point to working binaries.

[2021-05-13 16:34] #1864 closed

[2021-05-13 16:36] #1939 closed

[2021-05-13 17:04] #1976 closed

[2021-05-13 17:04] #1821 closed

[2021-05-13 17:05] mortent commented on #1572
We do want to overhaul the UX for some of the kpt live commands (tracked separately), but the reference docs have been updated to match the current behavior.

[2021-05-13 17:05] #1572 closed

[2021-05-13 17:05] #1986 closed

[2021-05-13 17:06] #1852 closed

[2021-05-13 17:14] #1494 closed

[2021-05-13 17:24] yuwenma opened #1993 "Move inflate-helm-chart function from contrib to the catalog"
Can we keep the helm-inflator image in repo kpt-functions-catalog?

We used to have that function with helpful docs and examples in
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/contrib/helm-inflator. Some how it is removed

[2021-05-13 17:25] yuwenma commented on #1993
@mengqiy @mikebz

[2021-05-13 17:27] Shell32-Natsu commented on #1993
This is new example location: https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/contrib/inflate-helm-chart

[2021-05-13 18:17] runewake2 opened #1997 "Automate Release Validation"
As kpt releases are published to GitHub we should automatically run tests to confirm the binaries shipped in that release.

[2021-05-13 19:08] #1533 closed

[2021-05-13 19:10] phanimarupaka commented on #1386
Closing this issue as we do not intend to change the behavior in current versions of kpt and is addressed in https://catalog.kpt.dev/apply-setters/v0.1/

[2021-05-13 19:10] #1386 closed

[2021-05-13 19:12] phanimarupaka commented on #1381
Closing this as we do not intend to change this as this is part of bigger problem. This issue is addressed in kpt v1. Entire OpenAPI section is deprecated.

[2021-05-13 19:12] #1381 closed

[2021-05-13 19:14] phanimarupaka commented on #1106
@yhrn Is this issue still relevant considering new function for setters?

[2021-05-13 19:15] phanimarupaka commented on #1051
Closing this issue as it addressed with https://catalog.kpt.dev/apply-setters/v0.1/

[2021-05-13 19:15] #1051 closed

[2021-05-13 19:28] phanimarupaka commented on #988
Setters have gone through major transformation. Please try our the new way to [create](https://catalog.kpt.dev/search-replace/v0.1/?id=examples) and [apply](https://catalog.kpt.dev/apply-setters/v0.1/) setters and provide the feedback.

[2021-05-13 19:29] #270 closed

[2021-05-13 19:30] frankfarzan opened #2000 "Automate release of `nginx` and `wordpress` packages"
Currently (e.g. [1]), this is a manual error-prone process of releasing new versions of these packages:

1. Release version N
2. Make some changes (to demo update)
3. Release version N+1
4. Update the docs from [N-2, N-1] to [N, N+1]

we could overwrite the tags (an anti-pattern) which eliminate step 4, but you still have 1-3

[1] https://github.com/GoogleContainerTools/kpt/pull/1998/files

[2021-05-13 19:36] #735 closed

[2021-05-13 20:00] frankfarzan opened #2002 "`pkg update` formats resources"
Following this doc:

https://kpt.dev/book/03-packages/05-updating-a-package

Notice the change to `ms-tag` introduced.

[code]

Running `render` afterwards is a NO-OP.

[2021-05-13 20:06] mortent commented on #2002
So I think the problem here is really validation. The value `5.6` is illegal in a `ConfigMap`. All keys and values must be strings, so a value such as `5.6` must be in quotes.

[2021-05-13 20:21] frankfarzan opened #2003 "Formatting of `Kptfile` introduced by `eval`"
Following these instructions:

https://kpt.dev/book/04-using-functions/02-imperative-function-execution?id=mutate-meta-resources

You get formatting changes to the `Kptfile`:

[code]

Doesn't `render` format the `Kptfile`?

[2021-05-13 20:28] mikebz opened #2004 "kpt fn eval gives an error: args must have keys and values separated by ="
### Expected behavior
The example works on zsh on MacOS
https://kpt.dev/book/04-using-functions/02-imperative-function-execution

### Actual behavior
error: args must have keys and values separated by =

### Steps to reproduce the behavior

[code]

[2021-05-13 20:31] natasha41575 opened #2005 "kpt fn should time out instead of hanging when Docker is not available"
When `docker ps` hangs, `kpt fn render` also hangs. Kpt fn should never hang, and should time out and throw an error.

The same should be true generally, e.g. if git is unresponsive, etc.

cc @droot

Somewhat related: kpt should show docker progress https://github.com/GoogleContainerTools/kpt/issues/1948

[2021-05-13 20:34] Shell32-Natsu commented on #2005
https://github.com/GoogleContainerTools/kpt/blob/fdecff4640e105408230c830eabcf7c979c66a49/internal/fnruntime/container.go#L38

The timeout now is 5 min.

[2021-05-13 20:34] frankfarzan opened #2006 "Common pitfall: `eval` without explicit hyphen"
One function failing:

[code]

Two functions failing:

[code]

Note output of `set-namespace` is not shown.

[2021-05-13 20:38] frankfarzan commented on #2006
nvm. It's missing stdin `-`.

[2021-05-13 20:39] natasha41575 commented on #2005
5 minutes is a bit long; if there is no response from docker daemon maybe we should time out earlier?

[2021-05-13 20:50] frankfarzan opened #2009 "`fn doc` output and documentation"
1. It's not documented in kpt.dev
2. Output includes usage

[code]

[2021-05-13 21:03] yhrn commented on #1106
@phanimarupaka No feel free close this one.

[2021-05-13 21:22] frankfarzan opened #2010 "output of `eval` with Unix pipe"
[code]

Related comment: https://github.com/GoogleContainerTools/kpt/pull/1981#discussion_r632026952

[2021-05-13 21:40] #1717 closed

[2021-05-13 21:54] phanimarupaka commented on #1106
Thanks

[2021-05-13 21:54] #1106 closed

[2021-05-13 22:42] frankfarzan commented on #2002
The real issue is that this change is introduced by `pkg get` but `fn render` doesn't format/validate. This breaks the intended workflow. Once you render a package, no other commands should introduce additional formatting.

[2021-05-13 22:57] mortent commented on #2002
The cause of this is that `kpt fn render` only reads the Kptfile, but doesn't output the result. So any changes that results from roundtripping the Kptfile into the go struct and back to yaml is not covered.

In this case, reading the Kptfile into the go struct coerces the yaml float value into a string since the type of the ConfigMap property in the Kptfile is `map[string]string`.

[2021-05-13 23:34] frankfarzan commented on #2002
Related to #2003 where `render` doesn't format `Kptfile`.

[2021-05-14 14:38] etefera commented on #2004
Reproducible on bash on Linux as well. The invocation looks incorrect to me in the documentation; the package path should appear before the arguments passed to the function:
`kpt fn eval --image gcr.io/kpt-fn/set-namespace:v0.1 wordpress -- namespace=mywordpress`

[2021-05-14 17:06] Shell32-Natsu commented on #2004
The package name must go before `--`. This is expected bahavior.

[2021-05-14 17:12] droot commented on #2003
The explanation for this behavior is: `render` does not write the meta resources in the package hierarchy, they don't go through the formatting step that we do at the end before writing resources.

In the increased scope for `render`, we need to explicitly do the following:

- Validation of package meta data (we will start with meta resources). Today we only validate `pipeline` section only.
- For

[2021-05-14 17:15] droot commented on #2005
@Shell32-Natsu if remember correctly, `docker ps` was also hanging on your machine. What that means, the command is hanging in the `docker prerequisite check` that we before even running the pipeline. If that's the case, the timeout for that prerequisite check can be made just 5 seconds or something to inform the user.

[2021-05-14 17:28] droot commented on #2006
On thing we can do is to help is to peek at `stdin`. If it has resources in `stdin` and no `DIR` specified, may be abort and throw an error. WDYT ?

[2021-05-14 17:33] Shell32-Natsu commented on #2005
We have 3 docker commands to run when running pipeline

1. `docker image ls`
2. `docker image pull`
3. `docker run`

So the problem here is finding proper timeout value for these commands.

[2021-05-14 17:36] Shell32-Natsu commented on #2006
The problem here is the pipe will mask the error happens in the intermediate commands without `set -o pipefail`.

Resources in stdin and no DIR is a typical use case for `fn source` and `fn eval`.

[2021-05-14 17:52] droot commented on #1661
@Shell32-Natsu lets remove `config` field from the function input in the `pipeline`.

[2021-05-14 17:59] Shell32-Natsu commented on #1661
ACK

[2021-05-14 18:10] Shell32-Natsu commented on #2010
Some discussions in another issue.

https://github.com/GoogleContainerTools/kpt/issues/2006#issuecomment-841393567

https://github.com/GoogleContainerTools/kpt/issues/2006#issuecomment-841397475

[2021-05-14 19:08] frankfarzan commented on #1631
Not all test cases are covered: https://docs.google.com/spreadsheets/d/1V5f1UpL0_WqJPyeFTaR0bR4acCGtoUENYHVvV_HOlrc/edit#gid=1609746542

[2021-05-14 20:22] frankfarzan opened #2015 "Epic: Function Target Selector"
Consider a package A that has subpackages B and C. It should be possible to declare a function F in package A, that operates on resources in:
- A, B, and C (current behavior)
- Only A
- Only B

Generalizing this, a function declaration in the `Kptfile` can have a target selector using different matching criteria:

- Matching a package (example above)
- Matching resources based on a combination of

[2021-05-14 22:02] #1606 closed

[2021-05-14 22:02] #2004 closed

[2021-05-15 20:27] bzub opened #2020 "Support image digest in pipelines"
### Expected behavior

This should work:
[code]
For example `gcr.io/kpt-fn/kubeval@sha256:a2672547b418a57a2b2b41940f96ab4fe78f19851f15c74017ff074bba70c9d9`

### Actual behavior

[code]

### Information

kpt version from next branch: https://github.com/GoogleContainerTools/kpt/commit/810971b0520a07c1398c8f631388677f0ee34890

[2021-05-17 05:12] mengqiy opened #2026 "Parallelize image pulling before running the pipeline"
Current behavior is pull the image only when it's needed.
We should start to pull all the mutators and validators image in parallel before running the pipeline.
As long as the image needed by the current function to be run has been pulled, it can start the execution. There are some synchronization needed between the puller and runner for a function in pipeline.

[2021-05-17 06:14] natasha41575 opened #2028 "fn render invariant: throw error if duplicate resources are detected"
Parent issue: https://github.com/GoogleContainerTools/kpt/issues/1559

`kpt fn render` should fail with error whenever it detects duplicate resource in the input or output of the function in the pipeline

There are two parts to this task:

- [ ] Define when resources should be considered "duplicates" (e.g. are resources allowed to have the same GVKNN if they are in separate subpackages?)
- [ ] Enf

[2021-05-17 13:11] fsommar commented on #1903
@mortent Thanks for verifying! It's not critical for me, so knowing that it's available in v1 is enough.

[2021-05-17 16:26] #1776 closed

[2021-05-17 16:39] Shell32-Natsu commented on #1958
Does this restriction apply to out-place render? @droot

[2021-05-17 17:29] mengqiy commented on #1988
We should have this for both go and ts functions.

[2021-05-17 18:16] #1678 closed

[2021-05-17 18:24] mikebz commented on #2020
thank you for reporting this and trying it out!

I am going to put this into the "fit and finish" milestone unless you are blocked from further testing.  Please advise.

[2021-05-17 18:25] mikebz commented on #2020
@droot heads up

[2021-05-17 18:27] mikebz commented on #2000
@runewake2 given your passion for devops can you please estimate the effort it would take for you to do this?
Gracias!

[2021-05-17 18:30] mengqiy commented on #1988
If we run the following:
`kpt fn eval imperative --image=gcr.io/kpt-fn/kubeval:unstable -- schema_locationnn="somplace"`

It will succeed even though there is a typo in `schema_location`. Because it will use the default value for `schema_location` and ignore the unknown key-value pair in the ConfigMap.

[2021-05-17 18:32] mengqiy commented on #1988
Ideally this can be done in TS and golang SDK.

[2021-05-17 19:00] runewake2 commented on #2000
What is the trigger for a new release that we would like to use? Should any PR which updates these packages immediately trigger a release and update our documentation? How complete we want this automation could have a big effect on the amount of work required.

Making all the changes in this PR https://github.com/GoogleContainerTools/kpt/pull/1998/files automatically when https://github.com/Google

[2021-05-17 20:06] mikebz commented on #2000
I am curious about the overall process here.  Are we looking to release everything all a the same time?  That is attractive for a number of reasons, but maybe too much overhead for things that don't change that much (I am guessing that nginx and wordpress will settle after a while and the churn will be infrequent).

[2021-05-17 20:49] phanimarupaka commented on #2028
Resource identity should be based on GKNN and not GVKNN.
Input should not be checked for duplicates as there could be functions in the pipeline which can change the name of the resource.

[2021-05-17 21:23] droot commented on #1980
This is addressed with #1981

[2021-05-17 21:23] #1980 closed

[2021-05-17 22:14] droot commented on #2028
+1 for both the points.

[2021-05-17 22:21] natasha41575 commented on #2028
@droot I added both points to the doc I shared with you that should address the first part of the task.

Thank you @phanimarupaka!

[2021-05-17 22:28] mikebz commented on #1447
@marshall007 just had more time to think through your scenario.  First of all I want to say that kpt is focused on in place hydration while kustomize by design does out of place hydration.  I think the functionality where one issues commands like `kpt live diff` against a folder that doesn't have fully hydrated config (WET config) poses a few challenges.  I think to be consistent with the rest of

[2021-05-17 22:35] Shell32-Natsu commented on #1783
https://github.com/GoogleContainerTools/kpt/pull/1999 has addressed the last problem here. So close this one.

[2021-05-17 22:35] #1783 closed

[2021-05-17 22:37] #1920 closed

[2021-05-17 22:37] Shell32-Natsu commented on #1557
Close this with #1783 . The only thing remained in m2 is #1915. Please create new issues for bugs or features.

[2021-05-17 22:37] #1557 closed

[2021-05-17 22:38] droot commented on #1958
`out-of-place` render is orthogonal because functions themselves don't write to the filesystem, orchestrator does. `Functions` can recommend (or transform) the location of a resource by changing `path and index` annotations. So this issue is more about what transformations are allowed to `path and index` annotations by functions. Once we define that, orchestrator can enforce that. And Initially be

[2021-05-17 22:49] droot commented on #1559
@frankfarzan @Shell32-Natsu The use-case above reveals another issue. `fn eval` and `fn render` excludes `meta resources` from the input unless specified. So in this case `fn source` whose primary job is to generate input for the function execution should be consistent with `fn eval` and `fn render` and should exclude `meta resources` by default.

[2021-05-17 22:55] droot opened #2033 "`kpt fn source` should handle meta resources similar to `fn eval`"
`fn eval` and `fn render` excludes meta resources from the input unless specified. Since `fn source`'s primary job is to generate input for the function execution, so it should be consistent with `fn eval` and should exclude meta resources by default. Adding a flag to include meta resources can be added later if needed.

/cc @frankfarzan

[2021-05-17 22:56] droot commented on #1559
Filed https://github.com/GoogleContainerTools/kpt/issues/2033 for the `fn source` consistency.

[2021-05-18 04:23] mikebz opened #2037 "kpt.dev should have it's own cert"
### Is your feature request related to a problem? Please describe.
Given the amount of effort that kpt is getting it should have a dedicated certificate.  When I examined the certificate on current kpt.dev I saw `weegl.app`, not sure what weegl.app is I decided to examine it further it seems like kpt.dev is sharing the same cert as many other websites, I doubt any of them are from Google.

[code]

[2021-05-18 08:01] etefera opened #2038 "Derive kptfile schema from golang struct."
We should have a mechanism to surface kptfile's schema using its code as a source of truth.

[2021-05-18 17:57] Shell32-Natsu opened #2039 "`fn render/eval/source/sink` should generate proper error message when there are non-KRM resources"
Example error:
[code]

[2021-05-18 18:14] natasha41575 opened #2040 "Support symlinks in hydration package traversal"
Currently, `kpt fn render` subpackage traversal doesn't follow symlinks.

See lines 7-9 for fn-render in go/kpt-test-cases

cc @droot

[2021-05-18 18:16] mikebz commented on #2040
is this different than #1544

[2021-05-18 18:17] natasha41575 commented on #2040
No sorry. Didn't realize that issue was filed; closing this as a dup and linking the other one in the sheet

[2021-05-18 18:17] #2040 closed

[2021-05-18 18:17] morgante opened #2041 "Support for required function parameters"
I would like a way to mark a function parameter as required in a Kptfile, such that the package consumer must provide their own value for it (no default is available).

Based on setting a parameter as required, I'd like the following features to be possible:
- Machine-parseable, so that we can auto-generate documentation
- Listed as a required customization in any `info` CLI commands
- If I attemp

[2021-05-18 18:20] mikebz commented on #1959
@frankfarzan please advise on the milestone slotting.

[2021-05-18 18:32] mikebz commented on #2041
@phanimarupaka @frankfarzan @droot - heads up, this needs design work.  Originally slotted to post v1 in a conversation with @bgrant0607 but seems like a potential usability speedbump for LZ customers.

[2021-05-18 18:36] morgante commented on #2041
@mikebz We don't necessarily need to block the v1 launch on it, but it's definitely a fast-follow item.

[2021-05-18 18:48] runewake2 opened #2042 "Update kpt fn sdk CONTRIBUTING.md with testing/building instructions"
The https://github.com/GoogleContainerTools/kpt-functions-sdk `CONTRIBUTING.md` should be edited to include instructions for building and running tests during development so there is less friction when beginning to contribute to that codebase. Currently the doc only covers submitting changes, but providing assistance in making initial changes would improve the experience for other members of our t

[2021-05-18 20:29] phanimarupaka opened #2043 "Create library for common utils in kpt functions catalog"
There are common methods which must be maintained as separate utility package in kpt functions catalog to maintain consistency across functions.

Ts example: https://googlecontainertools.github.io/kpt-functions-sdk/api/modules/_types_.html#kuberneteskey

[2021-05-18 20:37] frankfarzan commented on #2043
Common utilities should be provided by the SDK, instead of have a library maintain in the catalog repo.

[2021-05-18 22:39] stefanhenseler opened #2044 "Pattern matching doesn't work with urls and multiple setters"
### Expected behavior

It should be possible to pattern match the following setter:
[code]
${stage} = dev
${id} = id
${domain} = tc.demo-example.com

### Actual behavior

The pattern gets matched like this:

${stage} = dev-id.tc.demo
${id} = example
${domain} = com

this causes the apply-setter function to fail, in a case when only `domain` is set.

[code]

### Information

This could be related t

[2021-05-19 01:17] frankfarzan opened #2046 "TS SDK development should use `eval` with `exec-path`"
https://googlecontainertools.github.io/kpt/guides/producer/functions/ts/quickstart/

Instead of using `source` and `sink`:

[code]

It should be possible to --exec-path

Option 1:  Make *_run.js files executable
------------
a) Add this shebang to all `X_run.js` files:

[code]

b) chmod u+x `X_run.js`

c) run

[code]

Option 2: Make `eval` take additional arguments
------------

Something like:

[

[2021-05-19 05:46] mengqiy opened #2048 "render and eval should have consistent behavior for --results-dir"
Current behavior:
- render complains when the directory provided with `--results-dir` doesn't exist.
- eval doesn't complain.

[2021-05-19 05:46] mengqiy commented on #2048
cc: @droot @Shell32-Natsu

[2021-05-19 17:48] phanimarupaka opened #2050 "Generate resources doesn't work with subpackages"
### Expected behavior

Function which generates resources should generate resource if the function is declared in subpackage Kptfile and invoked through `kpt fn render`

### Actual behavior

Works for root package but fails for subpackage

[code]
### Steps to reproduce the behavior

Add a function which generates resource to Kptfile of subpackage and trigger `kpt fn render` on root package.

[2021-05-19 17:51] frankfarzan commented on #2050
Please add an e2e test for this and include it in go/kpt-test-cases

[2021-05-19 17:54] frankfarzan commented on #2050
@phanimarupaka please add a minimum reproducible test case to https://github.com/GoogleContainerTools/kpt/tree/next/e2e/testdata

[2021-05-19 18:09] mikebz commented on #1375
@karlkfi I want to make sure we addressed the scenario.  If I can summarize what I read previously is that you'd like to replace many locations with one setter value at once.   I believe this is addressed here: https://catalog.kpt.dev/search-replace/v0.1/ but maybe not completely.  Happy to re-engage.

[2021-05-19 18:11] mikebz commented on #1376
@karlkfi can you please try your scenario with kpt `next` build and let us know how you like the output.  Thank you!

[2021-05-19 18:34] phanimarupaka commented on #2050
sure

[2021-05-19 18:49] mikebz commented on #1381
@karlkfi just making sure that we addressed the issue you are bringing up here.  The real problem as I can see is that you don't want your file to be re-arranged for no reason, is that correct?  If so the problem still persist - we do reformat your kpt file, but I am not sure if there is a way to avoid it since Kptfile gets changed as a result of kpt pkg update.

So for instance something that use

[2021-05-19 18:51] mikebz commented on #1383
@karlkfi can you please take a look here https://catalog.kpt.dev/apply-setters/v0.1/ and here https://catalog.kpt.dev/search-replace/v0.1/ ?
Do these functions help your use cases?

[2021-05-19 18:55] mikebz commented on #1405
@karlkfi what is the intent here?  Are you trying to figure out what the config is going to look like after you are done applying the substitutions?

[2021-05-19 18:57] mikebz commented on #1406
@karlkfi

[code]

This is how it works.  LMK if that solves your problem.

[2021-05-19 18:58] mortent opened #2051 "Prepare to switch to 1.0 branch"
We should prepare for the 1.0 branch (`next`) to become the main branch for development. To prepare for that, a few things need to be in place:

- [x] Make sure "old" kpt handles new packages gracefully by providing a helpful error message.
- [x] Make sure 1.0 kpt handles old packages gracefully by providing a helpful error message and directions for how to migrate.
- [x] Cut a new `main` branch f

[2021-05-19 19:09] phanimarupaka commented on #1375
@mikebz That is not the requirement. This needs a custom function which reads the base setters and creates setter patterns for all the field values which have these setters as substring.

Input package:

[code]

[code]

[code]

Transformed resource:

[code]

[2021-05-19 19:54] mikebz commented on #1375
Would using by-value-regex solve the problem here?  Would one just set the regex to be nginx and then have it replaced everywhere it matches?

[2021-05-19 19:59] mikebz commented on #1407
@mortent also would love to hear your opinion for why we decided to go this way.  I wouldn't expect there to be another directory.

Repro steps:
[code]

My expectation would be that the items are in that directory not a subdirectory.

[2021-05-19 20:05] mortent opened #2052 "Kptfile should be formatted based on openapi schema, not lexicographically"
Kptfile should be formatted based on openapi schema, and not lexicographically. This will give us better control of formatting and make sure we can add new fields easier.

[2021-05-19 20:09] mikebz commented on #1424
putting this into post 1.0 bucket for now.  Agreed that being able to get structured output for what the parameters to functions  is useful for scripting.  Let's see if we can get more customer signal to push this up.

[2021-05-19 20:12] mikebz commented on #1591
@karlkfi take a look a the example package:
package-examples/helloworld-set/Kptfile

Content:
[code]

[2021-05-19 20:36] mikebz commented on #2052
relevant to #1381

[2021-05-19 20:41] mikebz commented on #2051
why not M4 when we are about to launch?

[2021-05-19 20:43] frankfarzan commented on #2051
This can be done before release 1.0 as the UX and documentation of 1.0-alpha will surpass 0.38 release before then and we want feedback before 1.0 release.

[2021-05-19 21:30] droot opened #2053 "`kpt fn render` should not display subpkg name if subpkg doesn't contain any pipeline"

[2021-05-19 21:41] frankfarzan opened #2054 "Update catalog functions and the documentation to the latest version of kyaml"
There has been major changes to functions framework in kyaml:

https://github.com/kubernetes-sigs/kustomize/pull/3579

AI(s):
- [x] Migrate catalog functions to use the latest version
- [ ] Update the documentation at https://kpt.dev/book/05-developing-functions/03-developing-in-Go

[2021-05-19 23:07] droot opened #2056 "`kpt fn render` resource name missing in the result items in structured results"
if you run `kpt fn render` on e2e/testdata/fn-render/kubeval-failure, you see the following output. Resource names are missing in the `Results` section. `Stderr` section contains the resource name correctly.

[code]

[2021-05-20 04:57] #1942 closed

[2021-05-20 16:44] #1958 closed

[2021-05-20 18:01] #2003 closed

[2021-05-20 20:06] frankfarzan opened #2063 "Make a release for TS SDK"
We need to release new versions of:

- [ ] `kpt-functions` package (SDK)
- [ ] `create-kpt-functions` package (CLI)
- [ ] TS functions in the sdk repo (e.g. demo)
- [ ] TS functions in the catalog repo (e.g. kubeval

[2021-05-20 20:32] droot opened #2067 "TS SDK labeling example doesn't work"
While [trying out TS SDK](https://kpt.dev/book/05-developing-functions/04-developing-in-Typescript), exploring demo-examples, ran into following issue with running labeling demo.

[code]

[2021-05-20 20:37] phanimarupaka opened #2068 "Format the example configs in the SDK repo"
Format examples in https://github.com/GoogleContainerTools/kpt-functions-sdk.git to avoid unwanted diffs.

[2021-05-20 20:40] phanimarupaka commented on #2052
@etefera Are you working on Kptfile schema ?

[2021-05-20 20:43] etefera commented on #2052
I'm working on presenting it in the documentation, yes, but not the schema itself.

[2021-05-20 21:06] mortent opened #2069 "kpt fn eval --exec should support cmd+args"
Starting with the following resource:

[code]

And I run the label_namespace function:

[code]

The result is:

[code]

The expectation here is that the comment on the `metadata` field should be preserved.

[2021-05-20 21:41] karlkfi commented on #1591
Yeah, AFAICT the new Kptfile pipeline configMap is `[string]interface{}` and accepts any value type without validation by kpt itself. So that moves all input type validation into the function and out of kpt itself.

[2021-05-20 21:51] karlkfi commented on #1375
Regex replace would work, but you'd have to build the regex and call it once for every setter.

What the original script did was broader in scope and worked for all setters all at once.

Hypothetically you could do them all with regexes in a for loop, but it would require parsing the kptfile, which makes it's hard to do in bash or with a cut & paste shell one-liner.

So making it a custom function

[2021-05-20 21:55] karlkfi commented on #1424
This is gonna be complicated if kpt v1 doesn't have a cfg sub-command any more...

Plus there's no more setter descriptions or types...

You can more easily list or get the setters and values with yq from the kptfile, but it still requires yq&jq to be installed...

[2021-05-20 21:56] frankfarzan commented on #1591
The `configMap` field in the `Kptfile` is of type `map[string]string`:

https://github.com/GoogleContainerTools/kpt/blob/next/pkg/api/kptfile/v1alpha2/types.go#L283

Since the `ConfigMap` core resource which is generated and passed to functions has this type:

https://kpt.dev/book/04-using-functions/01-declarative-function-execution?id=configmap