[2020-10-30 21:59] mikebz commented on #1153
@prachirp can you tell me where there are traces of travis in that repo?  I don't see it...
I also checked the function catalog and nothing there either.

Thank you for your help 🙇

[2020-10-31 01:09] prachirp commented on #1153
@mikebz You're right, I also verified that we don't use travis in that repo. 🙂

[2020-10-31 01:09] #1153 closed

[2020-10-31 14:30] igor9silva commented on #962
I can confirm as well.

I'm using Xcode 12 stable. After installing "Command Line Tools for Xcode 12.2 beta **2**", `brew` worked as expected.

[2020-10-31 22:37] mortent commented on #1162
Also in https://github.com/kubernetes-sigs/cli-utils/issues/267

[2020-10-31 22:37] mortent commented on #1161
See also https://github.com/kubernetes-sigs/cli-utils/issues/266

[2020-11-02 14:07] yuwenma opened #1176 "Support enabling network access when using `kpt fn run --fn-path`"
kpt version: 0.36.1

declarative kpt function file
validations/fn.yaml
[code]

hydrated/service.yaml
[code]

Error message:
[code]

I also tried
1. run `kpt fn run hydrated/ --fn-path validations/ --network=true`
2. add "network: true" in the validations/fn.yaml
[code]
3. add "network.required=true" in the validations/fn.yaml like @dflemstr did in issues #334
[code]

None of the above works. I use

[2020-11-03 22:21] abc101 commented on #962
It works for me.

`
$ softwareupdate --list
Software Update Tool

Finding available software
Software Update found the following new or updated software:
* Label: Command Line Tools beta 3 for Xcode-12.2
	Title: Command Line Tools beta 3 for Xcode, Version: 12.2, Size: 440919K, Recommended: YES,
$ softwareupdate -i "Command Line Tools beta 3 for Xcode-12.2"
`

[2020-11-03 23:22] Liujingfang1 commented on #1147
The `descriptor.revision` is for the package revision, it can be a git revision or other revision users set in the Kptfile.

The `descriptor.type` is for the type of the package, it can be `Application`, `Policy` and other values. This is for the gcloud console to show them in the correct page.

[2020-11-04 13:39] MarlonJD commented on #962
Thank you so much. ıt's time saver. Works perfectly.
Here is the page: https://developer.apple.com/download/more/

[2020-11-04 18:05] #1170 closed

[2020-11-04 19:50] frankfarzan opened #1180 "`kpt pkg update` doesn't work from within a package"
This is not shown as a supported flow in --help, but it's expected. We also need to make sure support for relative paths in consistent across all commands (Let's do an audit).

[code]

Output:
[code]

At the very least, the error message should be improve. Currently it reads as a bug in kpt.

[2020-11-04 20:43] frankfarzan opened #1181 "Hermetic helm function"
It's desirable to run functions hermetically and have all dependencies baked in a self-contained docker image. This issue is to explore and design this for helm generator functions.

[2020-11-04 21:40] mortent commented on #1181
This blog post is interesting: https://squaremo.dev/posts/using-helm-with-kpt/

[2020-11-05 04:15] prachirp opened #1182 "Release ts-functions-v0.1.3"
Getting some errors running helm e2e tests related to the refactor. Suspect there's a bug in parsing arguments.

testcase: kpt_helm_template_remote_imperative_expected_args
fetching package example-configs from https://github.com/GoogleContainerTools/kpt-functions-sdk to example-configs
[ERROR] Helm template command results in error: Error: expected at most two arguments, unexpected arguments: bit

[2020-11-05 13:58] fsommar commented on #1176
I can confirm that I'm seeing the same behavior in 0.36.1 where the previously working combination of

[code]

and `--network` flag are no longer working.

[2020-11-05 14:14] fsommar commented on #1048
Another difference I noticed just now is that the Typescript SDK result flattens the resource reference; putting name and namespace on the same level as kind and apiVersion. The Go SDK result, OTOH, follows the same syntax as declaring a resource, nesting name and namespace underneath metadata.

[2020-11-05 14:51] fsommar commented on #1048
The severities in kyaml are `error`, `info`, `warning` as opposed to the other two alternative's `error`, `info`, `warn`.

[2020-11-05 17:20] Shell32-Natsu commented on #1182
What the arguments are you using for the function?

[2020-11-05 17:44] monopole commented on #854
This is being reconsidered from bottom up.

[2020-11-05 17:44] #854 closed

[2020-11-05 18:04] #1086 closed

[2020-11-05 18:04] #1130 closed

[2020-11-05 20:01] prachirp commented on #1182
I just ran e2e tests in kpt-functions-catalog on Mac using kpt 0.35.0

Multiple tests show errors. The error above is in the `kpt_helm_template_remote_imperative_expected_args` test.
`./tests/helm_template.sh`

[2020-11-05 20:45] Shell32-Natsu commented on #1182
Are you using the latest helm function image? I am not sure is it released. I cannot reproduce the issue on my linux.

[2020-11-05 20:49] phanimarupaka commented on #208
@juliandkatz This issue has been addressed. `metadata.name` is set to directory name by default.

[2020-11-05 20:49] #208 closed

[2020-11-05 20:51] phanimarupaka commented on #1180
https://github.com/GoogleContainerTools/kpt/issues/234 is a duplicate of this issue. Will be tracking it with this issue.

[2020-11-05 20:51] #234 closed

[2020-11-05 20:54] phanimarupaka commented on #961
https://github.com/GoogleContainerTools/kpt/issues/248 is addressed with by this new feature and not with setters.

[2020-11-05 20:54] phanimarupaka commented on #248
Will be implemented as part of https://github.com/GoogleContainerTools/kpt/issues/961

[2020-11-05 20:54] #248 closed

[2020-11-05 21:00] phanimarupaka commented on #405
Closing this issue as there is no reply for long and we do not plan to support this feature.

[2020-11-05 21:00] #405 closed

[2020-11-05 21:03] phanimarupaka commented on #322
We are not planning to support this as we will transition to declarative setters soon. https://github.com/GoogleContainerTools/kpt/issues/322

[2020-11-05 21:03] #322 closed

[2020-11-05 21:04] phanimarupaka commented on #366
@mortent Can we close this issue.

[2020-11-05 21:06] phanimarupaka commented on #308
The PR to address this issue is merged. However, we are not planning to expose sync commands to users and as they are not documented, they will be deprecated soon. This functionality will be addressed by https://github.com/GoogleContainerTools/kpt/issues/957

[2020-11-05 21:07] #308 closed

[2020-11-05 21:08] phanimarupaka commented on #301
Agree with mortent here. The error message is clear enough currently.

[2020-11-05 21:08] #301 closed

[2020-11-05 21:10] phanimarupaka commented on #280
This is addressed. In fact, the v1 setters are being deprecated soon and users must use [fix](https://googlecontainertools.github.io/kpt/reference/pkg/fix/) command to migrate setters.

[2020-11-05 21:10] #280 closed

[2020-11-05 21:12] phanimarupaka commented on #462
This has been addressed and released in v0.36.1

[2020-11-05 21:12] #462 closed

[2020-11-05 21:15] phanimarupaka commented on #749
@mortent @frankfarzan @Shell32-Natsu kpt doesn't print global flags now. Can we close this.

[2020-11-05 21:16] phanimarupaka commented on #727
This has been addressed and released.

[2020-11-05 21:16] #727 closed

[2020-11-05 21:17] #729 closed

[2020-11-05 21:19] phanimarupaka commented on #917
This will not be implemented. We would be shifting to declarative setters instead.

[2020-11-05 21:19] #917 closed

[2020-11-05 21:19] prachirp commented on #1182
Good point, I was not using the new image. Let's repurpose this issue. Can you do a catalog ts-functions-v0.1.2 release?

[2020-11-05 21:20] phanimarupaka commented on #1180
https://github.com/GoogleContainerTools/kpt/issues/885 is a duplicate as well.

[2020-11-05 21:20] #885 closed

[2020-11-05 21:24] phanimarupaka commented on #772
Substitutions will not support this. Substitutions will be deprecated soon after search and replace is implemented which will address this functionality. https://github.com/GoogleContainerTools/kpt/issues/961

[2020-11-05 21:24] #772 closed

[2020-11-05 21:26] phanimarupaka commented on #1063
@mortent Can we close this.

[2020-11-05 23:53] #1053 closed

[2020-11-06 05:16] aodinokov commented on #1149
+1 for this question

JFYI:
I've got the similar panic with kpt 0.34.0 **ONLY** when --fn-path containes **at least 1 yaml without fn annotation**.

@yuwenma

this may be not enough :) - it's a bit different case
could you please check that all yamls in kpt-fn/ have fn-annotation?

[2020-11-06 08:21] pallavi10aggarwal commented on #962
bro did it worked with Xcode 12.1 ?

[2020-11-06 09:38] pallavi10aggarwal commented on #962
Hi , I am getting this error when I try to update pods for my project  I am on Xcode 12.1 , macOS Bigsur

viza@ viza-MacBook-Pro EMGuidanceMerge % pod update
/Users/viza/.rvm/rubies/ruby-2.3.0/lib/ruby/site_ruby/2.3.0/rubygems/core_ext/kernel_require.rb:54:in `require': dlopen(/Users/viza/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/x86_64-darwin18/digest/sha2.bundle, 9): Library not loaded: /usr/local/o

[2020-11-06 13:52] aw185176 commented on #581
I am interested in implementing this for our internal usage, but ran into issues because `kpt` won't allow the path annotation to reference directories.  There are quite a few libraries under kyaml and I am not fully up to speed on working with the `RNode` representation of my document.  Assuming that I can write a program which calls `Read` on the ResourceList passed in via stdin, what would be t

[2020-11-06 18:00] Shell32-Natsu commented on #1182
Will try to do it today.

[2020-11-06 18:10] Shell32-Natsu commented on #1176
What you need to do is using `--network` flag with the function config like this

[code]

[2020-11-06 18:12] Shell32-Natsu commented on #1176
Will update the example in the doc.

[2020-11-07 01:04] natasha41575 commented on #1143
This should be fixed by #3159 (see issue #3111), which should change the merge key for service ports to be {port, protocol} according to the openapi schema. But it will still not allow port aliasing if the port has the same port number and protocol.

[2020-11-09 17:48] seans3 opened #1186 "Docs for ResourceGroup inventory object (alpha)"
* Add documentation for the new `kpt live migrate` command.
* Add documentation for new `ResourceGroup` inventory object.

[2020-11-09 18:01] seans3 opened #1187 "Address Feedback from Fishfood for kpt live migrate"
* Address feedback from Fishfood for kpt live migrate
* Includes changing error messages
* Includes fixing bugs

[2020-11-09 18:03] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1177

[2020-11-09 18:07] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1117

[2020-11-09 20:14] natasha41575 commented on #1143
kubernetes-sigs/kustomize/pull/3159 has been merged so this issue is fixed in the underlying kyaml library

[2020-11-09 20:18] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1184

[2020-11-09 20:54] Shell32-Natsu commented on #1182
Done. Please try latest image. @prachirp

[2020-11-09 20:54] #1182 closed

[2020-11-09 21:42] #1143 closed

[2020-11-09 21:50] #1145 closed

[2020-11-10 02:30] prachirp opened #1190 "Address the problem of broken site links"
Broken links on the kpt website is a low hanging fruit for improving the user experience. We should do a presubmit check for broken links on every PR to keep the website healthy.

Some tools: https://github.com/w3c/link-checker

Also consider whether to change all relative links to absolute links to make the markdown documentation clearer.

[2020-11-10 11:22] fsommar opened #1192 "`kpt live apply` creates inventory entries when access is forbidden"
**TL;DR:** `kpt live apply` will add resources it doesn't have access to to its inventory, causing all further interactions with `kpt live` to fail. I'm expecting resources that cannot be created to not be added to the inventory.

In the spirit of including a fully contained background of what's happening, I'll include a section on how to setup Kind to mirror the setup that we're using for our mul

[2020-11-11 06:41] seans3 commented on #1187
https://github.com/GoogleContainerTools/kpt/pull/1194

[2020-11-11 17:50] #1089 closed

[2020-11-11 18:06] Shell32-Natsu commented on #1176
Close this since this is not reproducible and no response from @yuwenma. Please reopen if this still happens.

[2020-11-11 18:06] #1176 closed

[2020-11-11 19:39] droot opened #1195 "Epic: Kpt hydration detailed design"
Write a design document for Kpt Hydration

- [x] Pipeline schema
- [x] Pkg hydration core machinery
- [x] Imperative function run
- [ ] Metafunction support
- [ ] Permission Design
- [ ] Setters Design https://github.com/GoogleContainerTools/kpt/issues/1281
- [ ] CLI UX design

[2020-11-11 19:45] droot opened #1196 "Identify dev lifecycle of a kpt function"
Identify the day0 and day-n steps in the dev/test/publish lifecycle of a kpt function and figure out a way to organize code, unit tests, e2e tests and CI/Publishing pipeline steps.

[2020-11-11 20:21] mortent opened #1197 "Update should merge in upstream changes for each subpackage"
Currently the update logic doesn't consider subpackages, but just merges the file structure. This leads to unexpected results. We should fix this for all the different update strategies and add tests to make sure it works as expected.

[2020-11-11 20:52] mengqiy opened #1198 "Curated function catalog: kubeval"
Catalog: Validation

Implement the kpt fn if it doesn't exist.
Ensure it has:
- [x] Enough test coverage
- [x] CI
- [x] Building and publishing pipeline
- [x] Documentation

kubeval validates k8s and KCC resources against OpenAPI documents.

[2020-11-11 20:53] mengqiy opened #1199 "Curated function catalog: policy-controller-validate"
Catalog: Validation

Migrate function policy-controller-validate from the sdk repo to the catalog repo.
Ensure it has:
- [x] Enough test coverage
- [x] CI
- [x] Building and publishing pipeline
- [x] Documentation

It enforces OPA constraints on input objects. The constraints are also passed as part of the input to the function.

[2020-11-11 20:55] mengqiy opened #1200 "Curated function catalog: remove-public-ip"
Catalog: Policy Transformation

Implement the kpt fn if it doesn't exist.
Ensure it has:
- Enough test coverage
- CI
- Building and publishing pipeline

It removes public IPs from GCP/KCC resources and Services + replace with private IPs

[2020-11-11 20:56] mengqiy opened #1201 "Curated function catalog: generate-gcp-folder"
Catalog: GCP Resource Generation

Implement the kpt fn if it doesn't exist.
Ensure it has:
- Enough test coverage
- CI
- Building and publishing pipeline

It is used to generate a hierarchy of nested GCP folders from a single ResourceHierarchy custom resource configuration.

[2020-11-11 20:59] mengqiy opened #1202 "Support Meta Function"
Meta functions operate on the pipeline declaration.
We need to have a detailed design for it.

[2020-11-11 21:01] mengqiy opened #1203 "Curated function catalog: trusted-functions"
Catalog: Meta

After we have #1202 done, we can implement `trusted-functions`.

[2020-11-11 21:10] mengqiy opened #1204 "Curated function catalog: augment-pipeline"
Catalog: Meta

After we have #1202 done, we can implement `augment-pipeline`.

It can augment the pipeline declared in a package with additional functions

[2020-11-11 21:15] mengqiy opened #1205 "Curated function catalog: set-annotation"
Catalog: Basic Transformation

After https://github.com/kubernetes-sigs/kustomize/issues/3095 is done, we should be able to use the converter to get the fn.
But we still need to have the build and publish pipeline for it.

[2020-11-11 21:16] mengqiy opened #1206 "Curated function catalog: set-label"
Catalog: Basic Transformation

After https://github.com/kubernetes-sigs/kustomize/issues/3095 is done, we should be able to use the converter to get the fn.
But we still need to have the build and publish pipeline for it.

[2020-11-11 21:17] mengqiy opened #1207 "Curated function catalog: set-namespace"
Catalog: Basic Transformation

After kubernetes-sigs/kustomize#3095 is done, we should be able to use the converter to get the fn.
But we still need to have the build and publish pipeline for it.

[2020-11-11 22:04] seans3 opened #1208 "Add e2e test framework for kpt live commands"
* Create an end-to-end test framework which starts an API server to test `kpt live` commands.

[2020-11-12 00:00] seans3 opened #1209 "Validation error when storing zero inventory objects in ResourceGroup custom resource"
To reproduce:

1. `export RESOURCE_GROUP_INVENTORY=1`
2. `kpt live apply <DIR>`
3. `kpt live destroy <DIR>`

Error message:

[code]

[2020-11-12 00:01] seans3 commented on #1209
This error is caused when the CRD validation occurs, noting that the empty `spec.resources` should be a nil array.

The fix is to remove the `spec.resources` field when clearing the inventory.

[2020-11-12 00:01] seans3 commented on #1187
https://github.com/GoogleContainerTools/kpt/issues/1209

[2020-11-12 00:01] #1201 closed

[2020-11-12 00:02] #1200 closed

[2020-11-12 21:42] #1209 closed

[2020-11-13 08:51] SiM07 commented on #962
After update to Big Sur, when I run `brew upgrade` I had an error when install python 3.8.

[code]

To Fixed it, I install `Command Line Tools for XCode 12.2` manually from https://developer.apple.com/download/more/?=for%20Xcode

It's ok after.

[2020-11-13 13:02] wxz896446511 commented on #962
Error: Your CLT does not support macOS 11.0.
It is either outdated or was modified.
Please update your CLT or delete it if no updates are available.
Error: An exception occurred within a child process:
  SystemExit: exit

[2020-11-13 16:22] Jonnaz commented on #962
I have just tested the`Command Line Tools for Xcode 12.3 beta` with success:
[Apple Developer Portal](https://developer.apple.com/download/more/?=Command%20Line%20Tools%20for%20Xcode%2012.3%20beta)

[2020-11-13 18:04] #1126 closed

[2020-11-13 18:33] Liujingfang1 opened #1212 "create a provider for a given *rest.Config"
This is to support the ConfigSync, the kpt live apply library should be able to create a provider for a given `*rest.Config`.

[2020-11-13 20:30] seans3 opened #1213 "ResourceGroup CRD is valid for v1beta1, but not for v1"
Attempting to apply the ResourceGroup CRD to the API server gives the following error when using `apiextensions.k8s.io/v1`:
[code]
This works with `apiextensions.k8s.io/v1beta1`

The ResourceGroup CRD is:
[code]

[2020-11-13 23:21] mortent commented on #1192
I have looked into this and it raises many interesting questions. It did expose a weakness in the polling functionality where an unknown error during the sync phase of the caching reader would cause it to bail out. I have a [PR](https://github.com/kubernetes-sigs/cli-utils/pull/279) to fix this as it is pretty clear it isn't the correct behavior.

But the issue remains even with this change. I thi

[2020-11-13 23:22] mortent commented on #1192
@fsommar Thanks for the detailed description! This is very helpful.

[2020-11-14 14:44] fabb commented on #962
Another solution:
[code]

Thanks `brew doctor` for this hint.

[2020-11-14 15:30] Jonnaz commented on #962
I had tried that.
I would imagine it depends on the version of Xcode installed, I didn't have success with 12.2 but I did with the 12.3 CLT.

Not arguing, just noting the solution may not work for all.

[2020-11-15 21:59] seans3 commented on #1213
/assign @Liujingfang1

[2020-11-16 00:48] seans3 commented on #1192
Hi @fsommar . Thanks for reporting this interesting case. And especially thanks for the very detailed steps to reproduce this problem; that really helps.

There is a bug here. But it is not the one you report. The problem is not that we've stored an item in the inventory that we could not successfully apply. This is a relatively common occurrence that the algorithm is tolerant to. The problem is t

[2020-11-16 10:15] fsommar commented on #1192
Thank you for your responses! The 4-step description helped cement what's happening here for me.

I would prefer that, but we're also resilient to orphaned resources so it wouldn't cause us any direct issues other than a source of confusion for our users. Given our setup, I don't see that scenario ever happening unless we change RBAC for resources already managed in an inventory.

Each apply would

[2020-11-16 17:39] Liujingfang1 commented on #1213
The resourcegroup CRD in `apiextensions.k8s.io/v1` is added in #1215. When kpt installs the ResourceGroup CRD, it needs to check which apiVersion `apiextensions.k8s.io/v1` or `apiextensions.k8s.io/v1beta1` is supported on the API server. Then it installs the proper CRD.

[2020-11-16 17:54] mortent commented on #1213
It is tempting to just use the v1 version since it is almost a year ago since it went GA (1.16).

[2020-11-16 18:00] Liujingfang1 commented on #1213
If we do that, then it will fail on 1.15 clusters. Is that version not officially supported by `kpt`?

[2020-11-16 18:00] #1116 closed

[2020-11-16 18:10] seans3 opened #1216 "Add `install-resource-group` command in live command"
* Add `install-resource-group` command to apply the `ResourceGroup` CRD

[2020-11-16 18:10] Liujingfang1 commented on #1213
I think we need to support 1.15 clusters since GKE supports that version in the stable channel.

[2020-11-16 18:12] #1187 closed

[2020-11-16 22:07] bzub opened #1218 "Some commands fail on YAML that only contains a list"
This produces an error: `wrong Node Kind for  expected: MappingNode was SequenceNode`. Seems like `SequenceNode` should be allowed?

`FieldClearer` and `FieldMatcher` types seem to disallow this.

[code]

[code]

[2020-11-17 00:09] Liujingfang1 commented on #1162
Fixed via #1214.

[2020-11-17 00:09] #1162 closed

[2020-11-17 00:12] seans3 opened #1222 "Crash: kpt live preview fails for ResourceGroup"
* kpt live preview crashes if run before anything has been applied.
* `export RESOURCE_GROUP_INVENTORY=1`
* Happens when ConfigMap is inventory object.

[code]

[2020-11-17 00:24] seans3 commented on #1222
More data on crash:
[code]

[2020-11-17 17:35] Shell32-Natsu opened #1224 "Declarative examples in function catalog e2e test should use proper image tag"
Function catalog e2e tests will use the function config from [examples](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples). These function configs will use latest released image tag `latest` by default. This causes problem when we update the tests or functions but haven't released them. In this case `dev` tag should be used. Meanwhile, in release process, `latest`

[2020-11-17 18:10] #1213 closed

[2020-11-18 07:31] seans3 commented on #1222
Fixed with: https://github.com/kubernetes-sigs/cli-utils/pull/280

Closing

[2020-11-18 07:31] #1222 closed

[2020-11-18 14:39] jlewi commented on #517
Is it possible to ignore files for `kpt live` but not `kpt cfg set`?

My use case is using skaffold GoogleContainerTools/skaffold#3904 and `kpt live`. My kpt package contains a `skaffold.yaml`. I want to use kpt setters inside my skaffold.yaml so I can consistently set the docker image. `kpt live`however will choke on skaffold.yaml unless I include it in the .krmignore file. However, this prevents

[2020-11-18 15:00] Deaniell61 commented on #962
THIS WORKS FOR ME! I install Command_Line_Tools_for_Xcode_12.2

[2020-11-18 15:05] jlewi commented on #542
It would also be nice to support substitutions.

In the event, I find some time to create a PR for this it would be great to know what the desired syntax would be. I might suggest

[code]

Is there existing functions/libraries that can be used to compute actual value of a substitution?

[2020-11-18 18:03] #1146 closed

[2020-11-18 18:36] Lonor commented on #962
Works for me. Reinstall CLT even if it's the latest version.
此方法有效。即使已经是最新的 CLT 了，也需要把文件夹删除干净后重新装，文件签名都是一样的。很诡异。
https://v2ex.com/t/725768

[2020-11-18 22:39] nickolasdeluca commented on #962
this saved my life, thank you kind user.

[2020-11-19 17:04] yhrn commented on #985
Hi, has there been any progress in this area recently?

[2020-11-19 18:00] Liujingfang1 opened #1227 "the type KptFile doesn't work for ConfigSync parser"
The ConfigSync parser works with the interface with a list of functions like `GetName()`, `GetNamespace()`, `DeepCopyObject` and so on. The type `KptFile` doesn't work with this since it uses `yaml.ResourceMeta`. It neither has the function for DeepCopy.

We can either change to use `TypeMeta` and `ObjectMeta` from apimachinery or add those missing functions.

[2020-11-19 18:00] Liujingfang1 commented on #1227
/cc @mortent @seans3

[2020-11-19 18:09] seans3 commented on #1208
https://github.com/kubernetes-sigs/cli-utils/pull/285

[2020-11-19 18:10] seans3 commented on #1208
https://github.com/kubernetes-sigs/cli-utils/pull/284

[2020-11-19 18:14] phanimarupaka commented on #985
We are actively working on Search and Replace functionality which is a prerequisite for this feature https://github.com/GoogleContainerTools/kpt/issues/961 . We plan to deliver this feature early next year. I will keep you posted with updates .

[2020-11-20 06:53] Bobgy commented on #539
/reopen
This is not a duplicate of #510, because this happens when fetching the package.
Also, this error message still shows with `kpt version 0.36.1`.

[2020-11-20 06:55] Bobgy commented on #539
This should in fact be
Duplicate of https://github.com/GoogleContainerTools/kpt/issues/1218

[2020-11-20 06:57] Bobgy commented on #1218
I'm seeing the same error when `kpt pkg get` a package that contains a yaml file which is essentially a list (it was used as a kustomize json patch).
I could workaround the issue by using `kpt pkg get --auto-set=false`, but `kpt cfg set -R` still raise the same exception.

[2020-11-20 08:05] Bobgy opened #1230 "kpt cfg list-setters sometimes cannot find all sub packages"
[code]

what's strange is that if I do
[code]
It shows all the setters for sub packages
[code]

[code]

and FYI, the ignored error for `kpt pkg get` is because of https://github.com/GoogleContainerTools/kpt/issues/1218

[2020-11-20 08:30] Bobgy commented on #1230
In fact, all recurse subpackages feature seem to be broken.
If I try `kpt cfg set -R . xxx xxx`, it also cannot find the sub packages.

[2020-11-20 13:41] jlewi commented on #1230
@Bobgy In the past I've run into issues with kpt not working because we had some files using old style setters (pre KptFile) and that some prevented new style from working.

I wonder if we would hit this bug if we pulled individual kpt packages instead of the entire repo. That might help narrow down which one is breaking things.

[2020-11-21 20:22] CoolONEOfficial commented on #962
On last macOS beta you must install last CLT (`Command Line Tools for Xcode 12.3 beta 1`), CLT 12.2 didn't solve problem

[2020-11-22 02:06] johnothwolo commented on #962
You don't have to reinstall anything, Just create an alias for MacOSX11.1.sdk. The SDKs are all symlinked to MacOSX.sdk. So this command is all you need.
`ln -s /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk`

AND

`ln -s /Library/Developer/CommandLineT

[2020-11-24 11:13] petersonfs commented on #962
I had the lastest version installed, but removing and installing again worked well.

[2020-11-24 22:24] mikebz commented on #391
this issues is best tracked in the kustomize repo. https://github.com/kubernetes-sigs/kustomize/issues/1500

[2020-11-24 22:24] #391 closed

[2020-11-25 15:11] phanimarupaka commented on #1230
@jlewi Thanks for the answer.

@Bobgy Once you find such packages, you can use https://googlecontainertools.github.io/kpt/reference/pkg/fix/ command to migrate the configs.

[2020-11-25 15:14] phanimarupaka opened #1235 "Design proposal for consumption of OpenAPI"
Use Cases for consumption of OpenAPI document, this includes (but probably not limited to):
1. Use by functions require type information (e.g. setNamespace). Such functions also require additional metadata such as ref maps which is related to this discussion.
2. Use by kpt package merging strategies
3. Search/Replace

[2020-11-26 02:18] aodinokov commented on #1151
I agree with that:

I would also explicitly mention the 'security-related' reasoning: we don't want the author of the function to set the absolute path in the user system that would be mounted to the function container. Just imagine that src is set to '/' - that will allow function that works as a Trojan horse to steal some data from the user machine. User isn't supposed to check all function decl

[2020-11-27 03:37] Bobgy commented on #1230
Thanks @jlewi and @phanimarupaka!

That helped! I found the culprit https://github.com/kubeflow/manifests/blob/master/experimental/mirror-images/gcp_template.yaml.

[code]

I hope this could tell where those setters are to debug this problem much easier.

[2020-11-27 03:40] #1230 closed

[2020-11-27 19:45] jlewi opened #1236 "Question: Recommended pattern for dealing with inventory-template files when publishing kpt packages?"
When publishing kpt packages what is the recommended pattern for dealing with the inventory template files?

I can think of two

1. Don't check in the inventory-template files and require users run `kpt live init`
1. Check in the inventory-template file parameterized by kpt setters so that each instance of a package gets a unique inventory file

Any suggestions about which pattern is better?

[2020-11-30 15:09] taisph opened #1239 "Kpt pkg update wipes fields with nulls"
Using `kpt pkg get ... mypkg` gets a package without touching the contents as expected but as soon as that package is updated using `kpt pkg update mypkg --strategy resource-merge` any resource field with a `null` value is deleted - even if there's no actual updates to the package.

kpt version 0.36.1

[2020-11-30 18:04] seans3 commented on #1208
https://github.com/GoogleContainerTools/kpt/pull/1229

[2020-11-30 18:52] seans3 commented on #1208
Closed with previously merged PR

[2020-11-30 18:52] #1208 closed

[2020-11-30 19:05] Shell32-Natsu opened #1240 "Research on KRM Functions Image Usage"
KRM function images are hasted in GCR. We can use the underlying GCS access log to get the image pulling/usage information. An example is [here](https://github.com/salrashid123/gcr_stats).

[2020-12-01 07:41] seans3 commented on #1216
https://github.com/GoogleContainerTools/kpt/pull/1244

[2020-12-01 17:54] Shell32-Natsu opened #1245 "Documentation for set-namespace, set-label, set-annotation functions"

[2020-12-01 17:56] Shell32-Natsu opened #1246 "Distinguish official KRM functions and community functions."
We can have different GCR to hold first-party and third-party functions.

[2020-12-01 18:25] Shell32-Natsu opened #1247 "Determine proper base docker image for functions"
The base image should work for both Go and TS functions in catalog. Currently the `alpine:latest` is used in most functions.

[2020-12-01 19:06] frankfarzan commented on #1236
As the publisher of an upstream package meant to be wildly reused (as opposed to a package customized for a specific team's use), I would recommend approach 1 above. In general, we intend for different functionality in kpt to be decoupled as much as possible. For example, you can take advantage of the packaging functionality, but use a different mechansim for apply (e.g. using `kubectl` or server-

[2020-12-01 19:08] frankfarzan commented on #1236
Please reopen, if this didn't answer your questions. Also feel free to use other channels for questions:

https://googlecontainertools.github.io/kpt/contact/

[2020-12-01 19:08] #1236 closed

[2020-12-01 23:02] #1240 closed

[2020-12-01 23:03] Shell32-Natsu opened #1248 "Remove dependencies on function SDK repo in function catalog e2e test."
Remove `$SDK_REPO` in all e2e tests.

[2020-12-02 00:35] seans3 commented on #1216
Close with merge

[2020-12-02 00:35] #1216 closed

[2020-12-02 12:23] yuwenma opened #1250 "The `helm-template` links are broken"
All "Example", "Source", "Typescript SDK" result in 404 page not found for "helm-template".
https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/generators/#generator-functions

[2020-12-02 12:25] yuwenma commented on #1250
Is [helm-inflator](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/helm-inflator) the new link?

[2020-12-02 18:08] Shell32-Natsu commented on #1250
There is a PR for it https://github.com/GoogleContainerTools/kpt/pull/1226. But we haven't released the helm-inflator yet so the merge is held.

[2020-12-02 19:59] Shell32-Natsu commented on #1246
cc @mengqiy

[2020-12-02 22:06] mengqiy opened #1251 "Use Makefiles to build, test the catalog function images"
This was mentioned in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/123#discussion_r528900499

We should have top-level Makefile that defines the build, test tasks as targets.
For each task, if it can be done in a few lines of shell script, we can inline it. Otherwise, we should have a dedicated script for that task. This applies to not only golang-based fn but also ts-based f

[2020-12-02 22:24] mengqiy opened #1252 "Kpt functions eventually should get their configuration from OpenAPI"
Kpt fn may different configurations depending what their jobs are.
e.g. set-namespace function needs to know what is the path to the namespace field and what resources are namespaced resources.
e.g. set-label function needs to know what is the paths to the labels and selectors fields.

2 things need to be solved before we get there:
- Ability to configure the OpenAPI document used by kpt (design i

[2020-12-03 01:03] Shell32-Natsu opened #1253 "Refactor e2e tests in function catalog"
The data used in e2e tests in catalog repo is distributed in multiple different repos, like kpt and function-sdk. We should centralize these test data, copy or rewrite, into catalog repo.

[2020-12-03 07:16] yuwenma commented on #517
Replied in [GoogleContainerTools/skaffold#3904](https://github.com/GoogleContainerTools/skaffold/issues/3904).

[2020-12-03 18:02] #1207 closed

[2020-12-03 18:03] Shell32-Natsu commented on #1253
This is the blocker for #1248

[2020-12-03 20:05] Liujingfang1 commented on #1227
Using `Unstructured` for Kptfile works. No need to change for this from the kpt repo.

[2020-12-03 20:05] #1227 closed

[2020-12-03 20:09] Shell32-Natsu commented on #1250
helm-inflator has been released and the doc has updated.

[2020-12-03 20:09] #1250 closed

[2020-12-03 21:44] mortent opened #1257 "Resolve inconsistent use of `config.k8s.io` and `config.kubernetes.io`"
We are not consistent in our usage of prefix for annotations. Some places we use `config.k8s.io` while in other places we use `config.kubernetes.io`. We probably can't remove support for any annotations that already exist, but we should decide on which one to use and make sure we always support it.

[2020-12-04 17:26] Shell32-Natsu opened #1259 "Build a simple e2e test tool for function catalog"
Part of #1251. Blocker for #1253

[2020-12-04 18:06] #448 closed

[2020-12-04 18:08] seans3 opened #1260 "Add ResourceGroup CRD installation as pre-step for kpt live apply"
* Adds ResourceGroup custom resource definition as a pre-step for `kpt live apply`

[2020-12-04 19:13] seans3 commented on #1259
Have a look at what `kpt live` uses. It's simple with `createTestSuite` bringing up a cluster with helper functions `assertContains` to check output strings. Contact me if you have questions:

https://github.com/GoogleContainerTools/kpt/blob/master/e2e/live/end-to-end-test.sh

[2020-12-04 19:15] Shell32-Natsu commented on #1259
Thanks, will take a look!

[2020-12-04 21:20] Shell32-Natsu opened #1262 "Reorganize TS functions in catalog"
Now we have 4 TS functions in the functions catalog repo. Per repo structure that we desire, these functions should be put into different directory and make each function self-contained.

Functions:
 - helm-inflator
 - istioctl-analyze
 - kubeval
 - sops

[2020-12-04 21:27] Shell32-Natsu opened #1263 "Remove docs directory from function catalog repo"
Function docs are in kpt repo so remove the docs directory in the catalog repo.

[2020-12-07 19:41] mortent commented on #1257
I suggest we standardize on `config.k8s.io` here, simply because it is shorter.
So all new annotation we add should use this format, and we should make sure all existing annotation also accept this format (possibly in addition to the long form since we don't want to break existing users).

[2020-12-08 01:07] Liujingfang1 commented on #1161
The implementation for continuing on error is done via https://github.com/kubernetes-sigs/cli-utils/pull/286.
There are some follow up changes that need to be done.
- Add e2e test to show it can continue applying when encountering errors  /cc @seans3
- Skip wait tasks for resources that failed in apply https://github.com/kubernetes-sigs/cli-utils/issues/290

[2020-12-08 01:07] #1161 closed

[2020-12-08 01:17] Liujingfang1 commented on #1212
I dig more into the code and figure out a working approach for the current apply library in ConfigSync. It is not necessary to create a provider/applier for a given *rest.Config.

1. When ConfigSync reconciler is run in a pod, the current apply library can set up the incluster kubeconfig correctly.
2. During unit test for ConfigSync, we can bring up a test environment from `controller-runtime`. It

[2020-12-08 01:24] Liujingfang1 opened #1266 "add e2e test for continuing on error"
An example could be Apply two Deployments a, b. Deployment a has some invalid field so it should fail the apply. Deployment b is correctly configured. As a result, we should see the Deployment b is applied and Deployment a is not applied.

/assign @seans3

[2020-12-08 23:37] aodinokov commented on #1151
Just as an example of the previous comment I've drafted the initial commit representing how it should work: https://github.com/aodinokov/kustomize/commit/8a498b32f9fc72e0eca208541c2ce590a8803fcf

[2020-12-09 01:03] droot commented on #235
This will be addressed with kpt pipeline implementation.

[2020-12-09 01:03] #235 closed

[2020-12-09 01:10] mikebz commented on #282
We'd love to learn more about what you are trying to do here.  The use case is not clear.  Please reactivate if it's still relevant.

[2020-12-09 01:10] #282 closed

[2020-12-09 01:11] droot commented on #170
This will be addressed with the docs revamp (and pipeline implementation) targeted for v1.0

[2020-12-09 01:11] #170 closed

[2020-12-09 01:12] droot commented on #408
Seems like this is already addressed. Pl. reopen if required.

[2020-12-09 01:12] #408 closed

[2020-12-09 01:15] mikebz commented on #379
I'd recommend filing an issue in the kustomize repo for this one.

[2020-12-09 01:15] #379 closed

[2020-12-09 04:30] seans3 commented on #1186
https://github.com/GoogleContainerTools/kpt/pull/1269

[2020-12-09 08:28] CurryWurry commented on #506
Please reopen. When using Kustomize patches, you can use inline patches, which is a workaround. However, this does not work when you use a ConfigMapGenerator:

`
configMapGenerator:
- name: web-config
  files:
  - properties/application.yml
`
This will throw an error: "wrong Node Kind for  expected: MappingNode was ScalarNode: value"

[2020-12-09 17:38] phanimarupaka opened #1271 "Refactor cli-utils and kpt to pass around setters openapi schema"
As a follow up to this PR https://github.com/kubernetes-sigs/cli-utils/pull/292, implement passing around the setters schema to cli-utils and kpt.

- [x] Refactor cli-utils
- [x] Refactor kpt

[2020-12-09 18:02] #1263 closed

[2020-12-09 18:57] mortent opened #1273 "Implement per-package update for all merge strategies"
Currently we don't look at package boundaries when updating packages with subpackages. This leads to some surprising results. We should do the merge on a per-package basis for all the four merge strategies:

- [x] resource-merge
- [x] fast-forward
- [x] ~~alpha-git-patch~~
- [x] force-delete-replace

[2020-12-09 19:00] mortent opened #1274 "Improve test coverage of kpt pkg get and verify that it handles subpackages correctly"
We don't have sufficient test-coverage for the `kpt pkg get` functionality. We should add more tests, similar to how we have added test for `kpt pkg update`. In particular, we should make sure we handle subpackages correctly.

[2020-12-09 19:06] mortent opened #1275 "Integrate the sync functionality into the regular get and update commands"
Kpt currently has `kpt pkg sync` and `kpt pkg sync set` commands. These are a bit different than the regular `kpt pkg get` and `kpt pkg update` commands. We want to make it all part of one experience.

[2020-12-09 19:10] mortent opened #1276 "Implement new setter/substitution proposal as part of Search and Replace"
Implement new setter+substitutions proposal as part of the Search and Replace command.

[2020-12-09 21:26] droot opened #1278 "Epic: Implement Pipeline schema"
Following tasks need to be accomplished as part of this umbrella issue:

- [ ] Move the current design (go/kpt-pipeline-declaration) to a kpt repo in design dir
- [x] Pipeline struct and auxiliary structs (KRM function and args) definition #1286 #1288
- [x] Read/Write API for the pipeline struct #1304 #1310
- [x] Validate pipeline schema #1331 #1339
- [x] Unit tests for pipeline I/O
- [ ] Support

[2020-12-09 21:27] droot commented on #1278
/cc @mikebz @mortent @frankfarzan @Shell32-Natsu @phanimarupaka

[2020-12-09 21:29] droot opened #1279 "Umbrella issue: Implement pipeline executor"
Following tasks need to be accomplished as part of this umbrella issue.

- [ ] Core hydration DAG machinery (without setters): This involves reading the pipeline, invoking different function groups, function execution with the args from pipeline, default image path resolution, recursive hydration, resources input/output chains, leaf level hydration etc.
- [ ] e2e test for pipeline executor
- [ ] I

[2020-12-09 21:29] droot commented on #1279
/cc @mikebz @mortent @frankfarzan @Shell32-Natsu @phanimarupaka

[2020-12-09 21:34] droot opened #1280 "Umbrella issue: Implement pipeline-aware function run workflows"
There is significant change in "kpt fn run" workflows with introduction of pipeline construct. Following tasks need to be accomplished:

- [ ] Implement imperative function run (kpt fn run ---)
- [ ] Implement support for metafunctions
- [ ] Utility to generate pipeline from functionConfigs in a pkg
- [ ] Deprecate current workflow for declarative fn run

[2020-12-09 21:42] droot opened #1281 "Design setters and their interaction with kpt hydration"
Setters are an important mechanism to customize a package. With the introduction of `kpt hydration`, how setter values will be propagated in the hydration DAG and what will be the resultant behavior.

Task here is to come up with design that meets the v1 requirements.

[2020-12-10 21:28] mikebz commented on #1047
this is a tracking item for an issue that already has a ticket in the appropriate repo.  Closing here.

[2020-12-10 21:28] #1047 closed

[2020-12-10 21:29] mikebz commented on #915
The related issue in kustomize repo is closed with the PR.  I assume this is done.

[2020-12-10 21:29] #915 closed

[2020-12-10 21:39] mikebz commented on #809
@frankfarzan please reactivate if this is still relevant.

[2020-12-10 21:39] #809 closed

[2020-12-10 21:40] mikebz commented on #776
this is something that should be tracked in the kustomize repo if @monopole feels like this indeed is something that should be deprecated right now.

[2020-12-10 21:40] #776 closed

[2020-12-10 21:47] mikebz commented on #710
Not sure what the goal and context is.  If needed to reactivate I would probably create an issue in the kustomize repo.

[2020-12-10 21:47] #710 closed

[2020-12-10 21:47] mikebz commented on #750
related issue is closed.

[2020-12-10 21:47] #750 closed

[2020-12-10 21:52] mikebz commented on #742
@mortent is this still relevant given the new designs?  If not please close.

[2020-12-10 21:52] mikebz commented on #706
This seems like a tracking issue for work in the kustomize repo.  Closing here.

[2020-12-10 21:52] #706 closed

[2020-12-10 22:01] mikebz commented on #694
Hi @artbegolli I think at one point in time we tracked some kustomize issues in this repo, but that's getting separated.  I wish GitHub had a way to copy that issue there.  @monopole has a similar issue been filed in the kustomize repo?  I don't want to leave this unanswered..

[2020-12-10 22:05] mikebz commented on #660
this is a tracking issue for kustomize, the related issue is closed.

[2020-12-10 22:05] #660 closed

[2020-12-10 22:08] mikebz commented on #425
closing a kustomize issue, from what I understand since kustomize is rolled into kubectl and packaging is explicitly not a part of core kubernetes offering this would be a "won't fix" in kustomize.  Potentially something to look into in kpt packaging and functions.  @frankfarzan @mortent

[2020-12-10 22:08] #425 closed

[2020-12-10 22:14] mikebz commented on #424
Closing this in kpt repo, @monopole  please open a related item in kustomize repo unless the work that @natasha41575 has done recently addresses this.

[2020-12-10 22:14] #424 closed

[2020-12-10 22:15] mikebz commented on #389
closing kustomize issue, please open in that repo if still needed.

[2020-12-10 22:15] #389 closed

[2020-12-10 22:26] monopole commented on #694
kustomize doesn't require apiversion/kind/metadata in a kustomization file, solely for reasons of brevity.

kustomize does allow it however, e.g. https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/kustomization.yaml

[2020-12-10 22:26] #694 closed

[2020-12-10 22:27] seans3 commented on #1260
https://github.com/GoogleContainerTools/kpt/pull/1282

[2020-12-10 22:27] #1260 closed

[2020-12-10 22:28] mikebz commented on #386
Tracked by #1160 for kpt, Kustomize website is currently out of scope since it seems like it's managed on the kubernetes website and this very nice front page exists: https://kustomize.io/

[2020-12-10 22:28] #386 closed

[2020-12-10 22:37] mikebz commented on #1257
Can we possibly standardize on this in the `next` branch?

[2020-12-10 22:47] mikebz commented on #1266
assigning to @runewake2 since I think this is a good ticket to get familiar with e2e tests.

[2020-12-10 23:20] mikebz commented on #1245
I think for future releases I'd probably opt for having documentation as a check box in the main ticket for the function delivery

[2020-12-10 23:24] mikebz commented on #1218
@natasha41575 @runewake2 I'd consider picking up this ticket if you are blocked on one of the bigger tasks.

[2020-12-10 23:30] mikebz commented on #1212
@Liujingfang1 does it make sense to keep this open?  Is the hack above temporary?

[2020-12-10 23:31] mikebz commented on #1205
Kustomize ticket is done now.

[2020-12-10 23:33] mikebz commented on #1199
@mengqiy I have updated the bullet list to a check list.

[2020-12-10 23:34] Liujingfang1 commented on #1212
I think we can close it. The working approach is not a hack. We just need to figure out a proper way for testing this.

[2020-12-10 23:34] #1212 closed

[2020-12-10 23:36] mikebz commented on #1196
What are the remaining items here?  The title seems like a research spike but I think we have done almost all of the documentation already.  Maybe rename and add the list of items that we have done and yet to do?

[2020-12-10 23:49] mikebz commented on #1151
@aodinokov question about your use case - are you trying to do in place transformation of the yaml files in the package?  Are you trying to read/write some other files that happen to be in the same directory.  I am curious what the higher order goal is beyond having access to the package directory and files within.

[2020-12-10 23:54] mikebz commented on #1147
@Liujingfang1 I am a little late to the party but wanted to know how you are planning to use these? Are you looking to do some reporting based on type?  Are you looking to optimize the live apply somehow?

[2020-12-11 00:00] mikebz commented on #1129
@irvifa I'd love to understand exactly what you are trying to do.  Are you running kpt or kustomize ?  What templates are you looking to use?

[2020-12-11 00:05] Liujingfang1 commented on #1147
This is not for optimizing `live apply`. The "type" can be used for displaying purpose in the UI. For example, the ResourceGroup CRs with the "Application" type is shown as applications in the UI.

[2020-12-11 00:06] mikebz commented on #1127
It seems to me that we are moving into this direction by defaulting to execution of the functions in the Docker environment.  Is this a general policy question or a feature request for documentation?  My general sense is that this issue is too broad and probably should be a live discussion.

[2020-12-11 00:06] #1127 closed

[2020-12-11 00:13] mikebz commented on #1111
@mengqiy might this be something you pick up?  I think you have done a lot of the analysis here already.

[2020-12-11 00:16] aodinokov commented on #1151
@mikebz my use-case was "how to provide krm-function I use as generator with some additional files (not necessarily yamls) in the same directory or subdirectory". e.g. helm with some values.yaml to override values.

[Here](https://github.com/aodinokov/noctl-airship-poc/blob/master/packages/test_relativepath/manifests/kustomization.yaml) is the example. And [here](https://github.com/aodinokov/noctl

[2020-12-11 00:17] mikebz commented on #1045
This seems like a kustomize tracking issue and we also have #1257 , please reactivate if this is indeed a unique issue that is not covered and needs to be in `kpt` repo.

[2020-12-11 00:17] #1045 closed

[2020-12-11 00:19] mikebz commented on #1060
@mengqiy feature to keep in mind for when you get to the SDK part of the function work.

[2020-12-11 00:21] mikebz commented on #1026
CC @mengqiy

[2020-12-11 00:27] mikebz commented on #982
@seans3 would the recent ResourceGroup work help with this?

[2020-12-11 00:30] mikebz commented on #981
@natasha41575 @runewake2 interesting issue for either one of you to explore, repro and potentially fix.  Seems to be a very nicely documented bug report.  Thank you @wpwoodjr

[2020-12-11 00:31] mikebz commented on #946
@etefera @mengqiy heads up

[2020-12-11 00:37] seans3 commented on #982
Apologies for the delay in response.

`kpt` is one tool among many which lives in and assumes a gitops world. In this world, the **rollback** is `git revert` and `commit`, along with a `kpt live apply` of the reverted configuration files. Because of this focus, we do not believe **rollback** functionality is properly in scope for `kpt`. I will close this issue after a short amount of time.

[2020-12-11 00:45] mikebz commented on #938
@droot interesting case to consider here

[2020-12-11 00:53] mikebz commented on #925
Could this help? https://docs.renovatebot.com/golang/ - creates a PR but we can obviously reject it?

[2020-12-11 02:13] etefera commented on #921
Swagger and kpt file are referenced from a bad directory: this can be fixed by adding ```<script src="/kpt/js/swagger-ui-bundle.js"></script>
<script src="/kpt/js/swagger-ui-standalone-preset.js"></script>
{{< swaggerui src="/kpt/openapi/kptfile.yaml" >}}``` to https://github.com/GoogleContainerTools/kpt/blob/master/site/content/en/api-reference/kptfile/_index.md

However, the yaml file errors wit

[2020-12-11 16:58] wpwoodjr commented on #982
Thanks for following up

[2020-12-11 16:58] #982 closed

[2020-12-11 18:52] Shell32-Natsu opened #1286 "Pipeline struct and auxiliary structs (KRM function and args) definition"
Part of #1278

[2020-12-11 22:15] mikebz commented on #893
@natasha41575 @runewake2 could be a good issue to take a look at.

[2020-12-11 22:20] mikebz commented on #887
tagging this as a good first issue even though the fix might be fairly involved.

[2020-12-11 22:27] frankfarzan commented on #1151
As pointed out, there are security concerns, and to lesser extend portability concerns here. It’s desirable to be able to run functions hermetically without any privileges; preventing access to the host filesystem and networking (Talking to network also introduces non-determinism which is a separate discussion) . KRM functions are packaged and executed as container containers. By default, function

[2020-12-11 22:43] mikebz commented on #757
@mengqiy

[2020-12-11 22:50] aodinokov commented on #1149
**Seems like it's possible to close that.** I was able to reproduce that with the following command:

[code]

but it's not reproducible with the latest releases.

I'm 100% confident that [these changes](https://github.com/kubernetes-sigs/kustomize/commit/f6c06b58ef217bb2b11f550a03ceeb06ba314dee#diff-44ef94c0103f4881c7d4cf5e2310df164ba8a32904a6030a9a0faf464767354dR297) have fixed that.
Thanks to @S

[2020-12-11 22:56] mikebz commented on #715
thoughts on potentially linking to the other issues in the list?

[2020-12-11 23:00] mikebz commented on #711
would this be documented in the roadmap doc or a milestone?  Regardless I am adding this to the kanban board since we have a good sense of what v1 should look like.

[2020-12-11 23:11] mikebz commented on #764
I think a better tracking is the amount of resources being managed by kpt.  ResourceGroup can provide that kind of accounting.  I would rather have 100 Kptfiles that mattered than 100,000 that were just experiments.  Please re-open if you'd like to chat more about it.

[2020-12-11 23:11] #764 closed

[2020-12-11 23:14] mikebz commented on #1149
Thanks for the help and detailed validation @aodinokov .  I am going to close this.  If anyone has a new repro in a later release of kpt please reopen!

[2020-12-11 23:14] #1149 closed

[2020-12-12 04:36] mikebz commented on #544
#1107 is related.

[2020-12-12 05:08] mikebz commented on #407
I think this is a large task which has been described in the roadmap here: https://github.com/GoogleContainerTools/kpt/blob/master/docs/ROADMAP.md, has a number of tasks already created and is also reflected in the kustomize tasks as well.  I believe a better way to track this is going to be to create a milestone.

[2020-12-12 05:08] #407 closed

[2020-12-12 05:19] mikebz commented on #267
I am not sure how this would work.  What would be an example of such a package?

[2020-12-12 05:27] mikebz commented on #247
is this duplicate of #708 since the ResourceGroup can be used as a library?  @seans3

[2020-12-12 05:32] mikebz commented on #214
@etefera please check out this issue and let's make sure that the new help website has a better rendering.

[2020-12-14 13:30] taisph opened #1297 "error: yaml: mapping values are not allowed in this context when setting a value that ends with ":""
When I attempt to set a value that ends with ":" like below, I get the error "error: yaml: mapping values are not allowed in this context".

[code]

The value is used in a deployment manifest environment variable like below, which is perfectly valid.

[code]

Attempting to quote the value given to kpt adds the quotes to the env value as well, causing the app consuming the value to complain.

kpt v

[2020-12-14 19:10] mengqiy opened #1298 "Licenses Checking in Kpt Fn CI"
We should use license checker for [ts](https://github.com/google/js-green-licenses) and [golang](https://github.com/google/go-licenses)

[2020-12-14 19:11] mikebz commented on #1298
Sounds good to me.

[2020-12-14 19:13] mengqiy opened #1299 "Dependency Vulnerability Scanning in Kpt Fn CI"
We should have dependency vulnerability scanning in kpt fn CI.
We can probably use [Snyk](https://snyk.io/).

[2020-12-14 19:47] mikebz commented on #1297
@natasha41575 @runewake2 can one of you take a quick look at this and see if this repros for you?

[2020-12-14 19:47] mikebz commented on #1297
the issue here might be in the lower level libraries that kpt is using.

[2020-12-15 16:50] phanimarupaka opened #1303 "Implement new version of kpt cfg set and deprecate substitutions"
Implement new version of kpt cfg set and deprecate substitutions

- [x] Implement new version of setters
- [x] Implement new version of substitutions using setter patterns
- [x] Deprecate substitutions

[2020-12-15 18:44] #1286 closed

[2020-12-15 18:46] Shell32-Natsu opened #1304 "Read/Write API for the pipeline struct"
Part of #1278

[2020-12-15 19:54] nan-yu opened #1305 "Kpt-function: set-namespace fails when running without `--fn-path`"
The set-namespace go function was [updated](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/go/set-namespace) 2 weeks ago, but no image was published.

The latest update works fine with `--fn-path`, but fails without the flag.

Here is how to reproduce the issue:
1. publish the image to a docker registry, e.g. `gcr.io/nanyu-gke-dev/set-namespace-test-new`
2. upd

[2020-12-15 20:41] Shell32-Natsu commented on #1305
Good catch! Thanks.

The error is from `api` module in kustomize, not the function itself. The root cause is kustomize resource factory will drop the resources which has annotation `config.kubernetes.io/local-config` and complain if there is no resource. We will need to fix it in kustomize.

[2020-12-16 00:25] seans3 opened #1306 "Regression: pruning fails for ResourceGroup inventory object"
* After a recent PR: https://github.com/kubernetes-sigs/cli-utils/pull/291, pruning fails for `ResourceGroup` inventory object after migration.

Steps to reproduce:
1. set environment variable `export RESOURCE_GROUP_INVENTORY=1`
2. start/restart cluster with kind: `kind delete cluster; kind create cluster`
3. setup the "app": `cp -f e2e/live/testdata/template-rg-namespace.yaml e2e/live/testdata/mi

[2020-12-16 00:26] seans3 commented on #1306
/assign @Liujingfang1

[2020-12-16 00:38] Liujingfang1 commented on #1306
Since the `owning-inventory` annotation is added, we need to update the value for this annotation during migration.

[2020-12-16 15:19] #1271 closed

[2020-12-16 18:55] natasha41575 commented on #1297
issue is reproducible, I'm looking into it

[2020-12-16 19:07] seh commented on #506
Using inline patches also doesn't work if you want to inject a setter or substitution into the patch content, since the patch is stated as a string value when specified as an inline patch. _kustomize cfg set_ doesn't look **inside** such strings to find interpolation placeholder comments.

@pwittrock, can you please reopen this issue?

[2020-12-16 22:19] Liujingfang1 opened #1309 "kpt live apply need to add owning-inventory annotations to resources"
Recently we added `InventoryPolicy` in cli-utils. As a result, for a new package being applied, the owning-inventory annotations are added.

For a package that is applied by previous version of `kpt live apply`, which doesn't add annotation, we need a migration step for those resources. We use the `managed-by` label to tell if an inventory object has applied by the new version of kpt. If this labe

[2020-12-16 22:19] Liujingfang1 commented on #1309
/cc @mortent @seans3

[2020-12-16 22:45] mikebz commented on #1251
@Shell32-Natsu looks like you moved the issue to Done but didn't close it.  is it closed?

[2020-12-16 22:45] Shell32-Natsu commented on #1251
Yes. I thought it will be automatically closed if I moved it to done.

[2020-12-16 22:45] #1251 closed

[2020-12-17 14:00] fsommar opened #1312 "KPT live apply assumes no status is successful"
We've seen instances where `kpt live apply` assumes that a resource is successfully created and reconciled, when in reality it is not. What I believe happened was that the resource was created and due to a controller slowdown, the status subresource was never set. Thus, without any status field, KPT assumes the resource to have been successfully reconciled. Normally the status subresource would be

[2020-12-17 17:56] mikebz commented on #1312
@seans3 @mortent you are the experts here I believe.

[2020-12-17 18:31] mortent commented on #1312
@fsommar So the challenge here is that `kpt live` doesn't have any way to discover which conditions (if any) are used by a resource. The openapi schema can tell us whether the resource has a `conditions` field in the status object, but it doesn't contain information about which conditions will be set by the controller or the semantics of those conditions.

So what `kpt live` does today, is to assu

[2020-12-17 18:41] phanimarupaka commented on #36
3-way merge conflicts are handled while updates.

[2020-12-17 18:41] #36 closed

[2020-12-17 18:50] phanimarupaka commented on #243
1 was due to the format step after update which was fixed a while ago.
resource-merge already takes care of 3-way merge and other requests are not relevant in the current context.

[2020-12-17 18:50] #243 closed

[2020-12-17 18:51] phanimarupaka commented on #259
In this case, we decided upon preserving local value.

[2020-12-17 18:51] #259 closed

[2020-12-17 18:54] phanimarupaka commented on #262
I don't think we are moving in this direction. We stopped adding commands more commands and wrapping functionalities(like set-namespace) into functions. Since the command group is not scaling up(in fact it will be scaling down as we remove grep and create-subst etc.) we will not split the commands further.

[2020-12-17 18:54] #262 closed

[2020-12-17 19:01] phanimarupaka commented on #325
We will not be implementing composite setters. Instead we will be supporting this functionality by setter aliases.

[2020-12-17 19:01] #325 closed

[2020-12-17 19:05] phanimarupaka commented on #736
This is being tracked here. https://github.com/GoogleContainerTools/kpt/issues/1303

[2020-12-17 19:05] #736 closed

[2020-12-17 19:06] phanimarupaka commented on #731
We will be getting rid of substitutions soon. So we need not implement this.

[2020-12-17 19:06] #731 closed

[2020-12-17 19:10] phanimarupaka commented on #715
Setters related part is addressed here. https://github.com/GoogleContainerTools/kpt/issues/859

[2020-12-17 19:10] #715 closed

[2020-12-17 19:13] phanimarupaka commented on #686
Assuming the issue has been resolved by its duplicate https://github.com/GoogleContainerTools/kpt/issues/794. Closing this as there is no response.

[2020-12-17 19:13] #686 closed

[2020-12-17 19:15] phanimarupaka commented on #617
This will be implemented as part of search and replace command which is being tracked here. https://github.com/GoogleContainerTools/kpt/issues/961

Marking this as a duplicate.

[2020-12-17 19:15] #617 closed

[2020-12-17 19:18] phanimarupaka commented on #1107
This feature has been implemented and released. https://googlecontainertools.github.io/kpt/concepts/setters/

[2020-12-17 19:18] #1107 closed

[2020-12-17 19:22] phanimarupaka commented on #544
@mikebz This is more related to declarative setters which is being tracked here. https://github.com/GoogleContainerTools/kpt/issues/1051

Marking this as duplicate.

[2020-12-17 19:22] #544 closed

[2020-12-17 19:29] phanimarupaka commented on #473
I think we are clubbing 2 different use-cases here.
1. User does kpt pkg init when they want to create a package on local and publish it.
2. Population upstream information is done by `kpt pkg get` which is a consuming use-case.

Initializing with upstream is not straight forward as there are some additional information which user should pass such as directory, tag etc. I think we should keep cons

[2020-12-17 19:29] #473 closed

[2020-12-17 19:32] phanimarupaka commented on #742
@mikebz Yes. Search and Replace(https://github.com/GoogleContainerTools/kpt/issues/961) in combination with deprecating substitutions(https://github.com/GoogleContainerTools/kpt/issues/1303) would solve this.

[2020-12-17 19:32] #742 closed

[2020-12-17 19:33] #749 closed

[2020-12-17 19:34] phanimarupaka commented on #1033
@mortent Isn't `resource-merge` the obvious choice?

[2020-12-17 19:36] phanimarupaka commented on #930
We are not planning to add one. We will be deprecating the command soon.

[2020-12-17 19:36] #930 closed

[2020-12-17 19:49] mortent commented on #1063
Why are we closing this one? It isn't a high priority, but it seems like an actual bug.

[2020-12-17 19:57] phanimarupaka commented on #1063
Closed as there was no response and assumed it was fixed.  Reopening

[2020-12-18 06:54] sbellan opened #1313 "Package Publishers"
The command in the image says `kpt init` but the correct command is `kpt pkg init`

<img width="613" alt="image" src="https://user-images.githubusercontent.com/428882/102584172-c51c6800-40ba-11eb-931a-fbde4128821b.png">

[2020-12-18 09:20] fsommar commented on #1312
@mortent Using the `observedGeneration` pattern would avoid the race since `kpt live` looks up the structure of the resource to determine whether it has a `status.observedGeneration` field? If that's already the case, then I believe we can close this and follow up on the changes for KCC elsewhere.

[2020-12-18 17:39] mikebz commented on #1313
@etefera can you please take a look and fix?

[2020-12-21 19:33] etefera commented on #1313
Thanks for noticing! There's a PR out now to fix that.

[2020-12-22 18:52] #1304 closed

[2020-12-23 08:36] jstrachan opened #1319 "create arm64 binary"
any chance we could have a `kpt` binary release for arm64 too please?

[2020-12-23 16:14] mikebz commented on #1319
@runewake2 is this something you can help with?

[2020-12-23 18:53] Shell32-Natsu commented on #1319
Here is the PR that added ARM builds to kustomize https://github.com/kubernetes-sigs/kustomize/pull/3088

[2020-12-23 18:56] mortent commented on #1319
I created a PR to add arm64 arch to goreleaser: https://github.com/GoogleContainerTools/kpt/pull/1320

[2020-12-23 20:31] natasha41575 commented on #1297
This has been fixed in the underlying kyaml library and will be available in the next release.

[2020-12-23 20:31] #1297 closed

[2020-12-27 13:00] msonnleitner opened #1323 "Handling of hidden directories in kpt get"
When using `kpt pkg get` it seems that hidden directories are ignored.

As an example, I tried to include some Github Actions into a package, which are by convention located in `.github/workflows`. Locally it works without problems, as Github workflow files are just YAML files, which can be used and edited with `kpt`

So I have two issues:

- As I am new to kpt, I thought it might be good idea to

[2020-12-28 16:14] msonnleitner commented on #506
I was also hitting that issue.
I also don't think that this is resolved, please reopen

[2020-12-28 16:31] #1313 closed

[2020-12-28 21:03] mortent commented on #1323
@msonnleitner There shouldn't be any reason why files in `.github/workflows` should be ignored, so I think this is a bug. I will take a look.

[2020-12-28 21:10] mortent commented on #1312
@fsommar Yeah, kpt do check the `observedGeneration` field on the resource.

[2020-12-28 21:10] #1312 closed

[2020-12-29 07:05] msonnleitner opened #1324 "Kpt and kustomize json patches don't work"
I have created a demo repo which can be used to reproduce this.

`kpt pkg get https://github.com/msonnleitner/kpttest@kpt-kustomize-patch-issue patch-issue
`
results in

fetching package / from https://github.com/msonnleitner/kpttest to patch-issue
error: [ROOT]/kpt-consumer/patch-issue/kustomize/components/cors/add-cors-policy-to-virtual-service.yaml: wrong Node Kind for  expected: MappingNode wa

[2020-12-29 07:14] msonnleitner commented on #1323
added a repo to reproduce if needed

[2020-12-29 15:17] yanniszark commented on #1114
@mortent I also encountered this issue when trying to vendor a third-party Helm chart. In my case, I actually want to vendor the Helm chart, not ignore it, in order to then use it with kustomize HelmInflator. This seems like a use-case `kpt` could support, so does it make sense to allow it by relaxing this check in `kpt pkg get` (maybe with a flag?).

[2020-12-29 17:30] mikebz commented on #1324
@etefera any chance you can take a look at this?

[2020-12-30 12:41] yanniszark opened #1326 "kpt pkg get single files"
### Problem

Certain projects distribute installation manifests as YAML files in release artifacts.
For example: https://github.com/knative/serving/releases/v0.19.0

I would like to still take advantage of `kpt pkg get` in order to track the upstream source.

[2020-12-30 17:10] mikebz commented on #1326
@yanniszark let me ask you a few questions:

1) are these files stored in some directory in a git repo?  I looked a round a bit but didn't find an obvious location where they are all located.
2) are you looking to change those files or file contents somehow or just deploy all of them together?

Thanks!

[2020-12-30 21:50] mortent opened #1327 "Kpt live events is not consistent across prune, delete and apply"
The hierarchy of events that are used to notify clients of progress during apply/prune/delete seems to have some inconsistencies between prune/delete and apply. For apply events, any errors are signaled using the `Operation` field, while for prune/delete errors are signaled with the `PruneType`/`DeleteType` field. It seems like we should try to be consistent here.

@Liujingfang1

[2020-12-31 15:02] neuromantik33 opened #1328 "Unable to use live apply with PersistentVolumes"
Hello,

I'm testing a package deployment on microk8s with manually created persistent volumes. But when executing `kpt live apply app/ --reconcile-timeout=10s` I get the following output:

[code]
However checking the resources everything checks out
[code]
Any help would be much appreciated.

Nicolas

[2020-12-31 15:08] neuromantik33 opened #1329 "Crash: kpt live apply fails for output table"
When executing `kpt live apply app/ --reconcile-timeout=10s --output table`, kpt crashes with the following error message:

[code]
This does not happen when using the default event output however. Could this be related to another issue I've created #1328 ?

Thanks in advance

Nicolas

[2020-12-31 17:11] yanniszark commented on #1326
The YAML installation files are included in the release downloads. AFAIK, releases are a GitHub thing, based on git tags, where GitHub lets you attach downloads. The final YAMLs are generated with a script: https://github.com/knative/serving/blob/master/hack/generate-yamls.sh
https://github.com/knative/serving/tree/master/config

I want to use those files and possibly make my own customizations on

[2021-01-05 18:12] #1196 closed

[2021-01-05 18:16] #711 closed

[2021-01-05 19:53] Shell32-Natsu opened #1331 "Validate pipeline schema"
Part of #1278

[2021-01-05 20:37] droot opened #1332 "Implement `kpt pipeline run` command"
This is part of https://github.com/GoogleContainerTools/kpt/issues/1279.

[2021-01-05 20:38] droot commented on #1332
There is a work-in-progress PR for getting a basic implementation in place https://github.com/GoogleContainerTools/kpt/pull/1321

[2021-01-05 21:27] droot commented on #884
We are introducing a better way of running functions in a declarative way in 1.0. Assigning this bug to 1.0 milestone to ensure we verify this use-case with 1.0 release.

[2021-01-05 21:29] mikebz commented on #882
@runewake2 can you take a look?

[2021-01-05 21:31] droot commented on #884
Thought some more and realize this bug will not be relevant with 1.0 because we will be moving away from the `ConfigMap` to specify which functions to run.

[2021-01-05 22:00] droot commented on #938
@mikebz yes, this is going to be common occurrence if one is using generator function so de-duplication will address most of the cases we care about. Marking it 1.0 for now.

[2021-01-05 23:03] droot commented on #972
I agree: this has been reported quite often. Since this will involve breaking change, this makes it a good candidate for 1.0 milestone.

/cc @frankfarzan

[2021-01-06 19:09] natasha41575 commented on #1218
@bzub Can you describe a use case for having a yaml file that is only a list, and what you expect the output to be? For now kpt parses all yaml files as kubernetes resources which is why the error is occurring.

One quick alternative to get around this error is to rename the file so that it doesn't have a yaml extension (this way, kpt will ignore it). In the future there may be a way to add files

[2021-01-06 19:45] seh commented on #1218
Such top-level lists arise in JSON Patch files written as YAML. It's necessary to place such patch definitions in files separate from a _Krmfile_ or _Kptfile_ file in order to use setters and substitutions in the content of the patch.

See #510 and  #1324 for more of that story.

[2021-01-06 20:03] Shell32-Natsu opened #1333 "Support for resolving the default image path for kpt functions"
Part of #1278

[2021-01-06 20:04] Shell32-Natsu opened #1334 "Implement support for docker function execution"
part of #1279

The docker runtime implementation will be put in kpt repo instead of kyaml

[2021-01-06 21:02] #1306 closed

[2021-01-06 22:12] natasha41575 commented on #1324
@etefera @mikebz @phanimarupaka this is a duplicate of #1218

[2021-01-06 22:50] mikebz commented on #1324
should we close this issue and possibly add the example from @msonnleitner there?

[2021-01-07 00:42] natasha41575 commented on #1324
@etefera had some ideas and is looking into whether or not it's the same underlying issue

[2021-01-07 00:45] etefera commented on #1324
We were able to repro this error and are investigating the best way to go about implementing the missing `SequenceNode` functionality in the `kustomize` repo.
@msonnleitner In the meantime, would changing the operation in https://github.com/msonnleitner/kpttest/blob/kpt-kustomize-patch-issue/kustomize/components/cors/add-cors-policy-to-virtual-service.yaml to replace and having the entire `http` n

[2021-01-07 05:28] mikebz commented on #1326
Thank you for the context.  Under the hood kpt uses git to grab files.  I haven't seen a way to use the git interface to get files from a release.  if you have found a way we can see how to use that.  So if there was a way get the artifacts that you are looking for from the command line using git binary - that's a small delta to what we currently support.

The alternative is to grab the relevant d

[2021-01-07 08:32] msonnleitner commented on #1324
@etefera Well I guess it would not suffice but then I again, I am currently evaluating kpt, so I currently don't need work arounds...

[2021-01-07 13:30] sidpalas opened #1337 "gcloud.core.project autosetter failing in v0.36.x and v0.37.x"
I was trying to use kpt as a part of the kubeflow setup (https://www.kubeflow.org/docs/gke/deploy/management-setup/) and ran into some errors associated with the gcloud.core.project autosetter.

Specifically, this command:
[code]

returns the error:
[code]

Reverting to v0.35.0 fixes this error.

This is my first time using `kpt`, so hopefully it is not just user error on my part!

[2021-01-07 17:29] mikebz commented on #1329
Thank you for reporting.  We'll have someone take a look.

[2021-01-07 18:33] #1305 closed

[2021-01-07 19:03] phanimarupaka commented on #1337
@sidpalas Are you on the latest version on kpt ? Make sure you are using v0.37.1 https://github.com/GoogleContainerTools/kpt/releases/tag/v0.37.1

[2021-01-07 19:12] sidpalas commented on #1337
Hi @phanimarupaka -- I am on `v0.37.1`:

[code]

[2021-01-07 19:34] phanimarupaka commented on #1337
@sidpalas Strange. I am on the same version on kpt but not able to reproduce it.

[code]

I think this might be because of some issues with environment. Can you restart your shell and try again.

[2021-01-07 20:21] sidpalas commented on #1337
Hmm... I just reinstalled from source with:

[code]

and used that binary and got the same error...

I'm on MacOS Catalina 10.15.7 in case that matters.

[2021-01-07 21:21] mikebz commented on #1160
Preview is here: https://kpt-dev-ee2a9.web.app/

[2021-01-07 22:01] mikebz commented on #1202
adding also area/hydrate because this I believe affects both.
cc @droot

[2021-01-07 22:15] mikebz commented on #1328
@seans3 is this something you can take a look at?

[2021-01-07 22:25] phanimarupaka commented on #1337
@sidpalas Can you try the following and see if it works fine.

`kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management/instance@v1.2.0 ./`

[2021-01-07 22:37] sidpalas commented on #1337
Hi @phanimarupaka -- that does work without issue!

However, it only gets the content in the `/management/instance` subdirectory. Here is a comparison of the file tree:

[code]

[2021-01-07 22:44] phanimarupaka commented on #1337
@sidpalas Yes. I am trying to debug the issue on your end. Can you paste the output of this command.

`printenv | grep KPT`

[2021-01-07 22:46] sidpalas commented on #1337
No environment variables are returned when I run `printenv | grep KPT`

[2021-01-08 00:36] phanimarupaka commented on #1218
@bzub kpt can only parse and process valid Kubernetes Resource files. Since the file has .yaml extension and is not a valid kubernetes resource, you must intimate kpt to not parse it by creating a file with name .krmignore in the package directory and add the file name`(list_only.yaml)` to it. This way, kpt ignores the file and leave it untouched.

@Bobgy The remote package in github should have .

[2021-01-08 00:50] seh commented on #1218
I'm not using _kpt_ here, though; I'm using _kustomize_, and it suffers from the same problem. Why would you assume that all YAML files are Kubernetes resources if they're not mentioned as values in the "resources" field of a _kustomization.yaml_ file?

[2021-01-08 00:53] seh commented on #1218
Also, we should be able to interpolate patch files; there's no other way to use a setter- or substitution-injected value as a key in a mapping entry. This comes up when building up annotations and labels whose keys are predicated on some injected value, though not always in "metadata.labels" or "metadata.annotations" fields.

[2021-01-08 01:03] phanimarupaka commented on #1218
@seh I would say it is a limitation with kpt/kustomize the way we parse and track the yaml file nodes. This is more of implementation detail but trying to explain here.

When kpt/kustomize reads the the files to process, it adds path(file path) and index(index in case there are multiple yaml nodes in a file) annotations to those yaml nodes in order to know where to write them back. If there is onl

[2021-01-08 01:06] seh commented on #1218
Thank you for the explanation.

Not knowing the trouble you've been through, has the team considered an approach of storing such a top-level list internally as a mapping, with a sentinel type or annotation that says, "This is a placeholder, where the file content is the value of the 'data' field," or something to that effect? That is, during file output, you wouldn't write the whole object in that

[2021-01-08 01:12] phanimarupaka commented on #1218
We have considered that approach of storing such metadata separate from actual nodes in memory, but it would not work well if the output is piped though chain of kpt commands(e.g. kpt fn source | kpt fn run| kpt fn sink). Adding such information to yaml node itself has been more robust solution so far.

I would recommend you to have one of the work arounds to solve this problem in your case, may b

[2021-01-08 01:20] seh commented on #1218
If we were able to apply setters and substitutions _inside of string values_, I'd be satisfied. Here's where it comes up: Say that inside of my _kustomization.yaml_ file, I have a "patches" field entry, and I want to use an inline patch definition. That's a string mapping entry value:
[code]
If I could annotate that patch somehow to tell _kustomize_ or _kpt_ to parse that string as YAML,  interpol

[2021-01-08 06:08] Bobgy commented on #1218
Thanks! .krmignore will be enough for my current use-case

[2021-01-08 17:46] phanimarupaka commented on #1218
@seh So summarizing your request...

If you start with

[code]

and do

`kpt cfg create-setter . some-json-pointer placeholder`

The output should be

[code]

and later on

`kpt cfg set . some-json-pointer new-placeholder`

should give output

[code]

[2021-01-08 17:55] seh commented on #1218
Yes, you have understood me perfectly.

We would need some way to indicate that that "patches[0].patch" value is not "just a string," but rather a YAML document that's in need of interpolation.

By the way, I forgot to mention it yesterday, but people may also have YAML documents (including those with a top-level sequence) that are not Kubernetes manifests as input to things like the _ConfigMap_ a

[2021-01-08 18:04] phanimarupaka opened #1342 "kpt/kyaml doesn't parse yaml sequence nodes correctly"
The following is expected workflow

@seh So summarizing your request...

If you start with

[code]

and do

`kpt cfg create-setter . some-json-pointer placeholder`

The output should be

[code]

and later on

`kpt cfg set . some-json-pointer new-placeholder`

should give output

[code]

But it doesn't work as expected. Investigate and fix it.

[2021-01-08 18:05] phanimarupaka commented on #1218
@seh This should work as you expected but it is not when I just tried. So it must be a bug with parsing and is not related this parent issue. I created another issue for better tracking and will work on addressing that. https://github.com/GoogleContainerTools/kpt/issues/1342

[2021-01-08 18:06] phanimarupaka commented on #1342
@natasha41575 @etefera This is a good candidate to understand more about kyaml parsing. If you don't have cycles I can pick this up.

cc @mikebz

[2021-01-08 18:07] phanimarupaka commented on #1218
@bzub Does .krmignore also solves your use-case? Can we close this issue if it does?

[2021-01-08 18:14] natasha41575 commented on #1342
@phanimarupaka if you have cycles feel free to take it. If not, I'm happy to take a look next week

[2021-01-08 18:35] phanimarupaka commented on #1337
@sidpalas I am not sure what's going on for following reasons
1. Me and other team members did the same thing as you but could not reproduce the issue.
2. If it was a global issue, then kubeflow team would have already escalated it which they didn't.

Wondering what could be the issue.

[2021-01-08 18:41] Liujingfang1 opened #1343 "add a utility function for creating a ResourceGroup CR"
We need a utility function to create a `*unstructured.Unstructured` for a ResourceGroup object. It accepts three argument `name`, `namespace`, `inventory-id` and returns a `Unstructured`. This function is needed for both kpt and ConfigSync.

[2021-01-08 18:41] Liujingfang1 commented on #1343
/assign Liujingfang1

[2021-01-08 19:46] sidpalas commented on #1337
Hmm... yeah not sure what is going on here. I can confirm that at least one other user also encountered this error while attempting to set up Kubeflow (based on a discussion in the Kubeflow Slack).

I also was able to run `v0.37.1` in a container and did not get any error:
[code]

Anyways, thanks for the efforts to try and track down the issue!

[2021-01-08 21:16] droot opened #1346 "Implement function that returns function chain for given pipeline"
Main ask here is to implement a function (refer to this [PR](https://github.com/GoogleContainerTools/kpt/pull/1321/files)) that return a function chain as slice of kio.Filter that can be provided to a `kio.Pipeline` to execute.

Copying the placeholder function from the [PR](https://github.com/GoogleContainerTools/kpt/pull/1321/files). Function will read the function specs specified in the `valida

[2021-01-08 21:17] droot commented on #1346
/cc @natasha41575 @Shell32-Natsu

[2021-01-08 21:19] droot opened #1347 "Implement function to resolve/normalize pipeline.Sources"
The task here is to implement the following function from [the PR](https://github.com/GoogleContainerTools/kpt/pull/1321/files) with exhaustive unit-tests.

[code]

[2021-01-08 21:19] droot commented on #1347
/cc @Shell32-Natsu @natasha41575 @frankfarzan

[2021-01-08 21:20] droot commented on #1346
/cc @frankfarzan

[2021-01-08 21:25] droot opened #1348 "Implement function to filter out kpt metadata from resources list"
Kpt packages contains KRM resources and some metadata files such as KptFile, pipeline, permissions, values (coming soon). MetaData files needs to be excluded during regular `hydration` workflows, so ask here is to implement function that does that with unit-tests. Copying the placeholder method snippet from the [PR](https://github.com/GoogleContainerTools/kpt/pull/1321/files).

[code]

[2021-01-08 21:25] droot commented on #1348
/cc @Shell32-Natsu @natasha41575 @frankfarzan

[2021-01-08 21:39] mortent commented on #1323
@msonnleitner I tried this with the latest version of kpt (v0.37.1) and it does fetch the hidden `.github` directory. Can you tell me which version of kpt you are using?
I know we had an issue a while back that might related to this, where we tried to exclude the `.git` folder, but ended up excluding every older starting with `.git`. But that was fixed a month or two ago.

[2021-01-08 22:01] mortent opened #1349 "Improve availability of kpt binaries through github"
Our release process currently use goreleaser to build and publish kpt artifacts to github. But we also do a step after this during the release to make the kpt binary available through GCS directly. This has two benefits for users:
 * Makes it easier to fetch just the binary without getting the `tar.gz` bundle.
 * It is possible to use single URL to always fetch the latest release.

We should move

[2021-01-08 22:23] mortent opened #1350 "Run automatic tests on all supported platforms and architectures"
Currently we only run the tests for kpt on linux in our github actions. We should expand that to also include osx and windows.

We are also only running the tests on amd64 architecture, so we should look into running the tests on arm64 as well.

[2021-01-08 22:48] runewake2 commented on #1350
We should be able to start this by adopting [GitHub Action's Build Matrix](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix) feature. Modifying the [`verifyGuides.yml`](https://github.com/GoogleContainerTools/kpt/blob/master/.github/workflows/verifyGuides.yml) should be a good start. Both Windows and Mac runners are suppor

[2021-01-08 23:07] sidpalas commented on #1337
In case this helps future debugging efforts:

I saw this error for:
v0.36.x, v0.37.x (installed from source)
v0.37.1 (installed with homebrew)

I did not see this error:
v0.35.0 (installed from source)
v0.37.1 (running official docker image `gcr.io/kpt-dev/kpt:v0.37.1`)

[2021-01-08 23:25] bgrant0607 commented on #742
This issue is the same as the one that motivated the analogous feature in kustomize.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/0008-kustomize.md#long-standing-issues

The tricky part is finding references, which can't be done via naive search and replace.
https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/namereference.go

[2021-01-08 23:33] susan-shu-c commented on #1337
Hi, yes I encountered this as well, this was my output at the time, using:

`kpt 0.37.1`
`yq 4.2.1`

[code]

I was on
Debian GNU/Linux 10 (buster)

[2021-01-08 23:44] #1343 closed

[2021-01-08 23:59] mikebz commented on #961
copying the commentary from @bgrant0607 here https://github.com/GoogleContainerTools/kpt/issues/742#issuecomment-757046002

[2021-01-09 00:27] phanimarupaka commented on #742
Search and Replace in kpt is more context aware of KRM resource files. That differentiates it from the native search and replace. It leverages syntax from [yq](https://mikefarah.gitbook.io/yq/) to find the references.

[2021-01-09 00:27] phanimarupaka commented on #961
Search and Replace in kpt is more context aware of KRM resource files. That differentiates it from the native search and replace. It leverages syntax from yq to find the references.

[2021-01-09 02:24] phanimarupaka commented on #1342
@seh Have you tried modifying the yaml like this

[code]

This works

[2021-01-09 07:34] Bobgy commented on #1337
I'm from Kubeflow team. I also reproduced this issue

[code]
I'm also on on MacOS Catalina 10.15.7

The kpt was installed using `gcloud components install kpt`.

[2021-01-09 07:35] Bobgy commented on #1337
I wonder if it could be related to gcloud setup, when you reproduce the issue, did you install `gcloud` and set a default project?

[2021-01-09 07:37] Bobgy commented on #1337
I tried unsetting default gcloud project and the error goes away
[code]
@phanimarupaka can you try to reproduce again after you install `gcloud` and set a default project?

[2021-01-09 08:32] msonnleitner commented on #1323
@mortent Maybe it is an OS-related issue, on my MacOS machine it is not working, tried it with 0.34.0 and 0.37.1.

However, using Google Cloud Shell, (which has Linux and 0.36.1), it works as expected.

[2021-01-09 08:43] msonnleitner commented on #1323
oh well, It tried it again, it works after all. Sorry for that, it seems I just had a problem with my shell aliases :S

[2021-01-09 10:49] msonnleitner commented on #1342
@phanimarupaka Does this really work? I don't think this is a valid Kustomization... according to https://kubectl.docs.kubernetes.io/references/kustomize/patches/

[2021-01-09 12:16] seh commented on #1342
No, I haven't tried that, because , as @phanimarupaka noted, the documentation prescribes embedding the patch content as a string (emphasis mine):

I'm willing to try it, but if that works, then we need to fix the documentation. Also, if that does work, then It's weird that patches work (without interpolation) as embedded strings now.

[2021-01-09 12:42] msonnleitner commented on #1342
@seh well I have tried that, could not get it work though (which means that the documentation is correct)
it fails with

[2021-01-10 21:03] phanimarupaka commented on #1337
@Bobgy It works for me even in both the cases, project set and unset. So only couldn't reproduce the issue on my end. Can you try to upgrade the kpt version to 0.37.1 and try.

[2021-01-10 21:29] phanimarupaka commented on #1337
@Bobgy @sidpalas @susan-shu-c Can any of you try to run the command from your `$HOME` directory and let me know if you still see the issue.

[2021-01-10 21:58] phanimarupaka commented on #1342
@seh @msonnleitner There are 2 issues here.
1. kpt can't interpret value strings as yaml.
2. kustomize needs patch to be a string

@monopole @Shell32-Natsu Can patches be yaml nodes instead of enforcing them to be strings. This solves a bigger problem and can help users to easily parameterize patches. Enforcing them to be strings makes it difficult for tools to parse them as yaml and query them.

[2021-01-10 22:54] seh commented on #1342
Yes, with the current state of _kustomize_ and _kpt_, using JSON Patch is difficult. We can't use setters and substitutions due to the these conflicting constraints:
1. Inline patches are strings, within which these tools don't interpolate setters or substitutions.
1. Separate JSON Patch files must be top-level sequences (be they JSON or YAML).
1. Using setters or substitutions requires use of YAM

[2021-01-11 00:49] sidpalas commented on #1337
Sure @phanimarupaka -- I just ran using kpt 0.37.1 within my home directory and saw the same results as @Bobgy:

[code]

[2021-01-11 16:04] susan-shu-c commented on #1337
I tried it start from when the project is set. However my `unset` doesn't seem to be working, or it is the incorrect command (searching through documentation suggested it is correct, however).

[code]

The above is weird, I believe unset is the correct command but it still shows core.project

[code]

Debian GNU/Linux 10 (buster)

[2021-01-11 17:31] mikebz commented on #1160
@etefera are you blocked by the review?  Do we have the layout with MD docs all done?

[2021-01-11 18:25] Shell32-Natsu commented on #1342
What kustomize supports is either a embedded string of JSON patch in kustomization or a YAML/JSON patch in a separate file. @monopole I think it's ok to accept a list of structured JSON patch. WDYT?

While IMO the real problem is kpt/kustomize is trying to process all YAML files in the directory but assuming all YAML files are k8s resource files. That's not true.

[2021-01-11 19:35] seh commented on #1342
There is also [the "patchesJson6902" field](https://kubectl.docs.kubernetes.io/references/kustomize/patchesjson6902/). That one can also refer to separate files or accept the patch as an inline string, which is subject to the same limitations we face with the "patches" field. Do you intend to retain both of these fields in the future?

The documentation encourages writing the content as either JSO

[2021-01-11 20:26] Shell32-Natsu commented on #1346
A list of `functionConfig` is also needed to be returned.

[2021-01-11 22:15] runewake2 opened #1352 "Pull Requests Against kpt Build the Project Twice in CI"
When a Pull Request is opened against `kpt` both [`verifyGuides.yml`](https://github.com/GoogleContainerTools/kpt/blob/master/.github/workflows/verifyGuides.yml#L29) and [`go.yml`](https://github.com/GoogleContainerTools/kpt/blob/master/.github/workflows/go.yml#L42) are triggered. Both of these jobs include a step which builds `kpt`. Since both binaries are built against the same source they shoul

[2021-01-11 23:21] phanimarupaka commented on #1218
@dzub closing this issue. Please feel free to reopen if you need further help.

[2021-01-11 23:21] #1218 closed

[2021-01-11 23:52] phanimarupaka commented on #782
@mikebz @runewake2 This is a broader change which should be done across multiple commands. We are currently migrating code to kpt from kustomize and this can be taken care during that migration. I don't think we should invest time in refactoring code in kustomize for now. @runewake2 However, I am happy to give more context about this issue to follow better code hygiene for the commands one might d

[2021-01-12 00:48] mikebz commented on #782
Does this mean that this task can be decomposed and we can start chipping away at it?  Can some progress be made here?  Or does this message mean that we should punt on this and just focus on better architecture going forward?

[2021-01-12 00:56] phanimarupaka commented on #782
`Focus on better architecture going forward` => yes. Progress is already being made in the new commands we are writing in kpt. Probably coming up with a doc which serves as a style guide for kpt developers would be a decent closure for this issue. Either I can do it or help @runewake2 write the doc.

[2021-01-12 00:58] mikebz commented on #782
I think the doc is best written by someone who has already worked on some commands.  You can feel free to rename/reassign this and put it in the backlog or leave it here if this is an active task.

[2021-01-12 01:02] runewake2 commented on #782
Where do you envision this doc living? Should we add a section to `CONTRIBUTING.md` about Contributing Code? Or will this be a larger styles and practices guide?

Agree with @mikebz here as well. My coding experience has a lot more Java and C# influence than Go and my patterns reflect that. I'd likely inject some of that into docs still. Happy to advise on patterns I discover though and contribute

[2021-01-12 01:13] phanimarupaka commented on #782
Yes. `CONTRIBUTING.md` would be a better place to do so. I think we should add such best practices to `CONTRIBUTING.md` and this might be a good start for that. Other things I see we could add is guidelines around writing tests, command reference style guide etc.

[2021-01-13 07:01] mengqiy commented on #1262
We should be able to easily build a single TS function. Currently we rely on kpt-functions-sdk to build [all of the functions with the same tag](https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/030b943e718af706b354ffd6ad5e3de583398984/ts/create-kpt-functions/src/cmd/docker_create.ts#L63-L75). There is no way to build a specific TS function with a tag.
We can do that for golang functi

[2021-01-13 18:26] Shell32-Natsu commented on #1262
I think split the TS functions to separate directory may make building single function work.

[2021-01-13 20:39] seans3 commented on #1328
@neuromantik33 Can you please include the config yaml for all the resources (especially the PersistentVolume). I'm having problems reproducing this.

[2021-01-13 20:40] seans3 commented on #1329
@neuromantik33 Can you include the config yaml for resources (especially the PersistentVolume). I'm having trouble reproducing this error.

[2021-01-13 20:49] seans3 commented on #1329
This appears to be a straighforward nil pointer error. Here is the code:
[code]
The error occurs at the line:
[code]
...so it seems clear that `previous` is not found, and when we try to dereference a field from the nil `previous` we get the crash. I will create a fix, but I still can not currently reproduce this error. A reproducible case would give us better confidence in the fix.

[2021-01-13 21:01] janetkuo commented on #921
Is it because kptfile doesn't have a `spec` field?

I'd expect something like this: https://skaffold.dev/docs/references/yaml/

[2021-01-13 21:51] #1259 closed

[2021-01-13 21:52] #1331 closed

[2021-01-13 22:53] neuromantik33 commented on #1329
Sure thing.. I'm using kpt to configure a sort of hack to run on microk8s _without_ storage enabled. Here is the entire YAML file
[code]
In order to get it to work, you'll probably have to replace the reference to `env-secrets` for the postgres password env variable.
Hope this helps :) Thanks !

[2021-01-14 00:07] Shell32-Natsu commented on #1253
The e2e test driver has been merged. We can start to refactor the existing e2e tests.

[2021-01-14 04:54] seans3 commented on #1186
https://github.com/GoogleContainerTools/kpt/pull/1357

[2021-01-14 07:18] mengqiy commented on #1298
Fixed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/139

[2021-01-14 07:18] #1298 closed

[2021-01-14 07:19] mengqiy commented on #1299
It has been enabled for repo kpt-functions-catalog and kpt-functions-sdk using Snyk.

[2021-01-14 07:19] #1299 closed

[2021-01-14 07:25] mengqiy opened #1358 "Releasing kpt fn with multiple version vX.Y.Z, vX.Y and vX"
When we build an image for a kpt fn, we should tag it with 3 versions: vX.Y.Z, vX.Y and vX

[2021-01-14 17:41] Shell32-Natsu commented on #1333
We haven't decided the default GCR for functions. Keep this in 'To Do'.

[2021-01-14 18:14] phanimarupaka commented on #1337
Had a debugging session with @Bobgy. The issue is related to the way kpt caches openapi information regarding setters. The fix already in there so the next kpt release would fix it.

[2021-01-14 18:17] #1337 closed

[2021-01-15 00:51] runewake2 commented on #981
Hi,

I believe what is happening is being caused by `kpt fn run` being passed a directory argument. This prevents `kpt fn run` from outputting and being consumed by your `kpt fn sink` command and instead has it perform an in-place operation. Removing the `.` directory argument in `kpt fn run` should allow your `kpt fn source | kpt fn run | kpt fn sink` pipeline to complete as you expect.

For exam

[2021-01-15 14:59] seh commented on #1324
Related: #1342.

[2021-01-15 18:34] runewake2 commented on #882
Thanks for the detailed reproduction case. This made it a lot easier to reproduce this.

To get the behavior you are expecting you should be able to run this in the directory that contains your `application-cr` and `injection-tshirt-sizes` directories, in this case the current directory, instead of providing each subdirectory by name. For example:

[code]

A complete example might look like this:

[2021-01-15 18:34] #882 closed

[2021-01-15 20:35] runewake2 opened #1362 "kpt live init --help Displays Two Different Sets of Flags"
When running `kpt live init --help` the help content includes two sets of documented `Flags`. The flag options do not match.

[code]

Specifically:

[code]

and

[code]

Should be displayed together to make this help content more clear.

[2021-01-15 21:48] mikebz commented on #1160
is there a way to add a 3rd level of commands so under cfg I can see all of the commands that are available?  https://kpt-dev-ee2a9.web.app/reference/cfg?id=create-subst - the anchor is there but I have to scroll through a long page to see what's available.

[2021-01-15 22:03] runewake2 opened #1363 "Automate Generation of Guides.go and Docs.go"
Currently `guides.go` and `docs.go` files in `kpt` are being generated by a manually invoked the `make generate` command. This command generates these files from `kpt`'s online documentation and that generated content is consumed in `kpt` to provide help details for the commands available including detailed flag information, example usages and more background on the commands. Because this document

[2021-01-19 18:03] #921 closed

[2021-01-20 00:26] #964 closed

[2021-01-20 21:09] Shell32-Natsu opened #1367 "Pipeline docker runtime should support windows"
PR #1355 only considers *nix platform. Windows should be supported as well.

[2021-01-20 21:32] mengqiy opened #1368 "Cleanup usage of latest tag in kpt fn catalog tests"
We have tests in the kpt-fn-catalog repo that use docker images with `latest` tag.
We plan to eventually move away from tag `latest` since it doesn't provide any compatibility guarantee.
Instead, we are going to support semver (e.g. v1.2.3) and short versions of semver as "moving tags" (e.g. v1.2 and v1).

To cleanup up our tests, we may want to use tag names like dev, unstable, master and etc.

[2021-01-20 21:33] Shell32-Natsu commented on #1368
Notice that the tests are combined with examples.

[2021-01-20 22:11] droot opened #1369 "Basic end to end test for pipeline run command"
We merged a basic implementation of `kpt pipeline run` in last sprint. We need a basic test that tests end to end workflow for `pipeline run` command.

At the very basic, it starts with a simple kpt pkg, invokes the pipeline run command and compares the output to expected output.

[2021-01-20 22:30] mortent commented on #1329
So this panics because the collector (that keeps track of the latest status for all resources) receives an event pertaining to a resource that it doesn't know about. This is something that shouldn't happen, since we pass the same set of resource identifiers to the poller and the collector.
The reason this happens in the example, is that the PersistentVolume in the manifest includes a namespace, bu

[2021-01-20 23:08] mikebz commented on #1328
@neuromantik33 not sure if this is still a problem but it seems like we can't repro it locally.  If the problem appears again please share the config and re-open the issue.  Sorry we were not able to help.

[2021-01-21 18:06] seans3 commented on #1186
Completed with https://github.com/GoogleContainerTools/kpt/pull/1357. Closing

[2021-01-21 18:06] #1186 closed

[2021-01-21 18:32] runewake2 commented on #981
I'm going to close this issue. If the changes I suggested above don't fix the issue you are encountering please reopen this bug.

[2021-01-21 18:32] #981 closed

[2021-01-21 19:32] karlkfi opened #1375 "Feature Request: kpt cfg generate-substrs"
A coworker wrote a script that takes key value pairs, finds all YAML values that contain those values, and generates kpt substitutions for them. I was hoping something similar could be added to kpt to generate substrs based on setter values already in the Kptfile.

http://go/kpt-cfg-gen (Google internal gist)

Examples of substrs generated:
[code]

[code]

[2021-01-21 19:47] frankfarzan commented on #1375
@phanimarupaka

Setters are being redesigned to eliminate need for explicit substitutions. You can create setter references (with interpolation) either manually (adding the comment) or in bulk by using search and replace.

For example:

1.  Create a setter for a GCP project ID:

`$ kpt cfg create-setter DIR/ project-id --description "GCP Project ID" --required`

Assume there are two fields across

[2021-01-21 20:12] karlkfi commented on #1375
What I'm suggesting would be even easier to use and less typing.

Instead of a human having to decide what the pattern should be for each substitution, kpt-cfg-gen finds all substring matches of setter values and automatically generates the substrs.

I've used it to generate 20 substrs at a time with a single command. Then I just manually reviewed the changes to make sure I like them before commit

[2021-01-21 20:21] karlkfi opened #1376 "Bug: Inscrutable resource-merge update error (not logged by default)"
[code]

I managed to trace down the root cause of this one: The kpt package had been pulled from a local file URI after making a local commit. The commit DID exist locally, but was amended before being pushed, so it was available but not in the history of the branch. Workaround was to manually change the commit sha in the kptfile to one that was actually in the branch history and re-run the update

[2021-01-21 20:25] karlkfi opened #1377 "Bug: Inscrutable remote diff output"
[code]

What does this output mean?
Does it mean "these files are only remote or only local"?

If so, can we name the temp file directory local-<suffix> and remote-<suffix> so it's possible to tell which is which?

[2021-01-21 20:25] karlkfi opened #1378 "Bug: kpt diff 3way "extra operand" error"
[code]

Sorry, I don't have a reproducable example on-hand now, but I don't think it should be possible for kpt to send "extra operands" to diff. Seems like a failure for kpt to validate the diff command inputs properly.

[2021-01-21 20:28] karlkfi opened #1379 "Bug: kpt pkg diff should not include upstream default values when set locally"
When you kpt pkg diff, after having set some local setters, kpt pkg diff includes those set values as diff lines, which should probably be ignored.

I would like kpt pkg diff to look like doing a git diff after a kpt pkg update, with my local setters and substrs propagated properly. Otherwise, there's too much noise for kpt pkg diff to be useful.

[2021-01-21 20:39] mikebz commented on #1375
@frankfarzan I am curious about your philosophical designation for setters.  Are they supposed to be top level package parameters and the hydration is based on them or are they a shortcut for simple mutations (set value, replace, etc.)

[2021-01-21 20:39] karlkfi opened #1381 "Bug: kpt randomly changes the location of isSet on pkg update"
Several times now I've done a kpt pkg update and it's re-ordered the isSet=true field in the Kptfile. It's not clear why this happens and it has no real negative effect, but it makes the file different when it doesn't need to be.

I think this is probably a Go-ism with randomly sorted maps. I think there's usually a way to force alphanumeric sorting in yaml formatting which might fix this issue.

[2021-01-21 20:41] mikebz commented on #1379
@mortent @frankfarzan looks like a good suggestion but if setters become a more complex operation might become tricky.

[2021-01-21 20:54] mortent commented on #1379
This is related to how we need to handle changes during updates. Examples are that the `fast-forward` update strategy only should work if there are no local changes, but changes that results from setter values probably should be acceptable since we will set them again later. And if resources/packages are deleted during updates, we don't want to delete any resources that are create by users, but ch

[2021-01-21 20:58] phanimarupaka commented on #1375
@karlkfi This seems to be an interesting use-case. So you build the base setter definitions and want to delegate the work to kpt in order to figure out building the patterns for all the fields ? What if there is a value whose substring matches a setter but you don't want to parameterize it ? You will have to manually delete that substitution/pattern correct ? I am not sure how common is this use-c

[2021-01-21 20:59] frankfarzan commented on #1375
@karlkfi I think that script is equivalent to (and can be provided as porcelain for):

$ kpt cfg search DIR/ --by-value-regex “(.*)project-id(.*)” --put-pattern “{$1}${project-id}${2}”

Note that there's little value in having substitutions defined as first class citizens in the Kptfile.

@mikebz: That's a bigger design discussion we should track elsewhere.

[2021-01-21 21:02] phanimarupaka commented on #1375
@frankfarzan I think the script does more that just that. The command you mentioned only adds pattern to regex value that match (.*)some-value(.*). But the script parameterizes all the fields values with substring match with any of the setter values. @karlkfi Correct me if I am wrong.

[2021-01-21 21:08] runewake2 commented on #567
As part of this work we may want to explore support for Windows based packages similar to how we support Brew on MacOS. Either with [Chocolatey](https://chocolatey.org/) or [WinGet](https://github.com/microsoft/winget-cli) (as of writing this `winget` is currently in beta).

[2021-01-21 22:05] karlkfi commented on #1375
re: @phanimarupaka

Yes

Yes. This is less work than creating it manually. And if the result is a big mess you can always git revert and do it manually. Or revert, comment out the line you want ignored, run the generator again, and un-comment the preserved line.

I've written 9 kpt packages for my current project and used the sustr generator on 7 of them. The others didn't have any substitutions a

[2021-01-21 22:12] karlkfi commented on #1379
On a related note:
It would be nice if the diff --diff-type and update --strategy used the same flag name and the same flag values.
I could file another FR for this, but it's closely related to the desire for the behavior of diff matching the behavior of update.

[2021-01-21 22:13] seans3 commented on #1328
Hi @neuromantik33. One more note. We actually made some more progress on this issue. We believe the problem you are experiencing is because you have added a `namespace` to the `PersistentVolume`. A `PersistentVolume` is always cluster-scoped. A `PersistentVolumeClaim` can be namespaced, but not the `PersistentVolume`. Please let us know if this resolves the issue by closing this issue again.

On a

[2021-01-21 22:15] seans3 commented on #1328
Here is a stackoverflow thread on this issue:

https://stackoverflow.com/questions/32316178/does-kubernetes-pv-recognize-namespace-when-created-queried-with-kubectl

[2021-01-21 22:20] karlkfi commented on #1375
On a related note, if you merge substr patterns into setters as default values, then you should automatically get the ability for substrs to be inherited into sub-packages as setters. This was another feature I was going to request, but I think merging setters and substrs is a better plan.

This would allow for re-use of named substitutions not just in the same package but in sub-packages. The sub

[2021-01-21 22:31] phanimarupaka commented on #1375
The default would actually be the value(similar to terraform default) and not the pattern. The pattern will be added as a comment to the field itself in the resource configs.

I am not sure I followed the subpackages part though. Can you elaborate with an example ?

[2021-01-21 23:14] karlkfi commented on #1375
I assume you mean this will be true with the new inline substitution syntax.

But what I'm suggesting is a default pattern, not a default value, and for a named setter/substr in the kptfile, not an inline substr. This would allow the value to be overridden by the user using `kpt pkg set`, but otherwise it would default to the substitution resulting from the pattern that depends on other setters.

[2021-01-21 23:21] karlkfi commented on #1375
Package Example:
[code]

Sub-Package Example:
[code]

With this, the pattern only needs to exist in the parent package kptfile and can be used in parent package and the sub-package. And if the user decides to `kpt cfg set . project-id <value>` they could override the value at the parent package and have it inherited into the sub-package. OR they could set project-id on the sub-package and have the

[2021-01-21 23:32] mikebz commented on #1378
I am going to set it up as triaged for now, but obviously no example makes it hard to do the investigation.  If it happens again please see if this is something you can share with the team.  Thank you for reporting the bug 🙇

[2021-01-22 01:07] frankfarzan commented on #1375
@karlkfi Supporting explicit subs in addition to inline interpolation is not an unreasonable FR if they're referenced in many places. Here's an example use case where explicit setters is adding noise and inline interpolation makes more sense:

https://github.com/GoogleCloudPlatform/solutions-modern-cicd-anthos/blob/krm/krm/cicd_gitlab/Kptfile

We will incorporate this suggestion in new setter desi

[2021-01-22 01:59] karlkfi commented on #1378
I think the diff tool in Cloud Shell doesn't support 3way diffs. It's complaining because it only takes 2 files as arguments, not 3.

[code]

[code]

[2021-01-22 02:11] karlkfi commented on #1378
Looks like Cloud Shell runs Debian 10 buster and has diffutils installed, which comes with diff & diff3.

Other linux versions and macs may have different versions of diff installed or even diff3 as diff.

[2021-01-22 02:19] karlkfi opened #1383 "Feature Request: Merge setters and substrs"
I suggest merging named substitutions into setters, so that the evaluated substitution becomes the default value of the setter.

This would enable:
- substrs (as setters) can be inherited into sub-packages
- substrs (as setters) can be overridden at the package or sub-package level with `kpt cfg set`

Package Example:
[code]

Sub-Package Example:
[code]

[2021-01-22 02:20] karlkfi commented on #1375
I've extracted the request to merge setters and substrs to its own issue to keep this one focused on the substr generation. But they are closely related.

https://github.com/GoogleContainerTools/kpt/issues/1383

[2021-01-22 17:00] #1348 closed

[2021-01-22 21:16] neuromantik33 commented on #1329
Thanks for the info :) This is a legacy microk8s set of manifests I've been trying to reconcile with 😅

[2021-01-22 21:18] neuromantik33 commented on #1328
Thanks for the info. I forgot that pvs weren't namespaced. I'm working with some legacy microk8s manifests I'm trying to get managed using CI/CD with kpt. 😅

[2021-01-22 22:08] #1328 closed

[2021-01-23 01:34] karlkfi opened #1386 "Bug: kpt cfg set isn't recursive"
When you kpt pkg get a sub-package under a package it automatically inherits the setters from the parent package.
But when you kpt cfg set on the parent package, it doesn't automatically inherit the setter to the sub-package.

Maybe this is a feature request, but I consider it a bug because the behavior is inconsistent.

[2021-01-23 02:08] karlkfi commented on #1386
I found `--recurse-subpackages`, but I kind of expected it to be default, since the inheritance is default when checking out sub-packages.

[2021-01-23 04:02] mikebz commented on #1386
seems like a reasonable request.  Heads up @frankfarzan @droot  - forwarding to you for design / UX decision here.

[2021-01-25 09:04] hdoinfodation commented on #1323
Hi @mortent, not sure if I should create a new issue or not. But I tried to fetch the .github/workflows directory directly, but always ended up fetching the whole parent directory before it or the command even fails. This only applies for folders that starts with '.git' other hidden folders do not have this problem.
Example:
[code]

[2021-01-25 18:20] #1349 closed

[2021-01-25 19:12] runewake2 opened #1387 "Enable Automated Kpt E2E Tests"
Currently `kpt` is tested using a series of tests against a local `kind` cluster on a developers machine. This requires the tests to be run manually against the developers local machine and there is no automated way to get signals about the project health. We can automate this in our CI system to remove this manual step.

Completing this would allow e2e coverage alongside the existing unit and int

[2021-01-25 19:25] #1334 closed

[2021-01-25 21:26] mikebz commented on #1323
@hdoinfodation it seems to me that .git is something that can be special cased.  My guess is that the reason why that is bombing out is that .git got yanked out.

[2021-01-25 22:41] #1253 closed

[2021-01-25 22:52] frankfarzan opened #1390 "Standardize structured function results (ResourceList.results)"
- [x] Finalize and publish ResourceList.Results as part of function Spec. A function should still be able to use coarse-grained exit codes to communicate failure.
- [x] Modify TS and Go clients to use the standard. See [1] [2]
- [x] Modify kpt CLI to output the aggregated results as a KRM resource (`--results`).

[1] https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml/fn/framework/#Result
[2] https://g

[2021-01-25 23:35] neuromantik33 opened #1392 "kpt seems unable to managed unamed "lists""
When trying to create a kpt package of [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus/tree/v0.6.0/manifests), for a GKE cluster in 1.18.x

I seems that the manifests:
- `grafana-dashboardDefinitions.yaml`
- `prometheus-roleBindingSpecificNamespaces.yaml`
- `prometheus-roleSpecificNamespaces.yaml`

are in fact _list_ types, actually `ConfigMapList`, `RoleBindingList` and `

[2021-01-26 06:27] mortent commented on #1329
@seans3 So it seems like turning an unstructured into an identifier isn't something we can do safely without checking the scope of a resource with the RESTMapper. Resource we read back from the cluster should always have the correct namespace value set, but I'm not sure if it is practical to handle those separately. Ideally it seems like we should pass a RESTMapper into the conversion functions in

[2021-01-26 10:50] neuromantik33 commented on #1392
Just for note, I've been using `kustomize` for some specific patches and running
[code]
seems to work fine :)

[2021-01-26 18:05] seans3 commented on #1192
Final step to fix this: https://github.com/GoogleContainerTools/kpt/issues/1192

[2021-01-26 18:17] phanimarupaka commented on #1381
@karlkfi Thanks for filing the issue. Working on it.

[2021-01-26 19:32] mengqiy opened #1394 "package.json vars breaking change since npm 7.0.0 breaks kpt-fn-sdk docker build and push workflow"
We read the value of [`npm_package_kpt_docker_repo_base`](https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/a13666a1b0f8d87bfee2ca1fb264d45003d09bfc/ts/create-kpt-functions/src/cmd/docker_create.ts#L56-L59) in kpt-funtions-sdk when users run `npm run kpt:docker-build -- --tag ${TAG}` or `npm run kpt:docker-push -- --tag ${TAG}`.
With npm version `<=6.*.*`, `npm_package_kpt_docker_repo

[2021-01-26 19:36] mengqiy commented on #1394
At the very minimum, what we can do is:
When users run into this issue, they google search it and find this GH issue or our updated document that instructs them to manually set env var `npm_package_kpt_docker_repo_base`.

cc: @Shell32-Natsu @frankfarzan

[2021-01-26 21:19] viglesiasce opened #1395 "Log filename and/or Object identifier when running into issues applying resources"
I've exported many resources using the `config-connector` binary. Some of the names of those are not valid because they included underscores (`_`).

Kpt rightly errors out but does not provide enough info to figure out which file is at fault.

[code]

In this case I'd also like to see the filename and object type so that I can more easily fix the problem.

[2021-01-26 22:08] viglesiasce commented on #1395
It turned out that this was not an issue with the files on disk NOR objects in the cluster. Rather, the inventory config map contained the invalid names. Not sure what to make of that but either way this was very difficult to debug.

[2021-01-26 22:13] viglesiasce commented on #1395
I believe the way to reproduce the specific issue I hit is:

1. Create a YAML with an invalid object name and one with a valid name
2. Apply the yaml with `kpt live apply .` (it fails)
3. Remove the yaml with the invalid name and try to apply (it fails but the configmap has the invalid name in it)

[2021-01-26 22:26] mikebz commented on #1395
@viglesiasce if you can share your particular yaml directory that'd be best.  You can send it privately as well.

[2021-01-26 22:38] Liujingfang1 commented on #1395
This failure is caused due to some invalid names were added to the inventory object. I believe @seans3 has a fix for that. https://github.com/kubernetes-sigs/cli-utils/pull/319

[2021-01-26 22:42] mikebz commented on #1395
@seans3 if you feel like the rightful owner of this can you please assign it to yourself and put it in progress?

[2021-01-26 23:39] viglesiasce commented on #1395
Thanks! That linked issue does indeed look like it would fix this.

Let me know when the update lands here and I'll give it a try.

On Tue, Jan 26, 2021 at 2:42 PM Mike Borozdin <notifications@github.com>
wrote:

[2021-01-26 23:54] Shell32-Natsu opened #1396 "Update e2e test driver to test idempotency"

[2021-01-27 04:35] mikebz commented on #1392
Thank you very much for providing exact steps, your yml files and command output.  Very very cool.  Glad you got a work around for now, I will see if we can find someone to take a look but since you can keep making progress we'll set it up as P1/P2 (instead of P0).

@seans3 can you take a look since you own this area?

[2021-01-27 04:37] mikebz commented on #1323
@runewake2 might be a fairly small PR for you to tackle here.  LMK when you have cycles to check this out.

[2021-01-27 19:12] seans3 commented on #1392
@neuromantik33 Can you please show the beginning of the ConfigMapList config yaml? What seems odd in your output is that the "Name" (which is a mandatory field) seems missing (at least kpt thinks its missing).

[2021-01-27 19:17] #1248 closed

[2021-01-27 20:40] natasha41575 commented on #1323
I can pick this up, I've found the relevant area of code

[2021-01-27 23:11] Shell32-Natsu opened #1399 "Rationalize `fieldSpec` part for the functions"
[code]

1. [`fieldSpec`](https://github.com/kubernetes-sigs/kustomize/blob/382cf5c2e00085e5bd7e71df305daae0d62e0966/api/types/fieldspec.go#L31) is used in kustomize to filter/select resources that will be processed by transformers. We need to have a pipeline level filter/selector to do this for all functions in pipeline.
2. Each function needs to have the functionality to process the fields in CRD

[2021-01-27 23:12] Shell32-Natsu commented on #1399
cc @droot @frankfarzan @mengqiy

[2021-01-28 02:43] morgante opened #1400 "Add organization-id as an auto-setter"
Packages using org-level functionality often depend on knowing the organization ID. We should add organization ID as an autosetter (similar to project ID), which can be retrieved from the current gcloud context.

The org ID for the active project can be retrieved with this command: `gcloud projects get-ancestors $(gcloud config get-value core/project) --format='get(id)' | tail -1`

Suggested name:

[2021-01-28 17:40] neuromantik33 commented on #1392
The raw yaml which is having issues is located [here](https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/master/manifests/grafana-dashboardDefinitions.yaml).
However it does seem to have a name
[code]

[2021-01-28 18:03] seans3 commented on #1329
Fixed by: https://github.com/kubernetes-sigs/cli-utils/pull/314

[2021-01-28 18:03] #1329 closed

[2021-01-28 18:57] #1323 closed

[2021-01-28 19:51] runewake2 opened #1402 "mdtogo Generates Duplicate Properties"
When `mdtogo` is run via `make generate` it generates go properties that contain the text contents of the Markdown files. Right now when `mdtogo` is run it is generating multiple properties with the same name causing a compile error. This seems to be caused by multiple [`kpt live` docs](https://github.com/GoogleContainerTools/kpt/tree/master/site/content/en/reference/live) using the same name in t

[2021-01-28 20:02] runewake2 opened #1403 "mdtogo Drops License Text When Regenerated"
When `mdtogo` is run with `make generate` the License text inserted at the beginning of the generated files is removed. This causes files with no other changes to be modified and requires runs of `mdtogo` to include manual changes to re-insert this text.

[2021-01-28 21:48] mikebz commented on #1400
I am curious about these things being auto-setters.  Seems like this is a GCP specific feature and as such might be best reserved for functions that a GCP specific functions rather than something being built into kpt core? @frankfarzan

[2021-01-28 22:11] morgante commented on #1400
Two challenges with doing them as functions:

1. Functions inside a container don't have access to the `gcloud` environment.
2. Functions would need to be manually invoked, so it's not automatic/zero-friction

That being said, I think it is worth thinking about how autosetters could be done more extensibly.

[2021-01-28 22:15] runewake2 commented on #1378
Hi, your previous comment seems correct. `kpt pkg diff` uses the local `diff` tool to calculate diffs and diffutils`diff` does not support 3 way diffing. You can provide an alternative tool by passing `kpt pkg diff` the `--diff-tool` flag however it doesn't look like `diff3` in Cloud Shell supports directories.

`--diff-tool diff3` fails with:

I did have some success with `--diff-tool vimdiff` bu

[2021-01-28 23:21] seans3 commented on #1378
More context:

`kpt live diff` mostly delegates to the `kubectl diff` and it is mostly the same, so check the help: `kubectl diff -h` . To change the diff binary, a user can set the KUBECTL_EXTERNAL_DIFF environment variable. The default diff flags are: "-u" (unified diff) and "-N" (treat absent files as empty).

[2021-01-29 00:41] karlkfi opened #1405 "Feature Request: kpt cfg list-setters --include-subst should include rendered substitution values"
Right now, if you use `kpt cfg list-setters --include-subst` it only shows the content from the Kptfile. For substitutions that's the name, pattern, and references.

I would like the command to include a column that renders the pattern based on the values of the references.

This would help validate that the substitutions are working as designed and help look for more more values that need to be c

[2021-01-29 01:30] karlkfi opened #1406 "Why kpt pkg update doesn't allow absolute paths"
For some reason, kpt pkg get accepts absolute paths, but kpt pkg update does not.
Does this inconsistency have a reasons? Seems arbitrary.

I would like kpt pkg update to take absolutes so it's easier to automate.

[2021-01-29 01:30] karlkfi commented on #1406
[code]

[2021-01-29 02:59] frankfarzan commented on #1394
@mengqiy What's the alternative for passing package.json fields to script?

[2021-01-29 05:55] #1358 closed

[2021-01-29 20:32] #1396 closed

[2021-01-29 21:10] mengqiy commented on #762
As other golang-based kpt functions, gatekeeper should use `sigs.k8s.io/kustomize/kyaml`.

[2021-01-29 23:39] mengqiy commented on #1207
This task is completed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/123

[2021-01-29 23:40] mengqiy commented on #1251
This task completed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/129

[2021-01-29 23:44] mengqiy commented on #1251
@Shell32-Natsu You can close an issue in the kpt repo from a PR in the kpt-functions-catalog repo by writing `fixes: GoogleContainerTools/kpt#{PR_number}` in the PR body. When the PR is merged, the issue will be automatically closed.

[2021-01-30 02:29] Bobgy commented on #542
Is there any update? This is very useful to simplify installation scripts around kpt packages.

[2021-02-01 05:25] seans3 commented on #984
Not a bug--working as intended.

Re-running `init` is dangerous, because it would change inventory fields (name, namespace, inventory-id) which are necessary to find the inventory object in the cluster. `kpt live` commands fail catastrophically if objects have been applied, then the subsequent `init` changes any inventory fields for the inventory object. The previously applied objects would be "lo

[2021-02-01 18:45] #1362 closed

[2021-02-01 20:21] karlkfi opened #1407 "Bug: kpt pkg get has inconsistent behavior when passed the current directory"
When you run `kpt pkg get ${PKG_URL}.git/${PKG_PATH} .`, it creates a new directory using the name of the package, which is inconsistent with both `kpt cfg set . key value` and `git clone ${REPO_URL}`.

I would expect passing the current directory to kpt pkg get to not create a new directory and instead place the package files directly in the specified directory.

[2021-02-01 20:24] Shell32-Natsu commented on #1406
@phanimarupaka @mortent Can you take a look at this?

[2021-02-01 20:24] Shell32-Natsu commented on #1407
@phanimarupaka @mortent

[2021-02-01 22:15] #1262 closed

[2021-02-02 07:29] seans3 commented on #1192
As of the latest cli-utils code `v0.22.5`, kpt produces the following output when applying both ConfigMaps:
[code]
The inventory does not store the ConfigMap name `empty` which has RBAC errors; it only stores the correct ConfigMap named `cm`. The output from apply `configmap/empty unchanged` and that `0 failed`  is wrong and must be fixed. However, if we dive deeper into what is going on, we see t

[2021-02-02 08:15] phanimarupaka commented on #1406
@karlkfi That is intentional. kpt needs the parent folder to be checked in to git so that when there is a failure while doing an update, users can fall back to git in order to stash those changes. For example, --strategy=force-delete-update would first delete the package and fetch it from remote. In case delete succeeds but fetch fails, the package will be gone. So to avoid that, kpt requires the

[2021-02-02 08:19] phanimarupaka commented on #1407
Good point. Accepting this as a feature request. But it will be delivered as part of long term changes as it would break backwards compatibility.

[2021-02-02 17:12] #1190 closed

[2021-02-02 19:19] karlkfi commented on #1406
I'm not sure why the requirement for being a git folder requires specifying a relative directory.

I see two workarounds to allow absolute directories:

1. cd into the parent dir before deleting the package directory, to avoid executing git without a workdir (requires one of the parent dirs to be a git repo)
2. change kpt pkg get to allow checking out into the current dir (https://github.com/Googl

[2021-02-03 18:29] #1347 closed

[2021-02-03 19:00] runewake2 commented on #1402
The work in PR #1408 may help provide a way to fix this.

[2021-02-03 21:43] etefera commented on #1403
`make generate` uses `addlicense` to insert the license text after the go docs are generated https://github.com/GoogleContainerTools/kpt/blob/8be3f718c015a5fe190bebf356079a25afe0ca57/Makefile#L48 but `addlicense` began skipping adding licenses to generated files with https://github.com/google/addlicense/pull/41.
It may be worth using a version of `addlicense` that predates that change or adding co

[2021-02-04 06:35] karlkfi commented on #1407
While you're at it, this documented behavior is super un-intuitive:

[code]

I would much rather have it always write to the directory specified. Maybe just error if there's already a Kptfile in it.

I just lost about an hour trying to debug why my script was checking out to somewhere different than the command did when i ran in manually, and it was become in the script it already existed.

[2021-02-04 18:00] mortent commented on #1406
As part of the new implementation of kpt packaging, we are trying to address both of the issues here.
We will make kpt use absolute paths consistently internally, and convert user provided paths that are relative to absolute paths within the cobra command.
We are also changing how we implement some of the update strategies. This means we will no longer completely delete directories, but instead ha

[2021-02-04 22:34] droot opened #1410 "`kpt pipeline run` should filter out function config resources"
function config should not be mutated during the pipeline execution and good way to ensure that will be to not provide them as input to the functions.

[2021-02-04 22:38] droot opened #1411 "Add `kpt pipeline run` e2e tests that uses docker function from function catalog"
@natasha41575 is added e2e tests for basic pipeline. We should add test cases that used docker functions (from function catalog) to cover docker runtime.

[2021-02-04 22:38] droot commented on #1411
/cc @natasha41575

[2021-02-04 22:42] droot opened #1412 "`kpt fn render` should support out-of-place sink-mode"
Currently `kpt fn render` supports in-place sink-mode. It should support for `out-place` and `stdout` mode.

[2021-02-04 22:43] droot commented on #1412
/cc @natasha41575 @Shell32-Natsu Feel free to pick this whenever you can.

[2021-02-04 22:46] droot opened #1413 "Implement pipeline definition changes"
We recently revised the `pipeline` definition with two major changes:

- dropped `sources` field (no major code change except this will be now a private field and not read from the config file)
- function grouping changes. Now `pipeline` supports only two groups: `mutators` and `validators`.

Another change is that `pipeline` itself is now part of `Kptfile`, but I think we can do that separately b

[2021-02-04 22:46] droot commented on #1413
/cc @natasha41575

[2021-02-04 22:48] droot opened #1414 "Rationalize krmignore with the filtering resources in `pipeline run`"
We are filtering out resources during pipeline execution for ex. Kptfile, function configs etc. We need to investigate and support `krmignore` use-cases as well. Creating this for us to investigate first what needs to be done and then implement it.

[2021-02-04 22:50] droot opened #1415 "Embed pipeline in Kptfile"
We recently revised the `pipeline` design and made its definition to be part of the `Kptfile`. The task here is to implement that.

[2021-02-04 22:51] droot commented on #1415
/cc @natasha41575 @Shell32-Natsu

[2021-02-04 23:26] frankfarzan commented on #1415
I'm working on a unified Kptfile schema that includes the Pipelines. Once that lands, we can refactor existing code.

[2021-02-05 00:18] seans3 commented on #1192
This is now fixed. Output for this case is:
[code]
Only one successful apply is in the inventory, and the apply correctly reported the `empty` config as `failed`.

We will close this when the following PR is merged: https://github.com/kubernetes-sigs/cli-utils/pull/322
and the newly built `cli-utils` version is integrated into `kpt`. This use case will be integrated into the end-to-end test to ens

[2021-02-05 00:19] seans3 commented on #1192
The fix will be in `cli-utils` version `v0.23.0`

[2021-02-05 22:03] mengqiy commented on #1394
There are a few possible alternatives:
1. Move `.kpt.docker_repo_base` into the config object in `packge.json`.
Quote from the [RFC](https://github.com/npm/rfcs/blob/latest/implemented/0021-reduce-lifecycle-script-environment.md#detailed-explanation):

2.  kpt-functions-sdk expect env var `npm_package_kpt_docker_repo_base` to be set. We can try to do something like `"kpt:docker-build": "npm_packag

[2021-02-05 22:06] mengqiy commented on #1394
IMO we need to fix this issue, but it doesn't have to be right now. Because this issue only affect the function produce while our top priority is targeting the function consumers. We can get back to this after we build the kpt-fn-catalog.

[2021-02-05 22:28] runewake2 commented on #1377
Hi Karl, I've put together a change that hopefully adds some extra context around what the `diff` command is doing. There's two parts to the change:

The first prints out where the information in these directories is being sourced from before the diff results:
`Staging https://github.com/kubernetes/examples/staging/cockroachdb:master at /tmp/kpt-upstream-examples-cockroachdb-master-161806574`

The

[2021-02-05 22:30] mikebz commented on #1377
@runewake2 is there a way to inercept `/tmp/kpt-upstream-githubProject-parentDirectory-master-602117789` and just make it `upstream`?

[2021-02-05 22:57] runewake2 commented on #1377
Yes, I think we could do that but it wouldn't catch all issues. `pkg diff` uses the local diffing tool and that varies across systems. That behavior can also be overwritten if you'd prefer a graphical diff like [`meld`](https://meldmerge.org/), replacing stdout output would have no effect on these graphical tools.

If we are transforming diffs output I think we'd want to include that in addition t

[2021-02-05 22:58] karlkfi commented on #1377
Feels like just "/tmp/kpt-local-${random}" and "/tmp/kpt-remote-${random}" would be sufficient.

Tho with 3-way diff you might want "/tmp/kpt-local-${random}" "/tmp/kpt-remote-new-${gitshortsha}-${random}" and "/tmp/kpt-remote-old-${gitshortsha}-${random}".

[2021-02-05 23:06] runewake2 commented on #1377
You would prefer the git SHA over the branch name or a representation of the current version (I've used `PackageVersion`) in your Kptfile?

[2021-02-05 23:35] karlkfi commented on #1377
The upstream branch name is in the Kptfile. It doesn't change. I don't need it in every diff.

[2021-02-06 00:34] natasha41575 commented on #1410
Adding a comment to summarize conversation I had with Sunil:

Moving this back to TODO because we are not sure yet if we want to implement this. If a file is meant to be an input to a function it is possible that the user either expects it to be mutated by the functions or doesn't

[2021-02-06 02:01] frankfarzan opened #1421 "Add example packages using v1alpha2 schema"
We need couple of examples in `package-examples` in `next` using the new schema.

[2021-02-06 02:02] frankfarzan opened #1422 "Define Kptfile v1alpha2 schema"

[2021-02-06 02:04] frankfarzan commented on #1415
Depends on #1422

[2021-02-06 02:15] #1247 closed

[2021-02-07 00:39] karlkfi opened #1424 "Feature Request: kpt cfg get"
I'd like an easy way to pull setter values out of a Kptfile without having to use python or yq.

Usage:
[code]

Example:
[code]

This would let me lookup setter values I've already configured, which is especially useful when configuring sibling (non-parent) packages.

[2021-02-08 00:56] mikebz commented on #1424
@droot @phanimarupaka @mortent - heads up.  Probably good to consider for 1.0 design.

[2021-02-08 01:08] phanimarupaka commented on #1424
@karlkfi Have you tried using `kpt cfg list-setters .` to get the existing values for setters.

[2021-02-08 02:03] seans3 commented on #1395
Also: an end-to-end test case which proves this now works: https://github.com/GoogleContainerTools/kpt/pull/1370

[2021-02-08 02:24] seans3 commented on #1192
Fixed in `kpt` built at master. I will update this issue when we do the next release of `kpt`. Closing.

[2021-02-08 02:24] #1192 closed

[2021-02-08 02:26] seans3 commented on #1395
Fixed in latest `kpt` at master. The fix will be in the next `kpt` release. Closing.

[2021-02-08 02:26] #1395 closed

[2021-02-08 19:17] karlkfi commented on #1424
It's possible to parse what i want for list-setters, but...

1. It's almost as much work as using yq (tho without an extra dependency).
2. It's still a lot to type and remember

ex:
[code]

[2021-02-08 21:01] #1369 closed

[2021-02-09 00:43] #1399 closed

[2021-02-09 00:43] #1346 closed

[2021-02-09 17:41] #1206 closed

[2021-02-09 17:42] Shell32-Natsu opened #1431 "Handle relative ConfigPath in pipeline"
Need to resolve the relative path to config file before opening it.

https://github.com/GoogleContainerTools/kpt/pull/1388#discussion_r572430104

[2021-02-09 18:05] #1266 closed

[2021-02-09 18:29] runewake2 commented on #1377
I've updated the behavior so a remote diff that is based on master will compare two directories named:

* `/tmp/kpt-upstream-75f116a-943454749`
* `/tmp/kpt-upstream-master-246571466`

Branch names and git-sha's here would both only show the first 7 characters in the name (this does mean that if your using `hello-world` as your branch that we'd use `hello-w` here).

In this case of a remote diff `7

[2021-02-09 19:38] mortent opened #1433 "Remove legacy-style setters/autosetters from packaging in the 'next' branch"
`kpt pkg get` and `kpt pkg update` on the `next` branch still support autosetters and have flags to enable/disable them. We should remove that and we will later look into how the packaging commands will interact with the hydration pipeline.

[2021-02-09 19:40] mortent opened #1434 "Remove the sync commands from the 'next' branch"
The `sync` functionality is being folded into the `get` and `update` commands. We should just clean this up on the `next` branch. This also involves removing the `Dependencies` section from the Kptfile.

[2021-02-09 19:44] mortent opened #1435 "Update packaging functionality to use the updated Kptfile types"
We are making some changes to the Kptfile types on the `next` branch (https://github.com/GoogleContainerTools/kpt/pull/1417). We should update the packaging code to use the new types (once the PR has merged)

[2021-02-09 19:47] mortent opened #1436 "Improve the UX of get and update for nested packages"
We currently don't show any progress information (i.e. that we have finished fetching the root package and are now fetching the nested packages). We should see if we can improve the UX here.
In particular, we need to make sure the error messages are clear and actionable whenever something fails. Examples are:
 * A (nested) package contains a reference to a remote subpackage that doesn't exist).
 *

[2021-02-09 19:48] Shell32-Natsu commented on #1413
Will change the pipeline and pipeline functions from OOP style to function style after #1417 being merged.

[2021-02-09 19:53] mortent opened #1437 "Handle local changes correctly with the `resource-merge` strategy"
We support three different update strategies, but only the resource-merge strategy involves a 3-way merge. We need to verify that this works correctly and add tests to demonstrate it.

[2021-02-09 20:00] mortent opened #1438 "Distinguish between changes that can be "recreated" with the pipeline from manual changes"
Local changes to a package compared to origin can be divided into two categories.

First, changes caused by running the pipeline and that will be "recreated" by running the pipeline again with the same parameters. Second, changes that are created by edits to the resources outside of the hydration pipeline.

Treating these equal can lead to strange behavior, like not being able to use the `fast-for

[2021-02-09 20:05] mortent opened #1439 "Create kpt pkg publish command"
We want to have a `kpt pkg publish` command that will help users publish packages. It will conceptually handle two different things, validation of the package content, and then committing the package to git.
Some design work still remains here.

[2021-02-09 20:09] Shell32-Natsu commented on #1431
To reduce duplicated works, this will be done along with #1413

[2021-02-09 20:10] Shell32-Natsu commented on #1413
https://github.com/GoogleContainerTools/kpt/issues/1431 should be done at the same time.

[2021-02-09 20:10] #1431 closed

[2021-02-09 20:27] karlkfi commented on #1377
close.

One gotcha tho is that it's not obvious that the `75f116a` sha is the one in my Kptfile... That's why i was suggesting "new" vs "old". But I guess new/old isn't technically accurate because the sha in the kptfile doesn't even need to be on the same branch...

Do we have the branch name we pulled from in the Kptfile?

If so... maybe:
[code]

[2021-02-09 21:04] bgrant0607 commented on #1424
list-setters is not friendly to scripting. It would need to be able to specify a separator character, as many unix tools do.

Karl also has use cases where the values need to be extracted for use in non-kpt-related commands, similar to how one might use terraform output: https://www.terraform.io/docs/cli/commands/output.html.

[2021-02-09 21:32] runewake2 commented on #1377
The original branch name should be listed in the `Kptfile` (under `upstream/git/ref`). Does the use of `kptfile` in your first example make it clear that the source is pulled from a remote repository?

Right now our code is designed to use either a reference SHA or a branch name, let me see what is required to create this experience.

[2021-02-09 21:49] karlkfi commented on #1377
Debatable. I'm open to other suggestions. I just want the UX to be obvious and intuitive.

new/old was the best i could come up with, but that's another specifier that wont be in the local name, and it's only technically accurate if they came from the same branch (which is probably the 80% case).

If there's no branch specified (just a sha), the usual git term for the ref is `detached`. Use that a

[2021-02-09 21:58] karlkfi commented on #1377
Another thing:
If you make a parent directory for the folders, then they an all share a single random tmpdir suffix:

[code]

If there are local changes, you may also need to mark the local with a `-dirty` suffix, because it wont match the git contents.

And lastly, there's some git jargon that might be useful here:

- **tip* - the most recent commit on a branch
- **head** - reference to the tip o

[2021-02-09 21:58] Shell32-Natsu commented on #1205
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/164

[2021-02-09 23:02] runewake2 commented on #1377
Thanks, I really appreciate the detailed feedback! I've adopted the parent tmp directory suggestion. The other changes will require some refactoring that I'm still working through right now. I'll share the results once I have a working example.

[2021-02-09 23:40] droot opened #1440 "Add e2e test case for `kpt pipeline run` for simple package UX"
The test case should test simple package UX where we have an `app` package that contains deployment.yaml and Kptfile with pipeline that uses set-labels, set-namespace functions from the function catalog as mutators and ensure `pipeline run` results in expected output.

[2021-02-09 23:45] droot opened #1441 "Add e2e test for `kpt pipeline run` for nested package UX"
We need to add e2e test case for nested package UX for `kpt pipeline run` where:

- top level package `app` that contains deployment.yaml and kptfile
- subpackage `db` under `app` package that contains some KRM resource say statefulset.yaml and kptfile
- `app`'s pipeline uses set-labels, set-namespace functions from function catalog
- `db`'s pipeline uses set-labels, set-namespace functions from f

[2021-02-09 23:49] droot opened #1442 "`kpt pipeline run` should check docker command is available on the system"
kpt pipeline uses docker runtime for executing kpt functions. So we should ensure `kpt` is able to run `docker` command (may be run `docker ps`) before invoking `kpt pipeline run` command. If `docker` isn't available, we should present the user with a message saying `docker` is required to run this command and provide with links to docker installation page.

[2021-02-09 23:50] droot commented on #1442
We should write this function in a way we can use this for `kpt fn run` as well.

[2021-02-10 02:00] mortent opened #1443 "get and update commands should detect subpackages and update parent Kptfile"
Whenever the `kpt pkg get` or `kpt pkg update` command are run within an existing package, they should detect this and make sure the parent Kptfile is updated to reflect the added subpackage or the new version of an existing subpackage.

[2021-02-10 02:43] mortent opened #1444 "Add tests for update with the `force-delete-replace` strategy"
We have tests for the `resource-merge` and `fast-forward` strategies in https://github.com/GoogleContainerTools/kpt/blob/fbac531cc2bb1a7754a79c1f268925ba9666545f/internal/util/update/update_test.go#L741, but we don't yet cover the `force-delete-replace` strategy.

[2021-02-10 20:10] yuwenma opened #1447 "Support `kustomize` hydration in skaffold"
- Provide basic kustomize images for kpt hydration pipeline.
- Enable all the following `kustomize build` features.
- Document the usages, including the flags/args passed into the kustomize image.
<img width="493" alt="Screen Shot 2021-02-10 at 11 59 53 AM" src="https://user-images.githubusercontent.com/5606098/107564716-9b9e2b00-6b97-11eb-82b0-8d8fbf470613.png">
<img width="565" alt="Screen Shot

[2021-02-10 21:10] mikebz commented on #1447
HI @yuwenma I think that kind of a request is more of a project than a feature.  Are we talking about making it easy for people who use kustomize to use kpt?  What is the user scenario here?

[2021-02-10 23:51] runewake2 commented on #1377
After the changes the directory layout will appear like this:

[code]

There are a few differences here from what you described above.

The `target` directory is created when a `remote`, `3way` or `combined` diff is run and represents the target upstream version. By default this will be the main/master branch at HEAD but can be overwritten by passing in a target version. That version can be a comm

[2021-02-11 00:51] frankfarzan commented on #1422
Fixed by https://github.com/GoogleContainerTools/kpt/pull/1417

[2021-02-11 00:51] #1422 closed

[2021-02-11 10:49] irvifa commented on #1129
I run skaffold to create overlay and then use the kpt to create template for several different environments, eg: prod, test, dev.

[2021-02-11 18:12] seans3 commented on #708
Released to alpha in `v0.38.0`--closing.

[2021-02-11 18:12] #708 closed

[2021-02-11 21:23] runewake2 opened #1455 "macOS - Kpt Cannot be Opened Because it is from an Unidentified Developer"
When `kpt` releases are downloaded from the [Releases](https://github.com/GoogleContainerTools/kpt/releases) page running these builds on MacOS triggers an error that **"kpt" cannot be opened because it is from an unidentified developer**. I believe this is caused by increased security in newer versions of macOS.

![image](https://user-images.githubusercontent.com/1161329/107697595-49790a80-6c68-1

[2021-02-11 21:50] mikebz commented on #303
@Liujingfang1 I am not sure I follow this exactly.  You'd like to get all of the resources in the package?

[2021-02-11 22:27] Liujingfang1 commented on #303
Yes, with this command, users can see the resources applied to cluster and their status. It might be similar to the `kpt live status`. In that case, we can close this issue.
The more interesting case is for targeting multiple cluster or filtering out certain resources that don't target the current cluster. This is a different problem, we can track it as a different issue.

[2021-02-12 04:47] mikebz commented on #1455
This could help:
[code]

[2021-02-12 06:22] runewake2 commented on #1455
If we can, I think we'll want to start signing the binaries eventually (if someone else runs into this). Windows SmartScreen catches `kpt` as well right now.

For Windows the workaround that works is either to "Run Anyways" if you have permissions, alternatively installing kpt via `go get ...` worked for me.

![image](https://user-images.githubusercontent.com/1161329/107736206-62a8a800-6cb6-11eb-9

[2021-02-15 17:50] PatrickChenSe opened #1460 "No change happens if delete all the resources through kpt ts functions"
No change happens when we try to filter out all the resources through kpt function.
kpt version: 0.36.1

We have a kpt ts function filtering resource not fit the conditions. Simply like below:
[code]
If all resources in the `configs` match and should be deleted, then the input source directory keeps as unchanged.

Expectation:
The input directory becomes empty.

Reproduce:
It is not hard to reprod

[2021-02-15 21:19] mortent opened #1461 "kpt live destroy command should be able to wait for resources to be removed"
The `kpt live destroy` command currently doesn't have parity with the `kpt live apply` command. In particular two pieces stand out:
 * It doesn't allow the `--prune-propagation-policy` and `--prune-timeout` flags that allow users to specify whether we should wait for resources to be deleted, and if so, for how long.
 * The `Applier.Run` function returns an `init` event on the channel with informat

[2021-02-15 21:30] mortent opened #1462 "DryRunStrategy for kpt live should be a parameter and not a property in the inventory client"
Most of the apply library are based on the assumption that the `Applier` and `Destroyer` are reusable and users should only have to create them once. But the way the `InventoryClient` exposes the `SetDryRunStrategy` function breaks with the pattern. We should let the dry-run strategy be a parameter rather than a property.

[2021-02-15 23:40] mortent opened #1464 "Support deletion of remote subpackages"
Whenever a remote subpackage is removed from upstream, it should also be deleted from the local fork. An exception here is if there are changes in the local fork.

[2021-02-16 17:45] #1413 closed

[2021-02-16 18:33] seans3 commented on #1392
@neuromantik33 We intend to figure out why `ConfigMapList` is having issues in kpt. Here is more context:

1. `ConfigMapList` and other `List` resources are never stored in the cluster. So when we try to apply a `List`, we get the error (empty name). The cluster does not perform transactions of multiple resources, and these `List`-types of resources are usually used to return a group of objects. O

[2021-02-16 18:33] mikebz commented on #1447
I think this is too broad of an issue and we would need to decompose this to make it actionable.  I am going to close this as "won't fix" for now but happy to talk in more detail about the workflows we want to support.

[2021-02-16 18:48] mortent commented on #1392
I thought we had handling to unwrap lists when we read files/streams. But looking at it now, the functionality for unwrapping lists in the kyaml library is not sufficient to handle this situation: https://github.com/kubernetes-sigs/kustomize/blob/c9e7f627fe8f75bc60ea76c4974e8d7eada752ec/kyaml/kio/byteio_reader.go#L176

[2021-02-16 19:52] mengqiy opened #1465 "Doc story for kpt fn catalog"
Figure out a detailed plan about the site for kpt function catalog.
Kpt functions are versioned independently from the kpt version.
We should have a site that can allow users to choose what version of the document they want to see. An example is https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest

[2021-02-16 20:28] morgante commented on #1113
@phanimarupaka Is this fixed?

[2021-02-16 20:28] phanimarupaka commented on #966
This is no longer needed in the new implementation.

[2021-02-16 20:28] #966 closed

[2021-02-16 20:28] #957 closed

[2021-02-16 20:45] phanimarupaka commented on #1424
Here is the [similar request](https://github.com/GoogleContainerTools/kpt/issues/542) for extracting the setter value. We have 3 ways to implement this functionality
1. Have a new command (`kpt cfg get`)
2. Bake this into Search & Replace (`kpt cfg search --by-setter namespace`)
3. Implement it as a function (`kpt fn run --image get-setter-value namespace`)

@bgrant0607 What do you think is the be

[2021-02-16 20:49] phanimarupaka commented on #1113
@morgante Closed because of no activity on the issue. Can you please respond to my question.

[2021-02-16 21:00] morgante commented on #1113
If you are interacting with a top-level package, I'd expect to *by default* only interact with that. Especially for a complex package (with many subpackages), the default output ends up being very verbose.

In general, we should expect users to opt-in to verbose behavior not surface all verbosity by default.

[2021-02-16 22:57] karlkfi commented on #1424
1. My preference
2. Unclear whether this gets the value in the ktpfile or the value in the yaml. What if it's in multiple places and they're not the same?
3. Running a function in a docker container seems like overkill. I'd almost rather just use my script.

Note: you left out package path in each example.

There's been an idea floating around that the resources are the interface and that kpt pack

[2021-02-17 00:28] runewake2 opened #1468 "Fix Package Diff CLI Docs"
`kpt pkg diff --help` docs display an incorrect flag `--diff-opts`, this should be changed to `--diff-tool-opts`.

[2021-02-17 00:43] Bobgy commented on #1424
I agree with Karl

[2021-02-17 12:59] fsommar opened #1470 "Failure in server-side preview on KPT 0.38.0 exits with 0"
Hi 👋

In the process of upgrading to KPT 0.38.0 in our CI builds, we noticed that doing a server-side preview of invalid resources now has a 0 exit code. Before 0.38.0, the exit code was non-zero. Here's an example setup:

[code]

The output using KPT 0.38.0 does say that the resource failed but doesn't provide any additional info, and the exit status is 0.

[code]

For comparison, here's the outp

[2021-02-17 17:37] mikebz commented on #1470
thanks for reporting this.  We are going to take a look at it ASAP.

[2021-02-17 19:56] #1440 closed

[2021-02-18 00:56] #1442 closed

[2021-02-18 02:38] mortent commented on #1470
@fsommar Thanks for reporting this. I have found the problem and the cause is that kpt used to bail out at the first error, but we now continue even if one resource fails. This is similar to how kubectl works.
It requires that we handle errors in the printer slightly different and I've started work on a fix. The good news about this, is that when we get a fix in here, preview will actually run pre

[2021-02-18 17:51] runewake2 commented on #1377
Hi Karl, we've merged the directory name changes I mentioned above and these changes should be present in the next version of `kpt`. I'm going to close this issue for now. If there are other improvements you'd like to see us make here please re-open the issue and I can follow up.

[2021-02-18 17:51] #1377 closed

[2021-02-18 19:13] Shell32-Natsu commented on #1411
This should have been covered by #1453

[2021-02-18 19:13] #1411 closed

[2021-02-18 19:38] #1205 closed

[2021-02-18 19:39] Shell32-Natsu commented on #1415
I think this has been finished by #1417. Can we close this?

[2021-02-18 20:04] phanimarupaka commented on #1424
@karlkfi @Bobgy I am proposing another option

[code]

This is more flexible to extract any information regarding the setters. This follows `gcloud config list` pattern. Let me know your thoughts.

[2021-02-18 22:53] Shell32-Natsu opened #1474 "Curated function catalog: set-name-prefix"
Prepend a prefix to the name field. ~~This is idempotent.~~

EDIT: the first version will NOT be completely idempotent when considering subpackages.

[2021-02-18 22:54] Shell32-Natsu commented on #1474
cc @mengqiy @frankfarzan

[2021-02-18 22:54] Shell32-Natsu opened #1475 "Curated function catalog: set-name-suffix"
Append a suffix to the name field. This is idempotent.

[2021-02-18 22:55] Shell32-Natsu commented on #1475
cc @mengqiy @frankfarzan

[2021-02-18 22:55] Shell32-Natsu opened #1476 "Curated function catalog: random-suffix"
Add a random suffix to one of labels, names, or other attributes of resources.  Good for ephemeral applications such as supported by heroku.

POC https://github.com/mikebz/rnd-fn

[2021-02-18 22:56] Shell32-Natsu commented on #1476
cc @mengqiy @frankfarzan @mikebz

[2021-02-18 23:09] karlkfi commented on #1424
Hmm. If we're going the format route because `kubectl cfg get` isn't a feasible option, then I would suggest making the output formatting use kubectl's libraries and syntax. For example:

[code]

For consistency (and for free, if using the k8s libraries), I'd also expect json, yaml, and go-template output options.

You could also add another output format type to match the syntax you proposed, if

[2021-02-19 00:01] #1468 closed

[2021-02-19 04:47] mikebz commented on #1378
is this issue now fixed or is there more?

[2021-02-19 07:10] mengqiy opened #1480 "kpt-functions-catalog may have separate directories for curated and contrib functions"
This comes from discussion: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/164#discussion_r577273917

[2021-02-19 07:15] mengqiy opened #1481 "The test harness should be able to execute command from markdown files"
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/127 is a PoC made before the test harness was created.
We can revive it somehow and make our test harness to optionaly support it.

[2021-02-19 16:31] karlkfi commented on #1378
I suggest making sure it works in Cloud Shell by default, whether that means a change to kpt or a change to Cloud Shell.

[2021-02-19 17:18] runewake2 commented on #1378
I agree, I think that is the ideal experience. However, I'm not sure how we'd implement this without introducing a lot of work on our end. Many of the 3 way diffing tools I'm aware of are UI based and `diff3` does not support diffing over directories. Is there a tool you think would be appropriate here?

[2021-02-19 21:42] #1096 closed

[2021-02-21 20:53] natasha41575 commented on #1441
I believe this is covered by https://github.com/GoogleContainerTools/kpt/pull/1483

[2021-02-21 22:16] natasha41575 commented on #1414
Pipeline appears to already be ignoring files specified in .krmignore, because [the function localResources](https://github.com/GoogleContainerTools/kpt/blob/next/internal/pipeline/executor.go#L182) uses kyaml's [LocalPackageReader](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/kio/pkgio_reader.go#L175), which uses [ignoresFileMatcher](https://github.com/kubernetes-sigs/kustomize/

[2021-02-22 03:01] phanimarupaka opened #1485 "Implement apply-setters function"
Implement set-setter function which takes resource configs with setter reference comments and set the values with new input values.

[2021-02-22 17:50] natasha41575 opened #1486 "Add e2e test or `kpt pipeline run` with invalid configuration"
We need an e2e test for `kpt pipeline run` where the configuration is invalid.

[2021-02-22 17:50] natasha41575 commented on #1486
@droot @Shell32-Natsu

[2021-02-22 19:17] Shell32-Natsu opened #1487 "All functions should accept the ConfigMap format input"
User can use `key: value` in `configMap` field in pipeline. It will be converted to
[code]

Curated functions should do it best to understand this input format. Currently we need to update set-label and set-annotation .

[2021-02-22 19:18] Shell32-Natsu commented on #1487
cc @droot @mengqiy

[2021-02-22 19:20] Shell32-Natsu opened #1488 "Curated functions should return error when the input is empty"
Functions should return an error when the input spec is considered empty.

For example, if the input key-value list is empty for set-label. In this case, we should assume there are some errors in the pipeline config. Now we will silently do nothing.

cc @droot @mengqiy

[2021-02-22 19:52] frankfarzan commented on #1488
What do you mean by input spec, `ResourceList.items`? If so, having no input is a valid scheario.

[2021-02-22 19:53] Shell32-Natsu commented on #1488
What I mean is the input function config, like the label name and label value for set-label functions. Not the input resources.

[2021-02-22 20:46] mengqiy commented on #1487
Can you please give an example for this?

[2021-02-22 20:49] Shell32-Natsu commented on #1487
[code]

[2021-02-22 23:41] #1414 closed

[2021-02-23 00:52] mengqiy opened #1489 "Kpt Fn Catalog Doc Umbrella Issue"
We need to finish the followings for the new kpt fn catalog doc site

- [x] The site should be served at `catalog.kpt.dev` subdomain
- [x] We will not support explicit categories. Instead each function will have tags (e.g. mutator, validator and etc).
- [x] We should use the new registries (kpt-fn, kpt-fn-contrib) instead of the old registry (kpt-functions) in the doc and examples.
- [x] Random fu

[2021-02-23 02:25] mikebz commented on #1489
Question: why do we want to have a subdomain here?  Why not just have the catalog as one of the pages?  My concern here is that we are creating infrastructure for what is now a fairly limited set of functions (I'd say anything less than 50 is probably OK to be updated by hand).

We need to de-risk the layout and ability to find the right functions with the small amount of functions that we have.

[2021-02-23 02:39] mikebz commented on #1481
@etefera could be an interesting thing to incorporate into the website

[2021-02-23 17:45] natasha41575 commented on #1415
+ 1

[2021-02-23 18:53] mengqiy commented on #1489
We want to use a subdomain since these 2 sites are independently managed and deployed. Using a subdomain can make things much easier.

What I imagine is that:
When visiting `kpt.dev` site, in the vertical sidebar navigation menu, we have a top level item called `Function Catalog` that points to the subdomain while we will NOT have any subitems. The layout looks like this:
[code]

When visiting `ca

[2021-02-23 19:34] phanimarupaka commented on #1487
@Shell32-Natsu Value can be a sequence node. But ConfigMap only accepts string values.

[2021-02-23 20:55] frankfarzan commented on #1487
"All functions should accept" is not accurate. A function chooses the schema of its function config. Some functions may choose to use ConfigMap if they take simple key/value maps, but it doesn't apply to all cases.

[2021-02-25 01:25] #1488 closed

[2021-02-25 17:56] droot opened #1494 "Epic: Imperative function workflow changes for v1"
This is an umbrella issue to track the changes we want to run for running functions imperatively for `v1`.

- [x] Identify features to deprecate/drop from current command with the introduction of `pipeline` #1501
- [x] Come up with plan to reorganize the code across `kyaml`, `kpt` #1519
- [x] Refactor the code in kpt/kyaml (especially code that is coupled with the kpt CLI) #1547
- [x] Drop declara

[2021-02-25 18:00] #1435 closed

[2021-02-25 18:00] #1444 closed

[2021-02-25 18:06] phanimarupaka opened #1495 "Design: kpt CLI Usability"
Improve CLI Usability and make commands consistent.

[2021-02-25 21:23] mengqiy opened #1496 "Curated function catalog: starlark"
The input to the functions should be a starlark script.

[2021-02-25 22:15] mikebz commented on #1494
@droot can we add the child issues to the original comment and maybe have them as a check list?
Thank you!

[2021-02-26 20:08] Shell32-Natsu opened #1498 "Curated functions should use CRD for advanced config"
set-label and set-annotation are using ConfigMap for advanced config in a wrong way.

Needs to rewrite this part in set-label, set-annotation and set-namespace.

[2021-02-27 00:22] borisdali opened #1499 "[Question] is kpt update designed to handle 3-way merge for structs with the first attribute called "name"?"
3-way merge works for maps, but I can't make it work for structs (with the first attribute called "name"). Am I doing something wrong or it's not designed to work like maps merge?

Reading through [1], it almost sounded like the "name" is special and so my attempt at a 3-way merge was the following:

[1] https://github.com/kubernetes-sigs/kustomize/blob/550a89295a58bb0dd3683f0bb1d276902b6d3ec7/kya

[2021-02-27 01:54] mengqiy opened #1500 "Re-reorganize docs and examples for kpt fn catalog"
It was discussed in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/171#discussion_r583957148

We can rename `examples/` directory to `docs/`. Then we can structure the docs directory like the following:

For master branch:
[code]

For release branch `set-annotations/v1.2`
[code]

[2021-02-27 04:05] mengqiy commented on #1498
Function config should have schema if it's more than simple key-value pairs. Having schema can enable other tools e.g. IDE can use the schema to help function users write function config.
It doesn't need to be a real server-side CRD, but it can be a client-side equivalent of CRD (i.e. looks like a KRM but doesn't need to be installed in the server).
kubebuilder can be used to generate client-side

[2021-02-27 04:37] Shell32-Natsu commented on #1498
Use kubebuilder to generate CRD schema sounds very good to me.

[2021-02-28 05:20] Shell32-Natsu commented on #1500
My question is why do we need to have a docs directory when we have already had a doc website?

[2021-03-01 07:33] #1470 closed

[2021-03-01 17:23] droot opened #1501 "Identify features (flags) to deprecate/drop from `kpt fn run` command with the introduction of pipeline."

[2021-03-01 17:25] droot commented on #1494
Added the checklist with some more details. Added issue for in-progress work. Will be adding more issues as we go along.

[2021-03-01 17:40] runewake2 commented on #1378
Hi Karl, right now I think the best option to solve this is to use `--diff-type=remote` to compare the upstream branch at your current version (stored in your Kptfile) and the upstream branch at the branches HEAD. This will give you feedback on any upstream changes that have been made to your packages since you last updated the package.

If your using `3way` diffing locally then a tool like `meld`

[2021-03-01 17:40] #1378 closed

[2021-03-01 17:57] droot opened #1502 "High level comparison of kpt hydration with kustomize"
The intention here is to do high level comparison of the kpt hydration features with kustomize. It will help us identify the gaps as well as help us understand in which scenario one is better than the other.

[2021-03-01 18:19] Shell32-Natsu opened #1503 "Remove functions directory in function catalog examples."
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/164#discussion_r577272690

[2021-03-01 18:44] Shell32-Natsu commented on #1498
According to KRM function [spec](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md), the function config CRD should be put in `functionConfig` field in the `ResourceList`.

Example layout for the function config CRD:
[code]

[2021-03-01 19:16] mengqiy commented on #1498
That looks like one client-side CRD per function.
What you have here are CR instances. We need to have their corresponding CRD with OpenAPI schema. When a user provides an advanced config, we can validate it against the OpenAPI schema.

For Golang-based fn, we can define the go struct and then let kubebuilder to generate the CRD from go struct.

[2021-03-01 19:18] Shell32-Natsu commented on #1498
Yes I suppose we need to have one CRD per function. Will create PR to implement it in Go.

[2021-03-01 19:24] karlkfi commented on #1378
For anyone who finds this later, I suggest using `kpt pkg diff --diff-type=remote` to evaluate upstream-only changes since you last updated.

Then use `kpt pkg update . --strategy resource-merge` and an IDE or visual diff tool to evaluate how those changes will affect your local package instance/fork. This way you can approve or reject the changes with local git commands.

[2021-03-01 19:43] natasha41575 commented on #1324
@msonnleitner are you still having this issue? I am unable to reproduce this error with the latest release when running kpt pkg get https://github.com/msonnleitner/kpttest@kpt-kustomize-patch-issue patch-issue

[2021-03-01 20:36] #1387 closed

[2021-03-01 20:38] mikebz commented on #1499
@runewake2 is this something you can take a look at?

[2021-03-01 21:30] natasha41575 opened #1505 "Define a scheme to use OpenAPI extension mechanisms for kpt functions"
From @mengqiy's document:

We need to augment OpenAPI with additional semantics to provide more metadata:

1. The actual meaning of a field. I.e. field X in GVK Y is Z. e.g. Field .spec.selector in GVK core.v1.Service is a “label”.
2. The linkage between objects. I.e. field X in GVK Y references field Z in GVK W. e.g. Field .spec.containers.envFrom.configMapRef.name references filed .metadata.name

[2021-03-02 01:10] mikebz opened #1506 "create an image for kpt with gcloud and git included"
### Is your feature request related to a problem? Please describe.
some functionality of kpt requires `gcloud` and `git` client to be installed on the Docker image.  The customer request is to provide an image with those already installed instead of having to install those manually.

### Describe the solution you'd like
There should be a docker image for kpt that people can use in their CI/CD pipe

[2021-03-02 01:32] martinmaly commented on #1506
Thank you!

Would it work to have 2 images, one being the original, smaller kpt image and add the larger image which contains gcloud and git? that way customers using the kpt-only image won't be affected by addition of the other components?

[2021-03-02 01:46] mikebz commented on #1506
that makes sense to me.  @mortent @frankfarzan feel free to chime in on this.

[2021-03-02 09:01] fsommar commented on #1470
Thanks for fixing this in cli-utils! When can we expect a release of KPT including these changes?

[2021-03-02 09:05] msonnleitner commented on #1324
@natasha41575 It seems that it is working now, can't reproduce it with 0.38.

[2021-03-02 17:44] mortent commented on #936
Verified that this has been fixed. `kpt live apply` now reports unknown flag if I try to use the `--dry-run` flag.

[2021-03-02 17:44] #936 closed

[2021-03-02 17:51] phanimarupaka opened #1507 "CRD for apply-setter function input"
Setters inputs can be list-values which doesn't fit into the schema of config map. Declare a CRD for inputs to apply-setter function.

[2021-03-02 17:56] karlkfi opened #1508 "Bug: kpt fn source includes non-KRM resources"
### Expected behavior

`kpt fn source "${SRC_DIR}"` to exclude non-KRM resources (like `.prettierrc.json` files)

### Actual behavior

`kpt fn source "${SRC_DIR}"` includes non-KRM resources (like `.prettierrc.json` files), which can cause subsequent kpt functions to error because they expect all resources to be KRM resources.

### Workaround

Filter for KRM resources manually:

[code]

### Inform

[2021-03-02 20:46] mortent commented on #1470
@fsommar We made a release today, so 0.38.1 is available now.

[2021-03-02 21:03] howardjohn opened #1509 "Support/document how to handle raw YAML URLs"
### Is your feature request related to a problem? Please describe.

Some applications, like https://cert-manager.io/docs/installation/kubernetes/, just stick a YAML file at some URL. This is easy to apply with `kubectl apply -f url.yaml`. Its a bit harder to do with kpt packages.

### Describe the solution you'd like

I am quite new to kpt, so maybe I am "doing it wrong", but I would expect to be

[2021-03-02 21:40] #1486 closed

[2021-03-02 21:58] karlkfi opened #1510 "Bug: kpt-functions-sdk RUNNER.assertCallback logs expected errors"
I expect this to catch the error and validate it:

[code]

But even tho the test passes, the jasmine test output still prints the full error message:

[code]

kpt-functions-sdk version: 0.14.5

[2021-03-02 22:57] #1368 closed

[2021-03-03 00:20] #961 closed

[2021-03-03 03:41] mikebz commented on #1510
@mengqiy PTAL

[2021-03-03 04:06] etefera opened #1511 "Make site content automatically verifiable"
This can look like using https://github.com/GoogleContainerTools/kpt/issues/1481 to execute the site's markdown files.

[2021-03-03 19:34] mikebz commented on #1509
Hi @howardjohn no issue with asking questions, we are revamping our documentation and understand that the current docs are not sufficient.

First you correct that the on the fly pull of remote resources is a harder with kpt, but we would argue that kpt opinionated approach enforces some good practices.  We would argue that it's creates a more stable environment if you save whatever YAML you are ap

[2021-03-03 21:40] mortent opened #1514 "Update declaration of subpackages"
We are exploring two alternatives for how to handle the declaration of subpackages, with the main difference being whether they should be declared in the parent or be self-contained packages.

[2021-03-03 21:43] mortent commented on #1033
We have made a decision that `resource-merge` will be the default.

[2021-03-03 21:43] #1033 closed

[2021-03-03 22:50] yuwenma commented on #1447
Yeah, agree this would be a big effort. This is for skaffold to use kustomize in a kpt hydration pipeline. We would need a progress tracker. What do you suggest on tracking the kustomize function?

[2021-03-03 23:39] mikebz commented on #1202
@droot since we have this in the v1alpha2 milestone via #1494, does this also need to be slated for alpha2?

[2021-03-04 02:22] mengqiy opened #1516 "kpt fn doc --image"
We need a way to extract a function's help text from a image. This will be useful for us to collect the content for our reference doc.

[2021-03-04 02:23] mengqiy commented on #1500
Closed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/174

[2021-03-04 02:23] #1500 closed

[2021-03-04 08:39] phanimarupaka opened #1517 "CLI Usability: Remove cfg command group and clean-up"
As part of v1, kpt command groups must be consolidated and cleaned up.

[2021-03-04 13:41] milowe opened #1518 "kpt substitutions not working for empty string value"
### Expected behavior
Substitution picking up and using empty string value
### Actual behavior
kpt cfg set fails with message that body must be of type string: "null"
(This worked in version 0.37.1)
### Information
kpt version 0.38.0
### Steps to reproduce the behavior
This snippet would reproduce the error
[code]

[2021-03-04 14:53] #1518 closed

[2021-03-04 14:53] milowe commented on #1518
Verified this is solved in 0.38.1

[2021-03-04 17:50] droot opened #1519 "Plan for reorganize code organization for `kpt fn run`"
We want to refactor code driving `kpt fn run` with following desired goals:

- Lower level code such as `kio`, YAML manipulation, lower level function runtimes should live in kyaml
- Code that is impact the `kpt CLI UX` should live in kpt code repo

So the task here is to come up with plan keeping the licensing and ownership in mind.

[2021-03-04 18:06] #1501 closed

[2021-03-04 20:19] runewake2 commented on #1499
Hi @borisdali, I was able to get the output I think you expect using `--strategy alpha-git-patch` instead of `resource-merge`.

After running `kpt pkg update g@fff68accb7be76dbefa58c885e5ec6b8387c7c98 --strategy alpha-git-patch` this is what my disks configuration looks like (the sha here is a commit on your 0.7.0 branch):

[code]

I'm still exploring the behavior you noticed with `resource-merge`

[2021-03-04 20:21] natasha41575 opened #1521 "Epic: Kpt OpenAPI roadmap"
This is an umbrella issue describing the tasks that @mengqiy outlined, for OpenAPI features in kpt

- [ ] Define a scheme to use OpenAPI extension mechanisms #1505
- [ ] Use the scheme to define the augment for k8s builtin types
- [ ] Use the scheme to define the augment for KCC types
- [ ] Kpt should have one or more compiled-in OpenAPI docs that matches the minor versions supported by GKE fleet

[2021-03-04 20:22] natasha41575 commented on #1521
@mengqiy umbrella issue for the openapi work

[2021-03-04 21:35] natasha41575 commented on #1521
we may also want to look into https://github.com/kubernetes-sigs/kustomize/issues/3670

[2021-03-04 21:56] mengqiy opened #1522 "Add README to each kpt function example"
The layout will look like:
[code]

The per example README should cover what does this example do.

[2021-03-04 22:05] #1498 closed

[2021-03-04 22:54] droot opened #1524 "`kpt fn render` should support resource pruning"
Expected Behavior:
Pkg `App` has two resources `a.yaml` and `b.yaml` and it has a `pipeline` has one of the mutators that drops the resource `b.yaml`. So if user runs `pipeline run App`, `b.yaml` should be deleted from the local filesystem.

[2021-03-04 23:52] runewake2 commented on #1506
Right now I would recommend using some of the general purpose [`gcr.io/google.com/cloudsdktool/cloud-sdk`](https://github.com/GoogleCloudPlatform/cloud-sdk-docker) images (either the `latest` or `debian_component_based` versions). Right now `latest` does not include kpt but I'll see if we can get it added. The `debian_component_based` version does already include kpt and you can use that image rig

[2021-03-05 19:02] #1503 closed

[2021-03-05 19:52] borisdali commented on #1499
Thank you for looking into this @runewake2!

Indeed `alpha-git-patch` works but with two caveats:

1/ Kptfile's "directory: /" line seems to sometimes (?) disappear after the update, making `kpt pkg diff` somewhat cranky until it's added back manually:

[code]

Adding this line manually makes `kpt pkg diff` far less cranky:

[code]

2/ The way `alpha-git-patch` deals with conflicts

I can't quite

[2021-03-05 22:59] bgrant0607 opened #1527 "kpt pkg get error message when package can't be retrieved is obscure"
### Expected behavior

kpt pkg get of some non-existent package should say not found, doesn't exist, or somesuch.

### Actual behavior

[code]

### Information

I failed to specify the branch of a repo. The default branch was not "main" or "master". Specifying the branch explicitly worked fine.

This was kpt 0.37.1.

[2021-03-05 23:15] selfmanagingresource commented on #1447
I suggest we keep this open until we can create a project for it. Kustomize support is a very high priority

[2021-03-06 00:10] bgrant0607 commented on #1064
@mortent There's a test in cli-utils that references config.kubernetes.io/local-config:
https://github.com/kubernetes-sigs/cli-utils/blob/dd1b1986577af7506376b963e6b821edbe575633/pkg/config/initoptions_test.go#L58

But, yes, searching for "local-config annotation" doesn't yield anything relevant, so documentation would help

[2021-03-06 01:37] martinmaly commented on #1506
Looking at the image, it may be initially sufficient. it seems that majority of the size is coming from gcloud (possibly some also from the base images). It may be good place to start and we can optimize if and as needed.

It appears that the image contains git so that should satisfy our requirements for now.

Thank you!

[2021-03-06 04:43] morgante opened #1530 "Kpt drops subpackage Kptfiles info when running update"
### Expected behavior

When running `kpt pkg update` for a package with subpackages, the subpackage Kptfile should be fetched and included.

### Actual behavior
When you run `kpt pkg update` and a new subpackage has been added to the remote, the subpackage resources are cloned but the Kptfile is not added locally.

### Information

kpt version 0.38.1

Sample package:
- Upstream: https://github.com

[2021-03-06 05:18] mikebz commented on #1521
I'd consider moving this into "In Progress" if it's actively being worked on.

[2021-03-06 05:21] mikebz commented on #1509
Closing for now.  Please let us know if you have any more questions and don't hesitate to re-open the ticket.

[2021-03-06 05:21] #1509 closed

[2021-03-07 17:38] mgoltzsche commented on #902
Potentially this could be fixed with #1151.

[2021-03-07 17:47] mgoltzsche opened #1531 "Allow output path relative to function config file"
### Is your feature request related to a problem? Please describe.

Users expect output paths declared within a function to be relative to the function's config file.
This came up in https://github.com/mgoltzsche/khelm/issues/12

### Describe the solution you'd like

kpt should handle function output paths relative to the function config's path when writing the output to disk.

### Describe altern

[2021-03-08 04:19] #1517 closed

[2021-03-08 04:27] phanimarupaka commented on #1507
We don't need a CRD for apply-setters function. We can use configMap input.

[2021-03-08 05:23] phanimarupaka opened #1532 "Implement apply-setters for subpackages"
Implement the apply-setters function to support adding setters for subpackages using path expressions.

[2021-03-08 18:47] Shell32-Natsu commented on #1246
@mengqiy I think this has been finished?

[2021-03-08 19:11] bharathkkb opened #1533 "setters for list of objects"
### Is your feature request related to a problem? Please describe.
Setting a list of objects is a common requirement when dealing with Config Connector resources. For instance, when creating a private [DNSManagedZone](https://cloud.google.com/config-connector/docs/reference/resource-docs/dns/dnsmanagedzone) I would like to associate N VPCs with this resource and KCC requires I pass in a list of `p

[2021-03-09 00:31] runewake2 commented on #1499
Taking a look at our `next` development branch I think the changes we've made their to `resource-merge` might help you out. They should handle merging lists as you'd expect. However, to use those changes you'd need to build kpt yourself right now. There may be some manual changes that are required to your Kptfile to make this work right now.

I'm investigating the two things you saw with `alpha-gi

[2021-03-09 08:03] mengqiy commented on #1246
Yup

[2021-03-09 08:03] #1246 closed

[2021-03-09 17:48] yhrn opened #1535 "go.mod replace directive breaks go 1.16 module aware install"
### Expected behavior
`go install github.com/GoogleContainerTools/kpt@v0.38.1` to succeed (assuming go 1.16 is used), `go install github.com/GoogleContainerTools/kpt@v0.38.0` works.

### Actual behavior
[code]

[2021-03-09 17:54] #1511 closed

[2021-03-09 18:11] droot opened #1536 "Ensure robots.txt to be in place to prevent search engines from indexing it."
kpt new docs website is live now. This will be a placeholder site for the `v1` docs and will be circulated widely when `v1` is ready so lets ensure we have robots.txt to prevent search engine from indexing it until we are comfortable with it.

[2021-03-09 19:34] mikebz commented on #1536
@etefera can you prioritize this?

[2021-03-09 21:19] mikebz commented on #1535
@yhrn is this blocking your workflow?

[2021-03-10 04:42] bgrant0607 commented on #1447
There are scenarios other than skaffold for using kpt and kustomize together. Ideally, custom integrations of kpt and kustomize wouldn't be needed for each such scenario.

What's the most challenging part of wrapping kustomize with a KRM function?

[2021-03-10 07:06] yhrn commented on #1535
@mikebz blocking sounds so dramatic but yes, we have switched to something like `GOBIN=$(pwd)/project-specific-bin-dir go install package@version` to install specific versions of various tools for some of our projects.

I also thought it was relevant to report this as I think this new go install feature is really convenient in general and hope that it will become the de facto standard way of insta

[2021-03-10 16:58] mikebz commented on #1535
@etefera can you please take a look?

[2021-03-10 17:21] mikebz commented on #1533
@bharathkkb just to make sure I understand.  You'd like to set a thing like `networks`

[code]

which can be any number of networks and it's a complex type instread of a string.

Is that correct?

I believe @phanimarupaka is in the process of designing setters in the `next` branch so would be great feedback for his design.

[2021-03-10 17:58] etefera commented on #1535
Thanks for reporting! Taking a look at this now.

[2021-03-10 18:09] bharathkkb commented on #1533
@mikebz yup that's correct, will follow up offline for testing `next` branch.

[2021-03-10 18:12] mikebz commented on #1533
Totally OK to keep the conversation here.  I believe this is a feature where multiple people are interested in a solution.  Kustomize based solutions currently allow doing this through patches, but the patch creation is more complex.

[2021-03-10 18:13] mortent commented on #1535
I had to add the replace directive before the latest release to work around the issue described at https://github.com/ory/dockertest/issues/208#issuecomment-686820414. But it would be great if we could fix the root cause of this and remove the directive.

[2021-03-10 18:21] mikebz commented on #1407
@phanimarupaka is this what you are working on right now?  Should we mark it as in progress?

[2021-03-10 18:27] #1324 closed

[2021-03-10 18:47] mikebz commented on #1531
@droot @mengqiy could be an interesting use case for you to adopt and analyze as you are working on hydration/functions v1.  khelm is a solution that is delivered in several ways including a kpt function.

[2021-03-10 19:25] mikebz commented on #1447
I think there are different approaches to solving this problem.  If we are talking about just creating a function that calls kustomize that this task is not as big.  If we are talking about having feature parity between kpt and kustomize then it's a bigger issue.  I read it as the latter at first.

I am reactivating this and looping in @mengqiy for the function implementation.

Just so the communi

[2021-03-10 19:27] mikebz commented on #1363
@etefera can you please take a look a this and see if this aligns with your workstream.  If it does then please add it to the project and add 'triaged' tag.

[2021-03-10 20:14] phanimarupaka commented on #1533
I am not sure if we should support this through setters. Setters are meant to be simple and apply scalar values or list of scalar values. If we accommodate this request, the question would be why no accept any arbitrary yaml node and set it? I think we should not overload setters for setting such complex yaml structures.

[2021-03-10 20:17] mengqiy commented on #1447
It should fairly straightforward to wrap kustomize in a kpt function. We can use kustomize's existing CRD (`apiVersion: kustomize.config.k8s.io/v1beta1 kind: Kustomization`) as the function config.

[2021-03-10 20:25] mikebz commented on #1447
@selfmanagingresource mentioned large customers demand, now we have strong signal from @bgrant0607 and @yuwenma .  I'd consider this as a higher priority.

CC: @frankfarzan

[2021-03-10 20:52] Shell32-Natsu commented on #1447
We used to have a kustomize function in the function catalog but for some reason (I don't remember) we removed it.

[2021-03-10 21:15] mikebz commented on #1447
is this something we can potentially restore and provide a support path?  Seems like an easy way to create a bridge for folks who have some of their config done with kustomize to adopt kpt hydration pipeline.

[2021-03-10 21:36] mengqiy commented on #1447
Ref: https://github.com/GoogleContainerTools/kpt/issues/1078

[2021-03-10 22:36] mengqiy opened #1539 "Functions in the catalog should use the same group name"
Currently `kpt.dev` is being used as Group name in function configuration CRDs.
We may want to change it to something like `fn.kpt.dev` to avoid using the one the kpt CLI is using.
We need ensure it's consistent across the fn catalog.

[2021-03-10 23:03] etefera commented on #1535
Updating the `apimachinery` library https://github.com/GoogleContainerTools/kpt/blob/master/go.mod#L19 allows for the removal of that replace directive and results in a successful build on both macOS and Linux. However, doing so seems to break a `live` test https://github.com/GoogleContainerTools/kpt/blob/master/pkg/live/dual-delegating-loader_test.go#L27

Investigating with @Liujingfang1 if it's

[2021-03-11 00:34] bgrant0607 commented on #1447
Do we have a way to measure how many times functions are used? That could help us assess utility.

[2021-03-11 00:58] phanimarupaka commented on #1407
@mikebz This is slightly different from what I am working on. I am tracking this issue and update it accordingly.

[2021-03-11 01:40] #1160 closed

[2021-03-11 02:03] mengqiy commented on #1447
No at the moment.
GCR doesn't natively support pull stats. We can get it from GCS logs by ourselves. We have a plan to do it, but we don't have bandwidth to implement it right now. We can try to do it in early Q2.

[2021-03-11 17:42] Shell32-Natsu opened #1541 "Define kpt hydration idempotent behavior"
- Define the expected idempotent behavior of in-place kpt hydration (`kpt fn render`).
  - Combined with user manual changes and subpackage updates.
- Understand what we need to achieve idempotent in in-place kpt hydration.

[2021-03-11 17:45] Shell32-Natsu commented on #1541
cc @mengqiy @droot @frankfarzan

[2021-03-11 18:55] frankfarzan commented on #1447
There are multiples aspects to consider here:

1. UX

- What's the desired e2e user journey here? This deserves a brief user guide before we can about function impl.
- In this user journey, what are the personae involved? Is the same person maintaining the kustomize directory and a kpt package? If so, why would they want this complexity? If not, are they treating kustomize directory as reusable of

[2021-03-12 00:44] mikebz commented on #1521
Could we link some questions or issues that were filed because this feature didn't exist?  It would be great to get back to those users and see if we are addressing their needs and also could be early design partners.

[2021-03-12 00:52] natasha41575 commented on #1252
will be part of #1521

[2021-03-12 01:03] natasha41575 commented on #1521
I will link issues if they arise. The main goal here is to make sure the UX for functions is good, so we are welcoming any input from users on that.

[2021-03-12 04:34] morgante opened #1544 "kpt doesn't work with symlinks"
### Expected behavior
When working in a symlinked directory, kpt should behave normally and have commands process properly.

### Actual behavior
kpt commands fail unpredictably when working in symlinked directories.

### Information
v0.38.1

### Steps to reproduce the behavior
1. Get a package: `kpt pkg get https://github.com/GoogleContainerTools/kpt/package-examples/helloworld-set hello2`
2. Crea

[2021-03-12 16:32] mikebz commented on #1521
I have rarely seen a feature well received if it wasn't addressing a problem that customers already knew they had.

[2021-03-12 18:14] frankfarzan commented on #1521
This is a cross-cutting and critical part of having good UX when manipulating KRM resources. Even most basic functions like name-prefix require augmented OpenAPI semantics to work properly. Kustomize has done this for core k8s native types based on a real need, we need to generalize and extend this.

[2021-03-12 22:19] #1539 closed

[2021-03-12 22:22] mengqiy commented on #1516
After we have the reference doc, we should provide a link in the docs in `examples/` directory.

[2021-03-13 03:08] morgante commented on #672
I'm still encountering this.

[2021-03-13 03:30] marshall007 opened #1545 "[Question] clarifications on `live` commands relationship with kustomize"
We have recently adopted `kpt`/`kustomize` as our preferred mechanism for maintaining and distributing a consistent baseline cluster configuration. The tooling is all great, but we are still trying to understand best practices and continue developing our own.

Discussion in issues like #1447 make it seem like we're going about it all wrong... our understanding of `kpt`'s primary role is that it pr

[2021-03-14 15:54] howardjohn opened #1546 "Support kpt live without cluster wide permissions"
### Is your feature request related to a problem? Please describe.
Currently, kpt live, like helm and kustomize, can be used by users without cluster admin permissions. Once ResourceGroup replaces configmap for inventory tracking, it seems this will no longer be the case. While namespace administrators may use it once the cluster admin has created the CRD, they cannot just use it out of the box. T

[2021-03-15 20:34] frankfarzan commented on #1519
Is there a separate issue for limiting `kpt fn eval` to imperative functions?

[2021-03-15 20:38] Shell32-Natsu opened #1547 "Drop declarative function and starlark support"
#1494

We should
 - Refactor copied codes about `kpt fn run`
 - Rename `kpt fn run` to `kpt fn eval`
 - Drop declarative function support
 - Drop starlark support.

[2021-03-15 20:39] Shell32-Natsu commented on #1519
@frankfarzan I created #1547

[2021-03-15 20:43] frankfarzan commented on #1519
Thanks!

[2021-03-15 20:43] #1519 closed

[2021-03-15 20:58] frankfarzan opened #1548 "Migrate functions catalog docs/tests to use kpt 1.0 CLI"
Once kpt 1.0 CLI is close to final release, we should convert function catalog example to use the new CLI. This will also provide additional test coverage for the orchestrator.

[2021-03-15 20:58] frankfarzan commented on #1547
Related: https://github.com/GoogleContainerTools/kpt/issues/1548

[2021-03-15 21:02] frankfarzan commented on #1548
Should think about tagging/branching the catalog repo before this migration so it is possible to see examples of functions using old CLI.

[2021-03-16 00:20] #1536 closed

[2021-03-16 18:08] #1496 closed

[2021-03-16 21:10] #1415 closed

[2021-03-16 21:10] #1441 closed

[2021-03-16 21:11] #1410 closed

[2021-03-16 21:11] #1332 closed

[2021-03-16 21:14] #1278 closed

[2021-03-16 22:05] Shell32-Natsu opened #1551 "Add new flag --fn-config to fn eval"
`kpt fn eval` should support an additional commandline flag `--fn-config` to provide a function config file as input. `--fn-config` and `key value functioon args` should be treated mutually exclusive (no merge). We should ensure that the config file is a valid KRM file.

`--fn-config`: A path to the function config file.

#1494

[2021-03-16 22:29] Shell32-Natsu opened #1552 "Add e2e tests for fn eval"
`kpt fn run` has been renamed to `kpt fn eval`. We should add e2e tests for it.

[2021-03-16 22:29] Shell32-Natsu commented on #1552
cc @droot

[2021-03-16 23:09] mengqiy commented on #1522
Fixed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/178

[2021-03-16 23:09] #1522 closed

[2021-03-16 23:10] mengqiy commented on #1480
Fixed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/174

[2021-03-16 23:10] #1480 closed

[2021-03-16 23:21] Shell32-Natsu opened #1555 "Enable"

[2021-03-16 23:23] Shell32-Natsu commented on #1555
cc @droot

[2021-03-17 13:54] droot commented on #1552
We should prioritize testing for newly added functionality.

[2021-03-17 14:08] droot commented on #1531
@mgoltzsche we are introducing new primitive called `pipeline` (part of `Kptfile) to run `kpt-functions` declaratively where each pkg (and subpackage) can have their own `pipeline`. In the new workflow, output generated by a function will be saved in the pkg that includes the `pipeline` that invoked that function. I think that should address this requirement.
This is in active development on `next

[2021-03-17 14:15] droot commented on #1524
Initially I thought using `kio.LocalPkgReaderWriter` would be enough to solve this problem, but realized it is not because it tracks resources using `.Read()` but in our case, resources are read as we DFS through the hydration DAG at each pkg level so wont work that way. One possible way to do it will be to track `inputResources` (filtering out meta resources) in `hydrationContext` as we DFS, and

[2021-03-17 14:35] droot opened #1557 "`kpt fn` error reporting and CLI output"
`kpt fn render` should report errors with useful diagnostic info that helps the end-users as well as kpt developers. We should explore if we `kpt` can support error reporting explained in this [post](https://commandcenter.blogspot.com/2017/12/error-handling-in-upspin.html) by `Rob Pike`.  The approach in that post tries to strike the right balance with needs of both the personas.

In addition, bei

[2021-03-17 14:39] droot opened #1558 "Improve `kpt fn render` end to end test converage"
`kpt fn render` has basic end to end test coverage today, but we are nearing code complete, having a better sense of where we are wrt end to end tests will be helpful. As part of this task, identify all the end to end test scenarios (happy paths, negative testing) and implement tests to ensure we have decent coverage.

[2021-03-17 15:06] droot opened #1559 "Enforce invariants during `kpt fn`"
There are two parts of this task:

- Define the invariants that needs to be held as functions are applied during `kpt fn render`.
- Implement checks for invariants

# Duplicate resource invariant
A resource is identified by the following properties:

- GVKNN (group, version, kind, namespace (if namespaced resource), name)
- filepath of the resource

`kpt fn render` should fail with error whenever

[2021-03-17 18:11] marshall007 commented on #1447
@frankfarzan we find this direction of stripping away native kustomize support confusing (i.e. #1078 and this following discussion). I opened up #1545 separately because I didn't want to derail this discussion with my naivety towards the situation.

I understand the challenge from `kpt`'s perspective here, particularly related to network access. As I noted in #1545 we deliberately don't use remote