[2020-06-23 15:48] MarcoSchaar commented on #740
Hi,
based on some examples, found a working setup with setters and substitutions.

[2020-06-23 15:48] #740 closed

[2020-06-23 21:09] mortent commented on #701
@yanniszark closing this issue. Feel free to reopen if the suggested fix didn't work.

[2020-06-23 21:09] #701 closed

[2020-06-23 22:13] frankfarzan opened #749 "Irrelevant global flags pollute `--help` output"
In latest release of kpt, there are some "global" flags that are not applicable to all commands:

[code]

For example, there are API server-related flags that do not make sense for `kpt fn`. In addition, the kitchen sink of
flags obfuscate `--help` output.

[2020-06-23 22:14] Shell32-Natsu opened #750 "Name change patch applied to incorrect roleRef target"
https://github.com/kubernetes-sigs/kustomize/issues/2640

[2020-06-23 22:36] frankfarzan opened #751 "Add kpt Docker image to the installation doc"
https://googlecontainertools.github.io/kpt/installation/

Using the kpt docker image is another way to use kpt.

[2020-06-23 23:53] #725 closed

[2020-06-24 00:01] phanimarupaka opened #752 "Design doc for required setters and kustomize implementation"
Come up with a proposal for the UX around required setters for live apply.
Add required flag to create-setter command.
Add isSet field to Kptfile setter definition if a setter is set.

[2020-06-24 00:02] #752 closed

[2020-06-24 00:06] #716 closed

[2020-06-24 00:14] phanimarupaka opened #753 "Update docs from fishfooding feedback"

[2020-06-24 15:15] mortent opened #755 "kpt live should ignore kustomization files"
Currently kpt live apply will fail if the folder contains a kustomization file.

[2020-06-24 15:41] wstrange commented on #755
Shouldn't kpt live understand and apply kustomization files?

[2020-06-24 16:22] mortent commented on #755
@wstrange that is a good question. We are working to make it easier to use kpt and kustomize together, but it is not clear whether supporting kustomize build in kpt live is the right way to go. It might be that better support for composing kpt and kustomize would be a better solution. There are some challenges around the inventory template in these situations since kustomize might change the names

[2020-06-24 18:08] mortent opened #756 "Support custom ordering of resources during apply and prune"
We currently do some ordering of resources before apply, but this is based on a static set of rules in kpt. We want to support custom ordering where users can specify dependencies between resources and kpt will build a plan for how to apply the resources according to those dependencies.
There are at least three different types of ordering that we might want to support:
* Resource A must be applied

[2020-06-24 19:44] #580 closed

[2020-06-24 20:04] prachirp opened #757 "Align config functions SDKs"
The typescript, golang, and starlark SDKs have different functionality. We should add to the libraries to make building functions easy for users. Optimize user experience with the following:

- standardize if arguments belong in the data or spec fields of the function config
- generic struct for the function config and functions to get arguments from function config
- generic way to get environmen

[2020-06-24 20:28] monopole opened #758 "Convert SMP transformer to kyaml"
https://github.com/kubernetes-sigs/kustomize/issues/2646

[2020-06-24 20:34] monopole opened #759 "name change patch applied to incorrect roleref target"
https://github.com/GoogleContainerTools/kpt/issues/750

[2020-06-24 20:34] #759 closed

[2020-06-24 20:36] monopole commented on #743
this is done

[2020-06-24 20:36] #743 closed

[2020-06-24 20:42] #393 closed

[2020-06-24 20:42] monopole commented on #393
this looks completed

[2020-06-24 20:43] #392 closed

[2020-06-24 20:44] #388 closed

[2020-06-24 20:44] #390 closed

[2020-06-24 20:44] #418 closed

[2020-06-24 20:45] #638 closed

[2020-06-24 20:50] monopole opened #760 "run KRM Config functions from kustomize"
We have a design doc and POC (add links)
This will trigger 3.7 or 3.8

[2020-06-24 20:52] monopole opened #761 "release kustomize 3.7"
roll up what we have, _excluding_ changes to apimachinery based patching (save latter for patch release).

[2020-06-24 20:54] monopole commented on #760
this includes writing documentation and examples (or file new issues for that)
do container-based in distinct issue

[2020-06-24 21:10] Shell32-Natsu commented on #743
The PR is approved but hasn't been merged.

[2020-06-24 21:12] morgante commented on #757
I'd also suggest we should update the [examples](https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/go/pkg/functions/gatekeeper/validate.go) to use a common framework.

[2020-06-24 22:01] frankfarzan opened #762 "Gatekeeper function should use the Go SDK"
Currently, Gatekeeper function:

https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/go/pkg/functions/gatekeeper/validate.go

Doesn't use the Kpt Go SDK:

https://googlecontainertools.github.io/kpt/guides/producer/functions/golang/

It uses an early minimal Go library which was built to unblock Gatekeeper before an official SDK was released. We should refactor Gatekeeper function

[2020-06-24 23:19] monopole commented on #760
Feel free to build off the contrubuted POC PR.  it might be best (most welcoming) to merge that and build off it. let me know what you think.

[2020-06-24 23:36] Shell32-Natsu commented on #760
I am OK to work on top that. But that PR adds some flags to `build` command. Is that OK?

[2020-06-25 07:14] yhrn commented on #685
Hi, is there any update on this one?

[2020-06-25 17:48] phanimarupaka commented on #685
@yhrn Sorry for the delay. We will get the fix rolled out in kpt release next week. Will keep you posted.

[2020-06-25 18:06] #510 closed

[2020-06-25 18:20] phanimarupaka commented on #685
@prachirp @yhrn I tested it with kpt v0.30.1 and a go function image example. This issue doesn't occur. It only happens with typescript sdks. So we will work on fixing that(io.ts).

[2020-06-25 19:48] frankfarzan commented on #685
@phanimarupaka can you capture the input and output of the `no-op` function:

[code]

[2020-06-25 20:03] frankfarzan commented on #685
@pwittrock

[2020-06-25 21:12] sankit2020 opened #764 "Adoption of kpt in the community based on data from Github - Number of Kptfile found in open Github repos"

[2020-06-25 21:54] phanimarupaka commented on #685
@yhrn The issue is due to the lineWidth limitation in [js-yaml](https://github.com/nodeca/js-yaml#safedump-object---options-). @prachirp is working on increasing it to 120. This is a work-around to unblock you.

The root cause is due to friction in handling yaml style formatting in go and ts. We will work on handling them and keep you posted. Thanks for your patience.

[2020-06-26 06:44] yhrn commented on #685
@phanimarupaka So just to clarify, the workaround should mean that it would work for values no longer than 120 characters, i.e. the lineWidth limitation does not include the comment itself? Because in realty that comments are much longer, typically kpt OpenAPI setters/substitutions.

[2020-06-26 16:41] #683 closed

[2020-06-26 16:54] prachirp commented on #683
Hey @jstrachan, I put together a workaround using transformer kpt-functions while we work on a better integration between kpt and Config Sync.

Please use set_namespace to add a namespace to configs and run remove-namespace to remove the namespace field from cluster-scoped configs if necessary. You can find them both [here](https://github.com/prachirp/kpt/blob/update-general-docs/site/content/en/g

[2020-06-26 17:41] frankfarzan opened #766 "Comment preservation logic has issue with inline comments"
Context: https://github.com/GoogleContainerTools/kpt/issues/685

Can repo with this:

1. File on disk:

[code]

2. Output of a function:

[code]

Note the following:
- A function MAY remove comments from YAML. This is a valid transformation allowed by the spec.
- A function MAY format YAML (in this case split a line into 2). This is a valid transformation allowed by the spec.

3. Output of 'kpt fn

[2020-06-26 17:43] frankfarzan commented on #685
Root cause here is described in https://github.com/GoogleContainerTools/kpt/issues/766.

The workaround should probably line limits all together, but it's fixing one of the possible causes, not the general problem.

[2020-06-26 17:44] prachirp commented on #685
Hey @yhrn , thanks for clarifying here. I unset the lineWidth limitation for the workaround now so functions keep arbitrarily long lines.

[2020-06-26 19:08] mortent opened #767 "Building kpt from source should pull in latest unreleased versions of cli-utils, kyaml and cmd/config"
A lot of functionality in kpt is actually maintained in other libraries, notably cli-utils, kyaml and cmd/config. Currently we only pull in new code from those libraries when there is a release. This means we end up waiting for a release before we can see if a change in the upstream libraries work as expected in kpt.
We should look into using rewrite rules in the `go.mod` file to pull in changes f

[2020-06-26 19:25] prachirp opened #768 "Unable to run kpt exec runtime"
I want to run the label namespace kpt function using the exec runtime but am unable to using the instructions [here](https://googlecontainertools.github.io/kpt/guides/producer/functions/exec/).

Steps to repro:
- Using kpt v0.30.1.
- Check out kpt-functions-sdk git repo.
- Run from sdk repo root directory: `kpt fn run example-configs --enable-exec --exec-path node ts/demo-functions/dist/label_name

[2020-06-26 20:34] prachirp commented on #747
@dflemstr Thanks for the SDK change, I also don't know of any other places that need to be updated.

[2020-06-26 20:37] mortent commented on #768
@prachirp Do we think this is a problem with the documentation being out-of-date, or is this functionality broken in the latest kpt release?

[2020-06-26 21:05] prachirp commented on #768
This functionality is broken as I tried a lot of different variations of the command hoping it would work like building an executable file, putting quotes around "node ts/...", etc.

[2020-06-26 21:10] prachirp commented on #768
This is a documentation issue. I had been trying to pass "node ts/demo-functions/dist/label_namespace_run.js" as the exec path and it wasn't able to run it, even after passing as a double-quoted string. I had to package the function into an executable to get it to work. Giving the steps below.

Still starting from sdk repo root dir:
1. `npm install -g pkg`
2. `npx pkg ts/demo-functions/dist/label_

[2020-06-26 21:12] mortent commented on #768
Sounds good. Can you create a PR with an update for the docs?

[2020-06-26 21:45] prachirp commented on #768
Yea, I'm working on it.

[2020-06-26 21:51] phanimarupaka commented on #685
The fix has been merged. This will be released early next week.

https://github.com/kubernetes-sigs/kustomize/pull/2657

[2020-06-29 15:05] #578 closed

[2020-06-29 18:14] #768 closed

[2020-06-29 20:15] wstrange opened #772 "create-subst should provide support for wildcard matches in substitutions"
It woud be nice if substitutions can match wild card patterns. For example, consider a value in a configmap:

[code]

I'd like to have a single setter `fqdn` that sets the FQDN, including the fqdn embedded in the URLS:

[code]

Currently the `--pattern` does not allow wildcard matches like `https://\${fqdn}/*`

The command to create the substitution would be something like:
[code]

See also: https

[2020-06-30 01:31] #717 closed

[2020-06-30 01:32] #712 closed

[2020-06-30 16:08] #747 closed

[2020-06-30 16:45] #640 closed

[2020-06-30 19:26] Shell32-Natsu opened #775 "Doc for KRM function in Kustomize"
kpt functions have been rebranded as KRM Config Functions

This means changes in the kustomize repo, the kpt repo,  the kpt function catalog and the kpt typescript sdk repo.

[2020-06-30 19:27] Shell32-Natsu opened #776 "Docs: mark kustomize plugin development as deprecated."

[2020-06-30 19:28] Shell32-Natsu commented on #760
Created issues for doc.

Containerized function is also implemented.

[2020-06-30 19:28] #760 closed

[2020-06-30 19:31] Shell32-Natsu opened #777 "Benchmark for KRM functions in Kustomize"
Need to have a script/program to run a simple benchmark against the KRM function in Kustomize.

- Run kpt function example.
- Same function but one is executable one is container.
- Run 10/100/1000 times and compare the time used.

[2020-06-30 19:32] Shell32-Natsu commented on #777
/cc @monopole

Should we checkin this benchmark into kustomize repo?

[2020-07-01 01:02] prachirp opened #781 "Create a release workflow for catalog go functions"
Create a workflow to release catalog go functions to http://gcr.io/kpt-functions. This will be similar to https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/.github/workflows/release-gatekeeper-function.yaml

[2020-07-01 18:09] phanimarupaka opened #782 "Handle warnings/messages without printing to stdout"
Currently we print warnings/messages to stdout which makes it hard to test. It is not appropriate way of doing it. Figure out a better way to handle them.

[2020-07-01 19:16] haiyanmeng commented on #781
If a kpt fn docker image (such as `set-namespace`) is implemented in different languages, will the GCR be able to differentiate them somehow?

[2020-07-01 19:56] pwittrock opened #783 "`kpt cfg list-setters` don't show substitutions by default"
The substitutions are not directly settable, and clutter the `list-setters` output.  Showing the substitutions should be off by default and enabled with a flag.

[2020-07-01 20:24] prachirp commented on #781
GCR won't differentiate between docker images. We don't have multiple functions in different languages yet, but we can probably give them different names to mark the difference.

[2020-07-01 21:49] Shell32-Natsu commented on #777
Cloudtop machine used to run benchmark:
[code]

Docker version: `19.03.5`

Kustomize build commit: https://github.com/kubernetes-sigs/kustomize/commit/c7bc9d20663bd50974d6b7c4a26b46b0ed8d1156

Go version: `1.14.4`

Node version: `v10.20.1`

Label namespace function is a JS function. tshirt function is a Go function. They both run as transformer.

Result:
[code]

[2020-07-01 22:35] janetkuo opened #784 "Search doesn't work in https://googlecontainertools.github.io/"
For example, https://googlecontainertools.github.io/kpt/search/?q=kpt doesn't return anything.

[2020-07-01 23:26] #576 closed

[2020-07-01 23:35] prachirp commented on #783
cc @phanimarupaka Can you take a look at changing `list-setters`?

[2020-07-02 00:34] mortent commented on #767
So turns out this isn't possible. `require` statements in the `go.mod` file must always point to a specific version (might be a pseudo-version) and `replace` rules can only omit the version if it points to a path on the filesystem.
I think we should just accept that the versions for `cli-utils`, `kyaml` and `cmd/config` might point to unreleased commits between kpt releases and that we need to man

[2020-07-02 09:14] yhrn commented on #685
@phanimarupaka Any news on the release that will include this?

[2020-07-02 12:09] ashlineldridge opened #787 "When kubeconfig points to a private cluster kpt incurs timeout on every command"
I'm working primarily with private EKS clusters at the moment so my kubeconfig generally points to an API endpoint which isn't directly accessible. After upgrading to 0.30.1, kpt hangs on every command due to its [default behaviour](https://github.com/GoogleContainerTools/kpt/blob/master/internal/util/openapi/openapi.go#L32) of trying to fetch the OpenAPI schema from the cluster before falling bac

[2020-07-02 12:50] MarcoSchaar opened #788 "question - get values"
Hi,
is it possible to get certain values analog to setter methods?
regards
Marco

[2020-07-02 18:06] prachirp commented on #784
Thanks Janet, I'll either get it working or remove the search bar altogether.

[2020-07-02 20:49] prachirp commented on #787
Hey Ashlin, thanks for reaching out and for the feedback! 🙏

Yes, this is the intended behavior as described in our reference https://googlecontainertools.github.io/kpt/reference/#openapi-schema
I'm closing this out but please reopen if you have any followup questions.

[2020-07-02 20:49] #787 closed

[2020-07-02 21:01] prachirp commented on #788
Hey Marco, you can use `kpt cfg grep` to get the field values on resources. Check out https://googlecontainertools.github.io/kpt/reference/cfg/grep/

[2020-07-02 21:01] ashlineldridge commented on #787
Thanks, @prachirp 🙇

[2020-07-03 06:38] MarcoSchaar commented on #788
Hej @prachirp
thanks for pointing to grep

gave a try to check the help for this command.
basically I'm trying to fetch e.g. an image tag into a variable.

running kpt on windows

[code]

[2020-07-03 15:48] prachirp commented on #788
Hey @MarcoSchaar thanks for following up! I made a fix for the error you ran into. In the meantime you can find the grep help docs at https://github.com/GoogleContainerTools/kpt/blob/4be756ad01b0f7651e8fb6b7fec88c0478e0972e/internal/docs/generated/cfgdocs/docs.go#L237

[2020-07-03 19:04] mortent commented on #772
This seems similar to https://github.com/GoogleContainerTools/kpt/issues/742.

[2020-07-03 19:44] mortent opened #790 "Kpt binary in docker images does not have version set"
We publish a docker image with kpt at gcr.io/kpt-dev/kpt. Unlike the binary built directly in cloud build, it does not have the version set. So running:
[code]
prints `unknown` instead of the actual version.

[2020-07-03 23:49] phanimarupaka commented on #685
@yhrn Our kpt release schedule slipped due to vacation. We will be releasing early next week. I will ping you after that.

@prachirp Is the typescript sdk released ? Can @yhrn be unblocked with that ?

[2020-07-04 00:19] #766 closed

[2020-07-04 03:59] prachirp commented on #685
Hey @phanimarupaka , @yhrn , yes I released last week. Please update to kpt-functions v0.14.2 to get unblocked.

[2020-07-04 04:11] #784 closed

[2020-07-04 07:03] phanimarupaka commented on #783
@pwittrock Agree. Raised a PR.

[2020-07-05 05:13] davinkevin opened #791 "fix(fn.kustomize.build): provide git binary for remote ressources execution"
Hi,

I try to use the `kustomize-build' function to create my source, the problem is I use, for simplicity a remote `bases`/`resources` and the image containing the node+kustomize doesn't contain the git binary required by `kustomize` for fetching the assets.

[code]

The result is:

[code]

I will do a PR to add git in the image BTW

[2020-07-06 04:34] #783 closed

[2020-07-06 06:26] jijiew commented on #533
@patflynn I tried myself with a windows server + powershell setting. I was able to reproduce your issue. :)
git config core.autocrlf false
and then do kpt pkg get actually fix my problem. Here is what you can probably do:

1. git config core.autocrlf false
2. to confirm that it actually works:
 do git clone https://github.com/kubernetes/examples.git
and check the file ending character by:
(Get-Con

[2020-07-06 06:26] #533 closed

[2020-07-06 14:32] patflynn commented on #533
I'm not on my windows machine right now, so I haven't verified this, although I'm sure your analysis is probably right.  However shouldn't kpt handle this case rather than just fail the way it does? It seems like it's likely to trip up many Windows users.

[2020-07-06 16:29] prachirp commented on #791
Thanks for the fix @davinkevin ! I pushed the new image to gcr.io/kpt-functions/kustomize-build and will add a test so there's no regression. Please close this out after you verify the new image.

[2020-07-06 22:30] ashlineldridge opened #793 "kpt pkg sync set ignores --strategy flag"
The default strategy type of `fast-forward` is always written to the Kptfile regardless of what is provided to `--strategy` due to the fact that `&r.Strategy` is passed to Cobra rather than `&r.Dependency.Strategy` [here](https://github.com/GoogleContainerTools/kpt/blob/4c09f34e3ee3984bc042d74a337e5d416c7db563/internal/cmdsync/cmdsyncset.go#L40). Happy to submit a PR if you like.

[2020-07-07 00:57] ashlineldridge opened #794 "kpt pkg sync / kpt pkg update commands don't update nested Kptfiles"
When syncing or updating a Kpt package, if that package contains nested packages, the nested package Kptfiles are not updated. This means that if setters were added to the nested packages in the upstream repository they don't get updated in local Kptfiles which means that you can't then call `kpt cfg set` on them. Could you please advise if this is the intended behavior? 🙇

[2020-07-07 07:25] jijiew commented on #533
I agree, sent out a pr for fixing this:
https://github.com/kubernetes-sigs/kustomize/pull/2700

[2020-07-07 16:39] #793 closed

[2020-07-07 17:56] prachirp commented on #794
cc @phanimarupaka Can you elaborate how setters work with nested packages?

[2020-07-07 20:18] #788 closed

[2020-07-07 22:52] phanimarupaka commented on #685
@yhrn We just had a new release v0.31.0. This issue is addressed in that.

[2020-07-07 22:52] #685 closed

[2020-07-07 22:59] seans3 commented on #722
@cflewis

1. For the `kpt live` code, you can go to the `cli-utils` repository: https://github.com/kubernetes-sigs/cli-utils

2. For the `kpt cfg` code, you can go to the `kustomize` repository: https://github.com/kubernetes-sigs/kustomize/tree/master/cmd/config

3.  For the `kpt fn` code, you can go to the `kustomize` repository: https://github.com/kubernetes-sigs/kustomize/tree/master/cmd/config

[2020-07-07 23:00] seans3 commented on #722
If there is no further discussion on this issue, I will close it soon.

[2020-07-07 23:26] cflewis commented on #722
SGTM, thank you 😀

[2020-07-07 23:26] #722 closed

[2020-07-07 23:46] yanniszark commented on #755
@mortent does that mean that if a user works with kustomize packages, they won't be able to use `kpt live apply`? Does it maybe make more sense to be able to specify the input YAML to `kpt live apply`? That way, a user could do `kustomize build | kpt live apply -f`

[2020-07-08 06:40] davinkevin commented on #791
Thanks you to for the integration ❤️

I've tested it like you do in the `e2e.sh` and this is working perfectly.

But, I tried to run it through `kpt` with the imperative or declarative way and I end up with the no ouptut or error. Could you provide and example on how to run it in both situation?

If I run it imperatively, I have the following response:
![image](https://user-images.githubuserconten

[2020-07-08 18:24] pwittrock opened #801 "kpt update resource-merge should also overwrite non-resources files"
Files such as starlark scripts should be updated when updating the package and merging resources

[2020-07-08 18:33] #261 closed

[2020-07-08 18:34] #753 closed

[2020-07-08 18:39] phanimarupaka opened #802 "Capture kpt image downloads stats"
This is follow up to https://github.com/GoogleContainerTools/kpt/issues/703. Copy logs about downloads to system which can persist data for long. Build dashboard on top of it for downloads.

[2020-07-08 18:39] #703 closed

[2020-07-09 09:52] yhrn opened #803 "Typescript functions SDK 0.14.2 errors out on missing functionConfig"
Previously `Configs.getFunctionConfigValue()` would return undefined if a `functionConfig` was not provided when invoking a kpt function and this is still how it should behave according to the API comments but in 0.14.2 an error with the message "functionConfig expected, instead undefined" is raised instead.

[2020-07-09 17:40] mortent commented on #538
Release 0.31.0 was released with the new setup. Binary artifacts and release notes are available at https://github.com/GoogleContainerTools/kpt/releases/tag/v0.31.0

[2020-07-09 17:40] #538 closed

[2020-07-09 17:41] #767 closed

[2020-07-09 18:19] #802 closed

[2020-07-09 18:32] prachirp commented on #791
Hey Davin,
Kpt has a --mount flag which accepts the same type, src, dst arguments as docker does to mount the file system inside the container. I think this is similar to a previous issue of kpt not handling source functions. https://github.com/GoogleContainerTools/kpt/issues/587

I only got this working using the exec runtime. I built kustomize build as an executable and ran it in kpt.

[code]

[2020-07-09 20:49] #258 closed

[2020-07-09 23:15] Shell32-Natsu opened #806 "Patch drops properties that are null or are an empty array"
https://github.com/kubernetes-sigs/kustomize/issues/2697

[2020-07-09 23:17] Shell32-Natsu commented on #775
Docs in Kustomize repo don't mention kpt. No need to update.

[2020-07-10 06:25] davinkevin commented on #791
Thanks for your very clear answer 👍.

For the original issue, I think this can be close, I let you choose if you prefer to keep it open.

I will post a message in #587 too to support this fix.

Thank again for your help, support and reactivity ❤️

[2020-07-10 06:32] davinkevin commented on #587
This is a blocker for our clients (I can name them directly, but they are on our [website)](https://stack-labs.com/).

We are using a lot `kustomize` and would like an integrated solution/pipeline like the documentation describe for our yaml management.

I really upvote this feature ❤️

[2020-07-10 13:16] marklester opened #808 "create-setter bug with dots in setter name"
kpt version:  0.31.0

[code]
kptFile:
[code]
deployment.yaml
[code]

looks like it drops the first part of the name? and I didn't see a valid character section for setter names

[2020-07-10 13:45] marklester commented on #625
From following this, it sounds like you are not supposed to put the namespace crd in the kpt package. It that correct?

[2020-07-10 15:50] prachirp commented on #791
Will close this and work on the root cause issue.

[2020-07-10 15:50] #791 closed

[2020-07-10 16:14] jijiew commented on #625
right now, if your namespace crd is within the same namespace of other resources, it's fine. With the kpt live -namespace cmd, you will be able to specify which namespace to init with.

[2020-07-10 16:53] mortent commented on #625
@marklester I assume you mean namespace resource rather than namespace CRD here. Kpt only cares about the built-in namespace resource type.

As @jijiew mentioned, with the proposed change, it will be possible to override the algorithm used by `kpt live init` to decide which namespace should be set on the inventory template. Right now kpt errors out if it can't decide on the namespace.

It sounds l

[2020-07-10 16:57] #411 closed

[2020-07-10 17:07] Shell32-Natsu commented on #775
Close this issue. Will create another issue for other repos.

[2020-07-10 17:07] #775 closed

[2020-07-10 17:24] Shell32-Natsu opened #809 "Rebrand kpt function to KRM config function in Kpt related repos"
Including the kpt repo, the kpt function catalog and the kpt typescript sdk repo

[2020-07-10 17:36] mortent commented on #734
Fixed by https://github.com/kubernetes-sigs/kustomize/pull/2676

[2020-07-10 17:36] #734 closed

[2020-07-10 17:40] mortent commented on #257
@phanimarupaka @pwittrock We did improve the merging of the openapi schema as part of the work on delete-setters. Should we consider this completed?

[2020-07-10 17:41] mortent commented on #414
This is mostly completed. Closing this one and we can create new issues for improvements.

[2020-07-10 17:41] #414 closed

[2020-07-10 17:47] mortent commented on #281
@phanimarupaka I know you had some ideas about how we should do this. Can you write up a proposal for this? As we continue to make improvements to setters/substitutions we need to provide tooling so users can migrate and allow us to eventually remove support for old formats (like the v1 setters).

[2020-07-10 19:51] ashlineldridge opened #810 "When setter has same name as substitution set replaces entire value"
When creating a substitution, my inclination was to create the substitution with the same name as the setter that it referenced. Kpt allows me to do this but when I call `kpt cfg set` the entire value is replaced by the setter rather than being substituted.

For example if I create a new substitution and setter:

[code]

Kpt will create both substitution and setter with the name `tld` and the reso

[2020-07-10 20:00] phanimarupaka commented on #801
@pwittrock https://github.com/GoogleContainerTools/kpt/pull/500 Isn't this already done ?

[2020-07-10 21:51] monopole commented on #758
DONE
2020-06-28 Upgrade kustomize to kyaml v0.3.2
2020-06-28 Start supporting strategic merge patch in kyaml/yaml/merge2.
2020-06-26 Switch to kyaml v0.3.1
2020-06-26 Allow multiple patch strategies.
0001-01-01 Allow for strategy lists in associative list check.
2020-06-26 Deployment volume merge tests.
2020-06-26 Update SMP transformer for kyaml
2020-06-26 More kyaml list merge tests
2020-06-26 C

[2020-07-10 21:51] #758 closed

[2020-07-10 21:52] monopole commented on #761
https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.7.0

[2020-07-10 21:52] #761 closed

[2020-07-10 22:18] phanimarupaka commented on #281
@mortent Sure. Will do.

[2020-07-10 22:18] phanimarupaka commented on #257
@mortent Yes IMO. We can close this.

[2020-07-11 00:33] frankfarzan commented on #803
@prachirp This is probably related to your recent changes to getFunctionXXX family of functions.

[2020-07-12 00:08] mortent commented on #810
@ashlineldridge Thanks for reporting this.
This is a bug. We don't allow having the same name on a substitution and a setter, but this isn't enforced properly when referencing a non-existent setter that ends up being created together with the substitution.

[2020-07-12 05:22] aodinokov commented on #587
@prachirp ,
can it be that https://github.com/kubernetes-sigs/kustomize/pull/2709 is the reason why you were not able to see the files in ($pwd) in your original message?
First - because kpt by default was trying to set readonly mount (that's different behavior from docker --mount argument )
Second - it didn't work right. I noticed that 'kustomize-build' image didn't work with kpt for me because o

[2020-07-12 15:35] aodinokov commented on #791
@davinkevin

I've got the same results, and figured out that because of the issue inside kpt, directory that is getting created has a postfix ':ro'.
see more details here: https://github.com/kubernetes-sigs/kustomize/pull/2709
Let's say, you do:
[code]
in that case you can workaround it in you function definition with
[code]

I hope this will be merged soon and it will start working without workar

[2020-07-12 17:02] marklester commented on #625
I think being able to specify where the inventory template should be fine. Where do people usually put the inventory template? In the namespace of the app being deploy? in a namespace called inventories? default namespace?

[2020-07-12 19:49] mortent opened #813 "Creating setters through substitutions are not adding openapi refs to resoures"
It is possible to create a substitution that references one or more setters that doesn't exist. This will create the setter in the Kptfile, but it doesn't actually add the references to the setter in the manifests.

Starting with a package without any setters or substitutions.

Kptfile:
[code]
Manifest:
[code]

Then add a substitution with the following command:
[code]

The resulting files will be

[2020-07-13 16:27] mortent commented on #813
Is creating a setter as part of creating a substitution something we want to support long term? The behavior above seems like a bug, but even if we fix that, creating setters this way seems pretty limiting. Things like validation, required, and set-by is not really available.

@phanimarupaka @pwittrock

[2020-07-13 17:22] phanimarupaka commented on #813
@mortent Yes, this was thought about when implementing this feature. The idea here is to set up the bare minimum in order to create the substitution rather than throwing error if setter doesn't exist. The plan is to make the tool work as opposed to throw an error. If the user wants other values to be managed by setter or add validations to setter then he/she can do it by creating a new setter or m

[2020-07-13 17:37] #696 closed

[2020-07-13 18:00] mortent commented on #813
ok. I'll take a look at the docs for this and make sure this behavior is documented.

[2020-07-13 18:06] mortent commented on #625
@marklester So kpt doesn't really care about where you put the inventory, the important thing is that it is able to look it up during later apply operations and use it to determine if any resources should be pruned.
If all your resources are namespaced and all belong in the same namespace (probably a common situation), I think it makes sense to put the inventory in the same namespace.
If you have

[2020-07-13 18:12] seh commented on #625
I thought there was an open issue regarding _kpt_ not allowing a single inventory object to track objects in multiple namespaces. I can't find it today. Is that closed already? Can we track objects in multiple namespaces now?

[2020-07-13 18:31] mortent commented on #625
@seh We are working on addressing this, ref some of the previous comments on this issue.

[2020-07-13 18:33] #803 closed

[2020-07-13 18:41] prachirp commented on #803
Hey @yhrn , I had done some refactoring to the sdk that caused this. Please upgrade to 0.14.3 for the fix.

[2020-07-13 20:54] prachirp opened #817 "TS SDK test runner does not handle structured results in output"
For example, the following unit test fails:

[code]
with an error about yaml multi-line strings (https://yaml-multiline.info/)
[code]

[2020-07-14 19:27] #777 closed

[2020-07-14 19:28] Shell32-Natsu opened #820 "Unknown fields are removed by "kustomize edit" instead of returning an error and terminating"
https://github.com/kubernetes-sigs/kustomize/issues/2681

[2020-07-15 17:41] #687 closed

[2020-07-15 19:51] phanimarupaka commented on #813
@mortent Here is the docs covering this section. https://googlecontainertools.github.io/kpt/guides/producer/setters/#modifying-a-setter

Let me know if this looks good so that we can close the issue.

[2020-07-15 21:57] #806 closed

[2020-07-15 21:57] #820 closed

[2020-07-15 22:02] prachirp opened #823 "Kpt fn run should handle function arguments that are flags"
What I ran:
[code]
I also tried `"--use-kube"="false"` and `'--use-kube'='false'`

What I expected:
Istio validation messages

What I got:
[code]
This means that the --use-kube=false is not being passed as a function argument. Perhaps kpt is consuming it as a flag to kpt fn run.

What works:
[code]

The args get parsed correctly when I pass a function config.

[2020-07-15 22:50] prachirp opened #824 "Kpt TS SDK should handle function arguments that are flags"
[code]
The SDK is trying to parse the --use-kube=false itself instead of passing it to the istioctl-analyze function as a function config literal.

[2020-07-16 02:37] morgante opened #825 "Running kpt live apply in a non-initialized directory hangs"
When I run `kpt live apply` in a package directory immediately after running `kpt pkg get` it hangs with no output.

The correct command is `kpt live apply .` but the behavior when a directory isn't provided is very confusing.

[2020-07-16 02:52] morgante opened #826 "Kpt live doesn't respect namespace context"
When getting started with `kpt live`, it was confusing that everything goes in the `default` namespace even when I have a different namespace configured in my Kubernetes context.

`kpt live init .` should use the current context to set the namespace.

`kpt live apply .` should use the current namespace for any non-namespaced resources.

[2020-07-16 05:28] phanimarupaka commented on #826
@mortent Can you please take a look.

[2020-07-16 05:32] phanimarupaka commented on #810
This issue has been addressed in the above PR. You can see this update in next kpt release.

[2020-07-16 05:32] #810 closed

[2020-07-16 06:04] phanimarupaka commented on #825
@mortent @seans3 I see that the live commands are waiting for stdin if there is no DIR specified which is confusing the user. What do you think is the UX for such cases?

[2020-07-16 16:43] seans3 commented on #826
/assign

[2020-07-16 17:56] Shell32-Natsu opened #829 "RoleBinding subject name not transformed to match new ServiceAccount name"
https://github.com/kubernetes-sigs/kustomize/issues/2651

[2020-07-16 22:27] jlewi opened #831 "Behavior change 0.24.0 to 0.30.0 - are Kptfile's required?"
Our CI started picking up the latest kpt release 0.30.0 and we noticed this appears to have caused our existing configs to break.
kubeflow/gcp-blueprints#89

The error is

[code]

Are Kptfile's now required? Our packages don't have Kptfiles as of yet.

Furthermore, as the [logs show](https://github.com/kubeflow/gcp-blueprints/issues/89#issuecomment-658534964) previous invocations of the kpt comman

[2020-07-16 23:10] mortent commented on #825
So I think we have two options here if we want to address this.

We can adopt the `-` convention used by kubectl to signal that we should read from stdin. I'm not crazy about this idea, and we would need to adopt it across all kpt commands to be consistent.

We can see if there is a way we can distinguish between `kpt live apply` and `kpt cfg cat /my-folder | kpt live apply` so we can exit with an

[2020-07-16 23:16] jlewi commented on #831
My conjecture is that we have the old "partialSetters" method that didn't rely on Kptfile setters and substitutions and that is breaking things

[2020-07-16 23:25] mortent commented on #831
@jlewi As part of a discussion around how we could deprecate the old style setters, we realized a few days ago that they have been broken since v0.27.0.
We do plan on deprecating this soon, so I just want to get an idea about how much effort it is for you to migrate? We have been discussing providing a command for upgrading, but reality is that partial setters almost certainly will require some ma

[2020-07-17 01:12] jlewi commented on #831
@mortent Thanks for confirming. I already started upgrading our kptfiles. I don't think it will be too painful; I probably won't wait for any upgrading tool.

[2020-07-17 01:22] jlewi commented on #831
@mortent Are previous releases available somewhere? It looks like the releases page doesn't include binary assets:
https://github.com/GoogleContainerTools/kpt/releases/tag/v0.24.0

[2020-07-17 01:34] mortent commented on #831
@jlewi Yeah, old releases are available in the gcs bucket, but there is not link to it. The 0.24.0 release (for linux) is available at https://storage.googleapis.com/kpt-dev/releases/v0.24.0/linux_amd64/kpt_linux_amd64-v0.24.0.tar.gz

[2020-07-17 03:19] mortent commented on #808
This is fixed and will be available in the next version of kpt.

[2020-07-17 03:19] #808 closed

[2020-07-17 16:38] haiyanmeng commented on #781
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/72 should fix this.
I don't know why this is created under the kpt repo instead of `kpt-functions-catalog` repo.

[2020-07-17 17:42] prachirp commented on #781
kpt-functions-catalog and kpt-functions-sdk both use kpt Github issue tracker for project management and kpt website for documentation so users have one place to file issues and search docs.

[2020-07-17 17:46] frankfarzan opened #832 "Document how to run privileged function docker containers"
For functions that need network or host access, we need to provide examples of how to use such flags:

kpt fn run local-configs --mount type=bind,src=$(pwd)/helloworld-chart,dst=/source
kpt fn run local-configs --network

We can point to examples functions in the catalog that need these.

[2020-07-17 22:20] ZhuGongpu opened #833 "Sourcing a ResourceList file should return the ResourceList itself"
Consider you have a `deployment.yaml` file:
[code]
Running `kpt fn source deployment.yaml | kpt fn source` will get:
[code]
However, if we save the output of the first `kpt fn source` into file and then run `kpt fn source` again, e.g.
[code]
will get:
[code]

Is this an inconsistent behavior? @mortent @frankfarzan

[2020-07-17 23:52] jlewi opened #834 "kpt became excruciatingly slow - due to problem contacting kube APIServer"
I was running `kpt cfg` commands and suddenly they started becoming painfully slow. `kpt version` was also very slow.

[code]

I than ran it with logs

[code]

So it looks like the problem is that kpt is trying to contact the APIServer of my current K8s cluster and for whatever reason my current cluster wasn't very responsive.

When I switched my kube context to a working cluster it became respons

[2020-07-19 23:32] mortent commented on #801
I did a quick check here, and as far as I can see the starlark script is being updated. I set up an example at https://github.com/mortent/starlarkfn which has version `v0.0.1` and `v0.0.2` where the name of the annotation in the starlark file is changed from the first to the second version.
[code]

With or without setting the the merging strategy, I end up with the expected starlark file.

@pwittr

[2020-07-20 10:16] arnaud-mey commented on #582
I seem to still get the old behavior using kpt 0.31.0.

I'm seeing
`Fatal error: timeout after 120 seconds waiting for 20 resources to reach condition AllCurrent`
without more information on the resources that failed.

The full output: https://gist.github.com/arnaud-mey/d26569ec9feb44a1de8485fd12f4192a

[2020-07-20 17:51] #745 closed

[2020-07-20 20:43] mortent commented on #834
@jlewi Thanks for reporting this. We put this in so kpt can use the openapi schema from the actual cluster rather than the one complied into kpt. But clearly 15 seconds delay each time is unacceptable. I will look into whether we can have a more aggressive timeout when the cluster is not responsive.

[2020-07-20 20:46] mortent commented on #834
It is also possible to force kpt to use the built-in openapi schema rather than trying to contact the cluster by setting the flag `--k8s-schema-source=builtin`

[2020-07-20 21:25] prachirp opened #837 "kpt fn source on an empty directory should make an empty resource list"
`kpt fn source` on an empty directory should make an empty resource list. Currently it doesn't give any output.

[2020-07-20 21:32] prachirp commented on #837
cc @monopole

[2020-07-20 22:00] prachirp opened #838 "kpt pkg get should exit gracefully when it succeeds in getting a package"
Example:
[code]
I ran `kpt pkg get` on a directory containing a helm chart and saw that the command exited with an error. But when I checked, I see that it kpt pkg got the directory correctly. The command should output a warning with the error but exit gracefully since it succeeded in getting the package.

[2020-07-21 03:00] prachirp opened #839 "Error when kpt fn running kustomize build [URL]"
My kpt function runs kustomize inside a docker container [here](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/functions/ts/build/kustomize_build.Dockerfile).

I'm able to run it successfully using docker run [here](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/tests/e2e.sh#L106). I converted this command to use kpt fn run and get the followin

[2020-07-21 03:01] prachirp commented on #839
cc @monopole

[2020-07-21 07:31] vaseeharan opened #841 "kpt guide panics when not supplying any arguments"
kpt version
0.30.1

/usr/bin/kpt guide
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/GoogleContainerTools/kpt/commands.GetGuideCommand.func1(0xc000417b80, 0x2a454c0, 0x0, 0x0, 0x0, 0x0)
	/workspace/commands/guidecmd.go:136 +0x1f5
github.com/GoogleContainerTools/kpt/commands.NormalizeCommand.func2(0xc000417b80, 0x2a454c0, 0x0, 0x0, 0x0, 0x0)
	/workspa

[2020-07-21 07:45] vaseeharan opened #842 "kpt live diff errors out when (only) resource is deleted"
When following the example provided in `kpt guide Apply`, I ran `kpt live diff` after removing `helloworld/deploy.yaml`, expecting it to show the Deployment resource to be deleted in the diff output.

[code]

However, the command errors out as follows:

[code]

`kpt live preview` and `kpt live apply` worked as expected.

[2020-07-21 16:11] #790 closed

[2020-07-21 20:39] elfinhe opened #845 "Kpt 0.30.1 breaks cfg supporting int type"
we had a kpt setter using int type, which was created by old version kpt:

[code]

which is referenced by a yaml

[code]

KPT version:
[code]

When we run `kpt cfg list-setters my-folder/`, we get this validation error:

[code]

We've tried multiple ways to tweak the configs but still cannot specify int type in the Kptfile.

Question - what the right way to set int type setters in the kpt 0.30.1?

[2020-07-21 23:23] #817 closed

[2020-07-22 00:54] #541 closed

[2020-07-22 00:57] phanimarupaka opened #847 "Design proposal for kpt pkg fix"
We need a way to fix the configs of users which are using previous version of features(ex: old setters etc.) to the latest ones. Come up with a design proposal for a command to do so.

[2020-07-22 00:58] #847 closed

[2020-07-22 00:59] phanimarupaka opened #848 "Implement kpt pkg fix"
Implement and release the proposed solution for https://github.com/GoogleContainerTools/kpt/issues/847

[2020-07-22 17:45] mortent commented on #845
So I went back to a previous version of kpt to understand why this used to work. And it turns out that specifying `int` as the type of a kpt setter has never had any effect as far as I can tell. The correct value is `integer`. Before we added support for validation, the provided type value was only used to determine the type/style of values in the yaml document. But the code just ignores type decl

[2020-07-22 17:56] elfinhe commented on #845
thanks Mortent, guess as we can also add a list here for all supported types: https://googlecontainertools.github.io/kpt/reference/cfg/create-setter/

[2020-07-22 18:09] phanimarupaka opened #849 "Make kpt compatible with V1 setters"

[2020-07-22 18:09] #849 closed

[2020-07-22 18:11] phanimarupaka commented on #831
Old setters should work fine from next release.

https://github.com/kubernetes-sigs/kustomize/pull/2743

[2020-07-22 18:12] #831 closed

[2020-07-22 18:17] FrenchBen commented on #430
Along the regex lines, it would be nice to have that support in substitution patterns, say for when multiple images share the same tag.
[code]
[code]

[2020-07-22 18:39] #257 closed

[2020-07-22 19:50] #841 closed

[2020-07-22 19:57] #829 closed

[2020-07-22 19:59] Shell32-Natsu opened #850 "Refactor refvartransformer with kyaml"

[2020-07-22 20:25] monopole commented on #850
in kustomize repo this is: kubernetes-sigs/kustomize#2754

[2020-07-22 20:28] monopole opened #851 "Remove api/transform dependence from namereferencetransformer"
Same as kubernetes-sigs/kustomize#2755

Switch ./api/internal/accumulator/namereferencetransformer.go to kyaml filters.

In support of kubernetes-sigs/kustomize#2506

Analogous prs:
[Convert image transformer to kyaml](https://github.com/kubernetes-sigs/kustomize/pull/2752)
[Switch replica count transformer to kyaml](https://github.com/kubernetes-sigs/kustomize/pull/2735)
[Switch prefix transforme

[2020-07-22 20:50] monopole opened #853 "Remove apimachinery dependence from hasher"
Same as kubernetes-sigs/kustomize#2756

[2020-07-22 20:59] monopole opened #854 "Package hydration design proposal ("Kustomize in Kpt")"
go/kustomize-in-kpt leaves draft -> approved

[2020-07-23 01:33] prachirp opened #856 "Bug in loading directory inside docker container"
I'm running the following series of commands
[code]
I expect this to run `kustomize build /source/helloWorld` where the build path is mounted into the docker container. But I get a permission error from [here](https://github.com/kubernetes-sigs/kustomize/blob/master/api/loader/loader.go) even though I have full permission to the helloWorld folder.
[code]

[2020-07-23 01:40] prachirp commented on #856
cc @mortent
This is a bug in `kpt fn run` because running the same command using `docker run` works. I suspect the permissions are fixed using `-u "$(id -u)"` with docker run but when I still get the error after adding `--as "$(id -u)"` to the `kpt fn run` command.
[code]

[2020-07-23 01:57] monopole commented on #856
I've not looked in detail here, but kustomize has a security feature that prevents it from reading from absolute paths (paths starting with `/`). This include paths specified on the command line, or in a `kustomization.yaml` file.

This can be overridden by doing
[code]

but ideally kustomize is run such that all paths (command line and inside files) are _relative_ (no leading `/`).

FYI, the conc

[2020-07-23 02:01] monopole commented on #856
And by _relative_, i meant relative to the location of the `kustomization.yaml` file.

So `-d path=/source/helloWorld` probably violates that, but a `cd` into that dir will fix it.

[2020-07-23 02:21] prachirp commented on #856
I don't think this is a kustomize issue because using docker run works without adding `--load-restrictor=none`.

[2020-07-23 05:46] ashlineldridge commented on #794
@prachirp @phanimarupaka Any update on whether this is a bug? #801 seems similar.

[2020-07-23 06:47] vaseeharan opened #857 "Clearer error message when running kpt live apply"
when running `kot live apply` on an uninitiated target, the error messages says to please run the "init" command & the next line says "The package needs to be initialized". This confused me for a while, because I thought it meant running `kpt pkg init`. Of course I needed to run `kpt live init`

Could the error message be made more explicit? e..g please run "kpt live init"

Thanks!

[code]

[2020-07-23 09:03] vaseeharan opened #858 "kpt guide doesn't invoke pager"
When displaying `kpt guide` output, a pager (e.g. /usr/bin/less) is not invoked, as done by `kpt help`.

It'll be nice to have consistent behaviour for both commands.

[2020-07-23 18:27] phanimarupaka opened #859 "Design pkg and cfg commands behavior on nested sub-packages"
Currently there is a flag --include-subpackages in few cfg and pkg commands which merely assumes sub-packages to be sub-folders. We should come up with a way to stream line the way we treat nested subpackages in a uniform manner across all the commands.

[2020-07-23 18:28] phanimarupaka opened #860 "POC on DRY blueprints using composite packages"
Implement DRY blueprints using composite packages approach in kpt

[2020-07-24 07:04] phanimarupaka commented on #794
@ashlineldridge Hey. As mentioned in our [slack chat](https://app.slack.com/client/T09NY5SBT/C0155NSPJSZ/thread/C0155NSPJSZ-1594141402.084000), we are still figuring out the best UX for nested/composite packages behavior. You will have to update each of the underlying nested packages using _kpt pkg get_  and set them.

If your repositories are public, can you please provide us with the links and I

[2020-07-24 11:28] ashlineldridge commented on #794
@phanimarupaka, thanks for following up. The Slack question was more to do with being able to create top-level setters that "flow" down into dependencies during each sync/update. This one felt more like a bug because if setters have been added upstream but the downstream Kptfiles aren't updated the setters aren't usable.

My work project is private but if you are looking for example use cases for

[2020-07-24 13:53] phanimarupaka commented on #794
@ashlineldridge Are you using latest version of kpt ? So you are saying just the kpt PKG update on a standalone project is not pulling setters from upstream kptfile ? Or is it kpt PKG sync which is not pulling nested packages kptfile changes? I can create an example myself and test if you just confirm the commands you used with expected behavior.

[2020-07-24 14:45] phanimarupaka commented on #794
@ashlineldridge I tried an example and I see the issue now. So the openAPI definitions are being added to Kptfile on _kpt pkg update_ but the setter reference comments are not being added to the resource files correct ? Thanks for pointing this out.

[2020-07-25 05:56] #587 closed

[2020-07-25 06:08] prachirp commented on #587
Thanks @aodinokov for the fix!

@davinkevin the fix is in today's kpt release. Check out the examples [here](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples).

[2020-07-25 06:53] aodinokov commented on #856
@prachirp , what kpt version did you use?
it didn't work before https://github.com/kubernetes-sigs/kustomize/pull/2709
but it works for me with the [latest](https://github.com/GoogleContainerTools/kpt/releases/tag/v0.32.0) version, since the latest version has the updated kyaml:

[code]
PS
It also works without `,rw=true`. Kustomize doesn't need to write there

[2020-07-25 07:45] prachirp commented on #856
Hey @aodinokov , I was building kpt from source before. Now I'm on the latest version and I modified the command to get around load restrictor but still seeing an error about not finding any kustomization.
[code]
[code]

[2020-07-25 08:07] prachirp commented on #856
@aodinokov  Here are some of the examples I tried: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/73
The examples/kustomize-build directory is a modification of the example you gave in kubernetes-sigs/kustomize#2709

[2020-07-25 15:34] aodinokov commented on #856
@prachirp, sounds interesting :)

Since I can't reproduce it in my env, could please you do the following in your env to try to narrow down the potential RC? :
1. make sure you have strace installed
2. kpt just builds a cmdline and calls docker binary.
to understand what cmdline exactly you can exec the following modified command:
[code]
it should output something like
[code]
3. find in the second

[2020-07-25 18:02] aodinokov commented on #856
@prachirp based on your commit I created my and it passes https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/79/checks?check_run_id=910163406
I also see that your last commit wasn't tested or something went wrong:
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/73/checks?check_run_id=909338515#step:6:135
there should be `: invalid source string: /source`
not `: i

[2020-07-25 19:32] davinkevin commented on #587
I've just tested it with the helm example. It works but I had to change paths in the example, because we can't have both relatively `helm-template/local-configs` and `(pwd)/helloworld-chart` at the same time in the second command.

On the kustomize side (which was my first issue in https://github.com/GoogleContainerTools/kpt/issues/791), I still have some problem (with the image but not with the k

[2020-07-25 23:08] ashlineldridge commented on #794
@phanimarupaka I've run your example and `kpt pkg update` does update the root Kptfile. I believe that has always worked for me. The behavior I'm describing is slightly different. I've forked your repository and created commits/tags to reproduce using Kpt version 0.31.0.

[code]

Note that the package `cockroachdb/helloworld/mysql-kustomize` still has no setter named `secret-name` even though the

[2020-07-26 21:52] mortent opened #868 "Creating a substitution doesn't check for existing substitution with the same name"
We check whether there are any existing setters with the same name, but we don't check for any existing substitutions. This can cause users to inadvertently replace existing setters.

[2020-07-27 01:33] mortent commented on #834
We have changed the default in the v0.32.0 version of kpt, so it will no longer try to contact the APIServer unless the user specifies that the source for the openapi schema should be the kubernetes cluster with the `--k8s-schema-source=cluster` flag.

[2020-07-27 01:33] #834 closed

[2020-07-27 01:38] mortent opened #869 "Finalize proposal for lifecycle directives"
Finalize an initial proposal and send it out for review.

[2020-07-27 05:14] Shell32-Natsu opened #870 "ImageTagTransformer no longer working"
https://github.com/kubernetes-sigs/kustomize/issues/2758

[2020-07-27 05:15] #850 closed

[2020-07-27 07:40] prachirp commented on #856
Hey @aodinokov You're right, something went wrong testing my last commit. I reran after making a merge commit and see the same test passed https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/73/checks?check_run_id=912311684#step:6:131
Hope to get them all working tomorrow. Thanks for so much help, especially over a weekend!

[2020-07-27 16:18] mortent opened #871 "Kpt should be able to handle situations where a type is set to 'int' instead of 'integer'"
As described in #845, there are users which have the type set to `int`. This didn't have any effect until we introduced validation, at which point these setters have stopped working. We should add logic to make sure `int` is treated the same as `integer`.

[2020-07-27 16:25] mortent opened #872 "Validate the type provided when creating setters"
We allow users to set the type of the setter, but we don't validate that it is a legal type. This means it is possible to create a setter that is unusable. Ref #845

[2020-07-27 16:29] mortent commented on #848
We have examples of kpt packages where the type has been set to a value that is not a valid openapi type, i.e. the type is set to `int` rather than `integer`. This might be something we could clean up as part of the fix command. Ref #845

[2020-07-27 16:42] #579 closed

[2020-07-28 00:48] phanimarupaka commented on #868
@mortent Doesn't this mean user is trying to modify existing substitution? We should not throw error in such scenario and update the existing substitution.

[2020-07-28 01:07] phanimarupaka commented on #794
@ashlineldridge Thanks for your fork. I am able to reproduce it. The heading was slightly misleading that update was also not working. I will work on fixing the update part of sync. On a side note, sync is not actively supported currently and so is not documented. But this is a clear bug and will be fixed.

[2020-07-28 01:18] prachirp commented on #781
This was fixed since https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/76

[2020-07-28 01:18] #781 closed

[2020-07-28 01:24] prachirp opened #875 "Migrate Typescript SDK from TSLint to ESLint"
TSLint has been deprecated in favor of ESLint. We should migrate all the typescript packages located [here](https://github.com/GoogleContainerTools/kpt-functions-sdk/tree/master/ts) over to eslint. Follow the migration steps outlined here: https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration

[2020-07-28 01:31] prachirp opened #876 "Create a linter to remove status from configs"
We need a setter or kpt function which can remove the status field for configs so that only the declarative configuration remains. This will allow users to follow GitOps principles by committing only the necessary configuration to a repository.

[2020-07-28 17:43] frankfarzan opened #877 "Docs should explain what packages "tags" are and how they're used"
https://googlecontainertools.github.io/kpt/guides/producer/init/

[2020-07-28 17:45] frankfarzan opened #878 "README.md generated by 'init' is incomplete"
Generated by 'init' command:

[code]

[2020-07-28 17:47] frankfarzan commented on #878
The README should include the the complete lifecyce for the consumer of the package:

kpt pkg get <package>
kpt cfg list/set
...
kpt live apply

[2020-07-28 17:49] prachirp opened #879 "Kustomize build fn errors"
I've just tested it with the helm example. It works but I had to change paths in the example, because we can't have both relatively `helm-template/local-configs` and `(pwd)/helloworld-chart` at the same time in the second command.

On the kustomize side (which was my first issue in https://github.com/GoogleContainerTools/kpt/issues/791), I still have some problem (with the image but not with the k

[2020-07-28 17:55] prachirp commented on #587
@davinkevin Thanks for testing, I haven't seen that specific error before. I repro'd your error and see the same example run successfully using docker run so I created a new issue for it #879. I'll look into it this Friday or early next week.

[2020-07-28 18:48] #856 closed

[2020-07-28 19:03] prachirp commented on #879
Working command: `docker run --mount type=bind,src=$(pwd)/podcast-server,dst=/source gcr.io/kpt-functions/kustomize-build -d path=/source`.

The error is coming from here: https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/target/kusttarget.go#L393
I think it's mis-interpreting the git URL "git::https://gitlab.com/....." as a local file "/source/git::https:/gitlab.com/....." so

[2020-07-28 19:48] prachirp commented on #574
@seans3 It seems that `kpt live` expects multi-object yaml in `stdin` instead of accepting the resource list format that functions use. I tried running `kpt fn source example-configs | kpt live diff` and got an error `no matches for kind "ResourceList" in version "config.kubernetes.io/v1alpha1"`.
Can we start accepting List or ResourceList of configs on stdin?

[2020-07-29 00:47] mortent commented on #742
An example of where substitutions are somewhat insufficient can be found at https://github.com/mortent/solutions-modern-cicd-anthos/tree/KptFunction/krm/kpt/cicd_cluster. In this case we require 10 substitutions to cover only 3 resources.
This example is based on an exercise of turning this example https://github.com/janetkuo/solutions-modern-cicd-anthos/tree/krm-clusters/krm/cicd_clusters into a

[2020-07-29 01:48] mortent commented on #868
But the current behavior seems broken. This will update the definition of the substitution in the Kptfile and add the openapi ref to the new fields, but it doesn't clean up the existing openapi references in the manifests or check if this substitution is references by other substitutions.

An example is https://github.com/mortent/solutions-modern-cicd-anthos/tree/KptFunction/krm/kpt/cicd_cluster w

[2020-07-29 01:59] aodinokov commented on #587
@davinkevin , @prachirp

the thing is that https://gitlab.com/davinkevin/Podcast-Server.git/distribution/kpt/podcast-server
uses network to get this:

[code]

by default kpt doesn't allow you to access network. you need to do 2 things:

1. change your  fn.yaml to this:

[code]

2. when call kpt add `--network` and optionally `--network-name` string args

[2020-07-29 08:07] phanimarupaka commented on #794
@ashlineldridge I tried with another example and it worked fine. Can you try

`kpt pkg update cockroachdb/helloworld@v0.26.2 --strategy=resource-merge` instead of your last step `kpt pkg sync cockroachdb`. It doesn't work either.

I think this issue is an edge case specific to this repo example.

This example works:
`mkdir somedir; cd somedir`
`kpt pkg init .`
`kpt pkg sync set git@github.com:phan

[2020-07-29 09:51] davinkevin commented on #879
Thanks for the answer @prachirp & @aodinokov …

and I'm sorry, I totally forgot the network flag 😓.

I will add this to the project and see if all is ok as soon as possible.

Thanks again 😉

[2020-07-29 18:05] ZhuGongpu opened #882 "kpt fn source loses complete information of file paths"
[code]
Running this command will get a `kpt-fn-source-test` directory with two packages:

[code]

Then running the following command:

[code]

will produce a `result` directory like this:

[code]

The `result` directory should be identical to the `kpt-fn-source-test` diectory. But `application-cr` and `injection-tshirt-sizes` directories at the root level are missing.

This is because `kpt fn sour

[2020-07-29 18:05] prachirp commented on #879
I just tried with `--network` and get the same error. 😓

[2020-07-29 18:46] Shell32-Natsu commented on #879
Which version of kustomize are you using? I tried to build url `git::https://gitlab.com/davinkevin/Podcast-Server.git//distribution/kubernetes/base/` with latest version of kustomize and it works as expect.

[2020-07-29 18:49] prachirp commented on #879
@Shell32-Natsu  It's using 3.6.1, let me update to 3.8.1.

[2020-07-29 18:59] prachirp opened #883 "TS SDK should accept build args when running npm run kpt:docker-build"
I want to be able to run the equivalent of `docker build -f build/kustomize_build.Dockerfile --build-arg KUSTOMIZE_VERSION=v3.8.1 ./` using the typescript sdk.

[2020-07-29 19:01] Shell32-Natsu commented on #879
How does kustomize-build container get the repo url `git::https://gitlab.com/davinkevin/Podcast-Server.git//distribution/kubernetes/base/`? I cannot find where is this url passed to the container.

[2020-07-29 19:03] prachirp commented on #879
It's under `podcast-server/kustomization.yaml` resources

[2020-07-29 19:59] Shell32-Natsu commented on #879
The issue should be permission issue inside the container.

[code]

If I use root user
[code]

[2020-07-29 21:04] prachirp commented on #879
I tried re-running using a new image at `gcr.io/kpt-functions/kustomize-build:dev` which uses the kustomize v3.8.1 and runs as `root` instead of as `node` user but get the same error.

@Shell32-Natsu why is kustomize looking for `/source/git::https:/gitlab.com` instead of just `git::https:/gitlab.com`? Do we need to change the formatting for go-getter to parse the resource correctly?

[code]

[2020-07-29 21:34] Shell32-Natsu commented on #879
The error message is kind of misleading. Since kustomize has no idea what the input string is in `resources` in kustomization file (it can be a path, a directory or a remove repo) so it works in a heuristic way. It will try file path at first and then try directory.

`accumulating resources: accumulateFile "accumulating resources from 'git::https://gitlab.com/davinkevin/Podcast-Server.git//distrib

[2020-07-29 21:41] Shell32-Natsu commented on #879
@prachirp Can you confirm that `/var/folders/jc/bvslddd177j4zlt93y1czw5h00nsnz/T/` is accessible from the container?

[2020-07-29 22:03] prachirp commented on #879
No, there's only /var but no /var/folders inside the container.
[code]

If the last part is the main issue then #839 is a duplicate of this issue.

[2020-07-29 22:11] Shell32-Natsu commented on #879
So now the problem is why does go-getter or kustomize cloner try to access this directory. I guess you are running container in macos so the temp directory is under `/var` instead of `/tmp`. This directory should be created before access but it looks that it doesn't. Maybe a compatibility issue between kustomize and docker.

[2020-07-29 22:17] prachirp commented on #839
Closing as duplicate of #879

[2020-07-29 22:17] #839 closed

[2020-07-29 22:19] ashlineldridge commented on #794
@phanimarupaka

Yep, that doesn't work either (I'm using v0.32.0). See my diff below after running your update command.

[code]

I've tried your second example. It's different from the example I provided in that your dependency package (i.e., `updateissuerepo`) doesn't contain a nested Kpt package. But in either case it still doesn't appear to work correctly. The `repo/Kptfile` is updated after th

[2020-07-29 22:23] prachirp commented on #876
Other fields like `creationTimestamp` and `selfLink` can also be auto-removed.

[2020-07-30 00:12] ZhuGongpu opened #884 "`kpt fn run` produces unexpected results."
[code]
`ConfigMap` of `label-namespace` in `functions.yaml` is removed.

[2020-07-30 00:12] ZhuGongpu commented on #884
@frankfarzan

[2020-07-30 00:16] frankfarzan commented on #884
This file contains two ConfigMaps, both names are unspecified. So `kpt fn run` only keeps one of them.

kpt should flag these as validation issues instead of silently deleting one of them.

[2020-07-30 01:08] #813 closed

[2020-07-30 02:48] mortent commented on #838
@prachirp Is the repo in the example still available? It doesn't look like I have access. I would like to be able to reproduce it so I can understand why we get an error here.

[2020-07-30 04:03] prachirp commented on #838
@mortent the code is at: https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/tests/helm_template.sh#L81

[2020-07-30 05:27] mortent commented on #838
The package at https://github.com/prachirp/kpt-functions-catalog/examples/helm-template contains files with `yaml` extension that are not actually valid yaml. In this case they are Helm templates.
Kpt assumes that files in the package contain actual yaml files and will report an error if not. Kpt relies on being able to parse yaml in order to do support automatic setters and KRM-aware merging of r

[2020-07-30 09:42] MrTrustor opened #885 "kpt pkg update -- incorrect git repo detection"
The `kpt pkg update` command, when run outside of the git repo, complains that my package is not in a git repo even if it is.
It correctly detects the git repo after cd-ing into it.

[code]

[2020-07-30 13:19] MrTrustor opened #887 "kpt pkg diff -- inconsistent behaviour depending on directory"
This might be related to #885.

The `kpt pkg diff` works when run outside of the package directory, but doesn't when it's run inside:

[code]

[2020-07-30 20:31] mortent commented on #749
So the flags here do actually apply to all commands, although for most users they are not relevant. The server-related flags allow users to use an openapi schema from a cluster instead of the schema complied into kpt.

But even among these flags, most of them will almost certainly never be used and are only available because they are available in the kubectl libraries we depend on. We can hide mos

[2020-07-30 21:04] prachirp commented on #838
It's okay for kpt to warn if the files in the package are not valid yaml. My expectation on how kpt can handle helm template packages is to

- Ideally kpt gets the package and creates a new local directory containing invalid yaml files, throw a warning message about invalid yaml, and exit with exit code 0
- Alternately kpt fails to get the package, no new directories are created locally, throw an

[2020-07-30 23:49] prachirp commented on #879
I looked more this afternoon. Kustomize calls `ioutil.TempDir` [here](https://github.com/kubernetes-sigs/kustomize/blob/e5c8b5ec8feafe90725825c492851c26846ef9ec/api/filesys/confirmeddir.go#L19) with an empty string as the dir parameter. According to `ioutil.TempDir` documentation, "If dir is the empty string, TempDir uses the default directory for temporary files (see os.TempDir)."
According to `o

[2020-07-31 05:14] prachirp opened #893 "Kpt live commands accept the config function spec input format"
In order for kpt live commands to be listed as sink functions in the kpt functions catalog, we need them to accept the same input format as other config functions.

The config function specification details that all functions must accept a list of resources as input: https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md#input-type

This is block

[2020-07-31 06:51] phanimarupaka commented on #868
There is no delete substitution command yet. But yeah, I agree that we need to atleast have some flag like --update-if-exists to modify it. The default behavior for create-subst or create-setter should be to throw an error. So in this case, we should first implement delete-subst command before we implement throwing an error. WDYT?

[2020-07-31 06:55] phanimarupaka commented on #794
Yes. So I see 2 issues here,
1. Update is not updating the setter comments in the resource files.
2. Sync is not updating nested packages at all.

Will try to find the root cause and fix it in next couple of weeks. Thanks

[2020-07-31 18:18] prachirp commented on #879
@davinkevin I'm merging this fix and doing a release today so you'll be able to use gcr.io/kpt-functions/kustomize-build instead of dev tag.

[2020-08-01 10:31] davinkevin commented on #879
I'm still facing the same issue.

[code]

I've tried the `git` operation like you did but this doesn't change anything.

[code]

Did I forget something ? I've removed all my containers to be sure to fetch the one you build recently.

The `fn.yaml` file is the same you provide before:

[code]

[2020-08-02 00:15] mgoltzsche commented on #755
How about rendering the kustomization at build time only and distinguish applyable (rendered) manifests from non-applyable ones (like kustomization.yaml) using a special directory or annotation?

It would be great if the following workflow could be supported with a kustomization as well:
* each development iteration (git commit):
[code]
* on rollout:
[code]

Unfortunately currently this doesn't wo

[2020-08-02 21:12] mgoltzsche commented on #755
I realized that my previously described workflow is already feasible when the kustomization output is written into a separate directory which is then provided to `kpt live apply` in order to apply the generated manifest only. To make that work I've prepared another kustomize kpt function: [kustomizr](https://github.com/mgoltzsche/kustomizr).

[2020-08-03 07:03] prachirp commented on #879
@davinkevin Thanks for testing! Let me check further, I had tried some local changes like using root user which were not released.

[2020-08-03 20:00] mgoltzsche opened #899 "Kpt should accept colons in RBAC resource names"
Apparently kpt validates object names and does not accept resource names that contain a colon.
However at least `Role`, `RoleBinding`, `ClusterRole` and `ClusterRoleBindings` can have a name containing a colon - actually very common.

This can be reproduced by e.g. trying to deploy cert-manager (using kpt 0.32.0):
[code]

kpt's resource name validation should be aligned with k8s`.

[2020-08-03 20:07] frankfarzan opened #900 "`create-setter` exits with code 0 without creating a setter"
$ kpt cfg create-setter . project-id --description "GCP Project ID" --required
$ echo $?
$ cat Kptfile
[code]

[2020-08-03 20:25] mgoltzsche commented on #755
Now that we can use sub directories in order to deploy rendered resources how about making the workflow more project-agnostic so that one mustn't know which sub directory she needs to deploy depending on the project but call `kpt live apply .` in the main directory and let the configuration specify which sub directory should actually be deployed?

`kpt live apply` could recursively walk through th

[2020-08-03 20:35] Shell32-Natsu opened #901 "Add ACM vet function to Kpt function catalog"
Subtask of https://github.com/GoogleContainerTools/kpt/issues/581

 - This function should run `nomos vet` command as a KRM function to validate an ACM repo. User can run the pipeline like `kpt fn source | kpt fn run --image nomos-vet` in the ACM repo to validate.
 - `nomos vet` expects a valid ACM repo directory. So the function wrapper needs to rebuild the directory in the container. `config.kub

[2020-08-03 20:50] mgoltzsche opened #902 "Avoid --mount option"
Currently when a function needs to access the project's file system the `--mount` option must be provided to `kpt fn run`.
This is very project-specific and seems unnecessary. It would be great if kpt could be used in a project-agnostic way (at least in most common cases).

I image two ways of supporting that:
a) Always mount the project directory at a fixed path into the function container.
b) Wr

[2020-08-03 21:18] mgoltzsche opened #903 "Cannot create namespace"
Currently (kpt 0.32.0) `kpt live apply` cannot apply a namespace with its resources:
[code]

Apparently kpt accesses the namespace before it exists to check for its installation. The corresponding `inventory-template.yaml` was generated by `kpt live init .` with the namespace `example-namespace`.

[2020-08-03 23:19] seans3 commented on #899
According to Kubernetes documentation: `Most resource types require a name that can be used as a DNS subdomain name as defined in RFC 1123`.

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

This means resource names have the following characteristics:

* contain no more than 253 characters
* contain only lowercase alphanumeric characters, '-' or '.'
* start with an alphan

[2020-08-03 23:20] seans3 commented on #899
I'll leave this open for a bit. If there are no responses, I will shortly close this.

[2020-08-04 00:00] prachirp commented on #879
@davinkevin The issue comes from the TMPDIR env variable pointing to /var/folders/.... I ran `unset TMPDIR` or set `TMPDIR=/tmp` locally and saw it working. I'm not sure why it's still reading TMPDIR from the local file system after I set `ENV TMPDIR /tmp` in the docker image.

The git commands were just to see a diff before and after running `kpt fn run` and be able to undo those changes easily a

[2020-08-04 00:21] Shell32-Natsu commented on #879
Using "/tmp" assumes the kustomize is running on *nix system.

[2020-08-04 00:21] mortent commented on #755
@mgoltzsche Thanks for the feedback.

We do want to support both writing the output back into the same directory and in a new directory. I think the latter probably makes the most sense in most cases. Agree we need a way to tag resources that should be ignored by `kpt live`.

We do plan to support running apply on a root folder and have all nested folder (with a Kptfile or inventory template) be a

[2020-08-04 00:27] monopole commented on #879
That might cause trouble on windows.

The info above
[code]
seems to imply that `ioutil.TempDir` is failing to provide a valid tmp dir on mac OS. (??)

A possible fix might be to call FileSystem.IsDir inside https://github.com/kubernetes-sigs/kustomize/blob/master/api/filesys/confirmeddir.go#L20
(after the call to TempDir) to confirm that the tmpdir exists, and if not, attempt /tmp, and if that fa

[2020-08-04 00:31] monopole commented on #879
related but closed issue: https://github.com/drud/ddev/issues/134

[2020-08-04 00:49] monopole commented on #879
@prachirp something to try is make a small go program like
[code]
and run it in a container on macos with and without
[code]
and see what happens

[2020-08-04 00:49] mgoltzsche commented on #899
@seans3 I also thought so but have a look at your RBAC resources yourself:
[code]

[2020-08-04 00:50] monopole commented on #879
and throw a
[code]
in there too

[2020-08-04 02:22] phanimarupaka commented on #900
This should throw an error as there are not enough arguments/flags. I will make a quick fix so that we throw an error in such cases.

[2020-08-04 04:46] davinkevin commented on #879
@prachirp The env `TMP` is overriden by the code launching the docker container in `kpt` (which is part of the `kyaml/kustomize` code):

https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/fn/runtime/container/container.go#L196

This is why `kustomize` try to use unix `TMP` folder.

Maybe, we should reset the env variable in the nodejs code or not append this variable in the first place

[2020-08-04 05:29] Shell32-Natsu commented on #879
@monopole Have tried on macOS and this little program works properly (as Go library documented).

@davinkevin Thanks for the investigation. That's the exact reason for this issue.

This is not the issue of function but the issue in kpt/kustomize. We should fix this in kpt/kustomize (by ignoring `TMPDIR` env) because this will happen in every go function that tries to use temp dir on macOS.

BTW, I

[2020-08-04 15:42] jasonmcboyd commented on #506
This needs to be reopened. #510 was closed and it doesn't resolve this issue.

[2020-08-04 17:51] monopole commented on #879
`TMPDIR` is the env var in question here, not `TMP`.

KRM Config Functions written in Go and attempting to use `os.TempDir` or `ioutil.TempDir` should work as expected - they shouldn't have to do something special on macos.

[2020-08-04 18:39] seans3 commented on #899
You are correct. I was wrong. Indeed colon is allowed clusterrole, role, and the bindings:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/rbac/validation/validation.go#L32

I will look into how to allow these in kpt.

[2020-08-04 19:17] seans3 commented on #899
The problem:
* We need to store the namespace/name/GVK of each resource as a data in a ConfigMap (as references in the inventory object)
* The ConfigMap data must be valid label (RFC 1123)
* Currently, the separation character is `_`, which is allowed in labels, but not in RFC 1123 resource names
* ClusterRole/Role/Bindings have characters which do not validate as a label, so they can not be curre

[2020-08-04 20:06] #877 closed

[2020-08-04 20:26] seans3 commented on #903
This is a known problem.

The problem:

* The inventory object must be successfully applied before applying any other resource.
* If the necessary namespace for the inventory object does not exist, then the apply fails. NOTE: In order for apply/prune to work correctly and be tolerant to errors, the inventory object must successfully applied first (with the merged set of previously applied and curr

[2020-08-04 21:09] Shell32-Natsu commented on #901
@frankfarzan for ACM vet function, should we support reading file contents from stdin? Or we can only support mounting directory like kustomize build function? If we want to make the function be able to be called in a pipeline I think read from stdin is necessary.

[2020-08-04 22:25] #625 closed

[2020-08-04 22:39] #860 closed

[2020-08-04 22:39] #507 closed

[2020-08-04 22:40] #900 closed

[2020-08-04 22:43] phanimarupaka opened #905 "Implement server-side preview"
kpt live preview currently only supports client-side dry-run actions. This story is to add new flag to preview command --server-side which behave similar to kubectl apply --server-dry-run.

[2020-08-04 22:48] phanimarupaka opened #906 "kpt pkg update doesn't update comments from upstream"
kpt pkg update --strategy=resource-merge currently only updates resources only when there are changes to field values. But if there are comments added to the scalar fields in upstream, them are not detected and updated on local. This would significantly affect updating setters added upstream.

[2020-08-04 22:52] phanimarupaka commented on #906
https://github.com/kubernetes-sigs/kustomize/pull/2795

[2020-08-04 22:52] #906 closed

[2020-08-04 22:57] phanimarupaka commented on #794
@ashlineldridge The PR above fixes the first part which is a more serious problem with update in general, so that the new upstream comments are updated with simple kpt pkg update --strategy=resource-merge

The second issue is specific to nested packages/Kptfile which kpt doesn't support currently. However, we as it is a complex dependency problem to solve, we would need more time to design and imp

[2020-08-04 23:58] jpugliesi commented on #860
@phanimarupaka What is the status of this issue? Is there a new issue that supersedes?

[2020-08-05 00:01] frankfarzan commented on #901
Let's start by supporting these flows:

1. kpt fn source DRY | kpt fn run --image nomos-hydrate | kpt live apply
2. kpt fn source HYDRATED | kpr fn run --image nomos-dry | kpt fn source DRY

[2020-08-05 00:10] #848 closed

[2020-08-05 01:13] #905 closed

[2020-08-05 16:22] mortent commented on #801
I think this works as expected, so closing this issue.

[2020-08-05 16:49] mortent commented on #845
@elfinhe We have made two changes to address this:
https://github.com/kubernetes-sigs/kustomize/pull/2784 updates kpt to accept `int` and `bool` as valid types during validation.
https://github.com/kubernetes-sigs/kustomize/pull/2783 adds validation of types when creating setters so it will no longer be possible to create setters with invalid types.
These will be part of the next release of kpt.

[2020-08-05 16:49] #845 closed

[2020-08-05 16:51] #751 closed

[2020-08-05 16:54] prachirp commented on #902
cc @monopole feature request for `kpt fn run`

[2020-08-05 16:55] elfinhe commented on #845
Thanks so much, Morten!

[2020-08-05 17:00] prachirp opened #907 "Blueprints for catalog functions"
Each catalog function should have a blueprint to show users how to run it
[code]

[2020-08-05 17:03] prachirp opened #908 "Deduplicate fn docs"
Multiple different pages for running functions can be deduplicated

- https://googlecontainertools.github.io/kpt/guides/consumer/function/
- https://googlecontainertools.github.io/kpt/guides/consumer/function/pipeline/
- https://googlecontainertools.github.io/kpt/reference/fn/
- https://googlecontainertools.github.io/kpt/reference/fn/run/

[2020-08-05 17:20] mortent opened #909 "Turn the guides into executable e2e tests"
We have several guides that explains how to use kpt, but they pretty regularly end up being outdates as we make changes to kpt. We should try to turn the guides into executable e2e tests so we can both make sure we release code that works, and make sure the guides stay current.

[2020-08-05 18:26] #872 closed

[2020-08-05 18:27] #871 closed

[2020-08-05 19:37] #851 closed

[2020-08-05 19:54] phanimarupaka commented on #860
@jpugliesi Thanks for your interest. Here is the POC related to the issue if you want to try. https://github.com/phanimarupaka/clusters-variants . Note that the commands in README are futuristic and not finalized.

However, the composite packages in general is being tracked as a bigger epic. The work is still in progress and is being tracked as part of this umbrella issue. https://github.com/Googl

[2020-08-05 20:39] seans3 opened #910 "Change kpt live prune algorithm to use one inventory object"
* Update the `kpt live apply` prune algorithm to use one inventory object instead of many

[2020-08-05 20:40] seans3 commented on #910
https://github.com/kubernetes-sigs/cli-utils/pull/194

[2020-08-05 20:40] seans3 commented on #910
https://github.com/kubernetes-sigs/cli-utils/pull/211

[2020-08-05 20:41] seans3 commented on #910
https://github.com/kubernetes-sigs/cli-utils/pull/209

[2020-08-05 20:41] #910 closed

[2020-08-05 20:45] monopole opened #911 "PatchTransformer alters the name of ports that have matching containerPort values"
https://github.com/kubernetes-sigs/kustomize/issues/2767

[2020-08-05 20:46] seans3 opened #912 "`ResourceGroup` wrapper which implement the `Inventory` interface"
* Implement `Load` function to retrieve inventory objects references from a `ResourceGroup` custom resource
* Implement `Store` function to store inventory object references in `ResourceGroup` custom resource
* Implement `GetObject` function to retrieve underlying wrapped `ResourceGroup` object

[2020-08-05 20:47] monopole opened #913 "patchStrategicMerge elides `{}`"
Retain `{}`, but continue to elide `null`, per discussion in https://github.com/kubernetes-sigs/kustomize/issues/2734

[2020-08-05 20:51] monopole opened #914 "Pre-submit should fail on PRs that span modules"
https://github.com/kubernetes-sigs/kustomize/issues/2774

[2020-08-05 20:52] seans3 commented on #708
Updated prune algorithm to use one inventory object:
https://github.com/GoogleContainerTools/kpt/issues/910

[2020-08-05 20:53] seans3 commented on #708
Moved inventory object to its own package:
https://github.com/kubernetes-sigs/cli-utils/pull/189

[2020-08-05 20:54] seans3 commented on #708
Creates `InventoryClient` to encapsulate communication about `Inventory` object:
https://github.com/kubernetes-sigs/cli-utils/pull/190

[2020-08-05 20:57] monopole opened #915 "Automated per-module release notes"
https://github.com/kubernetes-sigs/kustomize/issues/2773

 @etefera

[2020-08-05 20:58] seans3 commented on #708
Remaining work. Implement `ResourceGroup` wrapper that implements `Inventory` interface:
https://github.com/GoogleContainerTools/kpt/issues/912

[2020-08-05 20:59] monopole opened #916 "fix command should convert patching directives"
https://github.com/kubernetes-sigs/kustomize/issues/2724

@etefera

[2020-08-05 21:17] seans3 commented on #633
This is a duplicate of: https://github.com/GoogleContainerTools/kpt/issues/708

[2020-08-05 21:17] #633 closed

[2020-08-05 21:30] jpugliesi commented on #860
Thanks for the update @phanimarupaka - the experimental `hydrate` functionality looks very useful and relevant to our use case

[2020-08-05 21:56] phanimarupaka opened #917 "Finalize proposal to restructure openAPI section in Kptfile"
Currently there is lot of verbose information in Kptfile about setters and substitutions in openAPI section of Kptfile. It gets hard for users to read and edit it. We should come-up with a proposal to simplify it so that it is more readable and human editable without cli.

[2020-08-05 23:05] phanimarupaka commented on #860
@jpugliesi Can you elaborate your use-case further ? You want to be able to decoratively set the resources configs ?

[2020-08-05 23:33] jpugliesi commented on #860
Sure thing - You are right that we would like to declaratively set the resource configs. The other [essential issues and use case we are trying to address are largely captured in this lively kustomize issue](https://github.com/kubernetes-sigs/kustomize/issues/2052).

The idea is that we have multiple deployment environments and multiple k8s clusters, where each cluster's deployed applications and

[2020-08-06 05:22] Shell32-Natsu commented on #879
@prachirp Please check with latest kyaml module.

[2020-08-06 14:29] phanimarupaka commented on #885
@MrTrustor Kpt relies heavily on git libraries to get/update packages. If you perform `git status hello-world-set` from the directory not tracked by git, it fails. kpt update also fails due to that. kpt update only accepts relative paths and the parent dir from where you are running the update command from should be tracked by git.

cc @pwittrock

[2020-08-06 14:54] MrTrustor commented on #885
That would be a reasonable behaviour if kpt update didn't also ask me to provide a path as a parameter.
But since I do provide a path, I expect kpt to be able to figure that out. I've never used the Go Git library, but in pure Git, the GIT_DIR and GIT_WORK_TREE variables should help solve this.

[2020-08-06 17:06] #853 closed

[2020-08-06 18:21] prachirp commented on #879
@Shell32-Natsu Can you do a release of kyaml? The last release was 2 wks ago.
Then we can update kpt's version of kyaml for the next kpt release.

[2020-08-06 18:23] Shell32-Natsu commented on #879
I don't have push permission in kustomize repo. @monopole Would you like to do this?

[2020-08-06 19:34] frankfarzan opened #919 "`kpt live apply` doesn't apply the declared namespace"
$ cat namespace.yaml
[code]

$ cat inventory-template.yaml
[code]

$ kpt live apply .

Fatal error: error when creating "generated": namespaces "a-namespace" not found

$ kubectl create ns a-namespace

$ kpt live apply .

[code]

[2020-08-06 19:44] frankfarzan commented on #832
@prachirp This may be done already?

[2020-08-06 19:46] frankfarzan commented on #833
This is working as intended. What's the use case for running Source multiple times? Please reopen if necessary.

[2020-08-06 19:46] #833 closed

[2020-08-06 21:10] thackem opened #920 "FR: add a GVK filter to the function go SDK"
Would be useful to have a common way to filter krm pipelines by object type, seems like something that would otherwise be reimplemented frequently if I have, for example, a kpt function that only operates on specific object types but I want the experience to be simply "run this on a directory tree"

[2020-08-06 22:15] janetkuo opened #921 "Docs for Kptfile schema is empty"
https://googlecontainertools.github.io/kpt/api-reference/kptfile/

[2020-08-07 17:13] Shell32-Natsu opened #922 "Refactor IsEmpty/IsMissingOrNull/IsEmptyMap/IsNull in kyaml/yaml/types.go"
https://github.com/kubernetes-sigs/kustomize/issues/2809

[2020-08-07 20:04] #913 closed

[2020-08-10 06:43] prachirp opened #925 "Automatically update to latest kustomize library versions"
kpt is often behind the latest version of the kustomize libraries. We should create a bot to regularly open PRs if there are any diffs after running the below commands. Then all we have to do is approve a pull request and do a release.

[code]

[2020-08-10 18:46] #868 closed

[2020-08-10 21:02] monopole commented on #920
Almost all kustomize operations use such a filter, e.g.

The [_label_ filter](https://github.com/kubernetes-sigs/kustomize/blob/master/api/filters/labels/labels_test.go
) applies labels to resources matching a [FieldSpec](https://github.com/kubernetes-sigs/kustomize/blob/master/api/types/fieldspec.go).

A FieldSpec allows one to define GVK and a path.

It's not enshrined in the Go SDK though (yet)

[2020-08-10 23:23] phanimarupaka commented on #885
@MrTrustor Agree. I have a PR to address it. Thanks for the issue.

[2020-08-11 08:45] pyljain opened #929 "SDK - How can I output non-yaml content from a kpt function"
I'm writing a function that will output a svg based on the existing KRM configuration.

[code]

I couldn't find an example in the kpt docs or in the kpt functions catalog that would show me how this can be done (I'm using the go sdk). If I mount a local volume when running my function and try to write a file, I get the error "open /dest/out.svg: no such file or directory"

[code]
I am able to writ

[2020-08-11 17:19] frankfarzan opened #930 "'kpt pkg sync' doesn't have a docs page"
https://googlecontainertools.github.io/kpt/reference/

[2020-08-11 20:07] prachirp commented on #907
Also replace the kubeval example in the kpt fn run reference doc to match the kubeval blueprint.

[2020-08-11 21:23] mortent opened #932 "Provide a way to tag resources that should not be applied"
`kpt live apply` will currently try to apply all manifests found in the package. But there are a few situations where it is useful to be able to tag resources that should be ignored. Some examples:
 * `Kustomization.yaml` files
 * Client-side CRDs that are used to generate other resources, but should themselves be applied
 * Kpt functions declared as annotations on a resource.

Using an annotation

[2020-08-11 21:26] mortent commented on #932
This is related to https://github.com/GoogleContainerTools/kpt/issues/755

[2020-08-11 21:50] prachirp opened #933 "Allow all kpt function run features to be run purely declaratively"
Quite a few kpt fn run features like environment variables require the user to imperatively set options. Few examples below:

Environment variables -  User has to export the local variable before running `kpt fn run`
Mounting volumes - User needs to imperatively set the absolute path of the volume being mounted
Network - Functions which require network need it enabled imperatively as part of the `

[2020-08-11 23:46] seans3 commented on #755
Related PR for `no-process` annotation: https://github.com/kubernetes-sigs/kustomize/pull/2620

[2020-08-11 23:46] seans3 commented on #932
Related PR for `no-process` annotation: https://github.com/kubernetes-sigs/kustomize/pull/2620

[2020-08-12 02:35] yuwenma opened #934 "Unable to run the kpt fn catalog `kutomize-build` following the example"
I followed the [kpt fn doc](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/kustomize-build/) to try out the kustomize-build kpt fn.

I ran the following commands
[code]

And got the below error.
[code]

Since this may due to [an existing issue](https://www.google.com/url?sa=j&url=https%3A%2F%2Fgithub.com%2FGoogleContainerTools%2Fkpt%2Fissues%2F879&uct=1581463778

[2020-08-12 02:39] prachirp commented on #934
I tried to duplicate this on Mac with `export TMPDIR=/tmp` but did not get any error so I suspect it may be some difference between our environments.

[2020-08-12 03:41] prachirp commented on #934
@Shell32-Natsu can you reproduce this?
@monopole FYI

[2020-08-12 04:56] yuwenma commented on #934
building kpt from the head solves the problem. Thanks @prachirp

[2020-08-12 04:56] #934 closed

[2020-08-12 19:02] frankfarzan commented on #929
@prachirp Who's been working on the documentation for functions requiring host priviledges.

[2020-08-12 19:10] prachirp commented on #929
Hey @pyljain Kpt mounts volumes as readonly by default. You can explicitly set kpt to mount a read-write volume by setting the argument. Then you can write a file directly to your mounted volume. See the example command here: https://googlecontainertools.github.io/kpt/reference/fn/run/#mounting-directories

[2020-08-12 20:04] pyljain commented on #929
Thanks @prachirp! That worked for me. I had to upgrade from 0.27.0 -> 0.32.0 and use the rw option in the mount.

[2020-08-12 20:04] #929 closed

[2020-08-13 00:59] mortent opened #936 "Improve use of --dry-run flag for kpt live commands"
kpt live use the preview command instead of the `dry-run` flag on `apply` and `destroy`. But currently we don't return an error if someone use the `dry-run` flag and just run the real command. We should either really support `dry-run` or return an error if someone tries to use it.

[2020-08-13 04:02] felixtran39 opened #938 "Kpt fn creating duplicate resources"
Example (recreate issue):
1. Create a kpt pipeline:
a)`gcr.io/kustomize-functions/example-nginx`
b) `gcr.io/kpt-functions/set-namespace`
2. Run `kpt fn run .` in the directory with the kpt pipeline twice.
3. View contents of either deployment_*.yaml or service_*.yaml.

You will see that the two configurations are really similar. The difference is in the ordering of the metadata section. One of the

[2020-08-13 17:35] seans3 commented on #938
/assign

[2020-08-13 17:44] frankfarzan commented on #932
There's already a `config.kubernetes.io/local-config: 'true'` annotation. Where's this consumed today?

[2020-08-13 19:05] Shell32-Natsu opened #939 "Permission denied in container when using kpt fn run with bind mount"
If a user uses `kpt fn run` with bind type mount, the mount point inside the container is not accessible by `nobody`.

## How to reproduce

[code]

`--user nobody` is added by kpt and `USER` setting in Dockerfile is overwritten.

## What's the reason

The UID and GID for mount point in the container is still using the information from host system and they don't exist in the container.

I don't fin

[2020-08-13 19:16] Shell32-Natsu commented on #939
/cc @prachirp

[2020-08-13 19:54] frankfarzan opened #940 "Generate docs/ as a separate CI workflow"
Currently, generated html in `/docs` pollutes reviewing doc changes to `/sites`. This generation can be an automated CI step so humans can focus on changes to markdown only.

[2020-08-13 19:57] phanimarupaka commented on #885
@MrTrustor Per comment in the PR above, the current behavior is expected. Making parent directory tracked by git will help you from disaster recovery in case the package is deleted during failure cases. Is it a major UX concern for your use-case?

[2020-08-13 22:16] seans3 commented on #938
@felixtran39 So if I understand what you're saying: the `set-namespace` function is not idempotent. Is that correct?

[2020-08-13 22:23] frankfarzan commented on #939
By definition, nobody doesn't have host access. I think you want to specify a user id that exists on the host and has access to that directory.

[2020-08-13 22:35] zhihansh commented on #939
As Donny said, kpt functions are all run as nobody. This is specified by command line options when kpt invokes docker so the settings in Dockerfile don't work.

I did not find any way we change the user id.

[2020-08-13 22:37] Shell32-Natsu commented on #939
@zhihansh is correct. kpt runtime will explicitly add a `--user nobody` when call docker.

https://github.com/kubernetes-sigs/kustomize/blob/8cd7c13faddf92926e29ce485db1c1fc275ed272/kyaml/fn/runtime/container/container.go#L184

@frankfarzan

[2020-08-13 22:58] frankfarzan commented on #939
@prachirp can you provide an example (e.g. Helm) that successfully reads from a host volume?

[2020-08-13 23:08] prachirp commented on #939
This is the blueprint shown [here](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/helm-template)
[code]

A different version depends on using helm CLI just in case `kpt pkg get` files have more permissive settings.
[code]

[2020-08-13 23:17] frankfarzan commented on #939
It's world readable:

mount » ls -l helm

           <<<
total 16
-rw-------  1 frankf  wheel   297 Aug 13 16:14 Kptfile
-rw-r--r--  1 frankf  wheel  1282 Aug 13 16:14 README.md
drwxr-xr-x  6 frankf  wheel   192 Aug 13 16:14 helloworld-chart
drwxr-xr-x  3 frankf  wheel    96 Aug 13 16:14 local-configs
mount »

          <<<
mount »

          <<<
mount » ls -l helm/helloworld-chart

          <<<

[2020-08-13 23:34] frankfarzan commented on #838
@mortent We should think more generally about non-k8s yaml/json files in kpt packages. We've discussed an ignore list in the past. Mocking with permissions seems kind of hacky.

[2020-08-14 00:04] Shell32-Natsu commented on #939
I even cannot get the package.

[code]

[2020-08-14 00:23] Shell32-Natsu commented on #939
[code]

The function doesn't work if I don't update the permission.

[2020-08-14 00:29] prachirp commented on #719
I find that running the following command puts the same data as the output of `docker run` into `/tmp/results-0.yaml`. This issue is about the UX preference whether kpt should omit tags fields when printing results to the console.
[code]

[2020-08-14 00:31] alex-y-kozlov opened #942 "How to set a list setter to an empty list"
run ` kpt cfg set helloworld/ list-val [] ` and observe that the setter value is

    io.k8s.cli.setters.list-val:
      type: array
      x-k8s-cli:
        setter:
          name: list-val
          listValues:
          - "[]"
          isSet: true

and the same is in the target yaml file.

what's the right way to set empty list value?

[2020-08-14 07:54] MrTrustor commented on #885
I don't understand why making the _parent_ directory of the package a git repo instead of the package itself directly would be better here. In both cases, my package is tracked in Git, and I can recover.
And if that's an assumption that kpt makes/wants to make, then it needs to be clearly documented.

It's not a *major* problem, it's just completely illogical to me, and frankly looks and feels lik

[2020-08-14 16:36] phanimarupaka commented on #942
Currently kpt doesn't support setting empty list values. This is essentially request to clear the list. Can you let us know your use case more as to why do you want to do that in your workflow to get better understanding.

[2020-08-14 16:50] alex-y-kozlov commented on #942
The use case as follows:
to be able to customize command and/or ins arguments in the container. Its a very common requirement
Thanks in advance!

[2020-08-14 17:00] #922 closed

[2020-08-14 17:22] frankfarzan commented on #939
Docker mount permissions are different on Linux and Mac:

[2020-08-14 17:26] Shell32-Natsu commented on #939
Will that introduce security concerns? I am thinking about the reason for hardcoding nobody user in the implementation.

[2020-08-14 17:31] frankfarzan commented on #939
@Shell32-Natsu Assigning this to you.

As it stands, this documentation is wrong:

https://googlecontainertools.github.io/kpt/reference/fn/run/#mounting-directories

Re security: if the personae running the CLI is explicitly allowing host access, then this is a reasonable behavior. Default is `nobody`, but by definition certain functions require privilege host access.

 As part of this, I like to

[2020-08-14 21:12] Shell32-Natsu commented on #823
The error output on my machine looks weird.
[code]

[2020-08-14 21:52] prachirp opened #944 "Refactor catalog e2e tests"
Once other catalog-blocker bugs are fixed, we can make the following changes:
- convert `docker run` e2e tests to use `kpt fn run` after #823 #824
- remove `|| true` from any `kpt pkg get` commands after #838
- add test running starlark script imperatively using `kpt fn run` after SDKs are aligned on using `data` field #757
- modify source function blueprints to pull fn-config.yaml out of local-co

[2020-08-14 22:08] Shell32-Natsu commented on #823
I suspect that issue is here: https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/b931211b4703dc89698c7c7eb62763d8fd132a7b/functions/ts/src/istioctl_analyze.ts#L107.

[code]

The value is a boolean so if it's a `false` the push won't be run.

I tried this piece of ts code:

[code]

and the output is:
[code]

[2020-08-14 23:02] frankfarzan opened #945 "`helm-template` function should fetch a chart using a URL"
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/helm-template/

Instead of requiring a Helm chart to be vendored and mounted, a better UX would for the function to download the chart given a URL:

[2020-08-15 01:06] prachirp opened #946 "Update Helm page from kpt ecosystem docs"
Update [Helm page from kpt ecosystem docs](https://googlecontainertools.github.io/kpt/guides/ecosystem/helm/) to include running the helm-template function under the "Expand the helm chart" section.

[2020-08-16 21:51] phanimarupaka commented on #281
This has been addressed with the fix feature https://github.com/GoogleContainerTools/kpt/issues/848

[2020-08-16 21:52] #281 closed

[2020-08-16 21:52] #224 closed

[2020-08-16 21:59] phanimarupaka commented on #405
@trodge Why can't you just stash or discard those changes using git?

[2020-08-16 22:03] mortent opened #947 "delete-setter doesn't properly clean up references"
The delete-setter command doesn't properly clean up all the references to the setter in the manifests. To reproduce:
[code]
Notice that the StatefulSet manifest still contains references to the `replicas` setter in the env variables.

[2020-08-16 22:03] phanimarupaka opened #948 "Update sequence node comments correctly during pkg update"
Currently if there is a new array type setter added in upstream, kpt pkg update doesn't recognize it as a change and doesn't pull those comments to local. This makes the upstream array setters not usable by local. This issue is to merge those comments correctly.

[2020-08-16 22:23] felixtran39 commented on #938
@seans3 Not exactly. Based on my understanding, this is what I think is happening.
**The first time the pipeline runs:** deployment/service resources are generated and then transformed with `set-namespace`. However, since the generated configs don't specify the namespace, `set-namespace` will specify a namespace at the bottom of the metadata section even if this does not agree with the ordering th

[2020-08-16 23:01] phanimarupaka opened #949 "Print message if subst doesn't match any field value"
kpt currently creates a substitution silently even though there are no field values matching the substitution. This issue is to print a message so that users are aware when this happens.

[2020-08-17 11:12] artbegolli commented on #694
Do we have any update here?

[2020-08-17 16:46] prachirp commented on #879
@davinkevin We released this with kpt 0.33.0 last week. Can you verify this works for you?

[2020-08-17 19:14] #949 closed

[2020-08-17 19:14] #948 closed

[2020-08-17 19:16] phanimarupaka opened #950 "Implement delete-subst command"
Implement the delete-subst command which accepts substitution name as input and delete the substitution definition from Kptfile and remove all it's references from resource configs.

[2020-08-17 21:16] Shell32-Natsu commented on #824
The parse is not doing by SDK but by this [library](https://github.com/nodeca/argparse). I don't find an option to resolve this ambiguity. However we can have 2 work arounds.

1. Use `-d='--use-kube=false ...'`.
2. Use `-d ' --use-kube=false ...'` (Note the leading space) then trim the string.

If we want to avoid such special ways, we may need to change to other arg parse library.

@frankfarzan F

[2020-08-17 22:07] prachirp commented on #824
Thanks, the e2e tests currently use a third workaround `-d--use-kube=false` (https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/tests/istioctl_analyze.sh#L38)

[2020-08-17 23:48] Liujingfang1 opened #951 "helm-template function fails with .kube/config"
Running the helm-template function
[code]
with the error

[code]

Unsetting the environment variable by `unset KUBECONFIG` solves this error, but we should fix the problem from the helm-template image side.

[2020-08-17 23:48] Liujingfang1 commented on #951
cc @prachirp @Shell32-Natsu

[2020-08-17 23:51] prachirp commented on #951
@Shell32-Natsu This issue of helm not finding KUBECONFIG is similar to #879 where kustomize could not find TMPDIR

[2020-08-18 00:09] Shell32-Natsu commented on #951
@prachirp You mean we should ignore KUBECONFIG env?

[2020-08-18 00:21] Shell32-Natsu commented on #951
TMPDIR is implicitly propagated by macOS but obviously KUBECONFIG isn't. I think what makes more sense might be check is path specified by KUBECONFIG is valid and unset it if it isn't in the function.

[2020-08-18 01:12] prachirp commented on #951
@Shell32-Natsu kpt has no way of knowing whether any env variable is used in the function so we need more general logic.

How about we expose a `--kubeconfig=/x/y/z` flag in `kpt fn run` which takes a path to the kube config as argument, and if no arguments are passed it default uses the local KUBECONFIG env variable. If `--kubeconfig` flag is not passed then we ignore KUBECONFIG env.

[2020-08-18 01:45] Shell32-Natsu commented on #951
I don't think add a flag for single env is a good idea, otherwise we will have dozens of flags in the future. I am think about using the same way that docker is using. Add a `-e, --env` flag to ask user to explicitly export env variable instead of blindly export all envs.

@frankfarzan Any input?

[2020-08-18 01:54] prachirp commented on #951
That makes sense to me. Now is a good time to make this change since we haven't released kpt v1.0.0 yet. As the biggest drawback is this is backwards-incompatible; it involves changing from passing all local env variables to docker to passing none by default.

[2020-08-18 02:29] #730 closed

[2020-08-18 02:30] mortent commented on #733
I can't reproduce this, so closing it.

[2020-08-18 02:30] #733 closed

[2020-08-18 02:38] mortent commented on #627
This is not the right way to collect this data.

[2020-08-18 02:38] #627 closed

[2020-08-18 02:59] mortent commented on #575
@phanimarupaka I think this is done so we can close this issue?

[2020-08-18 03:05] mortent opened #952 "Expose status command from cli-utils in kpt"
We have updated the status command in cli-utils. We should also expose this in kpt and add documentation.

[2020-08-18 05:57] phanimarupaka commented on #575
@mortent Yes. We accept the full path. This can be closed. https://github.com/GoogleContainerTools/kpt/pull/937

[2020-08-18 05:57] #575 closed

[2020-08-18 13:20] fsommar commented on #413
This would be very interesting to us. We're using the output as part of CI/CD pipelines, and while --output=table gives a nice summary of the state after a kpt live apply, it assumes the output is a terminal.

[2020-08-18 17:39] #908 closed

[2020-08-18 17:41] prachirp commented on #832
Yes, these examples are in the `kpt fn run` reference doc https://googlecontainertools.github.io/kpt/reference/fn/run/

[2020-08-18 17:41] #832 closed

[2020-08-18 17:48] seans3 commented on #951
For kubectl, there is already a `--server`

[2020-08-18 17:55] prachirp commented on #569
@frankfarzan We can consider this done. Our catalog shows examples next to the SDK used. And the SDK docs show good examples to start with.

[2020-08-18 18:00] seans3 commented on #951
I think it might make sense to have this work the same way `kubectl` works. Users will be familiar with that. Is this possible to always propagate the env var (KUBECONFIG) into `kpt fn run` (in fact into all `kpt` commands)?

The ordering for finding `kubeconfig` in `kubectl` is:

1) `--kubeconfig` flag
2) KUBECONFIG env var. NOTE: This can have multiple `kubeconfig` files separated by colon which

[2020-08-18 18:01] seans3 commented on #951
Sorry: accidentally closed this. I've re-opened.

[2020-08-18 18:17] Shell32-Natsu commented on #951
Thanks @seans3 , the main problem in this issue is `KUBECONFIG` is exported to the function accidentally and the path/file doesn't exist in the container. If we always export, it's up to user to make sure that the path specified by `KUBECONFIG` does exist in the container, otherwise they will have issue (like this).

At the same time I still think changing to passing no env by default is better th

[2020-08-18 18:34] Liujingfang1 commented on #933
One idea is to allow specifying those flags in Kptfile. So that when users run `kpt fn run <DIR>`, all the needed flags are already included in the Kptfile.

[2020-08-18 22:36] frankfarzan opened #954 "`kpt fn sink` should allow merge strategies"
Similar to `kpt pkg update`.

It's not desirable to always overwrite the sink directory.

Note that `kpt fn run` also implicitly invokes sink.

[2020-08-19 02:56] prachirp commented on #938
@felixtran39 What is your expectation for how kpt should behave on duplicate resources?

The example-nginx function is a [generator function](https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/#generators), so it creates new resources from templates each time it is run. If you create a kpt pipeline with only `gcr.io/kustomize-functions/example-nginx` and run it twice, do y

[2020-08-19 05:36] phanimarupaka opened #956 "Implement setters commands behavior with nested subpackages"
Currently setter(create-setter, create-subst, set, list-setters) commands doesn't handle the nested subpackages correctly and the behavior is not deterministic. Implement cfg commands behavior consistent with subpackages.

[2020-08-19 05:37] phanimarupaka opened #957 "Implement add-dep command"
Implement `kpt pkg add-dep` command to add dependency as a subpackage in Kptfile.

[2020-08-19 18:59] seans3 opened #958 "Create a Proof-of-Concept for ResourceGroup as Inventory object"
* Create a demo using the `ResourceGroup` custom resource as the `Inventory` object instead of a ConfigMap

[2020-08-19 19:02] seans3 commented on #958
Completed and demo'd. Closing

[2020-08-19 19:02] #958 closed

[2020-08-19 19:04] seans3 opened #959 "Expose `InventoryFactoryFunc` to kpt from `cli-utils`"
* Expose the `InventoryFactoryFunc` to `kpt` from the lower-level `cli-utils`.
* Allows `kpt` to override the `InventoryFactoryFunc` to use a `ResourceGroup` custom resource instead of the default `ConfigMap`.

[2020-08-19 19:05] seans3 commented on #959
https://github.com/kubernetes-sigs/cli-utils/pull/220

[2020-08-19 19:06] seans3 commented on #959
https://github.com/kubernetes-sigs/cli-utils/pull/219

[2020-08-19 19:06] #959 closed

[2020-08-19 19:11] phanimarupaka commented on #947
https://github.com/kubernetes-sigs/kustomize/pull/2855

[2020-08-19 19:11] #947 closed

[2020-08-19 19:11] phanimarupaka commented on #950
https://github.com/kubernetes-sigs/kustomize/pull/2855

[2020-08-19 19:11] #950 closed

[2020-08-19 19:48] prachirp commented on #879
@davinkevin I am closing this out. Please file a new issue if anything comes up.

[2020-08-19 19:48] #879 closed

[2020-08-19 20:16] Shell32-Natsu commented on #945
How do we know what kind of URL does user give us? It can be a github repo, a gitlab repo, a tarball or anything.

[2020-08-19 20:26] monopole commented on #914
@runewake2 looking into this.

[2020-08-19 20:32] monopole opened #960 "Provide detailed helm source example in catalog"
As a touchstone / reference impl for other entries in https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog

We (config-as-data team) should do a fish-food on this to refine it once its done.

[2020-08-19 20:33] monopole commented on #960
@etefera

[2020-08-19 20:35] davinkevin commented on #879
I didn't have the previous error with the version 0.33.0 🎉. Thanks for your help/support.

When I run the command `kpt fn run . --network --mount type=bind,src=(pwd)/podcast-server,dst=/source`, the result is stored inside the previously downloaded folder. Is this normal? I though it should print all to the standard stdout?

[2020-08-19 20:43] felixtran39 commented on #938
@prachirp I expect kpt to de-duplicate the repeated resources.

[2020-08-19 20:48] frankfarzan commented on #749
How does server-related flags apply to e.g.:

kpt fn
kpt cfg tree

?

I don't think it generally applies to all commands.

[2020-08-19 20:54] monopole commented on #954
Do you have a specific example in mind?

[2020-08-19 21:02] phanimarupaka opened #961 "Implement new feature kpt cfg search(replace)"
Implement the new feature kpt cfg search which will help users to effectively search for fields in the yaml configs.

- [x] Search by value
- [x] Search by value regex
- [x] Put literal
- [x] Add non-existing fields
- [x] Support search by absolute paths
- [x] Support path expressions
- [x] Implement put pattern
- [x] Fishfood
- [x] Documentation

[2020-08-19 21:05] monopole commented on #916
Done in https://github.com/kubernetes-sigs/kustomize/pull/2794

[2020-08-19 21:05] #916 closed

[2020-08-19 21:09] prachirp commented on #879
Hey @davinkevin, Running `kpt fn run` alone automatically sources and sinks from the provided DIR/, in this case `.`. Manually source from `.` and skip sink in order to print out the resources instead of writing them to file.
`kpt fn source . | kpt fn run --network --mount type=bind,src=$(pwd)/podcast-server,dst=/source`
You can also choose to sink them to a separate directory than where they were

[2020-08-20 00:09] frankfarzan commented on #951
I think automatically exporting all host env vars to the container will be problematic in general. Setting env variables should be done explicitly. @Shell32-Natsu This should be tracked in the discussion of revisiting how docker flags are exposed in kpt.

[2020-08-20 14:50] salaxander opened #962 "homebrew installation fails on macOS 11 (Big Sur)"
I'm running the beta version of macOS 11, and have been running into issue trying to `brew upgrade` to the latest version. Wanted to file this issue early since there's likely plenty of time before Big Sur exits beta :)

[code]

[2020-08-20 15:28] davinkevin commented on #879
Perfect 👍.

Thank your for your help and your time ❤️

[2020-08-20 18:31] frankfarzan commented on #454
Agree this is causing UX friction. In almost all cases, it is more intuitive to use the current directory instead of passing a positional arg:

$ cd <dir>
$ kpt cfg set <name> <val>

Instead of:

$ kpt cfg set <dir> <name> <val>

Current, users try the intuitive command first, get an error, fiddle around with the <dir> positional argument.

As a middle ground, we can provide a global optional argu

[2020-08-20 18:48] phanimarupaka opened #963 "Document gcloud auto-setters"
Kpt offers gcloud auto-setters where upon invocation of kpt pkg get, they will be auto-set from the gcloud configs. This feature existed from long and just worked but the documentation is missing.

Here are the list of auto-setters:
gcloud.compute.region
gcloud.compute.zone
gcloud.core.project
gcloud.project.projectNumber

[2020-08-20 18:56] seans3 commented on #962
/assign @mortent
/assign

[2020-08-20 19:31] phanimarupaka opened #964 "Add single quotes to user defined entities on stdout"
Currently, while printing error or warning messages to stdout, kpt commands doesn't wrap the user defined entities in single quotes. This might lead to confusion to users.

[2020-08-20 23:04] phanimarupaka opened #966 "create-setter/subst doesn't add openAPI definitions if the section is empty"
If if Kptfile has empty openAPI definitions as below, it doesn't create setter/subst definitions. This should be fixed.

[code]

[2020-08-20 23:48] mortent commented on #962
@salaxander Thanks for reporting this. We don't have access to Big Sur yet, so we haven't seen this issue.

The error seems to suggest that it is the XCode Command Line Tools that are out-of-date. Have you tried to update XCode and the CLT?

[2020-08-21 01:08] prachirp commented on #719
kpt omits many fields like `field.path` from structured results, not just tags.

[2020-08-21 02:59] mortent commented on #749
We have the `--k8s-schema-source` global flag that can configure kpt to fetch the openapi schema from a k8s cluster. This is where the server-related flags can be relevant for many kpt commands and is why they are added at the top-level cobra command.

[2020-08-21 04:09] mortent commented on #413
@fsommar My first thought here is that printing in json format will be similar to the default `event` format of kpt live, but with each line of the output as a json object. So something like:
[code]
The output will still be streaming from kpt as it happens. I still need to spend some time deciding on the exact fields we should use, but does the direction match what you are looking for?

[2020-08-24 18:54] prachirp opened #972 "Revisit `kpt fn run` sinking config"
Users are often confused where the `kpt fn run` command writes newly created configuration as it's not clear that it automatically sinks to the same directory it sourced configs from. Other tools like `sed` source and manipulate content but print it to console instead of writing to disk.

We should consider switching default behavior to only source and run functions and provide a --sink-dir flag t

[2020-08-25 02:05] prachirp commented on #823
Verified the fix, can do a release once we fix CI

[2020-08-25 02:05] #823 closed

[2020-08-25 19:02] wpwoodjr opened #975 "Unclear what --namespace flag does or should do"
Opening this issue per https://app.slack.com/client/T09NY5SBT/C0155NSPJSZ/thread/C0155NSPJSZ-1598299781.002600/1598330404.003800

I tried
[code]
But it deployed to namespace `default`.

I've since added namespace as a setter.  This seems to be more in the spirit of kpt  if I'm honest, but still I wonder what the `--namespace` flag is for?

Should `--namespace` impact the inventory object used by k

[2020-08-25 19:19] mortent commented on #826
This also applies to the `--namespace` flag.
This is pretty straightforward to fix, but the main question is what behavior we want for the inventory here.

I think using the namespace from the context instead of default makes sense for the `kpt live init` command. Obviously, this would only be used if the user didn't specify the namespace for the inventory directly with the `--inventory-namespace`

[2020-08-25 21:17] seans3 commented on #912
Completed with the following PR: https://github.com/GoogleContainerTools/kpt/pull/970

[2020-08-25 21:17] #912 closed

[2020-08-25 21:45] mortent commented on #975
@wpwoodjr Thanks for creating an issue for this. I found another issue that seems similar and added a comment on it: https://github.com/GoogleContainerTools/kpt/issues/826

[2020-08-26 00:33] mortent commented on #838
I agree. An ignore list sounds reasonable. I think we should use an `.kptignore` (or `.krmignore`) file that must exist on the root of the package (i.e. parallel to the Kptfile). The format will be the same as the `.gitignore` file and any files/folders added to the file will be ignored for all purposes in kpt, except it will be downloaded as part of the package from git.
@frankfarzan WDYT?

[2020-08-26 00:38] prachirp opened #976 "Simplify catalog e2e tests"
Simplify catalog e2e tests by:
- Removing NODOCKER option
- Removing testing on MacOS

This is blocked by https://github.com/GoogleContainerTools/kpt/issues/824 and https://github.com/GoogleContainerTools/kpt/issues/944

[2020-08-27 09:00] kaoet opened #979 "Preserve YAML multiline strings"
**What're the files like:**
My `Kptfile`:
[code]

My `config.yaml`:
[code]

**What do I do:**
`kpt cfg set . v1 my-value2`

**What's I actual see:**
My new `config.yaml`:
[code]

**What's expected:**
My new `config.yaml`:
[code]

**Notes:**
1. If at the beginning, I write my `config.yaml` like
[code]
Then kpt is unable to find the comment and refuses to update the YAML for me.
2. It's OK for me to

[2020-08-27 13:21] wpwoodjr opened #980 "kpt fn CRD-like functionality unable to delete resources"
Opening this per https://kubernetes.slack.com/archives/C0155NSPJSZ/p1598488132017100

Looking here: https://googlecontainertools.github.io/kpt/faq/#q-i-want-to-write-high-level-abstractions-like-crds-but-on-the-client-side-can-i-do-this-with-kpt

This promises the ability to write CRD-like functionality, but on the client side.  You can create a new resource type and `kpt fn` will run your custom

[2020-08-27 16:27] mortent commented on #517
@wstrange I have a PR to add support for an ignore file as part of a kpt package at https://github.com/kubernetes-sigs/kustomize/pull/2898. When we pull this into kpt, the name of the file might be `.kptignore` instead of `.krmignore`, but the functionality should be the same. Does it look like this would fix your issue?

[2020-08-27 17:27] prachirp commented on #837
Thanks, built kpt from source and verified this fix.

[2020-08-27 17:27] #837 closed

[2020-08-27 18:08] wpwoodjr opened #981 "kpt fn sink not writing output to specified directory"
In this example I try to write `kpt fn sink` output to `../tmp` but instead it overwrites the current working directory files.
[code]

[2020-08-27 18:24] wstrange commented on #517
I think it would work! Happy to test it out once it lands.
Thanks!

[2020-08-27 18:38] wpwoodjr commented on #630
I'm not sure we should limit the ability to modify the inventory file.  I was able to find a use case for allowing the namespace in inventory.yaml to be modified by `kpt cfg set . namespace foo'.  This was so that I could pre-create the inventory.yaml for a project that would ultimately be deployed to multiple different namespaces.  All the user has to do is:
[code]

[2020-08-27 18:42] Shell32-Natsu commented on #939
Manually confirmed this has be fixed by https://github.com/kubernetes-sigs/kustomize/pull/2890.

User flag `--fn-user root` to avoid permission issue.

[2020-08-27 18:44] wpwoodjr opened #982 "Add --atomic flag like Helm's"
I'd like to see a `--atomic` flag which rolls back to the previous state on failure.  Similar to helm:
[code]

[2020-08-27 18:59] prachirp opened #983 "Remove --results-dir from catalog blueprints"
Remove --results-dir from catalog blueprints after addressing https://github.com/GoogleContainerTools/kpt/issues/719

[2020-08-27 19:22] wpwoodjr opened #984 "kpt live init should not be an error when re-run"
Why is it an error to re-run `kpt live init` when the namespace hasn't changed?  I would expect it to not change the `inventory-template.yaml` file and move on without an error.  The current behavior makes it harder to write idempotent scripts around `kpt`.
[code]

[2020-08-27 21:49] frankfarzan commented on #932
@seans3 could you follow up with a design proposal that takes `local-config` into account?

[2020-08-27 21:51] frankfarzan opened #985 "Improve setters API: SetterDefinition and SetterValues"
Currently, `kpt cfg set` is imperative per-setter command. We need a way for user to declare all setter values in a configuration file. As part of this, distinguish setter definition (provided by package publisher) from setter values provided by the consumer.

- [x]  Implement initial version of setter Definitions by setting default values
- [x] Implement setterValues
- [x] Implement setting multi

[2020-08-27 22:01] #859 closed

[2020-08-27 23:15] mortent commented on #919
Related to https://github.com/GoogleContainerTools/kpt/issues/903

[2020-08-27 23:19] #919 closed

[2020-08-27 23:25] frankfarzan commented on #749
Agree that some command will need this, but more important is that not every command needs this. So showing a kitchen-sink of irrelevant flags for those commands is confusing at worse and annoying at best.

Take, `kpt fn run` as an example. As a user, I'd be confused as to what providing `--kubeconfig` flag does (Nothing). It also forces us to prefix flags. Example is we want to have `--user` to m

[2020-08-27 23:36] mortent commented on #749
I agree this doesn't make sense for all commands. But it is a tradeoff between having a consistent set of global flags across all commands vs different flags for each command. Since we will need to have the `--user` flag for every command that might talk to the cluster, we should probably avoid that flag for `kpt fn run`.

`kpt fn run` is actually an example where I think the cluster flags could a

[2020-08-28 00:01] frankfarzan commented on #749
To clarify there are two problems today for `kpt fn run`:

1. Global flags don't do anything today, so they're misleading.
2. They're also polluting the help message for actual information the user cares about.

So it's a double whammy.

So I'm going to insist that at least #2 is addressed.

[2020-08-28 00:12] mortent commented on #749
Most of the global flags were hidden with https://github.com/GoogleContainerTools/kpt/pull/888. All flags are documented in https://googlecontainertools.github.io/kpt/reference/#global-flags
Does that address #2?

So one option to remove most of the global flags, is to remove the option to let users fetch the openapi schema from the cluster. We had this as the default a while back, but changed the

[2020-08-28 00:51] frankfarzan commented on #749
It's improved. Couple of things:

1. I'd assume that most of the flags (even the ones hidden in #888) are useful for `kpt live` commands that actually need to talk the API server? For example, does `kpt live apply --as Bob` do as you expect? Or do these flags only used for fetching OpenAPI document?
2. IMO, `PersistantFlags` is not what we want for a tool like `kpt`, but understand they're inherit

[2020-08-28 03:59] mortent commented on #932
@frankfarzan Here is a short explanation of what how we can address this issue using the `local-config` anntation.

The proposal here is to use the `config.kubernetes.io/local-config` annotation that is defined as part of the kyaml module to allow users to tag resources that should be ignored by kpt live commands. The kpt documentation currently lack proper documentation on the purpose of this ann

[2020-08-28 14:33] wpwoodjr opened #986 "Deleting a setter can disassociate another setter"
Create setter `spec.containers.imagePullPolicy`:
[code]
Oops should have been `spec.template.spec.containers.imagePullPolicy`:
[code]
Let's delete `spec.containers.imagePullPolicy`:
[code]
Oh no, it disassociated `spec.template.spec.containers.imagePullPolicy` (count is now 0):
[code]

[2020-08-28 15:51] mortent commented on #838
This issue seems very similar to https://github.com/GoogleContainerTools/kpt/issues/517 now.
I have a PR to add support for `.krmignore`/`.kptignore` files: https://github.com/kubernetes-sigs/kustomize/pull/2898. I think that should address this issue.

[2020-08-28 17:40] Shell32-Natsu commented on #939
We still haven't had a final decision about the flag name, reopen this.

[2020-08-28 17:41] Shell32-Natsu commented on #951
We still haven't had a final decision about the flag name, reopen this.

[2020-08-28 17:41] Shell32-Natsu commented on #749
@frankfarzan @mortent If we want to use `--user` (or something else) in command `kpt fn run` we have to had a common understanding of these global flags at first. #933 #939 #945 #951 are blocked.

[2020-08-28 19:18] wpwoodjr opened #987 "kpt cfg delete fails when setter name not equal to field name"
Create the setter, give it a name that is different from the field name (`replica` vs `replicas`):
[code]
As expected, in the deployment yaml is now `  replicas: 5 # {"$kpt-set":"replica"}`.  Everything is good!

Now delete the setter:
[code]
Everything looks good, but wait... in the deployment yaml, is still `  replicas: 5 # {"$kpt-set":"replica"}`.

It would be very useful if this was supported

[2020-08-28 20:18] frankfarzan commented on #932
sgtm

[2020-08-28 21:08] wpwoodjr commented on #932
It would be great if this could be used to prevent an optional resource from being deployed, which I think it could, for example to prevent an Ingress from being deployed:
[code]
But one issue is, you can't specify that this setter be in the Ingress resource.  I'll open an issue for that.

[2020-08-28 21:12] wpwoodjr opened #988 "Restrict setter scope to specific resource kind"
Per https://github.com/GoogleContainerTools/kpt/issues/932#issuecomment-683147303, there is no way to specify the `kind` of resource that a setter applies to, for example Ingress.  It would be nice if you could specify the `kind` in the field path:
[code]
Or else have a separate flag which specifies the `kind` that the setter applies to.

[2020-08-29 02:50] phanimarupaka commented on #987
@wpwoodjr This issue has been fixed. You can expect the fix in the next kpt release.

https://github.com/kubernetes-sigs/kustomize/pull/2855

[2020-08-29 02:52] #987 closed

[2020-08-29 02:59] phanimarupaka commented on #986
@wpwoodjr This issue has been fixed. You can expect the fix in the next kpt release.

kubernetes-sigs/kustomize#2855

[2020-08-29 03:00] #986 closed

[2020-08-29 03:00] phanimarupaka commented on #976
@prachirp Can you please add size and priority.

[2020-08-29 03:14] phanimarupaka commented on #988
@wpwoodjr We are working in this direction to achieve more fine grained control for creating setters. Thanks for filing the issue.

[2020-08-31 15:03] seaneagan commented on #869
@mortent Do you have any thoughts yet as to whether this will include similar functionality to Helm hooks e.g. pods/jobs (or any object really). which should be "run" (apply and wait for status conditions to resolve) pre/post install/upgrade/delete of an inventory? Or inert objects which can be activated on demand at some point after the initial apply by running some command which specifies the ho

[2020-08-31 15:29] wpwoodjr opened #989 "kpt live init does not respect the Required flag on namespace setter"
I ran `kpt live init .` before setting the namespace, which is a `required` setter:
[code]
Now I am stuck because the inventory namespace is `mandelbrot` and will not change when I change the setter.

[2020-08-31 16:10] mortent commented on #869
@seaneagan Lifecycle directives will not support use-cases like this, it more about being able to change the behavior for a single object during create, delete and update. An example would be to protect a resource from deletion.

We are looking at ordering of resources during apply (and delete) to let users specify things like resource A must be applied before resource B, and resource A must be ap

[2020-08-31 18:33] Shell32-Natsu opened #990 "Kustomize Doesn't append nameSuffix from base when patch is applied to derived file in version 3.8.1"
https://github.com/kubernetes-sigs/kustomize/issues/2896

[2020-08-31 18:33] Shell32-Natsu opened #991 "not patching clusterrolebinding subject if service account is not default"
https://github.com/kubernetes-sigs/kustomize/issues/2906

[2020-08-31 23:39] prachirp commented on #983
Un-assigning myself as this is currently blocked

[2020-09-01 17:05] #990 closed

[2020-09-01 20:11] Liujingfang1 opened #995 "enable logging steps in `kpt fn run`"
@ZhuGongpu added an option in kyaml to log which function is running ([PR](https://github.com/kubernetes-sigs/kustomize/pull/2826)) This is available since kyaml v0.6.1. `kpt fn run` need to have a flag to set this option.

cc @frankfarzan  @yuwenma  @Shell32-Natsu

[2020-09-01 20:17] ZhuGongpu commented on #995
I'll do it.

[2020-09-01 20:18] Shell32-Natsu commented on #995
@frankfarzan Should this be added to the UX design brief?

[2020-09-01 20:21] frankfarzan commented on #995
Yes, it be good to briefly describe the flag and the output format.

[2020-09-01 20:26] Shell32-Natsu commented on #995
@ZhuGongpu @Liujingfang1 Do you plan to support this flag in declarative file? or only in imperative way.

[2020-09-01 20:32] frankfarzan commented on #995
This is not a per-function feature, but about orchestration of functions. So it doesn't make sense to be declared in each function

[2020-09-01 20:40] Liujingfang1 commented on #995
Agreed with Frank that it is only in imperative way as something like `kpt fn run . --log-steps`

[2020-09-01 21:11] seans3 commented on #708
Part of effort: https://github.com/kubernetes-sigs/cli-utils/pull/227

[2020-09-01 21:54] seans3 commented on #903
The way forward: special case the inventory namespace. Usually, the inventory object is the first object applied (this is necessary for the correctness of the pruning algorithm). If we detect that the namespace of the inventory object is also being applied, we will apply this namespace first before the inventory object. Therefore, the inventory namespace will exist when the inventory object is app

[2020-09-01 23:17] #991 closed

[2020-09-02 18:32] #956 closed

[2020-09-02 19:29] Shell32-Natsu commented on #824
@prachirp Is this still a blocker for you?

[2020-09-02 19:58] monopole commented on #870
fixed by kubernetes-sigs/kustomize#2931

[2020-09-02 19:58] #870 closed

[2020-09-02 20:05] mgoltzsche commented on #903
The current behavior actually makes perfectly sense. If this would work the users may not be aware of the workaround during deletion which may cause other bugs. Therefore I also imagine that the behavior remains the same as is but the error message recommends the user to use a different namespace for the inventory object.

[2020-09-02 20:15] monopole opened #999 "Function catalog landing page blurbs"
The [front page of the catalog](https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog) should:

-  directly answer these questions with one sentence:
   - what is a function
   - who would use one
   - who would write one
- have a diagram (source->pipe->sink)

[2020-09-02 20:21] monopole opened #1000 "Function catalog landing page simplification"
The [main landing page](https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/) is too busy.

Move source, sink, validators, transformers, generators away from  to distinct landing pages.
Drop misc (the reference to test functions can appear in developer documentation)

[2020-09-02 20:31] monopole opened #1001 "Function catalog SEO"
The first result for

https://www.google.com/search?q=kpt+function+catalog
https://www.google.com/search?q=krm+function+catalog

should be the [doc page](https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/),
not the [github repo](https://github.com/GoogleContainerTools/kpt-functions-catalog).

HOWTO:

https://support.google.com/websearch/answer/9351707?p=featured_snippets&

[2020-09-02 20:36] frankfarzan commented on #999
Re "diagram", there's a concepts page:

https://googlecontainertools.github.io/kpt/concepts/functions/

Feel free to edit and link to it if needed.

[2020-09-02 20:59] #794 closed

[2020-09-02 21:03] phanimarupaka opened #1002 "Implement other cfg commands(non-setters) behavior with Composite packages"
Currently non-setter(annotate, count, etc) commands doesn't handle the nested subpackages correctly and the behavior is not deterministic. Implement cfg commands behavior consistent with subpackages.

[2020-09-02 21:06] seans3 opened #1003 "ResourceGroup as Inventory Proof of Concept"
* Create a proof-of-concept using `Resource Group` as the inventory object
* Refactor `Provider` to create a `KptProvider` which creates the initial local inventory object. For example, the initial local inventory object is now creates the `ConfigMap` inventory object using the `inventory-template.yaml`. The local `ResourceGroup` inventory object will be created from the kptfile `namespace` and `n

[2020-09-02 21:52] frankfarzan commented on #824
Ideally, all functions should be run by `kpt` CLI and not directly by docker.

When running imperatively via the CLI, the flags are converted to a `ConfigMap` and pass as part `.functionConfig` field of the input `ResourceList`. As a result, there shouldn't be a flag parsing by the SDK.

Given this, what is this blocking exactly?

[2020-09-03 19:31] prachirp commented on #719
We have decided to add field.path but omit tags when printing to console

[2020-09-03 23:02] nan-yu opened #1009 "Kubeval validator should support arbitrary flags"
I got the following error when running the kubeval validator declaratively with `ignore_missing_schemas: 'true'`
[code]

Here is the function config:
[code]

@prachirp helped dig into the issue and found out this is because adding the ignore missing schemas flag makes kubeval print additional output to the terminal. One way around it is to use the `--quiet` flag in kubeval.

[2020-09-04 01:39] #940 closed

[2020-09-06 18:51] mortent commented on #413
@fsommar I have a WIP on this at: https://github.com/kubernetes-sigs/cli-utils/pull/231
I have added a description of what the output would look like as godoc at https://github.com/kubernetes-sigs/cli-utils/pull/231/files#diff-f0e3e33ec6b4df91f7a7e1b0b65e2675R4. Take a look and let me know if there is anything you need that are missing or if something doesn't look right.

[2020-09-08 20:32] frankfarzan opened #1010 "Auto-generated SDK Docs have broken links"
https://googlecontainertools.github.io/kpt-functions-sdk/api/

Probably broke when merging SDK docs to KPT repo.

[2020-09-08 21:28] prachirp commented on #1010
Fixed by https://github.com/GoogleContainerTools/kpt-functions-sdk/pull/189

[2020-09-08 21:28] #1010 closed

[2020-09-09 20:51] Shell32-Natsu opened #1015 "$patch: delete on an object results: Error: Object 'Kind' is missing in '{}'"
https://github.com/kubernetes-sigs/kustomize/issues/2945

[2020-09-09 21:19] Shell32-Natsu opened #1016 "kustomize build fails when specific fields are null"
https://github.com/kubernetes-sigs/kustomize/issues/2960

[2020-09-10 07:01] fsommar commented on #413
@mortent Thank you, LGTM!

[2020-09-10 08:16] kaoet opened #1018 "Support more flexible logics"
If I understand correctly, kpt has very limited functionalities in "computed variables". I didn't find the way to do the following things:
* `X = (Y == "true" ? Z + "-aabb": W + "-ccdd")`
* `X = base64(Y)`

And a step further, some resource-level logic, such as Deployment `D` should only exist if setter `S` is equal to "enabled".

[2020-09-10 19:50] prachirp commented on #925
@mortent @phanimarupaka Are there other changes we can automate?

[2020-09-10 20:15] mortent commented on #925
So is the idea that the bot will just create a PR that updates the dependencies, or would it also merge it automatically? We should at least make sure it doesn't make any changes to master that will cause tests or build to fail.

[2020-09-10 20:38] phanimarupaka commented on #925
I am not sure if we should automate this step.

Most of the changes need corresponding changes made to kpt. So automating this would make the PRs fail the tests.

Developers might break changes in to smaller prs in kyaml but if kpt points to latest kyaml it might lead to inconsistent behavior. For example if a developer merges a change related to create-setter command and corresponding change to s

[2020-09-11 03:26] mortent commented on #1018
So the goal of kpt is to support a config-as-data toolchain, so we don't plan to add features like embedding code into the manifests. Kpt provides some very limited support for very simple string interpolation with substitutions, but that is it.

The idea with kpt is that instead of trying to make your configuration very flexible by adding logic into the package, kpt provides a workflow for forkin

[2020-09-11 06:26] Shell32-Natsu opened #1021 "kpt fn run should fail if more than one method is used to specify image"
There are 3 ways to specify function image in `kpt fn run`.

1. --image flag
2. --fn-path flag
3. Image field in function config file.

Currently these 3 methods can be used at the same time and all images will be run. That's not correct.

`kpt fn run` should only accept one method, otherwise fail with error.

[2020-09-11 06:26] Shell32-Natsu commented on #1021
cc @frankfarzan @monopole

[2020-09-12 00:27] #1021 closed

[2020-09-12 20:38] seans3 commented on #903
Fixed by: https://github.com/kubernetes-sigs/cli-utils/pull/233

This will be incorporated into `kpt` once the next `cli-utils` build is imported.

[2020-09-12 20:38] #903 closed

[2020-09-12 20:39] seans3 commented on #379
/assign @monopole

[2020-09-14 17:29] frankfarzan opened #1026 "Split up TS catalog function packages"
Currently there's a single NPM package for all TS functions in the catalog:
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/ts

There are good reasons to split it up into multiple packages:

1. Distinguish 1st party vs contrib functions. Example of latter: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/101
2. Make dependency management easier

[2020-09-15 05:02] #932 closed

[2020-09-15 05:03] mortent commented on #755
This is covered by the `config.kubernetes.io/local-config` annotation that will be available in the next kpt release.

[2020-09-15 05:03] #755 closed

[2020-09-15 05:04] #413 closed

[2020-09-15 05:06] mortent commented on #857
Next release of kpt will include a fix where the full `kpt live init` command is included in the error message.

[2020-09-15 05:06] #857 closed

[2020-09-15 05:06] #952 closed

[2020-09-15 05:07] mortent commented on #826
This is addressed in https://github.com/kubernetes-sigs/cli-utils/pull/225 that will be part of the next kpt release.

[2020-09-15 05:07] #826 closed

[2020-09-15 05:07] #975 closed

[2020-09-15 05:34] mortent opened #1033 "Evaluate best merge strategy for kpt pkg update"
We currently use 'fast-forward` as the default update strategy. We should consider if `resource-merge` is a more appropriate default as it leverages the openapi schema for better merge.

[2020-09-15 15:44] seaneagan commented on #525
Fixed via #952

[2020-09-15 15:44] #525 closed

[2020-09-15 19:17] mgoltzsche commented on #902
I was also asking myself how to run kpt in a build pipeline within k8s. There the usual problem occurs that docker is required. Besides solving this with podman (I didn't try it yet but it should do) it would be great to have a simple, k8s-native solution to run functions.

I figure one could translate `docker run` calls to `kubectl run` but this would only be a simple solution if there are no vol

[2020-09-15 19:24] #963 closed

[2020-09-15 19:30] #1002 closed

[2020-09-15 19:31] wstrange commented on #902
I have the same question. We use Tekton and Kaniko today to build images in k8s without requiring access to the docker socket. It would be nice if kpt was fully "K8S native"

Besides solving this with podman (I didn't try it yet but it should do) it would be great to have a simple, k8s-native solution to run functions without the need to mount the docker.sock or run a privileged container.

[2020-09-16 11:52] vmanot commented on #962
This has resurfaced with the release of Xcode 12GM.

[2020-09-16 17:56] #1016 closed

[2020-09-16 17:58] Shell32-Natsu commented on #951
closed by https://github.com/kubernetes-sigs/kustomize/pull/2988

[2020-09-16 17:58] #951 closed

[2020-09-16 18:18] prachirp commented on #907
Merged kubeval blueprint, consider this done

[2020-09-16 18:18] #907 closed

[2020-09-16 18:19] prachirp commented on #719
released kpt-functions 0.14.5 which adds field.path to console output

[2020-09-16 18:19] #719 closed

[2020-09-16 18:20] prachirp commented on #983
I just released ts-functions 0.1.1 which use the new kpt-functions version so this is now unblocked.

[2020-09-16 19:34] frankfarzan opened #1041 "Design for additional package-related metadata in Kptfile"

[2020-09-16 20:13] dive commented on #962
Yep, the same problem. Xcode 12 GM and Command Line Tools for Xcode 12 does not have macOS 11 SDK:

[code]

[2020-09-16 20:26] #1000 closed

[2020-09-16 20:36] phanimarupaka opened #1042 "Implement subpackages behavior with get command"
Implement subpackages behavior with get command

[2020-09-16 20:38] phanimarupaka opened #1043 "Implement subpackages behavior with update command"
Implement subpackages behavior with update command

[2020-09-16 20:57] monopole commented on #960
Do we advise inflate the chart before the container is built, and maybe not even require helm to be in the container?

[2020-09-16 21:00] janetkuo opened #1044 "`kpt pkg get` ignores some files when downloading the package"
The [`.gitlab-ci.yml`](https://github.com/GoogleCloudPlatform/solutions-modern-cicd-anthos/blob/app-delivery/starter-repos/app-template/.gitlab-ci.yml) file is missing from the downloaded [package](https://github.com/GoogleCloudPlatform/solutions-modern-cicd-anthos/blob/app-delivery/starter-repos/app-template) file.

To reproduce:
[code]

@frankfarzan

[2020-09-16 21:02] monopole opened #1045 "Rationalize annotation prefixes exposed to KRM functions"
https://github.com/kubernetes-sigs/kustomize/issues/2996

[2020-09-16 21:06] monopole opened #1046 "kustomize doesn't append nameSuffix patch properly (regression)"
https://github.com/kubernetes-sigs/kustomize/issues/2896

[2020-09-16 21:12] monopole opened #1047 "Kustomize doesn't append nameSuffix from base when patch is applied"
https://github.com/kubernetes-sigs/kustomize/issues/2896

[2020-09-17 10:35] fsommar opened #1048 "Go function SDK ResourceList.results does not match Typescript SDK"
Hi 👋

The Go function SDK, i.e. kyaml framework, is outputting function errors and warnings in a different format from the Typescript SDK, which in turn is also different from the Kpt function documentation.

## Actual

Here's an example output from the Go function SDK (`sigs.k8s.io/kustomize/kyaml@v0.8.0`):

[code]

Here's an example output from the Typescript SDK (`gcr.io/kpt-functions/suggest-p

[2020-09-17 18:29] Shell32-Natsu opened #1049 "kustomization/3.8.2: patches/target/namespace selects all non-namespace deployments"
https://github.com/kubernetes-sigs/kustomize/issues/2995

[2020-09-17 20:55] grischa commented on #962
I have the same issue with other packages that are not bottled.

It seems that the stable release of Xcode 12 only supports MacOS Catalina/10.15 SDKs
[code]
So, either try the new Xcode beta, or wait, I guess

[2020-09-18 04:41] mortent opened #1050 "Issues with kpt cfg cat"
Several issues with `kpt cfg cat`:
 * The output from `kpt cfg cat` prints a line with `---` at the end of the output when it is not needed, and also does not print a newline.
 * If there are no resources, it still prints the `---`
 * Empty packages leads to two consecutive lines with `---`

It also seems to be strange behavior when running the command from a folder without a Kptfile, but which ha

[2020-09-18 13:19] yhrn opened #1051 "Support declarative setters for subpackages"
We are looking at the new package composition functionality and for it to be truly useful for us we would need to be able to declare setter values for dependencies in the dependent package.

## Use case

We provide event delivery infrastructure for the entire company.

We have one repository where internal customers define their event types, including some options that affect how we need to config

[2020-09-18 17:12] frankfarzan commented on #1051
We've been thinking about declarative UX for setters, tracked by issue https://github.com/GoogleContainerTools/kpt/issues/985

Will share a doc on that issue with our current thinking so you can provide feedback. The strawman you have here aligns well with that.

A separate/tangential use case is Kptfile being used as a function config. Can you describe this use case better?

[2020-09-19 13:31] yhrn commented on #1051
@frankfarzan Cool, I missed that issue, we can move this discussion over there if you prefer to.

As for the Kptfile as a function config I realize now that it _might_ be more appropriate for it to be input to the function, but I'm not sure what the Kpt function model prescribes in cases where you want to modify a single resource but potentially use the rest of the KRM as input, especially since t

[2020-09-19 14:04] yhrn commented on #1051
Now that I think about it the second case above (external, non-KRM list of resources) is pretty pointless, in that case it would be cleaner to just chain with the pure source function that reads the list and converts to KRM resources.

Another thought is that the only thing really preventing this use case from being supported is that `Kptfile` resources must be in a file named "Kptfile", if it cou

[2020-09-20 12:34] rbugajewski commented on #962
Xcode 12.2 beta (12B5018i) has the same issue. Downloading & installing the CLTs didn’t solve the underlying error message.

[2020-09-21 20:09] #1049 closed

[2020-09-21 20:09] #1015 closed

[2020-09-21 20:36] mortent opened #1052 "kpt cfg set prints validation errors twice"
Creating a setter with a schema file and then try to set it to an illegal value ends up with the following output:
[code]

We should only print the error output once.

[2020-09-21 21:02] mortent opened #1053 "Improve consumer guide for setters"
The current guide is not so much a guide as a list of examples. I think we should update this to be one or more guides that takes the user through an end-to-end journey that touches several aspects of setters.

[2020-09-22 00:19] #878 closed

[2020-09-22 19:53] mortent commented on #1044
This is a problem where kpt tries to avoid copying the `.git` folder during `kpt pkg get`, but end up ignoring all files/folder that start with `.git`. I have a fix in https://github.com/kubernetes-sigs/kustomize/pull/3030

[2020-09-22 20:18] Shell32-Natsu opened #1054 "Document status of (exec) plugins on Windows"
https://github.com/kubernetes-sigs/kustomize/issues/2924

[2020-09-22 20:33] Shell32-Natsu commented on #933
@frankfarzan Could you make a comment about forbidding mounting declaratively?

[2020-09-22 22:02] Shell32-Natsu opened #1055 "Git cloner assumes that "master" is the default branch"
https://github.com/kubernetes-sigs/kustomize/issues/2614

[2020-09-23 18:18] #569 closed

[2020-09-23 22:17] frankfarzan opened #1060 "Provide better logging utility in Functions SDK/libraries"
A problem that function developers run into: Emitting a debug log message to stdout. Because stdout is used for machine-to-machine protocol [1], it leads to cryptic failures from `kpt fn`. In Typescript, we actually override `console.log` to write to stderr, but we need a more uniform solution across different languages.

Consider:
1. Introduce logger utilities in the libraries as the recommended

[2020-09-23 22:25] Shell32-Natsu opened #1061 "Error: Multiple matches for rbac.authorization.k8s.io_v1_Role"
https://github.com/kubernetes-sigs/kustomize/issues/3021

[2020-09-23 22:26] Shell32-Natsu opened #1062 "kustomize cfg tree does not recognize "Kustomization" files"
https://github.com/kubernetes-sigs/kustomize/issues/2977

[2020-09-23 23:48] yuwenma opened #1063 "`kpt pkg get`(v0.34.0) ignores commented resources."
* only for v0.34.0.*

`kpt pkg get https://github.com/yuwenma/sample-app guestbook` fetches the resource but removes the lines that are commented out.

See https://github.com/yuwenma/sample-app/blob/master/config/kpt-validator.yaml#L12
My local guestbook/config/kpt-validator.yaml ends at ln11.

From users' perspective, I want to keep those commented lines and share them via `kpt pkg get`

[2020-09-24 07:50] yhrn opened #1064 ""config.kubernetes.io/x" annotation documentation lacking"
I'm having some trouble understanding how kpt treats the `config.kubernetes.io/x` annotations:

1. I can't find an exhaustive list on what annotations the various kpt commands care about
1. I can't find a complete specification for the schema for the value of `config.kubernetes.io/function`
1. The release notes for kpt 0.34.0 says that kpt live now respects `config.k8s.io/local-config` but I can o

[2020-09-24 15:27] yhrn opened #1065 "Environment variables not available in fn container"
According to the [documentation](https://googlecontainertools.github.io/kpt/reference/fn/run/#environment-variables) "`kpt` exports all local environment variables except the TMPDIR variable when launching a docker container", however if I list all environment variables from inside the container there are only a few set (PATH, HOSTNAME, LOG_TO_STDERR, STRUCTURED_RESULTS, HOME) when running the fun

[2020-09-24 15:39] mortent commented on #1064
@yhrn We are working on providing better documentation. The mention of `config.k8s.io/local-config` in the release notes is a typo. I have corrected it now. Thanks for reporting it.

[2020-09-24 19:10] frankfarzan opened #1066 "Catalog page is broken"
https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/

Referenced from many pages and the Catalog repo.

[2020-09-24 19:27] Shell32-Natsu commented on #1065
A flag `-e/--env` has been added to `kpt fn run` .
[code]

The doc hasn't been updated. Will update it soon.

[2020-09-24 19:28] #1062 closed

[2020-09-24 19:29] Shell32-Natsu opened #1067 ""$patch: replace" doesn't work for entire lists"
https://github.com/kubernetes-sigs/kustomize/issues/2980

[2020-09-24 19:35] #983 closed

[2020-09-25 06:28] mortent commented on #1063
Thanks for reporting this. I am able to reproduce and it seems it affects other commands than `kpt pkg get` too. You can fetch the package and maintain the comments by using the `--auto-set=false` flag, but running other commands afterwards (like `kpt cfg fmt`) will remove the comments.

[2020-09-25 20:06] mortent commented on #1063
After a quick investigation, it looks like this is related to how the underlying `gopkg.in/yaml.v3` library.

[2020-09-25 21:43] mikebz commented on #1066
Question: is this still a problem?  Seems like there is a PR that removes the broken link.

[2020-09-25 22:29] mikebz commented on #1052
I'd love to the repro steps here so I could possibly help out.

[2020-09-25 23:12] mortent commented on #1052
To reproduce:
[code]

[2020-09-25 23:58] prachirp commented on #762
Once it uses the Go SDK we can move it into kpt-functions-catalog repo

[2020-09-26 00:45] prachirp commented on #995
@Liujingfang1 Is this done?

[2020-09-26 00:48] prachirp commented on #552
This is done since adding structured results and results dir.

[2020-09-26 00:48] #552 closed

[2020-09-26 00:50] prachirp commented on #385
Closing since we don't know the context.

[2020-09-26 00:50] #385 closed

[2020-09-26 00:51] prachirp commented on #226
@Liujingfang1 is this done?

[2020-09-26 04:17] thatguyibdev commented on #962
Brew is being updated to support MacOS Big Sur. You can see the progress at their git page here. [Their issues page](https://github.com/Homebrew/brew/issues/7857)

[2020-09-27 09:36] blaggacao opened #1075 "Blueprint use case with kustomize does not apply"
I kind of expected this, though it would be interesting to know if this is on the radar:

[code]

I'm following roughly this layout: https://googlecontainertools.github.io/kpt/guides/producer/blueprint/

Even if it would work, how would I be able to tell kpt to use `instance` and _not_ `upstream`?

[2020-09-27 11:17] rknall commented on #962
Not the same thing. It had been working in the past. It really seems, that we have a situation atm, which does not allow for development on the DTK if not directly in the XCode 12.2 beta

[2020-09-28 00:37] mortent commented on #1075
@blaggacao Yeah, this is something we are aware of and we want to fix. We do support the `config.kubernetes.io/local-config` annotation that will cause the `kpt live` commands to ignore the resource. But I found out today that kustomize doesn't seem to allow a `metadata.annotations` section in the `kustomization.yaml` file, so we do need to handle kustomization files special.

[2020-09-28 04:14] Liujingfang1 commented on #226
@prachirp Yes, this is done. The document is available https://googlecontainertools.github.io/kpt/guides/consumer/function/export/

[2020-09-28 04:20] Liujingfang1 commented on #995
@prachirp This is done. The flag `--log-step` is available from the kpt head.

[2020-09-28 04:20] #995 closed

[2020-09-28 15:56] blaggacao commented on #1075
@mortent I think rather kustomize should compky to k8s resource spec! I've seen another issue related but caouldn't find it any more. The gist of it also was: Kustomization resources should allow to deklare `meta`.

/cc @monopole - not sure whom is really to ping.

[2020-09-28 17:15] #226 closed

[2020-09-28 17:32] mariusk commented on #962
I've got a few Big Sur systems by now, and Homebrew worked on some of them, but not on others. I've tried various combinations of installing Xcode 12, Xcode 12.2 beta and command line tools packages. There is no command line tools package for the 12.2 beta yet, so haven't tested that of course. In the end I believe command line tools 12 is enough, with the proper symlinks in place. I took an image

[2020-09-28 19:42] #999 closed

[2020-09-28 21:36] rknall commented on #962
You could use the dev-kit included in XCode 12.2? At least it works for me on non-brew stuff. Still issues getting brew working correctly again after upgrading to beta 8

[code]

[2020-09-28 21:57] mariusk commented on #962
Re: Xcode 12.2 beta - could be. I think it's 100 gigabytes unpacked or something. One of my old iMacs has 120 gb, so it's easier said than done. But I believe I've tried the 12.2 beta without success on another machine. But could be I messed something up.

[2020-09-29 01:17] frankfarzan opened #1078 "Remove 'kustomize build' function from the catalog"
It really doesn't make sense in any coherent e2e flow.

[2020-09-29 16:27] yhrn commented on #1075
I'm also interested in having Kustomize integrated with `kpt live`, e.g. point to a kustomization instead of a directory for apply/preview. I found an old umbrella isse #407 and also #845, which may or may not be related. Has there been any recent progress on this?

[2020-09-29 16:40] yhrn opened #1079 "kpt pkg sync repository caching seems broken"
**kpt version:** 0.34.0

**steps to reproduce**

1. `kpt pkg init .`
1. `kpt pkg sync set https://github.com/GoogleContainerTools/kpt/package-examples/helloworld@v0.1.0 hello-world-1`
1. `kpt pkg sync set https://github.com/GoogleContainerTools/kpt/package-examples/helloworld@v0.1.0 hello-world-2`
1. `kpt pkg sync .`

When executing the last command I expected that fetching the second package woul

[2020-09-29 16:43] #1066 closed

[2020-09-29 17:00] #1065 closed

[2020-09-29 17:02] #1055 closed

[2020-09-29 17:03] #1061 closed

[2020-09-29 17:03] Shell32-Natsu commented on #1079
@mortent Could you take a look?

[2020-09-29 17:08] Shell32-Natsu commented on #939
Fixed in https://github.com/kubernetes-sigs/kustomize/pull/2992

[2020-09-29 17:08] #939 closed

[2020-09-29 17:13] Shell32-Natsu opened #1081 "Starting in v3.8.0, strategic merge patches append to arrays (earlier versions prepend)"
https://github.com/kubernetes-sigs/kustomize/issues/2907

[2020-09-29 17:14] Liujingfang1 opened #1082 "add labels and annotations in inventory struct"
Current the `Inventory` struct is defined as
[code]
Is that possible to add labels and annotations as well? So that we can specify the labels and annotations for the generated inventory object(ResourceGroup).
[code]

[2020-09-29 17:14] Liujingfang1 commented on #1082
@mortent @seans3

[2020-09-29 17:32] mortent commented on #1075
@blaggacao I have created an issue in the kustomize project to allow `metadata.annotations`: https://github.com/kubernetes-sigs/kustomize/issues/3043. Regardless, we probably want to ignore ignore the kustomize group+kind combination in kpt so users don't need to annotate `kustomization.yaml` files.

We are working on a better integration between kustomize and kpt. I don't think we will want to su

[2020-09-29 17:58] blaggacao commented on #1075
@mortent I have tried piping and I agree that it seems more in line with kpt philosophy. If I remember correctly, the problem I encountered was that at the sitenof invocation, the inventory file was not detected. Since kustomize _seems_ to also flitlrt with the `live` subcommands I fugured I would rather just wait for things to arrange and stars to align.

[2020-09-29 19:10] darrarski commented on #962
Command Line Tools for Xcode 12.2 beta 2 contains required SDK (`MacOSX11.0.sdk`).

You don't have to download the whole Xcode app, just "Command Line Tools for Xcode 12.2 beta 2" which can be found on https://developer.apple.com/download/more/ - it's only ~450MB.

I just installed the mentioned command line tools and `brew doctor` no longer shows warning about missing CLT. I also manage to instal

[2020-09-29 19:18] mariusk commented on #962
Yeah, it was literally made available just now. I hope that finally takes care of the issues for people who are not able to work around it with symlinks and/or old installation of stuff.

[2020-09-29 19:28] mortent commented on #1082
@Liujingfang1 Yeah, I think we should add those fields. Some of the naming in the current struct is still being debated, so there might be some smaller changes.

[2020-09-29 19:45] seans3 commented on #1082
@Liujingfang1 This is brand new and hasn't been released to customers yet, so it's best to change this now. Can you describe the situations where this would be used?

[2020-09-29 19:45] seans3 commented on #1082
/assign

[2020-09-29 20:06] yhrn opened #1083 "Support Starlib for Starlark runtime"
I'm trying to write a Starlark Kpt function and realized I needed regex and md5 support. [Starlib](https://github.com/qri-io/starlib) seems to have what I need but I can't load the modules:

[code]
just yields "error: load not implemented by this application".

Is this something you might consider supporting?

I'm sorry if this is already supported, I'm new to Starlark so I might be missing someth

[2020-09-29 21:23] mortent opened #1084 "Define behavior in failure scenarios with nested packages"
The current behavior is that we mostly continue in the face of errors. For example, if I want to create a setter, but an existing setter with the same name already exists in one of the subpackages, we will just print an error for that package and keep going. We should have a clear and consistent vision for how we should handle these situations across all the commands in kpt.

[2020-09-29 21:28] mortent commented on #1053
I think the same applies for the substitutions guide. We should also turn these guides into executable guides with mdrip

[2020-09-29 21:29] mortent opened #1085 "Roadmap for apply-as-a-library"
Create a plan

[2020-09-29 21:30] seans3 commented on #1003
Showed demo of ResourceGroup as Inventory proof of concept--closing

[2020-09-29 21:30] #1003 closed

[2020-09-29 21:31] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1071

[2020-09-29 21:32] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1068

[2020-09-29 21:32] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1057

[2020-09-29 21:32] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/970

[2020-09-29 21:38] seans3 opened #1086 "Implement kpt live migrate command"
* Implement `kpt live migrate` command

[2020-09-29 21:42] seans3 opened #1087 "StreamManifestReader for Kptfile and ResourceGroup"
* Implement the `StreamManifestReader` for the `Kptfile` and the `ResourceGroup`.
* `KptStreamManifestReader` will transform the `Kptfile` into the `ResourceGroup` inventory object.
* Uses the `inventory` (this will change to `resourcegroup`) parameters to create and add the `ResourceGroup` inventory object.

[2020-09-29 23:08] pavankjadda commented on #962
Let me know if this works

[2020-09-29 23:53] blaggacao commented on #1075
More precisely:

[code]

I have placed files all over the place

[code]

[2020-09-30 04:11] monopole commented on #960
The goal here is to edit the README.md file as rendered by github (as opposed to harvesting data from somewhere and rendering it in hugo - that's down the road).

The README should serve as an example for other READMEs.  We'll use PR review to enforce this till we decide to build tools..

So the user landing on
https://googlecontainertools.github.io/kpt/guides/consumer/function/catalog/

visits ge

[2020-09-30 18:13] Shell32-Natsu opened #1088 "commonAnnotations not added in deployment:template:spec"
https://github.com/kubernetes-sigs/kustomize/issues/3042

[2020-09-30 18:15] monopole opened #1089 "helm-template becomes helm-inflator"
in https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/helm-template

helm-template becomes helm-inflator

image name, directory name, catalog entry etc.

per

https://docs.google.com/document/d/1ttiXl1aM_doIpSIfMvKYZbeSurPclW8mz4okchppdzQ/edit#heading=h.mtn7cmif2y6

[2020-09-30 18:17] #1054 closed

[2020-09-30 18:34] phanimarupaka opened #1090 "Auto-setters: Implement setters inheritance for demo"
Implement setters inheritance as part of auto-setters for demo

[2020-09-30 18:35] #1090 closed

[2020-09-30 18:36] phanimarupaka opened #1091 "Create kpt dev set-up guide and add to onboarding checklist"
Create kpt dev set-up guide and add to onboarding checklist

[2020-09-30 18:37] #1091 closed

[2020-09-30 18:40] phanimarupaka opened #1092 "Design and implement setters inheritance as part of auto-setters"
If a package is being fetched as a subpackage into the parent package’s directory tree, the setter values of the immediate parent package must be applied as auto-setters in addition to existing setters which are auto-filled from `gcloud config` and from `environment variables` to the package during `kpt pkg get/update` operation.

[2020-09-30 18:43] phanimarupaka opened #1093 "Design: Finalize kpt pkg commands behavior with subpackages"
Finalize the design of kpt pkg commands behavior with subpackages.

[2020-09-30 18:47] monopole opened #1094 "Make a video showing a kpt workflow"
Something simple that we can look at and brainstorm on, not for immediate release (first we should discuss with oss powers that be).

[2020-09-30 19:46] runewake2 opened #1095 "Configure Domain for Kpt Website"
Currently Kpt documentation is located at https://googlecontainertools.github.io/kpt/. It would be easier to remember and locate kpt documentation if a memorable domain was available. This would help provide a destination for kpt documentation and would help distinguish the kpt website from the codebase in search results.

[2020-09-30 20:10] runewake2 opened #1096 "Add Issue Templates for Kpt Repository"
Introduce a set of issue templates to make opening issues clearer and more friendly when interacting with the kpt repository.

See: https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository for references of the template creation process.

[2020-09-30 20:15] #909 closed

[2020-09-30 20:15] #1044 closed

[2020-09-30 20:50] monopole opened #1098 "common openapi data sampling strategy for kpt+kustomize"
Notes started here:  go/openapi-in-kk

[2020-09-30 21:00] monopole commented on #1046
fixed

[2020-09-30 21:00] #1046 closed

[2020-09-30 21:08] seans3 opened #1099 "Implement kpt live init command"
* Implement the `kpt live init` command
* Adds parameters to the `inventory` section of the `Kptfile`.
* Adds unit tests

[2020-09-30 21:11] seans3 commented on #1099
Completed with: https://github.com/GoogleContainerTools/kpt/pull/1071

[2020-09-30 21:11] #1099 closed

[2020-09-30 21:14] seans3 opened #1100 "Implement ResourceGroup version of Provider"
* Implements `ResourceGroup` version of `Provider` interface.
* Implements `ResourceGroup` version of `ManifestReader`.
* Implements `ResourceGroup` version of `InventoryClient`.

[2020-09-30 21:14] seans3 commented on #1100
Completed with: https://github.com/GoogleContainerTools/kpt/pull/1068

[2020-09-30 21:14] #1100 closed

[2020-09-30 21:15] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1068

[2020-09-30 21:15] seans3 commented on #1100
https://github.com/GoogleContainerTools/kpt/pull/1071

[2020-09-30 23:36] mortent commented on #1079
@yhrn I took a quick look at this, and it seems like the caching mechanism only works on update and only if the strategy is set to `alpha-git-patch`. We should make this work for `get` as well as all the update strategies.
This probably isn't something that would have the highest priority right now, but let me know if is a blocker for you.

[2020-10-01 00:11] mortent commented on #1075
So it looks like you have the inventory-template.yaml file among the resources. If you just run `kustomize build deploy/playground`, do you see the inventory-template.yaml resource in the output? If it is there, this should work.

[2020-10-01 00:15] blaggacao commented on #1075
@mortent Negative:

[code]

(I also double checked with naked eye)

[2020-10-01 00:19] blaggacao commented on #1075
I think you are right! Thank you! My previous comment was bogus. So as for this issue, it looks as if the only actionable thing would be to document it?

[2020-10-01 05:50] yhrn commented on #1079
After declarative setters this would actually be the main blocker for the use case I'm playing around with. I'm not sure I'll be able to carve out any time to look at this myself but if I can, could you please point me to where this is implemented?

[2020-10-01 06:34] yhrn commented on #1079
Never mind, I found it

[2020-10-01 18:00] bmenasha opened #1102 "Unable to pull packages from master branch?"
The blueprint walkthrough says this command should work:

error: failed to clone git repo: failed to clone git repo: trouble fetching submodules for master, please run 'git clone <REPO>; stat <DIR/SUBDIR>' to verify credentials: exit status 128

It does when I supply a version tag:

But fails when that tag is not supplied or is supplied as @master which kpt says is the default

error: failed to cl

[2020-10-01 18:44] mortent commented on #1079
I think we will be able to address it within that timeline.

[2020-10-01 19:01] yhrn commented on #1079
Sounds good. I did look through the code a bit though and it looks to me like even the code that uses cached repos is not trying to optimize for avoiding remote operations - if I read it correctly (`gitutil` package) it will unconditionally do a number of `git fetch` operations every time a cached repo backed `GitRunner` is initialized, including a full, "all refs" `git fetch origin` at the end so

[2020-10-01 21:50] bmenasha opened #1103 "unable to run kustomize-build function."
I'm following the instructions here:

https://googlecontainertools.github.io/kpt/reference/fn/run/

which say that this should work:

kpt fn source helloWorld |
  kpt fn run --mount type=bind,src="$(pwd)/helloWorld",dst=/source --image gcr.io/kpt-functions/kustomize-build -- path=/source |
  kpt fn sink .

but it doesn't.

error: exit status 1

[2020-10-01 22:42] bmenasha commented on #1103
This doesn't work either:

apiVersion: v1
kind: ResourceList
metadata:
  name: output
items: []
results:
- message: |
    Kustomize build command results in error: Error: unable to find one of 'kustomization.yaml', 'kustomization.yml' or 'Kustomization' in directory '/source'
  severity: error

[2020-10-01 22:51] bmenasha commented on #1103
This works so i know the path is being mounted successfully and kustomize works, where this gcr.io/bmenasha-1/kustomize is just the cloud builder community kustomize docker container:

 docker run --entrypoint kustomize --mount type=bind,source=$PWD/helloWorld,target=/source    gcr.io/bmenasha-1/kustomize build /source

thanks

[2020-10-01 22:56] frankfarzan commented on #1103
This function is being removed as part of:

https://github.com/GoogleContainerTools/kpt/issues/1078

[2020-10-01 22:57] bmenasha commented on #1103
cool. cool.  is running kustomize from kpt a supported use case?

[2020-10-01 23:22] bmenasha commented on #1103
as kustomize requires file system access, seems important to resolve https://github.com/GoogleContainerTools/kpt/issues/933  so as not to ask users to construct long commands themselves to apply blueprints if we are serious about using kustomize to build blueprints . or are kpt functions not intended to generate and translate yaml ? i've read the docs twice and am very confused. :(

[2020-10-02 00:17] phanimarupaka commented on #1051
@yhrn [Here is the proposal](https://docs.google.com/document/d/1ZVMlqC8DAILapVJ9ouOHknHq0S26zpxNwQS200Dhv-c/edit?usp=sharing) for declarative setters UX. Please go through this and feel free to comment.

[2020-10-02 00:18] phanimarupaka commented on #985
[Here is the proposal](https://docs.google.com/document/d/1ZVMlqC8DAILapVJ9ouOHknHq0S26zpxNwQS200Dhv-c/edit?usp=sharing) for declarative setters UX. Please go through this and feel free to comment.

[2020-10-02 09:09] yhrn commented on #1051
@phanimarupaka Awesome, this would be such a great improvement!

I made some comments in the doc. Let me know if they make sense, they might be a bit all over the place. I'm also open to have a quick chat about this if you think that makes sense (timezones might make it a bit tricky since I'm in Europe but I should be able to do early evenings).

[2020-10-02 17:52] phanimarupaka commented on #1051
@yhrn Thanks for your thoughtful comments. Responded to them. We shall coordinate about the chat.

[2020-10-02 18:09] deedubs opened #1104 "Repeated GET calls to openapi/v2"
|  kpt version | eks version  | aws cli  |
|---|---|---|
| 0.34.0  |  v1.17.9 | 2.0.54  |

When attempting to use

 After a period of 20-30 seconds my terminal started getting filled with the following:

[code]

I added `-v10` to my command and notice repeated calls to `openapi/v2` before other operations

<details>
I1002 13:43:45.345537   31187 round_trippers.go:423] curl -k -v -XGET  -H "Accept:

[2020-10-02 18:13] seans3 commented on #1104
@deedubs Just to be clear. Did you mention that you get these openapi requests even when using the `--k8s-schema-path` flags to use a local schema?

[2020-10-02 18:32] deedubs commented on #1104
Sorry, yes, I forgot this is with `--k8s-schema-path ./openapi.json` fetched using `kpt live fetch-k8s-schema > ./openapi.json`

[2020-10-02 18:56] #1081 closed

[2020-10-02 18:56] #1067 closed

[2020-10-02 18:58] Shell32-Natsu opened #1105 "Implement api/resid/Gvk/IsNamespaceableKind using kyaml/yaml/TypeMeta/IsNamespaceable"
https://github.com/kubernetes-sigs/kustomize/issues/2860

[2020-10-02 21:22] #1050 closed

[2020-10-05 07:01] mariusk commented on #962
I just tested the command line tools 12.2 beta on one of the systems that refused to build emacs from source as described, and I'm happy to report that seems to have solved the issue.

[2020-10-05 07:25] yhrn opened #1106 "Support setter values referencing other setters"
This relates to #1051 and the proposed design referenced there, i.e. it assumes that there is a "setter values configuration section" where values for setters can be specified declaratively. In that scenario it would be useful if setters could be referenced from other setter values, e.g.:

[code]

Use cases:

1. The most important use case imo would be to be able to expose subpackage configuration

[2020-10-05 08:01] rknall commented on #962
Can you execute the builded binaries as well? Building works on 12.2, execution heavily depends on what libraries you are using

[2020-10-05 08:05] mariusk commented on #962
Yes, I rebuilt Emacs from scratch and can confirm it's working fine.

[2020-10-05 08:15] yhrn opened #1107 "Declare autosetters for subpackages"
This relates to #1051 and the proposed design referenced there.

It would be able to declare a setter in a parent package to act as a autosetter for descendant packages.

An example use case for this is when you, by conventions, have a resource name suffix or namespace exposed as a setter with some specific name for all your packages. Then it would be nice if you could just specify this value once

[2020-10-05 17:04] #1105 closed

[2020-10-05 17:04] #1088 closed

[2020-10-05 17:08] Shell32-Natsu opened #1108 "kustomization.yaml file does not allow metadata field"
https://github.com/kubernetes-sigs/kustomize/issues/3043

[2020-10-05 18:01] monopole commented on #1103
We're working on make a proposal for better integration; in the meantime, it's best to use kustomize and kpt as separate tools.

[2020-10-05 18:10] monopole commented on #1106
related: https://docs.google.com/document/d/1ZVMlqC8DAILapVJ9ouOHknHq0S26zpxNwQS200Dhv-c/preview

[2020-10-05 19:48] Shell32-Natsu commented on #1089
Will do this after #945

[2020-10-06 02:30] #1108 closed

[2020-10-06 04:06] mikebz commented on #1052
PR updated

[2020-10-07 02:35] #976 closed

[2020-10-07 17:56] frankfarzan commented on #1078
Also need to remove the function code here:
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/ts/src

[2020-10-07 18:00] monopole opened #1111 "Define an SDK library specification for KRM function authoring"
Two languages are supported to author KRM functions:

 - typescript; https://googlecontainertools.github.io/kpt/guides/producer/functions/ts/

 - Go; https://googlecontainertools.github.io/kpt/guides/producer/functions/golang/

but there's no easy way to compare these libraries to generally understand the capabilities offered, and see what is missing.

We need a doc on the kpt site, possibly simpl

[2020-10-07 18:07] monopole commented on #1111
https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml/yaml
https://www.npmjs.com/package/kpt-functions

[2020-10-07 18:09] opsroller opened #1112 "Kpt and JSON Patches."
When using kpt to do anything setter related, the tool throws exceptions if you have yaml file with jsonpatch entries.

My current solution has been to rename the jsonpatch files to *.patch, however when I do this is breaks my ability to add setters to the patch files.

[2020-10-07 19:29] morgante opened #1113 "kpt cfg list-setters shouldn't recurse subpackages by default"
By default, we should only list the top-level setters as typical UX would *not* be to try to list all setters in the entire directory tree. (Equivalent to --recurse-subpackages=false.)

[2020-10-08 02:51] aodinokov commented on #1078
Just thinking:
If this fn is deleted, and deeper integration between kpt and kustomize is implemented, how [export](https://googlecontainertools.github.io/kpt/reference/fn/export/) for such cases will work?
I guess the image will be required anyway by such workflow types as `cloud-build` for the cases when kpt calls kustomize, isn't it?
May be I'm wrong, since I don't have the full context of the

[2020-10-08 09:16] StarpTech opened #1114 "did not find expected node content"
What does the error mean? The repository is public.

[code]

[\umbrella-chart\charts\order-service\templates\deployment.yaml](https://github.com/StarpTech/k8s-gitops/blob/main/demo/umbrella-chart/charts/order-service/templates/deployment.yaml)

[2020-10-08 09:19] StarpTech opened #1115 "Fallback to main when master isn't available."
https://github.com/github/renaming#new-repositories-use-main-as-default-branch-name

Fallback to main when master isn't available.

Maybe https://git-scm.com/docs/git-symbolic-ref is an option.

[2020-10-08 09:23] StarpTech commented on #1102
Related https://github.com/GoogleContainerTools/kpt/issues/1115. @bmenasha Please check if the `master` branch really exists. Github changed `master` to `main`.

[2020-10-08 09:32] StarpTech commented on #1102
What are you trying? You forgot to pass the full qualified URL `https://github.com/GoogleContainerTools/kpt.git`

[2020-10-08 09:47] StarpTech commented on #1102
I think the reason is that the kpt repository contains submodules. They don't use `--recurse-submodules`. I'd use a different repo for demo purposes.

[2020-10-08 09:50] StarpTech commented on #1115
Related https://github.com/GoogleContainerTools/kpt/issues/1102

[2020-10-08 17:53] Shell32-Natsu opened #1116 "Generate a docker image as part of release process."
https://github.com/kubernetes-sigs/kustomize/issues/2374

[2020-10-09 04:12] #1085 closed

[2020-10-09 04:13] #1075 closed

[2020-10-09 08:14] phanimarupaka commented on #1111
@Shell32-Natsu Please add sizing and other details to this issue.

[2020-10-09 08:19] phanimarupaka commented on #1112
@opsroller Thank you for filing the issue. Could you please provide with detailed examples of your yaml files(with json patches) and your command flow to reproduce the error.

Setters depend on yaml comments and json doesn't allow comments. There is some friction in this area.

[2020-10-09 08:22] phanimarupaka commented on #1113
@morgante Is there a reason for -R to be default false? Other users wanted true as default. And it would make sense as well to provide comprehensive list of setters. What is the argument for not doing so?

[2020-10-09 08:33] phanimarupaka commented on #1114
@StarpTech Thanks for filing the issue. This must be related to parsing template structures in yaml.

[2020-10-09 08:36] phanimarupaka commented on #1098
@monopole go link on public repo ?

[2020-10-09 18:57] #960 closed

[2020-10-11 10:05] funfake commented on #962
I can confirm that just by installing the Command Line Tools for Xcode 12.2, it is working fine now. Thanks guys for your help.

[2020-10-11 16:55] shawnho1018 commented on #1102
Also encounter the same issue. Look forward to the solution +1.

[2020-10-12 18:18] Shell32-Natsu opened #1119 "JSON patches not applying with `patches`, only `patchesJson6902`"
https://github.com/kubernetes-sigs/kustomize/issues/3084

[2020-10-12 19:15] #1119 closed

[2020-10-12 19:35] Shell32-Natsu opened #1120 "arm64 build support"
https://github.com/kubernetes-sigs/kustomize/issues/2235

[2020-10-12 20:37] mikebz commented on #1052
@mortent we should close this issue probably.

[2020-10-12 21:04] prachirp opened #1122 "Transform functions should bypass functionConfigs"
We don't want functions to manipulate the function config if it's in the same directory as KRM resources.

We need a way to bypass this.

Pain point example: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/87

[2020-10-12 23:58] yelhouti opened #1124 "Feature or doc request"
Hi I didn't fine a way to specify the default strategy for kpt update in the kptfile, is this possible? If so please how, I found nothing here https://googlecontainertools.github.io/kpt/api-reference/kptfile/
And if not can we add this feature please if no strategy is specified in the command line.

[2020-10-13 03:55] monopole commented on #394
tracking in https://github.com/kubernetes-sigs/kustomize/issues/2506

[2020-10-13 03:55] #394 closed

[2020-10-13 16:59] #1120 closed

[2020-10-13 17:07] Shell32-Natsu opened #1125 "kyaml: allow array-style indexing"
https://github.com/kubernetes-sigs/kustomize/issues/2557

[2020-10-13 20:16] natasha41575 commented on #911
closed https://github.com/kubernetes-sigs/kustomize/pull/3065

[2020-10-13 20:16] #911 closed

[2020-10-13 20:19] mortent commented on #1114
@StarpTech The problem here is that your package contains a Helm chart which has files with `.yaml` extension, but doesn't actually contain valid yaml. We plan to provide a way to exclude files like this from the parts of kpt that requires yaml files: https://github.com/GoogleContainerTools/kpt/issues/517

[2020-10-13 20:34] mortent opened #1126 "Plan for how we can remove support for v1 setters"
We added the `kpt pkg fix` command to help users migrate away from v1 setters, but we need to make sure users actually know about the command and do use it to migrate away from the v1 setter. Then we need to have a plan for how we should communicate the fact that support for v1 setters is going away and decide on when we want to pull the trigger.

[2020-10-14 00:49] monopole opened #1127 "Doc answering question: should KRM functions be hermetically sealed?"

[2020-10-14 00:54] seans3 commented on #1087
https://github.com/GoogleContainerTools/kpt/issues/1087

[2020-10-14 00:55] seans3 commented on #1086
https://github.com/GoogleContainerTools/kpt/pull/1117

[2020-10-14 00:55] seans3 commented on #1082
https://github.com/GoogleContainerTools/kpt/pull/1128

[2020-10-14 11:33] irvifa opened #1129 "Support Kpt setters for Skaffold"
type: feature Request
Description:
Currently Kustomize does not support any templating like this and Skaffold doesn't have any other suitable mechanism for doing this. It'll be a good feature if Skaffold gaining support for Kpt setters with templated values.

[2020-10-14 18:25] seans3 commented on #1082
Merged and completed.

[2020-10-14 18:25] #1082 closed

[2020-10-14 18:27] seans3 commented on #1087
Merged and completed.

[2020-10-14 18:27] #1087 closed

[2020-10-14 20:08] seans3 opened #1130 "Integrate the ResourceGroup inventory provider into kpt"
* Adds the `ResourceGroup` inventory provider into kpt
* Requires code to determine which provider (ConfigMap or ResourceGroup) should be used in `kpt live` commands.

[2020-10-14 21:00] seans3 opened #1131 "Add StreamManifestReader to ResourceGroupProvider"
* Adds recently merged `ResourceGroupStreamManifestReader` to `ResourceGroupProvider`.

[2020-10-14 21:31] #933 closed

[2020-10-15 00:20] seans3 commented on #1131
https://github.com/GoogleContainerTools/kpt/pull/1132

[2020-10-15 08:03] pyljain opened #1133 "Allow docker network to be specified using the --network flag"
I am trying to invoke a Kpt function within a Cloud Build pipeline, the function runs in a docker container within the docker container that gets created for the cloud build step. The function needs to be able to call GCP APIs and hence needs access to ADC (Application Default Credentials). In a cloud build step, in order for the function's docker container to get access to ADC, the docker contain

[2020-10-16 09:46] dflemstr commented on #410
@mortent this is becoming increasingly important as more and more operators are assuming that server-side apply is the default.  We're seeing deployments becoming slow presumably due to the increased overhead of managing client-side apply calls from the current kpt version.  Do you have an idea when this could become prioritized?

[2020-10-19 21:19] mortent commented on #410
@dflemstr We have started looking at it in https://github.com/kubernetes-sigs/cli-utils/pull/257. I hope we can have it out in either the next release of kpt or the one after that.

[2020-10-19 23:27] phanimarupaka commented on #1115
https://github.com/GoogleContainerTools/kpt/releases/tag/v0.35.0

[2020-10-19 23:27] #1115 closed

[2020-10-19 23:27] phanimarupaka commented on #1102
https://github.com/GoogleContainerTools/kpt/releases/tag/v0.35.0

[2020-10-19 23:27] #1102 closed

[2020-10-20 23:52] #989 closed

[2020-10-21 06:45] dflemstr commented on #410
That sounds great, we're following the progress with interest :) In case this doesn't land in the main release, let us know if we can be early testers of the new functionality :)

[2020-10-22 16:54] #1125 closed

[2020-10-22 19:11] blaggacao opened #1143 "wrong associative array merge on services"
[code]

`kpt pkg update --strategy resource-merge` ***wrongly*** yields me

[code]

from this upstream

[code]

I suspect the `name` attribute is not properly prioritized for associative array merge within services.

[2020-10-22 21:58] mortent commented on #1122
@prachirp So this the idea here that resources that have the `config.k8s.io/function` annotation should not be mutated by a function pipeline? There are scenarios where we want to put the config annotation on normal resources, so I'm not sure if that would work. This seems very similar to GoogleContainerTools/kpt#630.
Another option might be that for resource that are only present to declaratively

[2020-10-22 22:00] mortent commented on #1124
@yelhouti You are correct that there is no way to set this on a Kpt package today. I agree that it would be useful if this was part of the Kptfile so it wouldn't need to be specified on the command line every time.

[2020-10-22 22:03] yelhouti commented on #1124
@mortent thanks for adding this to the backlog, I see that there is a whole one for config as data which sounds great. Good luck :)

[2020-10-22 22:08] Shell32-Natsu opened #1145 "Function catalog CI e2e tests failed"
logs: https://github.com/GoogleContainerTools/kpt-functions-catalog/runs/1295058034?check_suite_focus=true

[2020-10-22 22:16] mortent commented on #1143
This is related to https://github.com/kubernetes-sigs/kustomize/issues/3111 which is currently being worked on. Once that is fixed in the underlying `kyaml` library it should work in kpt too.

[2020-10-22 22:44] mortent opened #1146 "Handle openapi for nested packages"
When we use kpt on multiple packages within the same command, we need to import the openapi schema for each package and then remove it before the next package. Since we merge the openapi schema from the Kptfile with the base openapi schema from the cluster, we don't have an easy way to "reset" the openapi schema in kpt. Currently we go in and delete entries (https://github.com/kubernetes-sigs/kust

[2020-10-22 23:49] natasha41575 commented on #1143
@monopole

[2020-10-23 16:56] apelisse commented on #1143
Yeah, that's because of the protocol not being part of the key. Exactly the problem we're trying to solve, thanks!

[2020-10-23 18:13] #1052 closed

[2020-10-23 18:22] blaggacao commented on #1143
Let me say this: using and looping over `kpt` and `kustomize` is a very rewarding experience. Thank you all!

[2020-10-23 22:50] Liujingfang1 opened #1147 "need a way to declare the type and revision for inventory object"
When using ResourceGroup as the inventory object, the ResourceGroup has fields like `.descriptor.revision` and `.descriptor.type`. Currently we couldn't declare those fields in Kptfile. We need to support this.

/cc @mortent  @seans3

[2020-10-24 13:18] yuwenma opened #1149 ""--fn-path" raises error in Pipeline mode"
Specifying the --fn-path in a kpt fn pipeline raises invalid memory error. I'm using kpt v0.34.0.

[code]

Got this error:
[code]

[2020-10-26 19:19] #1078 closed

[2020-10-26 19:52] ashlineldridge opened #1151 "Declarative function storage mounts are ignored"
Re-raising kubernetes-sigs/kustomize#3141 here as suggested.

It seems like a decision has been made to make KRM function storage mounts imperative-only because as [mentioned](https://github.com/kubernetes-sigs/kustomize/issues/3141#issuecomment-716735984) by @Shell32-Natsu:

In my experience, one of the main benefits of KRM functions is the ability for a package consumer to compose functions and

[2020-10-26 19:53] Shell32-Natsu commented on #1151
@frankfarzan

[2020-10-26 19:59] Shell32-Natsu commented on #1149
Are you sure you have function config in the annotation?

[2020-10-26 22:04] prachirp commented on #1122
@mortent Yes, that's a good summary. And I agree #630 is similar but not the same. I'm not sure what the solution should be here. It seems just defining a new annotation is a much simpler fix than using a new `Function` kind for function configs.

From Frank: #630 is a different issue, it's about the inventory object being processed. Function configs are different. Let's file a separate bug for th

[2020-10-27 02:46] prachirp opened #1153 "Migrate off deprecated travis-ci.org"
Both kpt and kpt-functions-sdk use travis-ci.org, which is deprecated. We should migrate off, taking into account guidance from the Github Admin team.

[2020-10-27 16:37] #1092 closed

[2020-10-27 19:26] phanimarupaka opened #1156 "Search and Replace: Openapi integration"
In continuation to https://github.com/GoogleContainerTools/kpt/issues/961, support openAPI integration to verify types etc. during replace/put operation.

- [x] Part 1
- [ ] Part 2

[2020-10-27 19:30] phanimarupaka opened #1157 "Search and Replace: Support path expressions"
In continuation to #961, support path expressions to search for matching criteria.

[2020-10-27 19:33] phanimarupaka opened #1158 "Search and Replace: Support put-pattern functionality"
In continuation to #961, support put-pattern flag to add setter comments.

[2020-10-27 19:35] phanimarupaka opened #1159 "Search and Replace: Internal testing with team, release and documentation"
After implementing necessary functionality, make the team try this feature. Release and document it.

[2020-10-27 21:31] seans3 commented on #1130
https://github.com/GoogleContainerTools/kpt/pull/1138

[2020-10-27 21:33] #1131 closed

[2020-10-27 21:35] seans3 commented on #410
https://github.com/kubernetes-sigs/cli-utils/pull/257

[2020-10-27 21:35] #410 closed

[2020-10-27 22:20] mikebz opened #1160 "New website for kpt"
This is the epic for creating a new website for kpt, for details please see the content roadmap document.

- [x] Research various developer tool documentation frameworks (such as docsify)
- [x] Create a prototype of a help website for kpt with a few pages to demo the functionality and the update process
- [x] Reserve the domain for kpt
- [x] Create an information architecture document
- [x] Automa

[2020-10-27 22:24] yuwenma commented on #1149
I guess so? the fn-path works in command `kpt fn run ./config --fn-path kpt-fn/`. It does not work only when the config is piped in from the kpt source.

[2020-10-27 23:13] seans3 commented on #1086
https://github.com/kubernetes-sigs/cli-utils/pull/262

[2020-10-28 04:02] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1138

[2020-10-28 04:02] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1132

[2020-10-28 04:02] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1128

[2020-10-28 04:03] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1121

[2020-10-28 04:03] seans3 commented on #708
https://github.com/GoogleContainerTools/kpt/pull/1071

[2020-10-28 04:05] seans3 commented on #708
https://github.com/kubernetes-sigs/cli-utils/pull/244

[2020-10-28 04:05] seans3 commented on #708
https://github.com/kubernetes-sigs/cli-utils/pull/243

[2020-10-28 04:06] seans3 commented on #708
https://github.com/kubernetes-sigs/cli-utils/pull/242

[2020-10-28 17:17] Liujingfang1 commented on #1147
`packageMetadata` contains the `version` field. We can add another field `type`. What do you think? @mortent @seans3

[2020-10-28 17:22] mortent commented on #1147
So what is the values we expect in the `descriptor.revision` and `descriptor.type` fields? The first sounds like it might be the git revision, but not sure what `type` means.

[2020-10-28 20:07] phanimarupaka commented on #1156
Moved to https://github.com/GoogleContainerTools/kpt/issues/961

[2020-10-28 20:07] #1156 closed

[2020-10-28 20:07] phanimarupaka commented on #1157
Moved to https://github.com/GoogleContainerTools/kpt/issues/961

[2020-10-28 20:07] #1157 closed

[2020-10-28 20:07] phanimarupaka commented on #1158
Moved to https://github.com/GoogleContainerTools/kpt/issues/961

[2020-10-28 20:07] #1158 closed

[2020-10-28 20:08] phanimarupaka commented on #1159
Moved to https://github.com/GoogleContainerTools/kpt/issues/961

[2020-10-28 20:08] #1159 closed

[2020-10-28 20:46] mortent opened #1161 "apply should support continuing on error"
kpt live apply currently errors out if something goes wrong, for example if a resource can't be applied.

[2020-10-28 20:54] mortent opened #1162 "Update apply API to accept inventory information as a parameter"
Currently we pass the inventory information into the Applier as a resource. We should determine the inventory information outside of the api and pass it into the applier as a separate parameter.

[2020-10-28 22:42] seans3 commented on #1161
I believe this will be fixed once we upgrade to include a newer version of `kubectl` (>= 1.18) in `go.mod`.

[2020-10-30 00:34] mikebz opened #1170 "cloudbuild is producing function example dockerfiles"
During the release it looks like there is a build step that's using the Dockerfile in an example folder that we agreed is old and not functioning.

We should figure out if we still need to build that Docker image and possibly remove the example along with the CloudBuild step.
[code]

Examples in the dockerfile
[code]

[2020-10-30 20:57] prachirp commented on #1153
Will keep this open to address travis + kpt-functions-sdk