[2021-07-15 18:43] morgante commented on #2399
@phanimarupaka Yes, the problem is that I might publish the inventory info to Git.

I don't want to learn a special kpt publish workflow. I just want to interact with Git like I usually do. Developers already have Git workflows and we shouldn't break that.

Disagree. If we moved it into a `inventory` file it's trivial to `.gitignore` it.

[2021-07-15 18:45] #2386 closed

[2021-07-15 18:48] phanimarupaka commented on #2401
@mikebz You mean a short-hand for word `unstable` ?

We don't want to have the notion of `latest`.

[2021-07-15 18:49] #2101 closed

[2021-07-15 18:50] #2342 closed

[2021-07-15 18:51] phanimarupaka commented on #2332
The PR to fix this issue has been merged and the fix will be available in beta.2 release of kpt.

[2021-07-15 18:51] #2332 closed

[2021-07-15 18:52] #2104 closed

[2021-07-15 18:53] mikebz commented on #2401
I actually mean the english "latest" and as long as we pick one thing and stick with it - I think we are good.  The point is that the best UX for someone who is playing around with kpt is to type this:

[code]

Preferably it works like pip or npm where i get the latest released version of the dependency.  We want to minimize the friction to people exploring kpt, knowing the tag currently requires

[2021-07-15 18:56] #2401 closed

[2021-07-15 19:23] etefera commented on #2400
@mengqiy Why should this be programmatic and not included in the markdown directly?

[2021-07-15 19:29] droot commented on #2399
Actually core of the issue is that there are two types of information related to a package:

- Static metadata that includes resources, package information, files to ignore (part of krmignore etc.), subpackages and default customizations (part of pipeline if applicable)
- Runtime state which is typically associated with the instantiation of a package in a cluster

I think decoupling these type of

[2021-07-15 19:33] morgante commented on #2399
@droot Right, the core of the issue is a single file collapsing those two kinds of info.

If you want to *also* provide a publish command, that might be okay but I want to be clear I would not consider that a sufficient resolution to this issue. I should be able to use normal Git commands to interact with Kpt.

[2021-07-15 20:07] seaneagan commented on #467
it doesn't seem like recursive will work, since the "direct" dependency update will pull in its own recursive nested packages anyway. what does seem useful to me is a single command to update all packages within a directory e.g. `kpt pkg update --all` vs `kpt pkg update pkg1; kpt pkg update pkg2 ...`. is this what this issue is about?

[2021-07-15 21:01] phanimarupaka commented on #2315
@morgante Per our offline discussion. I can quickly write a custom function for you which does the task. It will not be hosted in the `gcr.io/kpt-fn`. Please draft the clear requirements here.

[2021-07-15 21:02] morgante commented on #2315
Quick update, it turns out that adding the additional annotation doesn't work because Config Sync still vets disabled resources. Instead we need to delete any resources which have this annotation: `config.kubernetes.io/local-config: "true"`.

Here is how I would do it with `kpt 0.39`:
[code]

[2021-07-15 21:03] mikebz commented on #2315
@janetkuo is that a bug in CS?  Maybe we can patch that?

[2021-07-15 21:13] mikebz commented on #2315
@phanimarupaka I think having a function that removes resources that fit GVK is probably a general purpose problem.  People might want to do such a thing in bulk.

[2021-07-15 21:53] phanimarupaka commented on #2315
@mikebz Agree. But we need to solve the `filtering` problem in general as part of an epic. This is more of a quick workaround where user is writing and maintaining their own custom function, which we want to encourage.

[2021-07-16 00:02] mortent commented on #1724
So there are two things here.

First, kpt does not by default allow a package to "adopt" resources that already exist in the cluster. This is generally not safe since later deleting the package will remove the resource from the cluster, when presumably it might still be needed. As @nonylene has described, the `--inventory-policy` flag makes it possible to change the default behavior.

The original

[2021-07-16 00:02] #1724 closed

[2021-07-16 00:21] janetkuo commented on #2315
This isn't supported in Config Sync yet. Config Sync needs to understand `local-config` and then pass the resources to kpt apply library to apply to the cluster. We can add support for `local-config` in Config Sync.

[2021-07-16 17:25] phanimarupaka opened #2404 "Update TS Sdk to minimize diffs during no-op round trip"
TS sdk currently creates unwanted diffs when we roundtrip resources. Here are the issues

1. Double quotes and single quotes around strings are not being preserved.
2. (Augment this list when we find more of such)

https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/ts/kpt-functions/src/io.ts#L29

[2021-07-16 17:33] droot commented on #2015
@karlkfi @morgante Thanks for the feedback on the filtering requirement. We are prioritizing this and will begin the work on this one soon.

[2021-07-16 17:37] droot commented on #2384
@karlkfi we are starting work on this one and will be tracking the filtering work in this issue https://github.com/GoogleContainerTools/kpt/issues/2015.

[2021-07-16 17:38] droot commented on #2384
so closing issue since it will be addressed as part https://github.com/GoogleContainerTools/kpt/issues/2015

[2021-07-16 17:38] #2384 closed

[2021-07-16 18:04] droot commented on #2364
@halvards we are prioritizing support for filtering and will begin work on it soon. I will be closing this issue, since we are tracking the work under the feature issue https://github.com/GoogleContainerTools/kpt/issues/2015.

[2021-07-16 18:04] #2364 closed

[2021-07-16 18:12] phanimarupaka opened #2405 "TS and starlark functions should be able to decide the order of fields on generated resources(sections)"
Go functions can access RNode due to which, the fields can be added in the order desired by functions as RNode has many degrees of freedom. TS and Starlark functions can't do it. We should figure out a way for those functions to decide the order of generated fields.

[2021-07-16 18:38] droot commented on #1280
Thanks for the detailed comment @bgrant0607 . This is helpful as we are beginning the design for supporting filtering in `fn` commands. (#2015 )

Will try to answer part of the comment here:

this is fairly accurate in context of `fn eval` and `fn source`. We still need to rationalize this with `fn render`. Quick thought suggests that all the use-cases for processing meta-resources in `render` act

[2021-07-16 18:51] etefera commented on #2134
Hi, @RolandOtta, I notice you're using an alpha version of kpt in this issue. This doesn't seem reproducible in [v1](https://kpt.dev/installation/migration). Can you confirm that's the case?

[2021-07-17 13:38] stefanhenseler commented on #2388
@natasha41575 So, I think kustomization.yaml is not the only issue here. We use configmap generators in our bases, in case you have a JSON file, you run into the same issue. Kpt will complain about the Json file not being a valid KRM. Unfortunately, there is no way to fix this issue at the moment, adding metadata.name just doesn’t makes sense in this case. So what I would expect the kpt sdk to do,

[2021-07-18 23:23] karlkfi commented on #2392
Yes

No.

Publishing a function as a yaml file in a git repo is NOT equivalent to publishing it as a docker image. With a docker image you can include the usage of the function in any kptfile pipeline. With a yaml file you force the user to kpt pkg get a package with your yaml file.

If you can make kptfile reference a yaml file in a git repo without needing to publish it as an image, then maybe t

[2021-07-19 16:27] droot opened #2406 "policy-controller-validate function is out of date"
One of the kpt users (Adam) reported that policy-controller-validate function is out of date. Here is the content from the email:

---------------------------------------------

I noticed something a bit unusual while running the policy-controller-validate image: [this commit](https://github.com/GoogleContainerTools/kpt-functions-sdk/commit/6b27fd669c204ea37b1a1ea8e45b94c37f48379a#diff-fef38d6ea72

[2021-07-19 16:49] droot commented on #2392
I agree, having a light weight skylark sdk that scaffolds the `Dockerfile` and `function script` and some `make` helpers to dev and publish the starlark script as function makes sense. It will be sort of a parallel to our typescript and Go SDKs for writing functions.

[2021-07-19 17:07] #2329 closed

[2021-07-19 22:01] mengqiy commented on #1890
It seems there are 2 things that need to be done:

- apply-setters, create-setters, fix, search-replace, upsert-resource need to be updated to follow the [template](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/functions/go/_template/README.md).
- Usage doc for the `format` function need to be reworked and its example as an e2e test should be re-enabled.

[2021-07-20 02:49] morgante commented on #2385
Please prioritize this. The lack of this basically makes setter inheritance unworkable as currently implemented. Let's say I want to apply a setter (ex. `organization-id`) but some functions in lower packages depend on that setter value. The functions in subpackages will *always* run before the parent `apply-setters` function, meaning my only option is to manually copy the setter value down into m

[2021-07-20 19:36] aodinokov opened #2408 "kpt pkg get fails when repo contains links"
### Expected behavior
The repo that contains links (to files or dirs) should be cloned without errors

### Actual behavior
It fails, see steps to reproduce below

### Information

kpt version:
[code]

### Steps to reproduce the behavior

`config` dir is in fact a link to another directory:
[code]

Apparently [CopyDir](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/copyutil/copyutil

[2021-07-20 20:57] mengqiy commented on #1993
We should solve https://github.com/GoogleContainerTools/kpt/issues/1181 before releasing the function in the curated catalog.

[2021-07-20 22:17] mikebz commented on #2399
What's the cost of doing this change?  This might also inform the decision.  I can see how decoupling those two things can be useful and we see some tools splitting transient information into a separate file.

[2021-07-20 22:42] droot commented on #2388
@stefanhenseler kpt provides a mechanism to ignore non-KRM files using a file called `.krmignore`. It is not documented well at the moment, but we will be doing it soon. It works like `gitignore` where you can list the file patterns that you want kpt to ignore, so that will be right way to address the cases you described above.

@natasha41575 Thinking more about the user-journey here, users are pr

[2021-07-21 17:11] droot commented on #2408
@aodinokov Yes, this is a known issue. kpt doesn't handle links well in various workflow not just packaging.

[2021-07-21 18:27] #1901 closed

[2021-07-21 21:15] phanimarupaka commented on #2356
This feature has been released. https://catalog.kpt.dev/search-replace/v0.2/

[2021-07-21 21:15] #2356 closed

[2021-07-21 21:19] phanimarupaka commented on #2364
@halvards You can use search-replace with `by-file-path` matcher as a workaround for now. https://catalog.kpt.dev/search-replace/v0.2/?id=file-path-patterns

[2021-07-22 03:03] yuwenma commented on #1114
I also encountered this issue when trying out the inflator-helm-chart example (which is not curated). https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/apply-setters/v0.1/examples/contrib/inflate-helm-chart @mengqiy

[2021-07-22 17:30] phanimarupaka commented on #2404
Edit for Point 1: Single quotes are being added to the fields with line comments.

[2021-07-22 18:05] mikebz commented on #2108
@phanimarupaka is phase1 finished up with beta2 release?

[2021-07-22 18:16] phanimarupaka commented on #2108
Yes.

[2021-07-22 19:28] #2038 closed

[2021-07-22 20:59] thackem opened #2411 "`kpt live status --output=json` is not json"
### Expected behavior

A structured JSON string in the output

### Actual behavior

Plaintext, json matches string, matches the default o

### Information

Used kpt beta 1. Package is a simple single resource, intentionally broken to give an InProgress error status. The issue is the --output=json flag not working.

### Steps to reproduce the behavior

[code]

[2021-07-22 21:49] thackem commented on #2411
actually I think this is fixed in beta 2, I was using beta 1

[2021-07-22 22:27] phanimarupaka commented on #2385
@karlkfi Not proposing a solution here, but trying to understand the problem better, does it help if we make the order of hydration configurable ? Currently, the default order if bottom up, where children are hydrated before parents. What if we make it configurable, and hydrate parents first and then children?(top down)

[2021-07-22 22:33] sbellan opened #2412 "kpt live status with stdin not working"
[code]
live apply works with stdin, but live status does not

[2021-07-22 22:37] morgante commented on #2385
@phanimarupaka That would not solve the problem, as we still have cases where parents need to be applied first (ex. setter inheritance, the one I mentioned). Shifting the burden to users via configuration isn't sufficient.

[2021-07-22 22:54] phanimarupaka commented on #2385
So for this case, having `early-mutators`, `early-validators` which are applied in top-down fashion(additive change) and `mutators`, `validators` which apply in bottom-up fashion(current behavior) should help I guess. Advanced users can pick and choose where to include the functions.

[2021-07-23 00:20] phanimarupaka commented on #2385
@morgante Another way is by using target selector for functions. The starlark function can be moved to parent package and specify target functions as mentioned in this https://github.com/GoogleContainerTools/kpt/issues/2015.

[2021-07-23 01:29] morgante commented on #2385
@phanimarupaka No, that is not a solution. The entire point is that the parent package should not need to know the details of child packages. Once you start tightly coupling them like that, you've lost the package boundary.

We need either a form of pre and post hooks, or a way to assign weights to functions.

[2021-07-23 02:50] #2388 closed

[2021-07-23 03:37] karlkfi commented on #2385
Morgante is right. The point is to be able to re-use packages by wrapping them in a parent package and have the parent be able to mutate the inputs and outputs of the child package, without needing the user to manually modify the child package directly.

In the common case, the setters are inputs and the resulting yaml is the output. Early mutators allow modifying the inputs. Late mutators allow m

[2021-07-23 10:12] borismw commented on #2397
@mengqiy slightly OT, but could you give me a hint on how to correctly specify the `additionalNamespaceFields` parameter on an inline (within the Kptfile) function invocation?

[2021-07-23 16:03] droot commented on #2388
The PR has been merged and will be available in beta.3 release next week.

[2021-07-23 16:09] droot commented on #2412
@seans3 @mortent any idea what could be going here ?

[2021-07-23 17:04] droot commented on #2399
@mortent @seans3 might be more familiar with the reasoning here, but one possible guess is to avoid config sprawl (kptfile, krmignore, inventoryinfo,....)

We can definitely improve the package {dev and publishing} CUJ here. I have added this as one of the items to focus on.

[2021-07-23 19:01] seans3 commented on #2412
Looking into this now.

[2021-07-23 19:01] droot commented on #2385
@phanimarupaka about: does it help if we make the order of hydration configurable ?

That won't help technically because we don't allow operating on meta resources during `render`, while in this case, primary objective for top-down processing is to customize the input to the pipeline.

In the common case, the setters are inputs and the resulting yaml is the output. Early mutators allow modifying t

[2021-07-23 19:13] phanimarupaka commented on #2385
So the `early mutators` should act only on the inputs, and `early validators` should validate the inputs to solve this problem. The functions declared in pre-processors section (which holds early mutators and validators) should act only on the Kptfile/function config files and not actual resources. I feel that this is pretty powerful in terms of input values mutations and validations. This would a

[2021-07-23 19:36] droot commented on #2385
Not sure, if we need to have such restriction. Being able to modify a resource in pre-processor is also a way to configure input to the pipeline of a package. For ex, changing the replica count of kafka cluster in the resource yaml and then reconcile function changing the dns names on the basis of new replica count is a simple use-case.

[2021-07-23 19:52] phanimarupaka commented on #2385
Agree. I think we got good inputs regarding the problem statement. We can switch to internal design doc to finalize the design.

[2021-07-23 20:20] karlkfi commented on #2385
Agreed. Because kpt uses in-place hydration, all of the outputs may be used as inputs.

[2021-07-26 17:07] mengqiy commented on #2063
We have addressed the vulnerability issues and released new versions.
We need to fix deprecation warning as next step.

[2021-07-26 19:40] mortent commented on #2412
@seans3  The issue here is for the `kpt live status` command, not `kpt live apply`.

[2021-07-26 22:47] mortent commented on #2411
This is a duplicate of https://github.com/GoogleContainerTools/kpt/issues/2269. This issue was fixed in v1.0.0-beta.2.

[2021-07-26 22:47] #2411 closed

[2021-07-26 22:56] mortent commented on #2305
This was fixed in https://github.com/GoogleContainerTools/kpt/pull/2367

[2021-07-26 22:56] #2305 closed

[2021-07-27 00:00] mengqiy commented on #2397
There is no way to achieve that.
Kptfile only supports function to use inline `configMap` as the functionConfig, but `additionalNamespaceFields` only exists in `SetNamespace` client-side CRD.

[2021-07-27 00:40] mengqiy commented on #2397
We are using the `namespace.Filter()` from the kustomize repo. It handles the resources that have `subjects` specially. e.g. `RoleBinding` or `ClusterRoleBinding`:
https://github.com/kubernetes-sigs/kustomize/blob/91b862b5563e2f601ea5ed5485379f1cac64ccfb/api/filters/namespace/namespace.go#L87-L100

You can change the `name` field in `subjects` to `default` to work around this issue.

[code]

[2021-07-27 00:46] mengqiy commented on #1114
The inflate-helm-chart examples have been updated. They can be found in https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/contrib/inflate-helm-chart

[2021-07-27 01:46] mengqiy commented on #1889
@yhrn In case you missed it, the [starlark:v0.2.0](https://github.com/GoogleContainerTools/kpt-functions-catalog/releases/tag/go%2Fstarlark%2Fv0.2.0) function has been released.

[2021-07-27 01:48] mengqiy commented on #1889
It's possible. But I guess it's not recommended unless the starlark script is very short. Otherwise, it may make the Kptfile a little verbose.

[2021-07-27 22:05] #2412 closed

[2021-07-28 19:06] droot commented on #2391
PR https://github.com/GoogleContainerTools/kpt/pull/2410 should address this.

[2021-07-28 23:41] droot opened #2418 "Design function target selector"
Come up with a design that captures UX, behavior and high level implementation details.

[2021-07-28 23:42] droot commented on #2418
#2015

[2021-07-28 23:44] droot opened #2419 "Epic: Preprocessor support in render"

[2021-07-28 23:46] droot opened #2420 "Design preprocessor support in `fn render`"

[2021-07-29 18:28] #2323 closed

[2021-07-29 18:29] #2391 closed

[2021-07-30 01:36] mortent opened #2422 "Release pipeline should check for unreleased dependencies"
kpt should try to use versioned libraries whenever possible and avoid dependencies on specific commits. The release pipeline should check for this and use an allow-list for dependencies where we can't use a released version.

[2021-07-30 18:03] phanimarupaka commented on #2379
@bharathkkb This is expected behavior. Since you are invoking update imperatively by specifying the version, the new version is only set in the parent package Kptfile and update is triggered. This means the parent package should be updated to `feat/bucket-new` version and child should be updated to `kpt-v1` version(which it already is on). The right way to update such nested packages is to manuall

[2021-07-30 19:01] phanimarupaka commented on #2379
Related issue https://github.com/GoogleContainerTools/kpt/issues/1941

[2021-07-30 19:36] bharathkkb commented on #2379
@phanimarupaka per go/update-subpackages implementation it seemed to imply that the subpkgs would be updated recursively. If this is not the case, can we consider this as a FR?

[2021-07-30 22:55] karlkfi opened #2423 "Warning users when legacy functions are used"
### Expected behavior

I expect `kpt fn eval` to preserve local-config files so it can be run multiple times with idempotent behavior.

### Actual behavior

`kpt fn eval` deletes files with the local-config=true annotation.

### Information

[code]

### Steps to reproduce the behavior

[code]

[2021-07-30 23:10] bharathkkb commented on #2423
It also occurs when invoked declaratively via `kpt fn render` so maybe a bug with set-annotation?

[code]

[2021-07-30 23:20] bharathkkb commented on #2423
seems related to https://github.com/GoogleContainerTools/kpt/issues/1933

[2021-07-30 23:35] bharathkkb commented on #2423
Looks like the fn was `set-annotations` and not `set-annotation`. `set-annotation` doesnt seem to have the above fix and doesnt seem to be updated. Using `set-annotations` it is WAI.

[2021-08-02 04:55] phanimarupaka commented on #2423
@mengqiy What is the deprecation plan for set-annotation and set-label legacy functions ?

[2021-08-02 05:02] phanimarupaka commented on #2379
@bharathkkb Per https://kpt.dev/book/03-packages/05-updating-a-package?id=update-the-package specifying the version in CLI command is just a `porcelain to editing Kptfile + kpt pkg update`. The specified version in the CLI command only updates the parent Kptfile and not the children. So it seems to you that the packages are not being updated recursively. But the fact is they are being updated, how

[2021-08-02 15:02] morgante commented on #2379
@phanimarupaka We are asking this to be a FR. Manually editing each Kptfile in all packages to the desired version is very toilsome. /cc @mikebz

[2021-08-02 15:47] bharathkkb commented on #2423
@phanimarupaka if possible surfacing a warning in `set-annotation` to use `set-annotations` would be useful.

[2021-08-02 17:00] phanimarupaka commented on #2379
@morgante If this is a feature request, can you update the description with the requirements clearly.

[2021-08-02 17:55] bharathkkb commented on #2379
@phanimarupaka I have tweaked the description. The ask is basically to recursively update the refs in subpkgs kptfiles to desired version as specified via CLI followed by `kpt pkg update`.

[2021-08-02 21:23] #2097 closed

[2021-08-04 23:32] mengqiy commented on #2423
@karlkfi I'm trying to understand why the legacy functions are being used. Is that because we don't currently provide a warning for the legacy functions?

[2021-08-05 16:55] yuwenma opened #2425 "Release kpt for Windows"

[2021-08-05 17:19] droot opened #2426 "generate TS bindings for kptfile"

[2021-08-05 17:51] phanimarupaka commented on #2097
@grmoon You can try out this function using unstable tag(`kpt fn eval list-setters:unstable`). This will be released soon with a version tag.

[2021-08-05 19:55] karlkfi commented on #2392
Another option would be to be able to reference a function by URL, instead of just container image. Then I could "publish" a starlark function just by hosting it in a github repo.

The downside is that it would be effectively as secure as sudo curl|bash (not that a container published by someone else is much better).

[2021-08-06 03:35] karlkfi opened #2427 "Add json and yaml (encode/decode) to starlark function context"
I want to be able to read and write yaml ad json strings in starlark functions.

My specific use case is to write a json or yaml payload to a KRM annotation string value.

[2021-08-06 19:25] karlkfi opened #2429 "Enable optional features in starlark function, like recursion"
I have found it hard to write code for the starlark function because of some of the limitations in starlark that were designed specifically for Bazel. kpt functions do not need these limitations.

starlark-go supports multiple useful optional features from python and I think we should enable all of them.

https://github.com/google/starlark-go/blob/master/cmd/starlark/starlark.go#L40-L44
- AllowFlo

[2021-08-06 20:42] mengqiy opened #2430 "Add a section for GCP in catalog landing page"
As we have discussed offline, we want to add a section for GCP specific functions in the bottom of the landing page. Then we can have a clear boundary between the generic functions and the GCP functions.

The logic would be:
If a function has GCP in its `tags`, we list it in the GCP section. Otherwise, we list it in the generic functions section.

[2021-08-06 23:14] karlkfi commented on #2423
Just ignorance that the name had changed.

The problem is solved by using the new image, but it was not obvious that that was the problem.

[2021-08-07 00:25] mengqiy commented on #2423
We should figure out a way to surface a warning when a deprecated image is used.

[2021-08-07 00:38] #2430 closed

[2021-08-08 15:38] howardjohn opened #2433 "Allow "just in time" mutators during apply"
### Describe your problem
One of the great things about Kpt is the ability to do a lot of things client side instead of needing the complexity of a bunch of in cluster operators
However,one gap is with Secrets. Since we don't want to store these in GitHub (as recommended https://kpt.dev/book/06-deploying-packages/02-applying-a-package?id=_62-applying-a-package ), we need to use some other tooling

[2021-08-08 22:27] howardjohn opened #2434 "Improve debugging for (go) function developers"
### Describe your problem

Right now its very hard (or not clearly documented, anyhow) how to debug function generation.

I personally struggled quite a bit getting a simple function working; a large part of that was it was hard to actually debug. The function runtime seems to swallow all stdout/stderr; the best I came up with was writing to stderr then intentionally `os.Exit(1)` to get it to disp

[2021-08-08 23:30] howardjohn opened #2435 "friction report: developing a simple generator function"
This is not a bug really; rather a documentation of my experience trying to write a simple generator function. I have always found friction reports super helpful for me, but feel free to close this immediately.

Goal: write a generator that takes in a config (declaratively) with two values: revision and id, and fetch the grafana dashboard (ie https://grafana.com/api/dashboards/9614/revisions/1/dow

[2021-08-09 03:02] howardjohn commented on #2433
Some other usages would be dynamically applying cluster environmental specific configs. for example, a mutator could check the k8s version and generate different config, etc

[2021-08-09 03:07] howardjohn commented on #1151
IMO just because something is one-off instead of typical `render` doesn't make declarative API not useful (see prior art of Kubernetes having actions like TokenReview via standard KRM). The end result just means that we need to (poorly) recreate the kpt pipeline in a makefile or similar.

Maybe it would be possible to have alternative pipelines, so the same syntax can be used, and because it's no

[2021-08-09 18:18] mengqiy commented on #2397
AI: We should document it in the usage doc.

[2021-08-09 21:46] mengqiy commented on #2435
Thanks for this detailed friction log!
We will address them.

[2021-08-10 01:12] #2406 closed

[2021-08-10 21:54] jafcrocker opened #2438 "Starlark function fails when kpt-merge comment is present"
### Expected behavior

Starlark function should work in the presence of a `# kpt-merge: namespace/name` comment on the metadata line.  Note that this comment is added automatically by _kpt_ upon getting or updating a package.

### Actual behavior

When a resource with the `kpt-merge` comment is present, the Starlark function emits an error.

### Information
Kpt version: 1.0.0-beta.3
Starlark funct

[2021-08-10 22:46] phanimarupaka commented on #2184
@droot @etefera Related to function selectors.

[2021-08-10 23:05] phanimarupaka opened #2439 "Implement base infrastructure, handle pruning with GVKNN selector"
This issue needs understanding of design doc, and setting the base infrastructure to implement filters. This will be the stepping stone for implementation and other features depends on this item.

[2021-08-10 23:08] phanimarupaka opened #2440 "Implement file-path function target selector."
Implement the function target selector which selects resources based on input path expressions. Refer to [search-replace](https://catalog.kpt.dev/search-replace/v0.2/?id=file-path-patterns) file-path matchers for help.

[2021-08-10 23:10] phanimarupaka opened #2441 "Implement GVKNN selector"

[2021-08-10 23:11] phanimarupaka opened #2442 "Implement labels selector for functions"

[2021-08-10 23:12] #2418 closed

[2021-08-11 04:38] mengqiy opened #2443 "Longer expiration for firebase token"
The catalog site can't be deployed any more due to auth issue. An example failure: https://github.com/GoogleContainerTools/kpt-functions-catalog/runs/3297097173?check_suite_focus=true

The service account token expires every 90 days for both kpt.dev site and the catalog site.

[2021-08-11 19:07] bharathkkb opened #2444 "Support fetching pkgs directly from GH URLs"
### Describe your problem

When exploring the [blueprint catalog](https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog) to try a package we have to manually transform `https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/gitops` to `https://github.com/GoogleCloudPlatform/blueprints.git/catalog/gitops@main`.

It would be nice if kpt did this automatically by mapping a

[2021-08-11 22:02] mikebz commented on #2374
@seans3 can you please comment on this?

[2021-08-11 22:56] Pitta commented on #1940
I'm curious @stefanhenseler - have you settled in to a pattern without the classic pattern substitutions used to provide? I leveraged that pattern a lot, especially with regards to heavily verbose internal DNS urls.

It was nice to be able to expose simple setters that took a single value, then have those be concatenated but a substitution downstream. When using setters imperatively, it seems like

[2021-08-11 23:30] morgante commented on #2365
Reopening because this has come up again. Currently, kpt v1 requires setting all the setters for a field at the same level which makes composition harder.

[2021-08-11 23:33] morgante opened #2445 "Patch function"
We would like to have a patch function which can be used to patch resources.

This should ideally support json6902 semantics (like kustomize), but also be able to address items by their keys in an associative array (jq-style).

[2021-08-12 19:47] mengqiy opened #2446 "generate catalog script should also scan the gob branch"
The script currently find all branches and then check them against the functions in the master branch.
Recently we have started to mirror some non-OSS functions (e.g. `generate-folders`) to the gob branch. Our script should also check against it.
One potential solution is that we copy the `examples/` and `functions/` from gob to master and merge them.

I also find an issue with our current glob lo

[2021-08-12 19:48] phanimarupaka commented on #2365
@morgante As explained earlier, it is only true for ambiguous strings. Can you elaborate steps to reproduce.

[2021-08-12 22:37] phanimarupaka commented on #2333
@pitta issue for tracking discoverability.

[2021-08-12 22:38] Pitta commented on #2333
Oh wow! Awesome.

If this is the preferred place for this stuff and discussion going forward I'm happy to do that here in the future. Slack just seemed more informal and exploratory .

[2021-08-13 17:05] mengqiy commented on #2438
We currently "roundtrip" objects in https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/9d3b022ad2d907efb8d7028d17c3fead7c96caa6/functions/go/starlark/third_party/sigs.k8s.io/kustomize/kyaml/fn/runtime/starlark/starlark.go#L142-L151 before passing to the starlark function.

Here is an example that has the issue.
When we do serialization, we get
[code]

When we try to deserialize it,

[2021-08-13 21:15] #2438 closed

[2021-08-13 21:20] grmoon opened #2448 "Include changed files in function output"
### Describe your problem

When users run a mutator (e.g. `set-annotations`), the output doesn't tell them which files changed. The only way a user can figure out which files were affected is by looking through them manually or doing `git status` or however they might normally be notified of changes to files.

It would be nice if we were able to notify the user which files changed as a result of t

[2021-08-13 22:22] phanimarupaka commented on #2448
@grmoon Output similar to `apply-setters` is what you are looking for ?

[2021-08-13 23:00] grmoon commented on #2448
that would be great!

[2021-08-13 23:04] phanimarupaka commented on #2448
@etefera This would be a good issue if you want to pick up.

[2021-08-14 17:27] mengqiy commented on #2438
@jafcrocker [starlark: v0.2.2](https://github.com/GoogleContainerTools/kpt-functions-catalog/releases/tag/functions%2Fgo%2Fstarlark%2Fv0.2.2) has been released with the fix.

[2021-08-14 21:19] howardjohn opened #2450 "Allow mounts and network access in render pipelines"
### Describe your problem

`pipelines` used by `kpt fn render` should allow mounts and network access.

There is some discussion in https://kpt.dev/book/04-using-functions/02-imperative-function-execution?id=privileged-execution.

I would argue this degrades the user experience dramatically. Consider an extremely common use case - rendering helm charts. I want to define some function config like:

[2021-08-14 21:39] howardjohn commented on #2450
Poor mans solution as a makefile:
[code]

[2021-08-14 21:43] howardjohn opened #2451 "Support live applying nested packages"
### Describe your problem

I have a directory setup representing my entire cluster like:

[code]

I want to apply all of these to the cluster. Currently, the best way to do that seems to be:

`find . -maxdepth 1 -mindepth 1 -type d | xargs -I{} kpt live apply --inventory-policy=adopt {} --output table`

This has a few issues:
* Not super easy, especially compared to simple `kpt live apply`
* Now w

[2021-08-14 21:53] howardjohn opened #2452 "Non actionable error message on namespaced global object"
### Expected behavior

[code]

This error message is not very useful/actionable as is. I have many YAMLs in the folder, and I have no clue which one is wrong. Looking at the configs, I am actually still not sure what its complaining about.. these are all the resources in the folder:
[code]

Output format is `Kind/name.namespace`, so everything ending with `.` is not namespaced.

Furthermore, `kube

[2021-08-14 21:57] howardjohn opened #2453 "Non actionable error message "the server could not find the requested resource""
Facing an error when trying to apply a nearly 100% empty folder:
[code]

The ResourceGroup in cluster:
[code]

The error here is not actionable, as it doesn't give any information about what resource is missing, giving no next steps to debug further.

### Information
[code]
### Steps to reproduce the behavior
Apply configs above and run `kpt live apply`

[2021-08-14 22:10] howardjohn commented on #2452
Ah the resource is PodSecurityPolicy. Anyhow, the issue was more about the fact it doesn't tell me that, not that I got an error.

[2021-08-15 17:58] howardjohn opened #2454 "Docs: Kptfile (https://kpt.dev/reference/schema/kptfile/) dead link"
The page links to https://kpt.dev/reference/schema/kptfile/kptfile.yaml which gives a 404

[2021-08-15 18:00] howardjohn commented on #2454
ok not sure what happened but it magically fixed itself... caching?

[2021-08-15 18:00] #2454 closed

[2021-08-16 13:13] jafcrocker commented on #2438
Thanks for the quick turnaround - looks like that fixed it.

[2021-08-16 17:13] mortent commented on #2374
The destroy command does use the depends-on annotation to make sure resources are deleted in the correct order. However, I do see now that the destroy command doesn't provide `destroy-timeout` or `propagation-policy` flags, which might make it less useful in some situations. We should make sure the destroy command provides the same options as we do for pruning in the apply command.

[2021-08-16 20:43] phanimarupaka opened #2457 "Tab completion to list functions for eval and doc commands"
This issue is to implement the tab completion feature for eval and doc commands. This is significantly helps with the discovery of functions and make them almost seem like the part of the CLI.

[code]

[code]

[2021-08-16 20:46] #2457 closed

[2021-08-16 22:00] yuwenma opened #2458 "Simplify the user config for kpt curated functions"
### Describe your problem

It would be more handy (and easier to spead) if users can provide less config to use a kpt function.

For example, use a short name rather than the full gcr.io url, use `kubeval` in  `.pipeline.validators.image` (rather than  ​`gcr.io/kpt-fn/kubeval:v0.1`). This is of similar idea as docker image.

[2021-08-17 07:25] #2446 closed

[2021-08-17 23:56] morgante commented on #1476
It sounds like this will only work for in-place hydration.

[2021-08-18 00:19] mikebz commented on #1476
Out of place hydration will just create new random suffixes over and over again which could be the intent.

[2021-08-18 00:28] morgante commented on #1476
I'm quite positive it is not the intent. That's why it was one of the primary concerns I raised in the doc.

[2021-08-18 02:02] lauchokyip commented on #590
Hi @frankfarzan , I would like to try tackling this one. :)  It's a great way for me to dig into kubectl autocompletion PR which just got merged few months ago but it would take some time for me to figure out how to apply kubectl autocompletion in kpt , hope you don't mind!

[2021-08-18 04:23] mikebz commented on #1476
I think the definition of random is that given a set of inputs we can not predict an output.  In the case of out of place hydration the inputs stay the same, if we were to produce the same output every time we ran hydration then it would not be random.

[2021-08-18 04:27] mikebz commented on #590
@lauchokyip thanks for your help.  I do not think auto complete has been implemented @phanimarupaka and @droot can also chime in.

[2021-08-18 05:27] phanimarupaka commented on #590
@mikebz Auto-complete is implemented in kpt already. I have extended it to functions as well with [this PR](https://github.com/GoogleContainerTools/kpt/pull/2449
) which will be released tomorrow.

You should enable it though using this command `kpt --install-completion`.

[2021-08-18 06:22] morgante opened #2459 "Instance ID"
Each instance of a package should have a unique instance ID. This can be used to inject deterministic randomness (see https://github.com/GoogleContainerTools/kpt/issues/1476) and feed into other functions or tools which need to have a persistent identifier for a particular instance of a package.

Conceptually, this should simply be a UUID which is generated + inserted when running `kpt pkg get` or

[2021-08-18 06:25] morgante commented on #1476
Call it pseudorandomness if it helps, but what we really need is that given a particular seed + a particular input an output is generated. See https://github.com/GoogleContainerTools/kpt/issues/2459.

I don't know of any customer who actually wants a *different* random ID to be generated every time you run `kpt fn render`.

[2021-08-18 18:23] morgante opened #2460 "Function: set-enforcement-action"
We should have a function which sets the [enforcement action](https://github.com/GoogleCloudPlatform/acm-policy-controller-library/blob/master/bundles/cis-k8s-1.5.1/5.1.3_prohibit-role-wildcard-access.yaml#L9) on Gatekeeper constraints. Right now this is being done via repetitive setters and is an ideal case for a reusable function.

[2021-08-18 18:23] morgante commented on #2460
I can take this.

[2021-08-18 23:06] phanimarupaka commented on #2451
@seans3 PTAL

[2021-08-18 23:07] phanimarupaka commented on #2452
@seans3 PTAL

[2021-08-18 23:09] phanimarupaka commented on #2458
@yuwenma kpt already supports it. Please make sure you are on beta3+ version of kpt. https://kpt.dev/book/04-using-functions/02-imperative-function-execution. Please re-open the issue if this din't answer your question.

[2021-08-18 23:09] #2458 closed

[2021-08-18 23:14] phanimarupaka commented on #2459
@morgante Can you please point me to the problem you are trying to solve using this approach. Having clear picture of the problem will help us to suggest alternative solutions.

[2021-08-18 23:16] phanimarupaka commented on #2460
@morgante Sure. Thanks for taking this up.

[2021-08-19 17:16] mortent commented on #2433
@howardjohn We have talked about allowing users to run functions (either individual ones with `eval` or the full pipeline) as part of the apply step, but it is not something we have in our immediate plans. I think piping the output from `eval` into apply is probably the best option right now. You can also run `eval` prior to calling apply, but then your secret will be written to the filesytem, whi

[2021-08-19 17:19] mortent commented on #2452
The problem here is that a cluster-scoped resource has the namespace field set, which it shouldn't. But the error message definitely isn't helpful enough.

[2021-08-20 06:47] #1577 closed

[2021-08-20 19:40] phanimarupaka commented on #2459
@morgante Can a kpt function to add random id as a tag in info section solve this problem ?

[2021-08-20 21:01] natasha41575 opened #2462 "Kpt does not preserve order of fields when field value is null"
See https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/544/files, and the example `render-helm-chart-crds`.

The function fails the idempotency check, because upon the first run, the contents of `customresourcedefinition_workspaces.app.terraform.io.yaml`
contains the following:

[code]

On the second run, this gets reversed:

[code]

If in between the first and second run, I change

[2021-08-20 23:42] phanimarupaka commented on #590
This has been released https://github.com/GoogleContainerTools/kpt/releases/tag/v1.0.0-beta.4

[2021-08-20 23:42] #590 closed

[2021-08-21 16:31] nairb774 opened #2464 "Docs: Kptfile (https://kpt.dev/reference/schema/kptfile/)"
This page attempts to link to the schema, but that link 404s: https://kpt.dev/reference/schema/kptfile/kptfile.yaml

It is possible there is an underlying infra issue given: https://github.com/GoogleContainerTools/kpt/issues/2454

[2021-08-21 22:37] phanimarupaka commented on #2464
@nairb774 This works for me. Can you please try again.

[2021-08-21 22:40] phanimarupaka commented on #2462
@natasha41575 Thanks for filing the issue. I will debug and update the progress.

[2021-08-21 23:02] phanimarupaka commented on #2462
@natasha41575 I added the test and it works fine. https://github.com/kubernetes-sigs/kustomize/pull/4134/files

Which version of kpt are you using ? kpt version on your local should have version beta2 or above.

Where can I find render-helm-chart function ? I don't see it here https://pantheon.corp.google.com/gcr/images/kpt-fn/GLOBAL

[2021-08-21 23:07] phanimarupaka commented on #1437
Related issue https://github.com/GoogleContainerTools/kpt/issues/265

[2021-08-21 23:07] phanimarupaka commented on #265
This issue is related to pre-v1 and here is the new issue for the same https://github.com/GoogleContainerTools/kpt/issues/1437.

[2021-08-21 23:07] #265 closed

[2021-08-21 23:08] phanimarupaka commented on #454
This has been implemented and is available in kpt v1. https://kpt.dev/installation/

[2021-08-21 23:08] #454 closed

[2021-08-21 23:12] phanimarupaka commented on #542
@Bobgy [list-setters](https://catalog.kpt.dev/list-setters/v0.1/) is now a function in kpt v1(https://kpt.dev/installation/). Is this issue still relevant ?

[2021-08-21 23:13] phanimarupaka commented on #484
@nan-yu Is this issue still relevant in the context is kpt-v1 ? https://kpt.dev/installation/

[2021-08-21 23:15] phanimarupaka commented on #674
@cydu-cloud This issue is no longer relevant with kpt v1 as setters are just a function and there is no need to have setter definitions/openapi section in Kptfile. Closing this issue. Please reopen the issue if you have any concerns. https://catalog.kpt.dev/apply-setters/v0.1/

[2021-08-21 23:15] #674 closed

[2021-08-21 23:17] phanimarupaka commented on #782
This is no longer relevant as kpt v1 prints messages using a print layer.

[2021-08-21 23:17] #782 closed

[2021-08-21 23:18] phanimarupaka commented on #825
This was in v0 and no longer an issue in kpt v1. Closing this. Please reopen if you have any concerns.

[2021-08-21 23:18] #825 closed

[2021-08-21 23:22] phanimarupaka commented on #942
This was an issue in v0 and in v1 setters are just functions(https://catalog.kpt.dev/apply-setters/v0.1/) and you can set the value to empty list.

`kpt fn eval -i apply-setters:v0.1 -- foo=""`

Please reopen the issue if you have any concerns.

[2021-08-21 23:22] #942 closed

[2021-08-21 23:31] phanimarupaka commented on #979
This has been fixed with new version of setters. You can follow [this example](https://catalog.kpt.dev/apply-setters/v0.1/apply-setters-simple/), declare a multi-line value for a setter and test it out. I tested it and it worked fine. Please re-open the issue if it doesn't work.

[2021-08-21 23:31] #979 closed

[2021-08-21 23:34] #1093 closed

[2021-08-21 23:35] phanimarupaka commented on #1112
Closing this issue due to no response. Please refer to new version of setters(https://catalog.kpt.dev/apply-setters/v0.1/). Reopen the issue if you still have questions.

[2021-08-21 23:35] #1112 closed

[2021-08-21 23:37] phanimarupaka commented on #1180
This was in kpt v0. This works fine now in kpt v1.

[2021-08-21 23:37] #1180 closed

[2021-08-21 23:38] phanimarupaka commented on #1375
Closing this issue due to no response. Create-setters function solves your problem. Please re-open the issue if you have any questions.

[2021-08-21 23:38] #1375 closed

[2021-08-21 23:40] phanimarupaka commented on #1915
This has been addressed and released as part of out-of-place hydration story.

[2021-08-21 23:40] #1915 closed

[2021-08-21 23:42] nairb774 commented on #2464
If you go direct to the url it works. If you tap the link to follow from the Kptfile doc page it 404s.

I doubt it matters, but I'm using Chrome on Android.

[2021-08-21 23:44] phanimarupaka commented on #2301
This is no longer true as we don't format Kptfile anymore. This is fixed.

[2021-08-21 23:44] #2301 closed

[2021-08-21 23:44] phanimarupaka commented on #2315
@morgante As discussed offline I provided a custom function for you. Can we close this issue?

[2021-08-21 23:49] phanimarupaka commented on #2276
Here is the metadata of all functions which is maintained up to date https://catalog.kpt.dev/catalog.json

[2021-08-21 23:49] #2276 closed

[2021-08-21 23:56] phanimarupaka commented on #2464
@nairb774 Got it. I see the same. @etefera can you please take a look at this issue.

[2021-08-21 23:58] phanimarupaka commented on #1782
This is fixed.

[2021-08-21 23:58] #1782 closed

[2021-08-22 00:02] phanimarupaka commented on #195
There are no more kpt tutorials in kpt.dev.

[2021-08-22 00:02] #195 closed

[2021-08-22 00:02] phanimarupaka commented on #199
This feature is no longer supported in kpt v1.

[2021-08-22 00:02] #199 closed

[2021-08-22 00:04] phanimarupaka commented on #246
@mortent What is the progress of this issue? Can we close this ?

[2021-08-22 00:05] #246 closed

[2021-08-22 00:09] phanimarupaka commented on #737
We no longer need OpenAPI definitions for setters in kpt v1.

[2021-08-22 00:09] #737 closed

[2021-08-22 00:10] phanimarupaka commented on #858
This command is not longer supported in kpt v1(kpt.dev).

[2021-08-22 00:10] #858 closed

[2021-08-22 00:12] phanimarupaka commented on #876
Is this issue still relevant ? You can develop a kpt function to do so.

[2021-08-22 00:13] phanimarupaka commented on #884
This is not relevant is kpt v1.

[2021-08-22 00:13] #884 closed

[2021-08-23 02:25] mikebz commented on #267
I am inclined to close this until we see clear customer demand.

[2021-08-23 02:25] #267 closed

[2021-08-23 16:39] nan-yu commented on #484
Not relevant anymore. Closing it.

[2021-08-23 16:39] #484 closed

[2021-08-23 19:13] karlkfi commented on #1375
Looks pretty solid from the docs, thanks!

I'll let you know how it feels after I get a chance to use it in action.

[2021-08-24 00:22] morgante commented on #2315
@phanimarupaka That function is a bit of a hack. I don't think I should have to resort to a custom function for this use case.

[2021-08-24 09:05] phanimarupaka commented on #2365
@morgante Are there any action items on this issue ? Can we close this and wait for a new issue from WIPE ?

[2021-08-24 16:39] #2464 closed

[2021-08-24 18:23] prachirp commented on #876
@phanimarupaka I made this issue as a good first issue to make our project more appealing to non-google contributors. Feel free to close it if you want.

[2021-08-24 19:58] morgante commented on #1544
@mikebz Can we increase priority on this. Another customer has run into it.

[2021-08-24 20:17] droot commented on #1873
I don't think this is needed, so closing this.

[2021-08-24 20:17] #1873 closed

[2021-08-24 20:38] droot commented on #972
kpt v1 supports out-of-place mode in `fn render` and `fn eval`. We have improved the docs to explain the default behavior of `in-place` sink. I haven't seen any reports about the confusion since v1, so marking this closed.

[2021-08-24 20:38] #972 closed

[2021-08-24 20:41] droot commented on #938
Though this was reported for kpt alpha, we need to ensure behavior is clear for kpt v1.0.

[2021-08-25 03:33] howardjohn opened #2466 "Challenges with setting namespace when using generators"
### Describe your problem

I am trying to write a generator function. Basically it inserts some data into a configmap, nothing too fancy.

My Kptfile looks like:
[code]

My function generates a new config, and inserts it into the list of items with merging:
[code]

The problem is that the generator doesn't add a namespace, but then it later is added. This means that the second run of the pipeline

[2021-08-25 03:53] howardjohn opened #2467 "`filters.MergeFilters` leads to different results depending on if merge occured"
### Expected behavior

`filters.MergeFilter([a,a]) == [a]`

### Actual behavior

`filters.MergeFilter([a,a]) == [not-a]`

### Information

I am writing a generator that uses `filters.MergeFilter`. The generator creates a configmap, then renders it to yaml. This means the yaml output has `creationTimestamp: "null"`, as sigs.k8s.io/yaml library always renders that (why, I don't know...).

The first

[2021-08-25 04:20] howardjohn opened #2468 "Use standard Kubernetes casing for image-pull-policy"
### Describe your problem

[code]

Kubernetes users are familiar with Always, IfNotPresent, and Never. Changing the casing from this standards adds friction to usage.

[2021-08-25 04:33] howardjohn opened #2469 "Improve function execution time"
### Describe your problem

Pipeline execution times are longer than expected for simple functions. For example, `gcr.io/kpt-fn/set-namespace:v0.1` against a folder with a cert-manager installation manifest (including large CRDs) takes about 5s on my machine.

This includes roughly:
* 1.7s doing `docker pull`
* 1s in copyCommentsAndSyncOrder, because we fetch the open api schema for each resource
*

[2021-08-25 05:00] droot commented on #2467
@phanimarupaka it seems related to https://github.com/GoogleContainerTools/kpt/issues/2462

[2021-08-25 05:05] howardjohn commented on #2469
Seems like 10% of CPU time (ie not including `docker run` time) is spent on `reflect.DeepEqual` on `spec.Schema`, always comapring it to `spec.Schema{}`. Maybe a smarter IsEmpty could improve this

[2021-08-25 05:16] howardjohn commented on #2469
[profile.tar.gz](https://github.com/GoogleContainerTools/kpt/files/7043845/profile.tar.gz)
profile of set-namespace running. 37% (0.5s) on IsCertainlyClusterScoped is suspicious.

[2021-08-25 16:22] howardjohn commented on #2469
Dropping IsCertainlyClusterScoped cuts execution time from 2.3s to 1.3s. Big improvement. But we do use it in GetMatchingResourcesByCurrentId for resid.ResId.Equals. Seems like something we could improve though

[2021-08-25 18:28] droot opened #2470 "kpt should support Kptfiles with different schemas"
As we are introducing schema changes (mostly additive) with new features in Kptfile, kpt should support different versions of kptfile schema.

[2021-08-25 19:25] Liujingfang1 opened #2471 "add ResourceGroup version v1beta1"
The v1alpha1 ResourceGroup has been run for several months. We can add the version v1beta1.
It has the same schema as v1alpha1.

/assign @seans3

[2021-08-30 16:32] #2051 closed

[2021-08-30 16:34] droot commented on #1827
This issue was marked as done in the kanban board, so closing the issue as well.

[2021-08-30 16:34] #1827 closed

[2021-08-30 17:27] phanimarupaka commented on #1544
I am writing up a doc to discuss the scope and possible solutions for this problem.

[2021-08-31 16:30] droot commented on #1544
@phanimarupaka as @mortent has already mentioned the reasons that makes this problem lot harder.
Resolving the arg for the top level pkg dir (if its a symlink) in `kpt` commands is the best we can do at this point.

something related: in future, we want to support other location targets for packages such as OCI artifacts, GCS storage buckets and use of symlinks in the package makes it less portabl

[2021-09-02 02:02] yuwenma commented on #1993
This is resolved with the new gcr.io/kpt-fn/render-helm-charts. @natasha41575 @mengqiy @mikebz closed

[2021-09-02 02:02] #1993 closed

[2021-09-02 09:36] RolandOtta opened #2474 "apply-setter kpt function may provide wrong results when using subpackages"
we have 2 kpt packages

package A (main package)
package B (subpackage in package A)

package b defines a pattern for kpt-set `# kpt-set: prefix-${var1}-${var2}

if both vars are containing a substring of the kpt pattern, for example `-` in the given case, the apply-setter function cuts off the var2 in the result.

to reproduce the issue:

* clone git@github.com:RolandOtta/kpt-issue-2.git
* cd to

[2021-09-03 00:18] natasha41575 commented on #1181
I believe this is resolved by the new render-helm-chart function. Please reopen if I'm mistaken.

[2021-09-03 00:18] #1181 closed

[2021-09-03 06:58] Cypherman1 opened #2475 "Unknown command "cfg" for "kpt""
I ran this command:

`kpt cfg set -R . name "${MGMT_NAME}"`

but received  error:

[code]
Please help!

[2021-09-03 07:05] #2475 closed

[2021-09-03 19:39] bharathkkb opened #2477 "render skips running function if pkg only contains the function config and Kptfile"
### Expected behavior

`render` runs function and generates resources.

### Actual behavior

`render` seems to exit early if a package only contains the functionConfig and Kptfile.
 Quick trace led me to https://github.com/GoogleContainerTools/kpt/blob/57b52103576b7a195502dc10a4ad608570095e47/internal/cmdrender/executor.go#L339-L342

`eval` works as expected.

### Information

Kpt Version: 1.0.0-b

[2021-09-03 19:52] mengqiy opened #2478 "Kpt should use internal.config.kubernetes.io/* annotations"
Kpt should use the annotations as specified in https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md#internal-annotations.

For example, kpt currently use `config.kubernetes.io/path` but it should use `internal.config.kubernetes.io/path`.

[2021-09-03 20:03] natasha41575 commented on #2478
Issue on kustomize side: https://github.com/kubernetes-sigs/kustomize/issues/4024

LMK if you plan to take care of it on both sides or if you need me to work on it

[2021-09-03 20:56] mengqiy commented on #2478
I will take a closer look

That's very likely to be the case.

[2021-09-03 23:05] mengqiy commented on #1993
@natasha41575 Can you please remove the old inflate-helm-chart directory and examples, but leave a simple README.md in `functions/contrib/go/inflate-helm-chart` telling the new location of the function?

[2021-09-03 23:07] natasha41575 commented on #1993
/assign

will do

[2021-09-03 23:46] mengqiy commented on #2344
This is partially done through #2449

[2021-09-04 23:57] phanimarupaka commented on #1544
This feature will be supported in beta.5 release of kpt.

[2021-09-04 23:57] #1544 closed

[2021-09-06 21:08] HP-Nunes commented on #2475
@Cypherman1 did you find a solution to this issue? I have the same problem, and I suspect you were also going through the G-Cloud's Kubeflow [deployment steps](https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/).

[2021-09-06 21:19] HP-Nunes opened #2481 "error: unknown command "cfg" for "kpt""
### Expected behavior
I want to configure kpt setter values for the name, project, and location of a management cluster in Google Cloud.

[code]

### Actual behavior

I tried running the first line in bash, and got this in return:

[code]

### Information

I followed the installation instructions from ktp's [website](https://kpt.dev/installation/), using docker to install both ktp and ktp-gcloud.

[2021-09-07 17:04] droot commented on #2477
Good catch. Thanks for the pointer to the code causing the issue.

[2021-09-07 17:09] droot commented on #2478
The fix needs to be done in kyaml (common orchestrator layer) as part of kubernetes-sigs/kustomize#4024. @natasha41575 No plans to address this in the short term on kpt side yet.

[2021-09-07 17:13] droot commented on #2481
Kubeflow's tutorial has a note saying:

So looks like kubeflow hasn't migrated to kpt 1.0+ yet, so you will have to use https://github.com/GoogleContainerTools/kpt/releases/tag/v0.39.2 release.

[2021-09-07 17:14] grmoon opened #2482 "Kpt schema updates"
The [kpt schema](https://raw.githubusercontent.com/GoogleContainerTools/kpt/main/site/reference/schema/kptfile/kptfile.yaml) needs a couple of updates before it can readily be used with Cloud Code's language server (in order of priority):

1. Several of the properties in the schema are capitalized when they are not actually capitalized in a kpt file (e.g. `kptfile.properties.Pipeline` vs `kptfile.

[2021-09-07 22:29] phanimarupaka commented on #2474
@RolandOtta This is because the regex is ambiguous and the function in `A/Kptfile` is assuming that the current value of `var1` is `foo-bar-foo2` and is replacing it with new value `foo-bar`. Why don't you also declare the value of `var2` in `A/Kptfile` ?

[2021-09-08 18:25] grmoon commented on #2425
Because Cloud Code is available for Windows/Linux/Mac OS users, before the Cloud Code team is able to release any blueprints/kpt features, kpt will need to be supported on windows.

[2021-09-08 18:37] mengqiy opened #2484 "Add contrib catalog site"
We only have the site for the curated catalog right now. We should have a site for the contrib site as well.

[2021-09-08 19:38] mengqiy commented on #2478
This has been confusing for contributors. We should fix it soon.
@natasha41575 Do you have cycle to fix this?
If we want to fix this in kyaml v0.11.*, it should add both `config.kubernetes.io/*` and `internal.config.kubernetes.io/*` annotations.
When we are ready to move to kyaml v0.12.0, we can remove the `config.kubernetes.io/*` annotation support.

[2021-09-08 19:39] natasha41575 commented on #2478
Yes, I can take a look this sprint.

We should do this first, and after some time we can drop support for config.kubernetes.io/* and release 0.12.

[2021-09-08 19:42] phanimarupaka opened #2485 "EPIC: Improve imperative user experience for setters"
- [ ] Update the documentation for create-setters function with best practices on how to use the function.
- [ ] list-setters function should list the setter information per package similar to pre-v1. Currently all setters are listed as if they belong to the single root package.
- [ ] Setters with same name might have same or different values based on the semantics of the setter. We should formula

[2021-09-08 19:47] Pitta commented on #2485
I think perhaps this should be the default output, but should have flags to produce what is currently being used. With perhaps more to adjust the output for yaml, etc.

I may be reading this incorrectly, but wanted to expand on this a bit.
There is an additional case to consider which is pulling in and having multiple copies of the same `nodepool(subpkg)`. This will produce multiple instances of s

[2021-09-08 19:50] phanimarupaka commented on #2485
Yes. In this case, the intent is to have different value even the setter name is same. The general idea is to obtain the intent of the user for knowing the semantics of setters with same name across packages.

[2021-09-08 22:45] mengqiy commented on #2445
If a user is using patches with kustomize, Patch functions can help the user to migrate to the kpt hydration pipeline.

[2021-09-09 10:42] yhrn opened #2487 "Starlark fn interprets arguments as numbers when possible and reformats them"
### Expected behavior
Arguments from config map (potentially coming from command line when running imperatively) are passed as is to Starlark code.

### Actual behavior
The arguments are interpreted as numbers when this is possible and gets passed this way to the Starlark code. The problem we have run into is that short random hex strings with hexadecimal characters are interpreted as scientific n

[2021-09-09 10:43] yhrn commented on #2487
Ping @mengqiy since you seem to be working with the Starlark fn

[2021-09-09 13:36] unlimitedbits commented on #2474
@phanimarupaka
we also experienced that issue in our use cases.
we often have the same kpt blueprint (e.g. a secretmanager secret) as a subpackage within one folder, which have overlapping setters with the root package.
in such situations it's not possible to copy `var2` to `A/Kptfile` because then you'll overwrite the value in multiple subpackages.

[2021-09-09 16:57] morgante opened #2488 "kpt live apply --inventory-policy=force"
### Describe your problem

I have previously deployed a package but lost track of that inventory / configuration.

I would like to re-deploy the package with a new inventory name and forcibly switch resources to be incorporated into the new inventory, without having to delete the existing resources.

I was expecting that `--inventory-policy=force` would exist and let me do this, but it seems the o

[2021-09-09 16:57] mikebz commented on #2300
@phanimarupaka @droot @mengqiy bumping this up since we got a customer request on for non-git package sources.

[2021-09-09 17:04] #1083 closed

[2021-09-09 17:08] mortent opened #2489 "Print the name of the conflicting inventory on conflicts"
If there is a conflicting inventory that can be resolved by the provided inventory policy, we currently just print an error message that there is a conflict. We should print the name/namespace of the inventory objects with conflicts.

[2021-09-09 17:19] mikebz commented on #2300
could be good to fit this into a larger roadmap and reference this request, I know that the work to do non-git upstream and support resource-merge is not trivial.

[2021-09-09 19:33] #2462 closed

[2021-09-09 19:34] phanimarupaka commented on #2467
This issue has been addressed on beta.5 version of kpt and will be released today.

[2021-09-09 19:34] #2467 closed

[2021-09-09 19:53] karlkfi commented on #2427
Fixed by #570
Thanks!

[2021-09-09 19:53] #2427 closed

[2021-09-09 20:13] frankfarzan opened #2490 "Regressions in kpt.dev site"
There have been couple of regressions in kpt.dev:

1. Navbar rendering regression, items have inconsistent bullet points and inconsistent coloring (Note that catalog doesn't have one)

<img width="316" alt="Screen Shot 2021-09-09 at 1 08 46 PM" src="https://user-images.githubusercontent.com/4031551/132755704-e94c7ca0-5bbf-40eb-a770-845701d2e3a5.png">

2. Githhub link on top right of pages leads to

[2021-09-09 21:03] phanimarupaka commented on #2474
The task here is
For value `prefix-foo-bar-foo2-bar2`
For setter pattern `prefix-${var1}-${var2}`
We should derive the values of `var1` and `var2`
This is ambiguous pattern and has multiple possibilities, and can't have deterministic answer without additional data.

@unlimitedbits Can I know more about your actual use-case with an example ?
There are couple of ways to solve this
Avoid having `var1

[2021-09-09 23:46] bgrant0607 commented on #1905
In addition to setters, common kustomize-style transforms (names, namespaces, labels, annotations), and common validation functions, the Starlark runtime is a prime candidate as a built-in function also.

[2021-09-10 00:23] #2429 closed

[2021-09-10 00:25] karlkfi commented on #1905
I actually think that having a special in-process mechanism for running Starlark functions would be advantageous.

I know it used to be in-process and was moved to a container like all the other functions, but the current strategy of having all functions be in a container has some negative consequences:
- makes kpt slow (docker pull, docker run)
- requires docker (which now costs money for large b

[2021-09-10 17:56] droot opened #2494 "kpt releases page shows duplicate artifacts"
kpt release page is displaying duplicate artifacts which is very confusing for end users.

Sharing the text version of Assets section of current release 1.0.0-beta.5:

[code]

[2021-09-10 18:00] droot commented on #2494
never mind :) I misread `arm` as `amd` and thought of them to be the same :)

[2021-09-10 18:00] #2494 closed

[2021-09-10 18:12] droot opened #2495 "checksite job is failing"
One of the presubmit Jobs `checksite` is failing. Here are the logs:

Run npm i && npm run lint-check
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > puppeteer@5.5.0 install /home/runner/.npm/_cacache/tmp/git-clone-566ae627

[2021-09-10 19:06] mengqiy commented on #2487
Thanks for reporting the issue! I will look into it.

[2021-09-10 21:48] #2482 closed

[2021-09-10 22:11] Pitta commented on #2485
`kpt fn eval -i create-setters:v0.1 --fn-config `
Tab completion for the file paths here (and in various other places too numerous to enumerate at the moment) would be very helpful.

[2021-09-13 19:32] #2477 closed

[2021-09-13 20:21] HP-Nunes commented on #2481
@droot that resolved my issue; many thanks! Just goes to show that you can get so absorbed into solving an issue that one fails to see the obvious....

I'm adding some additional details below for any n00b like myself in a similar predicament:

1. I had the ktp v1.0+ binary installed, so I removed it running:
`sudo apt-get remove google-cloud-sdk-kpt`
Make sure to later run `gcloud components upda

[2021-09-13 20:21] #2481 closed

[2021-09-13 21:35] droot commented on #2470
We didn't define well what it means for kpt to support different schema's kptfile. So use-case here is say that a user is using `kpt v1.0.x` and new features were introduced in kpt `1.0.y` that requires new fields say `target` in the kptfile schema. So what should be the user behavior when `kpt v1.0.x` interacts with a package that uses new feature with field `target` in the Kptfile. There were tw

[2021-09-13 21:35] #2470 closed

[2021-09-14 17:47] phanimarupaka opened #2504 "EPIC: Starlark enhancements"

[2021-09-14 18:05] Liujingfang1 commented on #2471
@seans3 When updating the CRD, I think we also need to update
[code]

to
[code]

[2021-09-14 18:34] mengqiy commented on #1916
With GoogleContainerTools/kpt-functions-catalog#570 merged, we can consider to provide our own starlark library and allow users to load it in the starlark function.
The library should improve the function authoring experience. It should provide some useful helper functions.

[2021-09-14 18:35] mengqiy commented on #2504
Features:
- Support Starlib (e.g. json, yaml) [Done in GoogleContainerTools/kpt-functions-catalog#570. To be released in v0.3.0]
- Enable optional features (e.g. recursion) [Done in GoogleContainerTools/kpt-functions-catalog#572. To be released in v0.3.0]
- Starlark function generator (wrapper) #2392
-  #2350
- #1916
-  #2405
-  #1560
-  #2201

Bugs:
-  #2487

[2021-09-14 23:59] zijianjoy commented on #2408
+1 on getting this error.

[2021-09-15 16:01] zijianjoy opened #2506 "`kpt pkg get` shouldn't error on the existence of non-KRM file from remote"
### Expected behavior

Even if such non-KRM yaml file exists: https://github.com/kubeflow/manifests/blob/master/apps/jupyter/notebook-controller/upstream/crd/patches/old_crd.yaml, I should be able to pull the package (kpt pkg get) without error.

And it will be great if `kpt pkg get` don't do validation on the content of remote package too, otherwise I expect similar validation issue will occur. (

[2021-09-15 17:15] droot opened #2507 "Github action `Deploy to Firebase Hosting on merge` is failing"
Quick look suggest there seems to an auth issue. Logs at https://github.com/GoogleContainerTools/kpt/runs/3602208625?check_suite_focus=true

[2021-09-15 20:35] mengqiy commented on #2507
Failing due to an expired SA key.
It has been fixed now.

Same problem as https://github.com/GoogleContainerTools/kpt/issues/2443.

[2021-09-15 20:35] #2507 closed

[2021-09-15 20:46] zijianjoy commented on #2506
Another note: When using `apply-setters` in the top-level package, the script only recognizes the top-level `.krmignore`, and doesn't use `.krmignore` in sub-package. So I need to duplicate the ignore files from sub-package to top-level package.

[2021-09-15 20:52] zijianjoy commented on #2506
Another note: `.krmignore` doesn't work when trying to ignore a json file. For example, I encounter this error:

error: /home/ext_jamxl_google_com/kf/1.4/ref19/gcp-blueprints/kubeflow/apps/pipelines/upstream/third-party/argo/upstream/manifests/namespace-install/overlays/workflow-controller-deployment.json: wrong Node Kind for  expected: MappingNode was SequenceNode: value: {[{"op": "add", "path":

[2021-09-15 20:52] droot commented on #2495
Thanks @etefera for the fix. closing this now.

[2021-09-15 20:52] #2495 closed

[2021-09-15 20:52] #2379 closed

[2021-09-15 20:54] phanimarupaka commented on #2474
Closing this issue as the alternatives are proposed and no response. Please reopen if you still have questions.

[2021-09-15 20:54] #2474 closed

[2021-09-16 13:07] mckendrs commented on #2453
Also having a similar issue when piping to `kpt live apply`. E.g. `kustomize build <path> | kpt live apply -`

Just as an FYI, the kustomize logic follows the kpt examples and includes the `Kptfile` as part of the kustomization.yaml resources.

Worked on `1.0.0-beta.2` but stopped working from `beta.3` onwards (confirmed that `beta.5` is still not working).

[2021-09-17 00:15] mengqiy opened #2510 "Support distributing kpt binaries through kubectl krew"
https://krew.sigs.k8s.io/plugins/ contains many plugins. It seems krew index contains not only small CLI tool, but also some big projects (e.g. cert-manager and KUDO).
Kubectl plugin model is executing another binary.
We can distribute kpt CLI through Krew Index. It can help users to discover kpt.

[2021-09-17 00:16] mengqiy commented on #2510
@droot @phanimarupaka @seans3 Thoughts?

[2021-09-17 05:07] rustycl0ck opened #2511 "`kubeval` fails to validate RBAC resources"
### Expected behavior
Resources of kind `ClsuterRole`, `Role`, `ClusterRoleBinding`, `RoleBinding` should be validated by `kubeval`.

### Actual behavior
The above mentioned roles fail with the following error:
[code]

### Information
[code]

### Steps to reproduce the behavior
[code]

[2021-09-17 18:02] morgante opened #2512 "kpt shouldn't require an initial Git commit when using `resource-merge` strategy"
### Describe your problem

Currently, if I want to use `kpt pkg update` to update a bare Kptfile (which only has upstram info), `kpt` refuses to run update unless the `Kptfile` has been committed.

When using `resource-merge` strategy, I don't think this is necessary and it adds additional friction.

[2021-09-17 21:57] natasha41575 commented on #2478
As an update, I am currently working on this but the reconciliation algorithm (e.g. if a function changes the legacy path annotation, then the orchestrator must detect the change and update the new path) will take a little bit more thought and care than I'd expected.

[2021-09-18 00:01] natasha41575 commented on #2478
See https://github.com/kubernetes-sigs/kustomize/pull/4190

[2021-09-20 17:59] morgante commented on #1437
Why does upstream win over local? Could we reverse that?

[2021-09-20 18:07] phanimarupaka commented on #1437
@morgante We can't reverse that but we can provide a different behavior using a flag.

[2021-09-20 20:11] karlkfi opened #2513 "Function to auto-generate depends-on annotations for KCC resources"
KCC has a LOT of implicit dependencies that I think we could hard-code support for in a kpt function, to auto-generate depends-on annotations. This would speed up the e2e time spent waiting for reconciliation by avoiding KCC's retry backoff loops.

Examples:
- IAMPolicyMember -> IAMServiceAccount
- ContainerNodePool -> ContainerCluster
- BigQueryTable -> BigQueryDataset
- ComputeInstance -> Comput

[2021-09-20 21:15] frankfarzan commented on #2513
Ideally, `depends-on` mechanism should be used as the option of last resort, when the type author has not provided this metadata through type definitions. In case of KCC resources, Google is the type author and can provide the dependency metadata using OpenAPI extensions. In the context of kpt, many different use cases can be solved this way (Type authors providing metadata through augmented OpenA

[2021-09-20 22:08] droot commented on #2512
@phanimarupaka @mortent Do you remember rationale behind this. Was this to prevent users from losing their local change in-case `update` behaves unexpectedly ?

[2021-09-20 22:53] zijianjoy commented on #2408
My use case is a bit different:

I ran the following command:

[code]

When in kpt 0.39, this command ran successfully. But when in kpt 1.0.0+, the command fails with:

[code]

Note that I only need the files in `manifests/` folder, but the error is about symlink `examples` in a separate folder `docs`. I think this error is avoidable as long as kpt 1.0.0+ doesn't copy the whole repo.

[2021-09-20 23:40] #2506 closed

[2021-09-21 19:36] #2484 closed

[2021-09-21 20:11] #2408 closed

[2021-09-22 04:34] morgante opened #2517 "Recursive functions in kpt fn render"
### Describe your problem

Sometimes I have a function which modifies the Kptfile to inject new functions (for example, `set-project-id` injects `apply-setters`). More generally, the ability to recursively generate subpackages and pipeline modifications is important for many use cases.

Currently, I have to know that the Kptfile was modified and run `kpt fn render` *again* if any new functions wer

[2021-09-22 18:36] #2365 closed

[2021-09-22 22:11] mortent commented on #2513
So I agree that ideally we want this information to be available in the OpenAPI schema or at least on a by-type basis rather than requiring each package to provide this information. But some of the alternatives are non-trivial to implement or might require changes in openapi in upstream kubernetes. So I think a function to add the dependency information for KCC resources could be a good temporary

[2021-09-22 22:34] karlkfi commented on #2513
In the future, I hope KCC does the following:
- For every resource dependency, watch those resources until they are reconciled/ready
- When all the dependencies for a resource are ready, retry reconciliation

This would shortcut the current retry backoff loops and greatly increase end-to-end reconciliation, especially in cases where there are thousands of resources, each with their own dependencie

[2021-09-23 01:16] bharathkkb opened #2518 "Click to copy codeblocks"
In https://github.com/GoogleContainerTools/kpt/pull/2192 `$` prefix was added for `shell` code blocks in the style guide. However this means I can no longer [click to copy](https://twitter.com/natfriedman/status/1391862005095485440) and paste that command directly from GH. Can we reconsider this or think of alternatives for a better UX?

[2021-09-23 17:30] droot commented on #2490
@mengqiy As we discussed this morning:

- kpt.dev and catalog.kpt.dev should have same navigation (they should feel like they are part of the same website)
- Make the `Function Catalog` hierarchical so it will appear with collapse(non-collapse) icon with `Curated` and `Contrib` as children nodes.

I just checked `github` link  seems to be working for me.

[2021-09-23 17:59] mengqiy commented on #2518
kpt.dev site's click-to-copy know to skip `$` when copying the code block.
Are you seeing some code blocks broken in kpt.dev?

[2021-09-23 18:38] bharathkkb commented on #2518
I haven't checked kpt.dev. This was regarding docs consumed via GH. Does kpt.dev require the `$` prefix?

[2021-09-27 17:03] g-awmalik opened #2521 "Blank flag inputs in kyaml v0.10.7+"
### Expected behavior
Flag inputs should be available as variables in the kpt functions when run/eval-ed as `-- value=foobar` where `value` is the flag name and `foobar` is the flag value

### Actual behavior
This seems to work fine up until kyaml v0.10.6. However for kyaml v.0.10.7+ the flag input values are evaluated as blanks or null when accessed in code using `cmd.Flags().StringVar(&value, "v

[2021-09-27 21:15] mengqiy commented on #2518
I think so.

[2021-09-27 21:19] mengqiy commented on #2513
cc: @droot @phanimarupaka

[2021-09-28 18:19] #2439 closed

[2021-09-28 21:10] natasha41575 commented on #2478
This is updated in kyaml v0.12.0. I will work on a PR to update kpt.

[2021-09-29 18:11] seaneagan opened #2524 "kpt function catalog: ability to remove labels/annotations/fields"
### Describe your problem

Looking for a way to remove labels/annotations/fields from resources. I don't see a way to do this using `set-labels`, `set-annotations`, or `search-and-replace`. My specific use case is around removing labels/annotations that are automatically added by helm.

Possible implementations:

1. Treat setting fields/labels/annotations to `null` as removal intent in these funct

[2021-09-29 18:36] frankfarzan commented on #2524
I suggest adding a specific `delete-labels` function. General guidelines:

- Make functions specific to performing a _verb_ on a _noun_ (There are exception to this, such as wrapping existing tools like kubeval)
- Naming in form of `<verb>-noun`

[2021-09-29 19:53] mengqiy commented on #2521
@g-awmalik Thanks for catching this issue.
I had dug into this issue.
In kyaml v0.10.6, the `ResourceList` has a field called [`Flags`](https://github.com/kubernetes-sigs/kustomize/blob/kyaml/v0.10.6/kyaml/fn/framework/framework.go#L70-L83).  When `ResourceList.Read()` is invoked, these flags will be set according to `functionConfig.data`. See:  https://github.com/kubernetes-sigs/kustomize/blob/ky

[2021-09-29 20:47] mengqiy commented on #2521
I created a PR https://github.com/GoogleContainerTools/kpt/pull/2525 to update the dev guide for golang

[2021-09-30 14:54] justinsb opened #2526 "Docs suggest that kpt fn sink can be used in same directory"
Looking at this page: https://kpt.dev/reference/cli/fn/source/?id=examples

It has this example:

[code]

However, if I try this on a kpt package I get:

[code]

I think we need to suggest DIR and NEW_DIR - assuming I'm not misunderstand / making a mistake.

[2021-09-30 14:55] bgrant0607 commented on #1280
Kind of related, I'd like kpt fn render to be able to take a Kptfile with a pipeline from stdin.

Why? Because I always want to re-run render after other mutations in order to enforce invariants. I want to treat the pipeline like mutating + validating admission control.

[2021-09-30 15:43] bgrant0607 opened #2527 "npm init kpt-functions prints wrong container registry repo"
### Expected behavior

Using docker repository prefix foo.dev/myrepo.

### Actual behavior

Using docker repository prefix gcr.io/kpt-functions-demo.

### Information

Following https://kpt.dev/sdk/ts-guide

Also, any OCI-compatible container registry should work. It doesn't have to be docker hub.

### Steps to reproduce the behavior

npm init kpt-functions
Enter a non-default repo

[2021-09-30 16:49] droot commented on #2526
Correct.

[2021-09-30 18:30] mengqiy commented on #2490
Fixed by #2522 and https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/604

[2021-09-30 18:30] #2490 closed

[2021-09-30 18:32] mengqiy commented on #2521
#2525 has been merged. We can close this issue.

[2021-09-30 18:32] #2521 closed

[2021-09-30 18:33] #2317 closed

[2021-09-30 19:05] mengqiy commented on #2518
Closing this.
Please feel free to reopen if you believe additional work is needed.

[2021-09-30 21:50] bharathkkb commented on #2518
I can't seem to re open but I think we should make this work for both GH and kpt site. For instance, a user who discoverers kpt functions via GH and browses examples there should still have the frictionless copy/paste ability. Considering we own kpt site, can we make this an FR?

[2021-09-30 22:00] bharathkkb commented on #2518
Going through the [code](https://github.com/GoogleContainerTools/kpt/blob/13d5ad4e909eccd02f43d6a06c2686b90ae2a8e2/site/static/js/plugins/copy_buttons.js#L28-L32) for the site, it seems like $ is used to identify content that can be copy pasted (filter by lines that being with $) when combined in block with output. Perhaps we could instead make them separate code blocks and merge adjacent code blo

[2021-09-30 23:15] mengqiy commented on #2518
@droot @phanimarupaka WDYT?

[2021-10-01 01:30] bgrant0607 opened #2528 "Special behavior for generators"
I've concluded that generators need special treatment.

Preprocessors (#2420) are ok, but are a workaround. #2466 is one issue that has been reported, but there are more issues.

Let's look at a generator like https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/ts/demo-functions/src/expand_team_cr.ts.

* The expansion function is associated with the pseudo-resource-type, not real

[2021-10-01 04:52] bgrant0607 commented on #2433
For secrets, choices are:
* Double-encrypt the secrets. As mentioned, https://github.com/bitnami-labs/sealed-secrets
* Fetch and generate secrets out of band (don't check them into git) and create or apply them. Perhaps like https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#secretgenerator
* Operator calls a key store and copies the secret into a Kubernetes Secret. https://

[2021-10-01 15:33] bgrant0607 commented on #1394
This is pretty annoying. Please at least update the typescript guide.
https://kpt.dev/sdk/ts-guide

[2021-10-01 20:20] jafcrocker opened #2529 "`kpt pkg update` overwrites local changes to Kptfile"
### Expected behavior
Performing a `kpt pkg update` should merge changes to the Kptfile committed to the local directory with changes from the source package.

### Actual behavior
Performing a `kpt pkg update` overwrites changes to the Kptfile committed to the local directory with changes from the source directory.

### Information
Items of possible interest:
+ Kpt version: 1.0.0-beta.5
+ The chan

[2021-10-04 07:24] kwsz opened #2531 "Document not updated - no tag flag when kpt pkg init"
### Expected behavior
Initialized the package with metadata

### Actual behavior
error: unknown flag: --tag

### Information
kpt version: 1.0.0-beta.5

### Steps to reproduce the behavior
1. go to https://googlecontainertools.github.io/kpt/guides/producer/init/#create-the-package
2. run recommended command

[2021-10-04 08:28] #2531 closed

[2021-10-04 16:21] dflemstr opened #2532 "kpt live preview might erroneously merge objects instead of applying only the new object"
### Steps to reproduce the behavior

Using kpt 0.39.2, given a KRM file that is changed according to this diff (snippet from a [SQLUser](https://cloud.google.com/config-connector/docs/reference/resource-docs/sql/sqluser) object):

[code]

We run `kpt live diff` and the above diff is produced.  We immediately after run `kpt live preview --server-side --force-conflicts --field-manager=<elided for br

[2021-10-04 18:12] mengqiy commented on #2532
Have you tried `kpt live` from kpt v1?

[2021-10-04 18:41] bgrant0607 opened #2533 "Conversion of underscores to hyphens in kpt function image names is confusing"
### Expected behavior

This runs a function after locally building it:
$ kpt fn eval . --exec "node dist/my_func_run.js"

Then I want to push the function:
export npm_package_kpt_docker_repo_base="${REGISTRY}/${PROJECT}/${REPOSITORY}"
npm run kpt:docker-build -- --tag=latest
npm run kpt:docker-push -- --tag=latest

I would expect this to work:
$ kpt fn eval . --image "${REGISTRY}/${PROJECT}/${REPO

[2021-10-04 23:39] mortent commented on #2532
I will take a look at this.

[2021-10-05 01:50] justinsb opened #2536 "How do exit codes work with `kpt fn render` validators?"
I am not entirely clear on the contract for `kpt fn render` validators.  I would have expected that if a validator returns a structured error, that `kpt fn render` would return a non-zero exit code.

I would expect that a validator would return non-zero to indicate an internal error in processing, for example if it failed to download an OpenAPI for a CRD.

What is the actual contract?

(I'd also l

[2021-10-05 06:05] mortent commented on #2532
I am able to reproduce this. I don't think it is a problem in kpt live, but rather in either the kubectl libraries we are using or in the cluster.

I can reproduce this with kubectl starting with the following resource (in a file called sqluser.yaml):
[code]
Apply it to the cluster:
[code]
Update the manifest to:
[code]
Do a server-side dry-run with kubectl:
[code]
Applying the resource rather tha

[2021-10-05 15:59] mengqiy commented on #2536
`kpt fn render` only returns a non-zero exit code when one of the validators returns a non-zero exit code.
A validator function can return 0 exit code and produce some structured results at the same time. e.g. https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/examples/gatekeeper-warning-only/.expected/results.yaml

[2021-10-05 23:55] phanimarupaka commented on #2529
@jafcrocker This is a known issue with merging pipeline section in Kptfile. Please refer to [this comment](https://github.com/GoogleContainerTools/kpt/issues/2357#issuecomment-875826911) for the reason behind this behavior. While this item is on our backlog, we want to know how blocked are you on this issue to prioritize it appropriately.

However, I want to know use-case further and see if I can

[2021-10-06 02:04] Pitta opened #2538 "`apply-setters` will not apply setters to otherwise valid `kustomize` yaml"
### Expected behavior
Setters get applied to any valid `*.yaml` that is valid inside of the k8s tooling space, like `kustomize`

### Actual behavior
Stand alone kustomize patches seem to be invalid according `kpt fn render` and does not apply setters as expected.

### Information
I have a very basic kustomize directory structure that I'm trying to make a kpt pkg....
[code]
This pkg is just a kusto

[2021-10-06 16:49] droot commented on #2529
@jafcrocker I have a few questions (if it is okay for you to share them here):

What factors influenced your decision to moved to the new model?

Programmatic customizations can be done by functions in the parent, but I am curious about the manual edits, how are you achieving those.

[2021-10-06 17:17] droot commented on #2538
@Pitta kpt assumes all resources and inputs to have a valid GVK and enforces that invariant before running `fn render`. In this case, we are running into an edge case here where patches/nodegroup.yaml (the json6902 patch) is not a valid KRM resource even though it is a valid input for `apply-setters`.

cc: @phanimarupaka This is related to our discussion on supporting bare-sequence-nodes.

[2021-10-06 17:33] Pitta commented on #2538
Yeah. It causes problems with v1 when these files are even included in a pkg and trying to `kpt pkg get`.

Id say fine, except that this is totally valid for kustomize, and its part of eksctl. Feels like this should be supported.

I can work around it, but its uglier and can get messy with larger patches.

[2021-10-06 18:07] mengqiy opened #2539 "Standardize KRM function metadata"

[2021-10-06 18:49] phanimarupaka opened #2540 "EPIC: Metrics for kpt to measure and understand usage"
- [x] Instrumentation for KCC resources and unit test.
- [x] Manual e2e test
- [ ] Pipeline and dashboard implementation

[2021-10-06 19:07] droot opened #2541 "Epic: Best practices and Idiomatic kpt package examples"
- [ ] kpt best practices finalized
- [x] Tenant factory package examples
- [x] Tenant factory use-case Tutorial (and demo)

[2021-10-07 20:26] jafcrocker commented on #2529
@droot

1. We feel that this model reduces cognitive load.  That is, in effect it abstracts away the contents of the forked package.  To find the deltas from the forked package, you only look in the parent package, rather than digging through git history.  There's a cost, of course, in expressing the desired output in terms of a base package and edits, but it feels like it better expresses the int

[2021-10-10 04:24] bgrant0607 opened #2544 "Maintain a version field, similar to upstream info"
Something to consider.

kpt has a nice scheme for versioning packages using tags:
https://kpt.dev/book/03-packages/08-publishing-a-package

However, I'd also like to version variants generated from a cloned package. They specify the version of the upstream package they were derived from, in upstream info, but not their own version.

I tried to use an annotation on the Kptfile to track versions, bu

[2021-10-11 16:32] dflemstr opened #2545 "Multi-cluster support"
### Describe your problem

At Spotify, we have a use-case where we're quickly outgrowing the capacity of a single Kubernetes cluster.   For more details about the rationale, see the internal issue (202701502).

We are considering sharding our control plane across multiple Kubernetes clusters, on a per-namespace basis.  The sharding strategy itself is probably something we want to retain control of

[2021-10-11 22:41] #1394 closed

[2021-10-11 22:56] karlkfi opened #2546 "Update kpt to use a recent cli-utils (incl apply-time-mutation)"
We would like to be able to update cli-utils in Config Sync, but Config Sync depends on kpt too, and kpt is not binary compatible with the latest cli-utils.

One of the changes made to support apply-time-mutation changed an internal interface that kpt live is using to install the ResourceGroup CRD. `taskrunner.NewTaskStatusRunner(allIds, a.statusPoller)` was changed to  `taskrunner.NewTaskStatusRu

[2021-10-12 01:58] nderraugh opened #2547 "kpt pkg get fails on path to remote subdirectory containing Kubernetes resource configuration files"
### Expected behavior
Running a `kpt pkg get` on a repository with a subdirectory containing Kubernetes resources configuraiton files creates a pristine Kpt package.
### Actual behavior
[code]
### Information
Kpt Version: v1.0.0-beta.6 or "main"
### Steps to reproduce the behavior
[code]

[2021-10-12 15:23] bgrant0607 opened #2548 "kpt pkg rebase"
Kpt makes it pretty easy to fork a fork of a fork, though it doesn't explicitly have the concept of a fork (see #2544).

I'd like to keep versioning simple, rather than trying to use something like semantic versioning: A.B.C.D.E.F...

For continuously delivered configuration, I am leaning towards a single version integer.

However, I may want to switch to another branch of the package inheritance

[2021-10-12 17:44] apelisse commented on #2532
OK yeah, that should absolutely be fixed with most recent versions, I'm curious what versions you folks have tried?

[2021-10-12 19:01] karlkfi opened #2549 "HEAD of master failing linter"
### Expected behavior

I expect to be able to pull master HEAD and for `make` to complete successfully with no local source files modified.

Current HEAD commit on master branch: 3f231036f89fa2de20cb02cb76d919e70920f7c6

The PR precommit checks probably needs to validate the linter and copyright generator were run and pass with no required changes.

### Actual behavior

Linter failed:
[code]

File

[2021-10-13 03:46] #2546 closed

[2021-10-14 05:41] rustycl0ck commented on #2399
I have the same problem.

I applied my package locally, made some updates to the `Kptfile`, applied again. After verifying that my package was working fine, I removed the `inventory` section for doing `git commit` and `git push`. And now I have no way to `destroy` the package which I forgot to uninstall earlier before committing my changes.

[2021-10-14 20:24] mortent opened #2554 "Improve performance for kpt live e2e tests"
We have a small number of e2e tests for kpt live (outside of the bash-based approach). They currently run in serial and requires that a new cluster is created for several of the tests. This causes them to be very slow.

We should improve this by:
 * Reduce the number of times we need to create a new kind cluster, as this takes ~1 minute. Tests should clean up after themselves and we can handle som

[2021-10-16 15:47] bgrant0607 commented on #2544
That distinction may apply to other Kptfile fields also, such as functions. Need to think more about inheritance chains though

[2021-10-16 15:59] bgrant0607 opened #2557 "Pull and push package commands"
Once kpt supports multiple storage types, it would be useful to abstract it more.

Pkg get changes upstream info. I just want to get the bits without using git or other storage command. Read-only use cases like GitOps could use this.

Push is harder, but even more useful because the git mechanics are pretty complicated, and OCI will be different. We will need to prototype a couple options for deci

[2021-10-20 06:24] toumorokoshi commented on #756
Hi @mortent! Is it documented anywhere what the kpt apply ordering is?

While this feature is still landing, I'm looking at trying to order my applies by hand. Namely I have a namespace and object yaml that I'd like to apply namespace-first.

[2021-10-20 18:37] mengqiy commented on #1642
In Q4, we are focusing on improving the library (kyaml).

[2021-10-20 21:11] Pitta commented on #2538
For this specific scenario, I am working with an EKS cluster parent pkg, and using this pkg to add additional nodegroups to the cluster, as needed. They have to be done this way because EKS decided to use an array for all the nodegroups in the cluster vs a separate resource type, and this is the best way to handle that with kustomize.

[2021-10-20 22:29] droot commented on #2518
As long as we can achieve the following, I am all for it :)

- Display $ prompt wherever command is involed
- Click to copy only copies the command portion (excluding $)

[2021-10-20 22:42] droot commented on #2434
@mengqiy I see this as one of the biggest friction point during function development. So keep the logging requirement in mind when you are working on Go SDK improvements.

[2021-10-21 18:23] frankfarzan opened #2558 "Docs: Render table of content on kpt.dev"
To make navigating to particular sections easier, autogenerate a table of content to the right of the content area.

[2021-10-21 20:57] bgrant0607 commented on #2184
kpt fn render still doesn't have --include-meta-resources? Is there another way to get that behavior?
https://github.com/GoogleContainerTools/kpt/issues/1280#issuecomment-948887746

[2021-10-22 02:35] bgrant0607 commented on #2557
I don't want to ignore the Kptfile. I want to preserve the Kptfile as is.

The GitOps use case is basically: while true ; do kpt pkg pull package/version && kpt live apply ; done

My other use cases are for changing the package itself:
* Pull and then kpt pkg upgrade | kpt fn render, push
* Pull and then kpt fn source | mutate | kpt fn sink | kpt fn render, push

[2021-10-22 19:39] andrewsgreene opened #2559 "kpt pkg get fails, validating contents of remote repository file"
### Expected behavior

`kpt pkg get` fetches remote and adds files to local directory

### Actual behavior

command fails trying to validate yaml file in remote repository.

### Information

[code]

### Steps to reproduce the behavior

Run `kpt pkg get https://github.com/cdfoundation/tekton-helm-chart.git/charts/tekton-pipeline@master chart`

[2021-10-27 17:21] droot opened #2562 "`set-project-id` function should configure GCP project ID and project Number in KCC resources"
Configuring a GCP project (ID and number in some cases) is one of the most common customizations for GCP resources (KCC resources). This customization fits the category of horizontal transformations (applicable to multiple types of KRM resources). `set-namespace` , `set-labels`, `set-annotations` are some examples of horizontal transformations.

Making the use-case more concrete, consider the snip

[2021-11-01 19:10] phanimarupaka commented on #988
This issue has been fixed. Please go though https://kpt.dev/book/04-using-functions/02-imperative-function-execution?id=specifying-selectors for more information.

[2021-11-01 19:10] #988 closed

[2021-11-01 19:15] mengqiy commented on #1989
Done

[2021-11-01 19:15] #1989 closed

[2021-11-01 20:33] mengqiy commented on #2435
Some of the low-hanging fruits has been addressed in Q3.
We are working on improving the golang SDK in Q4.

[2021-11-02 20:10] #2559 closed

[2021-11-03 02:01] mengqiy opened #2567 "potential runtimes in kpt fn"
There are at least the following runtimes that we can consider to support in kpt:

*   Container (already supported)
*   Exec
*   Starlark
*   Remote
*   Pod in a k8s cluster

The following table compares the pros and cons of these runtimes.

| Runtime | Pros | Cons |
|--- |--- |--- |
| Container (already supported) | 1) Support all languages. 2) Portable. All dependencies are packed in the contai

[2021-11-03 02:03] mengqiy commented on #2567
cc: @aodinokov

[2021-11-03 18:26] droot commented on #2478
Closing since the PR has been merged.

[2021-11-03 18:26] #2478 closed

[2021-11-03 18:29] droot commented on #2015
So selector machinery is in with most of the important selectors (GVKNN) that users requested. Rest selectors (package selector especially) will be addressed as an incremental change.

[2021-11-03 18:29] #2015 closed

[2021-11-03 18:43] mengqiy commented on #2539
WIP PR: https://github.com/kubernetes/enhancements/pull/3024

[2021-11-03 18:45] mengqiy opened #2568 "Design golang library for authoring KRM fn"

[2021-11-03 23:32] morgante opened #2570 "Improve `upsert-resource` to handle multiple resources"
In order to make `upsert-resource` more useful for editing complex blueprints (go/oc-customize-bp), we need two main enhancements:

# 1. Ability to pass multiple resources to upsert at once.

This is purely a performance optimization, because invoking a separate container+function call for each resource is slow.

The easiest way to do this would probably be to accept a `ResourceList` as the functi

[2021-11-04 14:09] bgrant0607 commented on #2300
Yet another example where this would be useful:
https://cloud.google.com/migrate/anthos/docs/migctl-reference#migctl-artifacts-repo-create

[2021-11-04 18:24] mikebz commented on #2528
Additional context #2435

[2021-11-04 19:34] bgrant0607 commented on #2469
For inspiration regarding function performance, especially kpt fn render performance, take a look at https://cdk8s.io/. Real-time hydration.

[2021-11-04 20:48] FrenchBen opened #2573 "search-and-replace functionConfig should iterate through multiple configs, or allow overwrite"
### Expected behavior
When wanting to apply search-and-replace to various resources, you cannot call the function once with various configs.

### Actual behavior
The function will need to be called for each implementation, of the config.

### Information
 kpt version: `1.0.0-beta.7`

### Steps to reproduce the behavior

[code]
[code]
---
#### Try replace the entire array

[code]
(doesn't work)

--

[2021-11-05 17:30] droot commented on #2573
This is working as per design. functions accept only one config object at a time. Now function themselves can support multiple config objects wrapped in a single `functionConfig`. If you are declaring these functions in the package in a pipeline, then you can have multiple invocation of search replace for each config.

@phanimarupaka can speak more about this behavior.

[2021-11-05 18:14] phanimarupaka commented on #2573
@FrenchBen We wanted to keep the behavior simple and support ConfigMap as function config for search and replace function. We saw this issue will come up at some point in the future as users might hit performance issues with running function multiple times. We will have to come with either a new CRD for search and replace function config or do what you suggested. But this needs a thought and would

[2021-11-05 20:54] grmoon commented on #2425
#### Tasks

- [ ] generate kpt.exe

[2021-11-05 23:44] FrenchBen commented on #2573
Performance, and preventing DRY.
Would be great to see this added in future release.

[2021-11-06 00:04] FrenchBen opened #2575 "Allow Starlark source to be defined in Kptfile"
### Describe your problem

functionConfig currently supports 2 approaches:
* Run via Kptfile
* Run via CLI arguments

While these 2 approaches provide some flexibility in testing, it also creates inequality for certain functions, more specifically Starlark.

### Example

Taking the core example of [Starlark Configmap](https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/starlark/v0.3

[2021-11-09 15:10] bgrant0607 opened #2577 "Function to change / update / pin container images"
A common deployment pattern is to update images to the latest tags or, ideally, digests. Sometimes people want to change the image repo, also, such as for dev builds.

Pinning images is one of the oldest issues in Kubernetes:
https://github.com/kubernetes/kubernetes/issues/1697

Kustomize supports a feature in this area:
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/image.md

S

[2021-11-09 17:47] bgrant0607 commented on #2557
Interestingly, adding support for more storage backends, including OCI, is what motivated helm to add push:
https://github.com/helm/community/blob/main/hips/hip-0006.md

[2021-11-09 18:37] mikebz commented on #1545
Proposal for the design is here: https://github.com/GoogleContainerTools/kpt/pull/2576

[2021-11-09 19:54] bgrant0607 commented on #2544
I think inheritance chains should work, by either replacing or combining upstream and downstream sections, as appropriate.

For instance, upon kpt pkg get and update, upstream functions (new section) and downstream functions (the current pipeline) could be combined into the upstream section of the downstream clone.

This approach could help with #2529.

[2021-11-09 21:58] justinsb commented on #2567
I think this is a great list.  I would suggest that if we put a GRPC/REST interface in front of function execution, a lot of these can look very similar to each other, and we can also amortize the launch time over multiple invocations.

[2021-11-10 13:11] bgrant0607 commented on #2567
The most commonly used catalog functions could just be built-in, as in kustomize. #1905

Remote functions: The approach is interesting, but I don't foresee offering managed endpoints. Users would need a function platform of some kind to run them.

And, yes, we do need alternatives to docker. Current performance is unusable. #2469

[2021-11-10 13:33] bgrant0607 commented on #2567
For completeness, we also used to support export to orchestrators: #226

[2021-11-10 17:51] droot commented on #2567
Do you mean the 4th option ? or something else ?

Users who don't want to use docker for (performance or licensing or other reasons), `exec` or `starlark` runtime will help them *only* for their custom functions. But if they need to use common functions such as `set-namespace` etc from the catalog, then either we will have to provide binaries for catalog functions or provide built-in in kpt. So th

[2021-11-10 17:58] droot commented on #2575
Another solution that has been discussed: [include-file support ](https://github.com/GoogleContainerTools/kpt/issues/2350)

[2021-11-10 19:09] bgrant0607 commented on #2567
@karlkfi also had some thoughts / concerns

[2021-11-10 22:28] karlkfi commented on #2567
To summarize my concerns...

Executing functions in containers creates significant limitations:
1. It requires Docker
    1. Docker is an additional dependency
    1. Docker now costs money for enterprise users on Mac & Windows
1. A pipeline of containerized functions doesn't itself containerize well
    1. Docker in Docker is fundamentally insecure and disallowed by many enterprise security teams

[2021-11-10 23:41] justinsb commented on #2567
I've been playing with alternative execution engines in kpt & kustomize.  A sneak-peek is here: https://github.com/justinsb/kpt/commits/runtime_engines  I've been operating on the assumption that there is no one-size-fits-all solution, in that different OSes and environments will require different approaches.  But I think we can eliminate a lot of the overhead, and there's no need for Docker.  Run

[2021-11-11 00:26] mortent opened #2579 "Support depends-on annotation in `set-namespace` and `ensure-name-substring` functions"
We are adding support custom resource ordering in `kpt live` with the introduction of the depends-on annotation (https://github.com/GoogleContainerTools/kpt/pull/2565). The resource references includes the namespace and name of resources, which means we should make sure they are updated when using the `set-namespace` and `ensure-name-substring` functions are used. We should update the functions to

[2021-11-11 01:02] bgrant0607 commented on #2567
Pluggable engines makes sense to me. These options don't need to be mutually exclusive. I'm looking forward to see whether we can make Starlark simple enough. The typescript sdk isn't bad, and maybe useful in a UI. I also think we should have built-in functions. And "docker" shouldn't be a requirement.

I like the approach of unpacking the containers and basically just exec'ing them in chroots. If

[2021-11-11 01:52] frankfarzan commented on #2567
Couple of comments/suggestions:

1. Options provided in https://github.com/GoogleContainerTools/kpt/issues/2567#issue-1043001437 aren't mutually exclusive. A function container could be run locally (e.g. docker, podman, gvisor?, etc.), could be run on a container scheduler (e.g. as pods in k8s). Remote endpoints is an orthogonal dimension which can be executing containers as well. Executable confi

[2021-11-11 04:11] bgrant0607 commented on #2445
Where would the strategic merge patches come from? In kustomize, they are also just yaml files.

[2021-11-12 00:06] #1319 closed

[2021-11-15 22:08] mengqiy opened #2587 "kpt fn sink should support --results-dir flag as kpt fn render"
When we do `kpt fn source | run-a-fn | kpt fn sink`, we can't specify the results dir with sink command.

[2021-11-15 22:08] mengqiy commented on #2587
cc: @droot

[2021-11-16 01:06] FrenchBen commented on #2575
Closing as duplicate of https://github.com/GoogleContainerTools/kpt/issues/2350

[2021-11-16 01:06] #2575 closed

[2021-11-16 13:31] bgrant0607 opened #2590 "Support and document the variant-constructor pattern"
When creating a variant of a package (similar to variants in kustomize), it needs to be possible to change the names (and/or namespaces) of the resources in the package accordingly. Kustomize supports name prefix and suffix to make this simpler, but it's not set up automatically. One needs to [build a tool ](https://cloud.google.com/kubernetes-engine/docs/how-to/add-on/application-delivery)on top

[2021-11-16 15:30] y0psolo opened #2591 "Quick start walkthough is producing an error"
### Expected behavior

kpt pkg update @v0.8
Package "nginx":
Fetching upstream from https://github.com/GoogleContainerTools/kpt@v0.8
From https://github.com/GoogleContainerTools/kpt
 * tag               package-examples/nginx/v0.8 -> FETCH_HEAD
Fetching origin from https://github.com/GoogleContainerTools/kpt@v0.8
From https://github.com/GoogleContainerTools/kpt
 * branch            88796824e8eb3a3

[2021-11-16 18:23] bgrant0607 commented on #2302
See also #2469 and #2567

[2021-11-16 18:24] bgrant0607 commented on #2158
See also #2469 and #2567

[2021-11-16 23:02] karlkfi commented on #2567
While the options for provders aren't mutually exclusive, the options for what we invest in for our standard package catalog is more constrained. We can't reasonably port every function to every function provider. If only some of the providers work both server-side and client-side we might want to focus our efforts on those.

[2021-11-17 01:06] droot commented on #2590
+100

Thinking out loud: since `kpt pkg get` updates the `metadata.name` field to the directory name of the pkg, we can extend that behavior and `kpt` can automatically parameterize the input for well known personalization functions such as `set-namespace`, `ensure-name-substring` if used in `Kptfile`. We can also support comment directives in `Kptfile` to disable the behavior. Now, if we want to

[2021-11-17 01:10] droot commented on #2591
This has been fixed in beta.8 `pre-release` https://github.com/GoogleContainerTools/kpt/releases/tag/v1.0.0-beta.8 . The release is not yet announced the `kpt.dev` site, which we will do soon, we are verifying a fixes. If you are blocked, use the beta.8 directly.

[2021-11-17 01:15] droot commented on #2587
`run-a-fn` is using `kpt fn eval` or script ?

because if one is using `kpt fn eval`, then they can write to directory and results-dir is supported.

[2021-11-17 01:16] droot commented on #2577
Yes, `set-image` function is needed.

[2021-11-17 13:25] bgrant0607 commented on #2528
kustomize has issues with the generator pattern also:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2299-kustomize-plugin-composition

[2021-11-17 13:25] bgrant0607 commented on #2435
See also #2528

[2021-11-17 20:12] phanimarupaka commented on #2570
@morgante As pinged you internally 2 days ago.

Your requested changes have been implemented and merged with `upsert-resource:unstable` tag
Please try it out and let me know if it works for you.
You will have to compile kpt from [source](https://kpt.dev/installation/?id=source) and invoke this function.
Please let me know if this works fine. We can release `kpt` and `upsert-resource` function once

[2021-11-17 21:16] mikebz commented on #2590
I think even a to command solution would be fine here, but the UX needs to be super easy.
[code]
This is taking the smart defaults to the max.  Knowing what image to use when no tag is specified, knowing that the fn name is provided when there is no -i, knowing that when there is no param name specified we put the value in the first parameters.  Having a convention for some kpt provided values lik

[2021-11-17 21:55] bharathkkb opened #2592 "[Question] Kpt pkg name and dir name"
Per [kpt docs](https://kpt.dev/book/03-packages/01-getting-a-package?id=package-name-and-identifier)

_The name of a package is given by its directory name. Since the Kptfile is a KRM resource and follows the familiar structure of KRM resources, the name of the package is also available from the metadata.name field. **This must always be the name of the directory**, and kpt will update it automati

[2021-11-18 03:33] bgrant0607 commented on #2567
Ref #2302

[2021-11-18 03:40] bgrant0607 commented on #2300
We will eventually want to support signing and verification.
https://helm.sh/docs/topics/provenance/

[2021-11-19 18:41] #1402 closed

[2021-11-19 18:43] phanimarupaka commented on #887
This has been fixed in kpt v1. Please follow the [installation](https://kpt.dev/installation/) guide to update to latest version.

[2021-11-19 18:43] #887 closed

[2021-11-19 18:43] #876 closed

[2021-11-20 03:41] morgante opened #2595 "kpt fn source should accept multiple directories"
In kpt 0.3x, `kpt fn source` could accept multiple input directories (making it easy to run a function across multiple directories). With v1, this is no longer possible and I cannot find a simple workaround.

[2021-11-20 15:11] raffomartini opened #2596 "Docs: 3.8 Publishing a Package (https://kpt.dev/book/03-packages/08-publishing-a-package)"
Wrong git push command, missing origin.

## Current version:
[code]

Monorepo:
[code]

## Correct version
[code]

Monorepo:
[code]

[2021-11-22 16:39] apelisse commented on #2532
OK looks like it's still broken in 1.20, I'll take another look.

[2021-11-22 17:23] phanimarupaka commented on #2570
Both the function and kpt have been released.

Please refer to https://kpt.dev/installation/ to install kpt
Please use upsert-resource:v0.2 tag for new functionality

[2021-11-22 17:23] #2570 closed

[2021-11-24 23:36] mengqiy opened #2599 "kpt fn render|eval should always printing truncated stderr output from functions"
Currently `kpt fn render|eval` prints stderr from the functions in the following 2 scenarios:
- functions result a failure.
- flag `--results-dirs` is specified, stderr will be captured in the structured results.

`kpt fn render|eval should` always printing truncated stderr output from functions.
Alternatively, we can add a flag (e.g. `--always-print-stderr`) to allow users to see stderr from func

[2021-11-30 19:42] mengqiy commented on #2568
PR: https://github.com/kubernetes-sigs/kustomize/pull/4319
Feedbacks are welcome!

[2021-12-01 02:34] morgante commented on #2195
This code is now being continuously copied into multiple functions.

This SDK needs to be improved.

[2021-12-01 06:20] mengqiy commented on #2195
If this is happening, we should prioritize it.
@sdowell Can you please help with this? We can do it in kyaml first and then TS SDK.

[2021-12-01 16:51] johnbelamaric opened #2602 "Package export/import including necessary images"
### Describe your problem

Use case: As a packaged software vendor that may not make my images available publicly, I would like to be able to easily deliver a complete config and image bundle to my customers, and for them to be able to easily import it into their repository and registry.

### Proposed mechanism:

* A `pkg export` command that creates a single file that contains:
  - The `kpt` pack

[2021-12-01 16:52] johnbelamaric commented on #2602
@bgrant0607 @mikebz @phanimarupaka

[2021-12-01 18:05] mengqiy commented on #2591
beta.9 has the fix and was released several days ago.

[2021-12-01 18:05] #2591 closed

[2021-12-01 18:24] mengqiy commented on #2195
We have done something in the gatekeeper function: https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/309/files#diff-1f6a622bc453fb37a0ae3331ea0243ef52cbea2d9bd4e2614b62fad97b87092bR188
We should upstream it to kyaml and then do something similar in https://github.com/GoogleContainerTools/kpt-functions-sdk

[2021-12-01 18:40] phanimarupaka commented on #2602
Thanks for the issue John. What is the priority of this issue ?

[2021-12-01 18:43] morgante commented on #2195
Agreed with prioritizing it in kyaml first, since Go is where it's currently being copied ([two examples](https://github.com/GoogleContainerTools/kpt-functions-catalog/search?q=sortResultItems) so far).

[2021-12-01 18:50] linde commented on #2350
@maxsmythe and @julianKatz  -- just FYI, not sure if this is on your radar

[2021-12-01 18:57] johnbelamaric commented on #2602
Backlog. No real urgency. 6-9 months?

[2021-12-02 01:23] maxsmythe commented on #2350
Would this function only modify files in-place, or could it redirect the output to a separate directory, leaving the original YAML untouched?

[2021-12-02 01:24] maxsmythe commented on #2350
Also, at what granularity could/does this operate? If I point it to a directory tree, will it perform all substitutions in that directory tree?

If I'm not modifying the file in-place, will the structure of the output's dirtree be maintained?

[2021-12-02 18:45] droot commented on #2397
/cc @sdowell

[2021-12-02 21:01] #1545 closed

[2021-12-02 21:31] yuwenma opened #2604 "Provide an experimental tool: a function to migrate kustomize config to kpt."
Expected cmd:
` kpt fn –eval –image=gcr.io/migrate-from-kustomize`

Features:
1. Migrate the builtin transformers which has a corresponding curated KRM function from kustomization.yaml to Kptfile `pipeline`
2. copy the kustomize resources to a sub-directory
3. copy the remote and base resources from kustomization.yaml to sub-directories
4. Migrate kustomizate replaceTransformers to kpt setters.

[2021-12-03 00:57] sdowell opened #2606 "kpt-functions-catalog e2e tests failing on gLinux"
### Expected behavior
kpt-functions-catalog e2e tests pass on gLinux environment

### Actual behavior
kpt-functions-catalog e2e tests are not passing on gLinux. I am observing the following tests failing:

--- FAIL: TestE2E (0.25s)
    --- FAIL: TestE2E/../../tests/enable-gcp-services/nested-packages (23.07s)
    --- FAIL: TestE2E/../../examples/render-helm-chart-remote-values-file (6.24s)
    ---

[2021-12-03 08:51] oswald0071 opened #2607 "fn apply setters allow to specify an ignore-pattern"
### Describe your problem
I do have config-files which are mounted into a container and have the ending yaml or json. These files should not be considered by the fn-apply-setters because these files are not matching the kubernetes format and an error occurs during the rendering

`Error: input resource list must contain only KRM resources: upstream/config/prometheus-jmx.yaml: resource must have 'ap

[2021-12-03 20:11] droot commented on #2607
But unfortunately other functions like kpt pkg update are now ignoring these files as well.

I think this is working as expected, `kpt pkg update` will ignore resources specified by file `.krmignore`. Ignore here means, `kpt pkg update` should treat `prometheus-jmx.yaml` file as a blob and replace the local copy with the upstream. Is that what you are seeing @oswald0071 ?

/cc @phanimarupaka

[2021-12-03 20:15] droot commented on #2595
Yes, I can see the use-case for this.

[2021-12-03 20:18] droot commented on #2592
I don't remember this being a requirement. @frankfarzan @mortent Do you guys remember the reasoning behind this ?

[2021-12-03 20:52] #2596 closed

[2021-12-03 22:23] frankfarzan commented on #2592
I would flip the question: What's the use case for having the Kptfile resource name be different from the directory name given there's a one-to-one relationship? Why is having a discrepancy and a degree of freedom here desirable?

[2021-12-03 22:49] bharathkkb commented on #2592
@frankfarzan One reason is when directories are nested, there is context when browsing the catalog. For instance, if a user is viewing [/catalog/hierarchy/simple](https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/hierarchy/simple), it is apparent `simple` is in context of `hierarchy`. However if the [package name](https://github.com/GoogleCloudPlatform/blueprints/blob/5ff793cb7ea

[2021-12-03 23:45] frankfarzan commented on #2592
As you point out, the context is provided by the [package identifier](https://kpt.dev/book/03-packages/01-getting-a-package?id=package-name-and-identifier) and not the name. Using your example, the identifier on local filesystem is `catalog/hierarchy/simple`. And once you commit this to Git, the URI for the package is then something like `https://github.com/foo/bar.git/catalog/hierarchy/simple`. T

[2021-12-04 01:02] rquitales commented on #2606
I've managed to get the kpt-functions-catalog e2e fully passing on gLinux. Here are the following findings, and code that need to be patched to ensure all tests passes:

### Ensure dependencies satisfy required versions
  - kpt - must be pulled from `main`.
    `v1.0.0-beta.9` will cause the following test cases to fail as PR https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/663 u

[2021-12-04 01:05] natasha41575 commented on #2606
Just FYI, kustomize.io is not our website (yet), please refer to https://kubectl.docs.kubernetes.io/references/kustomize/ for all kustomize documentation.

[2021-12-04 01:12] rquitales commented on #2606
Good to know! It still looks like this source is also pointing users to install v3 by default? https://kubectl.docs.kubernetes.io/installation/kustomize/source/

[2021-12-04 01:13] sdowell commented on #2606
@rquitales Thank you for looking into this and providing such a detailed response.

Did you build the `kubeval` image locally or pull it from the registry? IIRC this failure had to do with the `kubeval` image itself and only reproduced when building the image locally.

[2021-12-04 11:39] oswald0071 commented on #2607
I also think for `kpt pkg upgrade` works as intended. But I think there should be a way to exclude certain files only during the application of a function. In my case, I would prefer to not have a `.krmignore` and specify an ignore pattern somehow just for the `kpt fn render` function or even only for the `fn-apply-setters` function.
That means that I would like to have an option to ignore certain

[2021-12-06 14:27] nicolaiskogheim commented on #2591
I just hit this same issue.
https://kpt.dev/book/01-getting-started/02-quickstart

![2021-12-06-152625_911x150_scrot](https://user-images.githubusercontent.com/2117636/144863346-a6b2e9a4-33d4-4d29-9e3f-568515b2f251.png)

Still no dot in `@v0.8`.

[2021-12-06 18:31] droot opened #2609 "function catalog should make full version (vX.Y.Z) of all functions available"
We want to recommend users to use fully qualified version (vX.Y.Z) of functions in their packages to ensure that the render config is immutable but catalog seems to use floating version (vX.Y) today. So two asks:
 - Make it easy to discover all the patch versions of functions
 - All examples should use latest stable full versions.

Note: This is even more critical because very soon, we will make `

[2021-12-06 18:53] droot commented on #2609
We should also ensure that `kpt fn eval` auto complete should display the latest patch version the function.

Note: our installation guide should document `kpt completion` to enable auto completion.

[2021-12-06 18:54] mengqiy commented on #2320
Ref: #2609

[2021-12-06 19:01] droot opened #2610 "Update section on kpt book to author function using new Go library"
We should have a draft doc PR ready when kubernetes-sigs/kustomize#4319 is in flight.
We can merge kubernetes-sigs/kustomize#4319 and the doc PR at the same time.

We can port the examples from kubernetes-sigs/kustomize#4319

[2021-12-07 01:14] rquitales commented on #2606
Followed up on this offline. The `kubeval` tests were failing also due to file permission issues. Specifically, we copy in
 the `openapi2jsonschema` [Python scripts with existing file permissions](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/106a8b0e4707e04eafd460985616b2af2c95ec0f/functions/ts/kubeval/build/kubeval.Dockerfile#L32). If these file permissions on the host machi

[2021-12-07 01:20] loudej commented on #2602
Interesting. I for the kpt functions I believe there's also a `docker save` and `docker load` that can convert move an image between the local docker and tarball. So if you `docker build` the image to any name, you could then save and load on another machine. Image name wouldn't need to change --- you'd just need to be sure to render with never-pull-image option.

For the package itself... Maybe t

[2021-12-07 01:32] rquitales opened #2611 "kpt-functions-catalog e2e tests failing after newest kpt PR"
### Expected behavior
All [GoogleContainerTools/kpt-functions-catalog](https://github.com/GoogleContainerTools/kpt-functions-catalog/) e2e tests should pass.

### Actual behavior
Some e2e test cases are failing as PR #2603 introduces changes to error messages.

### Information
In PR #2603, the output of error messages differ slightly which I believe is due to changes in upstream `kyaml`. While the

[2021-12-07 18:57] johnbelamaric commented on #2602
Yes, good point with `docker save`. I forgot about it but have done that in the past. Looking at what I did then, I also retagged the images to remove the registry info. This made it easier to add a different registry later, and in that case sort of intentionally broke the chain back to the internal private registry. But it's not really needed. And as you said you don't even need to push the `kpt`

[2021-12-07 20:15] morgante commented on #2592
We have a clear use case for having better names, as @bharathkkb described above.

@droot As the TL here, can you provide an explanation of why Kpt needs to force the directory name match?

[2021-12-08 05:12] loudej commented on #2602
Oh yes, true. Metadata would be a good reason to use OCI tar instead of a plain tar. For structure, if you're imagining a tar of layer tars + metadata jsons, I'd say that's a solid working assumption.

From how you described that, another thought, part of the operation could be useful outside of a bundle as well? A command to go over every kptfile in a package, pull-retag-push all images to privat

[2021-12-08 16:02] mikebz commented on #2399
@rquitales @yuwenma please close this once you are done with your current `kpt live apply` changes.

[2021-12-08 17:12] loudej opened #2612 "git support in kpt pkg pull and push"
_This feature request assumes OCI support, and pkg pull and push commands exist._

`kpt pkg pull` and `kpt pkg push` should support git locations in addition to oci.

A pkg pull from a git source would be used copy a `repo/path@version` coordinate to a local folder unchanged (without the pkg get downstreaming logic)

A pkg push to a git source would be used to do the reverse. Starting from a local

[2021-12-10 00:13] mikebz commented on #2612
is `kpt pkg pull` different than `kpt pkg get`?
If so what is the difference between pull and get?

https://kpt.dev/reference/cli/pkg/get/
[code]

[2021-12-10 00:35] droot commented on #2611
This is fixed by https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/667 so closing it.

@mengqiy we may consider using structured result for most functions and leave one or two for CLI output comparison.

[2021-12-10 00:35] #2611 closed

[2021-12-10 01:13] mikebz commented on #2611
I like the structured results idea 👍

[2021-12-10 04:08] loudej commented on #2612
Yes, pkg get creates a new package, changing the name in the result, and changes upstream data to point at the source of the get.

Kpt pkg pull and push on the other hand don't create a new package name, or change contents in any way. They're just pulling files from image to folder, and pushing from folder to image.

Pull/push are needed for editing. They can also be used to move packages between

[2021-12-14 19:22] johnbelamaric commented on #2528
*Ok, so I am adding this caveat after writing everything below, which is just a sort of thought process thinking through some of these issues, and I am still not clear on how we achieve this and don't have time to continue thinking about it now. If the musings below are not useful, then feel free to ignore them. Perhaps you already have some more ideas on a better way to do this.*

I have a use ca

[2021-12-14 19:33] morgante commented on #2528
@johnbelamaric Have you considered modeling this as a set of subpackages? (See go/package-sets.)

[2021-12-14 19:39] johnbelamaric commented on #2528
Yes, now that you mention it I did at some point look at that and it looked
promising. I'll have to go back and revisit it. Has anything with respect
to that been implemented?

On Tue, Dec 14, 2021 at 11:33 AM Morgante Pell ***@***.***>
wrote:

[2021-12-14 19:57] morgante commented on #2528
Not yet, the main blocker right now is the challenges with cyclical `kpt fn render` — when generators insert new resources (including a Kptfile with new functions) we need a mechanism to add functions on those resources.

[2021-12-14 20:05] johnbelamaric commented on #2528
Ah, yes, I handle that in pre-v1.0 kpt with a two-pass pipeline, haven't looked at v1.0 kpt closely enough, hopefully there will be a similar solution available.

[2021-12-15 05:42] loudej opened #2624 "Add `kpt pkg copy SOURCE DEST`"
### Describe your problem

From [comment](https://github.com/GoogleContainerTools/kpt/pull/2589#discussion_r759843953) thread on OCI support design doc PR.

There is an example of `copy` on comparable cli in addition to `pull` and `push`,

One use for this is to move packages between remote locations without needing to drop files to disk in a temporary folder.

Another example could be for `copy`

[2021-12-21 22:17] #2606 closed

[2021-12-24 07:53] mengqiy opened #2632 "update-function-docs doesn't update all files"
make update-function-docs doesn't update the following files:
- Kptfile in the examples
- metadata.yaml files in functions/{lang}/{name}/metadata.yaml

See the 2nd commit in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/717/commits

[2021-12-27 18:14] stefanhenseler commented on #1940
@Pitta yes, we chose to simplify our setup and basically use single setter values where possible. If we use two setters in one key, we always make sure to explicitly set both setters. It's not ideal, but this works for us at the moment.

[2021-12-29 01:21] bbhuston commented on #2252
+1 on this.  This error message is extremely misleading.

[2021-12-29 19:43] bzub opened #2633 "kpt container image includes an incompatable docker client"
### Expected behavior

`fn render` should work with `gcr.io/kpt-dev/kpt:v1.0.0-beta.10`.

### Actual behavior

Prints an error.

### Information

My local docker engine and client are newer.

[code]
[code]

The issue seems to be the docker client version in the container:
[code]
[code]

### Steps to reproduce the behavior

The following should run the function pipeline on the package.

[code]

Out

[2021-12-29 20:52] sdowell commented on #2195
This PR added support for sorting results via the Go SDK:
https://github.com/kubernetes-sigs/kustomize/pull/4325

[2021-12-29 20:55] sdowell commented on #2448
This has now been implemented for set-annotations by adding the following functionality to the kustomize api:
https://github.com/kubernetes-sigs/kustomize/pull/4307

And subsequently consuming the new functionality in the set-annotations function:
https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/662

[2021-12-30 17:56] sdowell commented on #2554
@mortent is this resolved by https://github.com/GoogleContainerTools/kpt/pull/2613?

[2021-12-31 01:12] mengqiy commented on #2633
#2634 will fix the issue. Docker client will be 20.10.3.

[2022-01-04 17:58] johnbelamaric commented on #2528
Thinking about this a little more, it does seem that subpackage is the right model. The explicit version in the Kptfile gives us the ancestor for the 3-way merge, so we can make edits via the generator function, via other functions, and via manual user edits of the resulting generated instance.

One issue for generators - shouldn't they end up needing to work something like apply, with respect to

[2022-01-04 21:19] morgante commented on #2528
Yes, though they're actually also often similar to owner references. The approach we've taken thus far is to use [an annotation](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/examples/enable-gcp-services-advanced/.expected/diff.patch#L24) to track the source resource and prune if it's changed.

We should definitely standardize this sort of functionality into the SDK tho

[2022-01-05 19:55] #2633 closed

[2022-01-05 23:19] mengqiy commented on #2609
This is done

[2022-01-05 23:19] #2609 closed

[2022-01-05 23:22] mengqiy commented on #2599
@sdowell Maybe this is something you can work on.

[2022-01-05 23:24] sdowell commented on #2599
@mengqiy Sounds good, I'll take a look

[2022-01-06 00:13] sdowell commented on #2448
We plan on providing this functionality to the `set-labels` function as well

[2022-01-06 00:22] #2539 closed

[2022-01-06 20:52] phanimarupaka opened #2637 "Provide a way to order fields according to openapi schema"
Currently format function is deprecated in kpt and the field order preservation logic makes it unusable. We need to figure out a way where users can order fields based on openapi schema order, basically the older functionality when explicitly specified by the user.

[2022-01-06 21:16] morgante opened #2638 "New function: remove-resource"
### Describe your problem

We would like to be able to ideally remove entire resources from a package by imperatively invoking a kpt function.

This would be the opposite of the upsert-resource function. A remove-resource function should remove the resource with the given GVK+name (if it exists).

[2022-01-07 18:21] mengqiy commented on #2632
Closed by GoogleContainerTools/kpt-functions-catalog#718

[2022-01-07 18:21] #2632 closed

[2022-01-07 18:25] mengqiy commented on #2460
Done by GoogleContainerTools/kpt-functions-catalog#625

[2022-01-07 18:25] #2460 closed

[2022-01-07 18:28] #1224 closed

[2022-01-07 18:30] #946 closed

[2022-01-07 18:50] mengqiy commented on #2397
Done in GoogleContainerTools/kpt-functions-catalog#680

[2022-01-07 18:50] #2397 closed

[2022-01-07 19:17] mengqiy commented on #2195
TS SDK should provide similar sorting capability as kubernetes-sigs/kustomize#4325

[2022-01-09 21:39] shaunmitchellve opened #2641 "apply-setters currently skips block scalars"
Currently the apply-setters function doesn't look at block scalar styles for the kpt-set comments. For example, if you are using the annotation: `config.kubernetes.io/apply-time-mutation:` in KCC then you would pass a string or for erasability a block scalar style string that preserves newlines like `|`:

[code]

However, when running agains the current `gcr.io/kpt-fn/apply-setters:v0.2.0` which w

[2022-01-11 00:44] sdowell commented on #2533
It seems this behavior is intentional and is explicitly implemented here:
https://github.com/GoogleContainerTools/kpt-functions-sdk/blob/master/ts/create-kpt-functions/src/utils/validator.ts#L183

What is the preferred resolution of this?
e.g. change the behavior, update the docs, etc

[2022-01-11 01:02] mengqiy commented on #2533
If these are the conventions in docker and js, what we should do here is to update our documentation.

[2022-01-11 03:49] bgrant0607 commented on #2533
It's not inherent to docker. We were able to push container images with names containing underscores side by side with those containing dashes and were able to add them to the Kptfile pipeline and use them successfully.

What does the Go SDK do?

I personally would probably use dashes in function source file names rather than underscores, but the silent, unexplained conversion was surprising.

[2022-01-11 18:01] shaunmitchellve commented on #2641
I'm going to close this item as per the Yaml 1.2.2 spec Section 3.2.3.3 states:

"Comments must not appear inside scalars..."

With that and for this use-case I used a StarlarkRun mutator to achieve the same results.

[2022-01-11 18:29] mengqiy commented on #2533
We currently don't do much scaffolding in the Go SDK. So it doesn't have this problem.

[2022-01-11 21:47] mengqiy commented on #2320
@sdowell there is one last thing in the list.

[2022-01-12 00:21] #2320 closed

[2022-01-13 01:06] #2527 closed

[2022-01-13 01:21] #2195 closed

[2022-01-13 19:49] khrisrichardson commented on #1642
@mengqiy FWIW, I love this idea so that the function code can be decorated to produce a CRD validation schema among other useful side-effects ala controller-tools

[2022-01-14 01:49] #2599 closed

[2022-01-14 23:26] #2577 closed

[2022-01-19 23:08] droot commented on #2302
@aw185176 we added `exec` support in `fn render` in [beta.11](https://github.com/GoogleContainerTools/kpt/releases/tag/v1.0.0-beta.11), so closing this issue.

[2022-01-19 23:08] #2302 closed

[2022-01-19 23:13] droot opened #2650 "Epic: Make kpt as a library available"
There are projects such as `package orchestration` that wants to consume `kpt` functionality (`fn eval`, `fn render`, `pkg update`) as a library.

[2022-01-19 23:28] mengqiy opened #2651 "Improve performance of openapi schema parsing in kyaml/openapi"
kpt CLI and some functions requires openapi to work. But it's very slow when parsing the openapi api in json format (https://github.com/kubernetes-sigs/kustomize/issues/3670). There are a few options (https://github.com/kubernetes-sigs/kustomize/pull/4396) we can make it faster.

[2022-01-19 23:31] mengqiy opened #2652 "Feasibility study of various functions runtime"
Research cgroups, VM (e.g. QEMU) and etc.

[2022-01-19 23:53] phanimarupaka commented on #2529
@jafcrocker This request has been addressed. Please try out beta.12 version of kpt which will be released soon.

[2022-01-19 23:53] #2529 closed

[2022-01-20 00:06] droot opened #2653 "Epic: Starlark SDK"

[2022-01-20 00:12] natasha41575 opened #2654 "Enhance render-helm-chart function"
This function should be expanded to support more features, so that it can be moved to the [KRM functions registry](https://github.com/kubernetes-sigs/krm-functions-registry) repo as the first function published there.

[2022-01-20 00:17] mengqiy commented on #2653
Some items in https://github.com/GoogleContainerTools/kpt/issues/2504#issuecomment-919414489 may be related.

[2022-01-20 20:09] bgrant0607 commented on #2528
Back to the original topic:

Ensure functions make sense to me. That's similar to https://github.com/metacontroller/metacontroller functions.

It could be a supported or at least recommended pattern, like variant constructors (#2590).

However, my eventual conclusion on expand_team_cr was that it wasn't sufficiently useful for declarative use. Instead, I switched to a minimalistic variant-construc

[2022-01-21 01:50] Pitta opened #2656 "kpt pkg get duplicates a package as a subdirectory when attempting to override the local directory name"
### Expected behavior

For `kpt pkg get <repo>@main packages/newDirName` to put the pulled package into `/packages/newDirName`, leaving us with:

[code]

When ran a 2nd time expect to see:

### Actual behavior

upon running a 2nd time, we get:

[code]

running a 3rd time provides the correct error, presumeably because `./packages/newDirName/repoName` already exists.

### Information

kpt version `

[2022-01-21 18:10] morgante opened #2658 "New function: set-gcp-location"
### Describe your problem

Provide a function for setting GCP regions/zones across all known KCC resources.

[2022-01-21 23:07] Pitta opened #2661 "Tab completion behavior is now unuseable"
### Expected behavior

When typing `kpt` in shell, and hitting tab, get a list of the verbs and flags available

### Actual behavior

[code]
With my cursor at the bottom of this output. This output seems to be the same no matter what verb follows `kpt`

### Information

Version: `1.0.0-beta11`

### Steps to reproduce the behavior

* type `kpt` in your shell
* hit `tab`

[2022-01-21 23:47] sdowell commented on #2661
Can you describe how you have configured completion for your environment?

Try following the setup steps here and see if the issue persists:
https://kpt.dev/installation/?id=optional-enable-shell-auto-completion

[2022-01-21 23:54] Pitta commented on #2661
[code]

[2022-01-21 23:57] Pitta commented on #2661
[code]

Just tried this and has the same behavior, even on `1.0.0-beta12`

I tend to do this:
[code]

But looking at my setups, I haven't even typically been doing this with KPT. Just have all the `zsh` compinit turned on and its been fine as of `1.0.0-beta7`, which was the last version I was on before I updated.

[2022-01-22 00:10] Pitta commented on #2661
Just reverted to `beta7` and it is behaving in a far more useable state.

[2022-01-22 15:09] Pitta commented on #2538
It is unclear on what the triaged tag is for on this issuie.

[2022-01-24 19:03] karlkfi opened #2662 "Document how depends-on & apply-time-mutation works with existing & external objects."
The behavior of depends-on & apply-time-mutation is somewhat unclear in some edge cases.

- What happens when a dependency is added to an existing object?
- What happens when an object depends on an object that isn't in the repo/package?

Add/Enhance the Behavior section:
- https://kpt.dev/reference/annotations/depends-on/
- https://kpt.dev/reference/annotations/apply-time-mutation/

[2022-01-24 19:04] karlkfi commented on #2662
/assign @karlkfi

[2022-01-24 21:58] sdowell commented on #2661
Hi @Pitta

I did some more investigation into this today, and I can confirm that `source <(kpt completion zsh)` doesn't appear to work without the addition of `compdef _kpt kpt`.

However, completion did work for me after following cobra's built-in instructions (`kpt completion zsh -h`) for enabling zsh completion (which is in line with your usual approach that you mentioned):
[code]
Can you confi

[2022-01-24 23:03] Pitta commented on #2661
Can confirm that:
[code]
indeed does not work on my machine.

I am on a fully updated MacBook. I admittedly have a small section for completion in my zsh, and it is probably in need of cleaning since its a mishmash of things I was doing to get diff tools working.

[code]

[2022-01-24 23:21] Pitta commented on #2661
Can confirm the same busted behavior on Ubuntu via WSL2:

`neofetch` system info:
[code]

[2022-01-24 23:24] sdowell commented on #2661
What is the output when you run
[code]
If `~/.zsh/completion` is not included in the output, you may need to add a line to your `zshrc` to make sure your directory is included in the zsh function search path. This is of course assuming you placed the script at `~/.zsh/completion/_kpt` and not one of the default locations of `fpath`

The relevant section of my `zshrc` is nearly identical to the lat

[2022-01-24 23:32] Pitta commented on #2661
I do seem to have this further up my config, and clearly need to do a gardeningpass on my stuff:

[code]

and the output of  echo "${fpath[@]}" shows the path is indeed there, and first. On both machines.

[2022-01-25 00:42] sdowell commented on #2661
From the information you've provided I believe I've figured out how to reproduce the issue you're seeing in your environment. I may of course be mistaken as I'm trying to recreate the configuration of your environment from limited information.

It appears the issue is arising due to the presence of the following artifact of a previous completion installation:
[code]

This line needs to be removed

[2022-01-25 04:03] Pitta commented on #2661
TIL things about `zsh`

[code]

This works now! This must have been self inflicted based on a poor understanding of the compinit feature. Thank you for your help!

[2022-01-25 17:00] #2661 closed

[2022-01-27 16:47] bgrant0607 opened #2677 "New function: set-domain"
A number of resource types, such as RBAC RoleBindings in Kubernetes and IAMPolicyMember in Config Connector, contain group addresses with domain names that need to be customized by the package consumer. It's a best practice to use group names rather than individual user names wherever possible, because that makes permissions easier to manage as people's roles change, among other reasons. Sometimes

[2022-01-28 06:05] bgrant0607 commented on #2184
I also think we may need to collect information from the environment and record it as local pseudo-resources, which kpt right now treats as meta-resources, to use as well known inputs in the function pipeline. For instance, the values we were treating as autosetters previously could be recorded in a context object.

[2022-01-28 18:39] #2579 closed

[2022-01-28 21:37] bharathkkb opened #2687 "live destroy hangs waiting for KCC resource"
### Expected behavior

destroy returns successful

### Actual behavior

destroy seems to hang although resource is no longer present in cluster (and in GCP)

### Information
[code]

### Steps to reproduce the behavior

- Create a CC cluster
- Follow https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/bucket to deploy bucket blueprint
[code]
- Verify bucket exists
[code]
- Destroy r

[2022-01-28 21:57] droot commented on #2687
@mortent This is potential blocker for promoting beta.12 in gcloud. so pl. take a look.

[2022-01-28 22:10] mortent commented on #2687
@rquitales Is this something you can take a look at?

[2022-01-28 22:37] rquitales commented on #2687
Will look into this.

[2022-01-28 23:46] bgrant0607 commented on #2528
For creating individual resources, imperative functions, CLI (e.g. kubectl create -o yaml), UI, etc. seems like the way to go.

[2022-01-28 23:53] rquitales commented on #2687
This bug occurs in our custom StatusReader for Config Connector (CC) resources. When a CC resource is deleted, the status reader returns an unknown error instead of a `NotFound` message, resulting in an endless reconcile loop.

The specific error handling logic branch that causes this is:
https://github.com/GoogleContainerTools/kpt/blob/ef1a189ec04c83de6299ab9d252805d963f32ec8/pkg/status/configcon

[2022-01-28 23:57] diviner524 commented on #2377
To add more datapoints, the exact same issue is appearing in GCP KRM blueprints:

https://github.com/GoogleCloudPlatform/blueprints/issues/135

A "required" setter value is missing in setters.yaml, however blueprint users won't be able to detect this issue, until they run `kpt live apply` and then realize their GKE cluster cannot be enrolled into GKE membership.

At this stage, they need to do fur

[2022-01-29 03:11] yuwenma opened #2690 "`set-project-id` cannot detect setters in Kptfile"
As the name shows, `set-project-id` should be safely used as a declarative function in Kptfile. However, it is only used as an imperative function that changes Kptfile only:
  Running  `kpt fn eval --image gcr.io/kpt-fn/set-project-id` adds a new `apply-setter` function to Kptfile. See [README](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/1d2051b81a2885324a131924875d61f89ce6f

[2022-01-29 03:18] yuwenma commented on #2562
Issues for current set-project-id https://github.com/GoogleContainerTools/kpt/issues/2562.

[2022-01-29 03:30] yuwenma commented on #1560
@mengqiy  Do you think this can be achieved if we support the include-file #2350 so no new CRD is needed.

[2022-01-29 03:30] yuwenma commented on #2653
Tasks:
- [feat]scaffolding: #2392
- [docs] Re-write kpt.dev starlark guide
- [feat] Define test framework if users contribute to kpt catalog.
- [feat] make `resource_list.items` as strong typed objects (protobuf). This only supports the k8s API types.
- [feat] https://github.com/GoogleContainerTools/kpt/issues/2201
- [feat] #2350 `include-file` function (may need a different design than what is pr

[2022-01-29 20:42] morgante commented on #2690
Was this a regression? It seems like he original purpose of `set-project-id` has significantly diverged from what it was meant to be in the first place. go/set-project-id

[2022-01-30 02:43] aaron-prindle opened #2691 "kpt version incorrect for v1.0.0-beta.12 (displays v1.0.0-beta.9)"
### Expected behavior
[code]

### Actual behavior
[code]

### Steps to reproduce the behavior
[code]

[2022-01-31 17:35] #2687 closed

[2022-01-31 20:18] yuwenma commented on #2690
@morgante Correct. Current `set-project-id` is a regression and also introduces a bug to KCC blueprints:
Though `set-project-id` adds annotation `cnrm.cloud.google.com/project-id`, it doesn't give it the setter comment which means the annotation's `project-id` will be out of sync with other `project-id` once `apply-setter` runs.

I see the rationale behind `set-project-id` from go/set-project-id.

[2022-01-31 20:21] morgante commented on #2690
I am not supportive of removing `set-project-id`. It sounds like it was poorly implemented in the first place, but we should *fix* it instead of removing it.

I'm still not sure I follow the issue. If you don't use setters at all, does `set-project-id` not work?

[2022-01-31 20:36] yuwenma commented on #2690
"remove `set-project-id`" -->  Rename `set-project-id` to something imperative (like `add-project-id-setter` since it can only be run as imperative function. And also fix the  issues I mentioned.

As a workaround before a setter free solution, I'm fine with the function to rely on apply-setter and modify the Kptfile file. But it should not be treated as curated and should not use misleading names.

[2022-01-31 20:41] morgante commented on #2690
It was never intended to be "imperative-only." it sounds like the original implementation was done incorrectly, as go/set-project-id was meant to be usable in both imperative and declarative workflows.

I have no interest in a separate "imperative-only" function. Please focus on updating the existing function to match the spec I provided.

[2022-01-31 22:53] mikebz opened #2704 "kpt function catalog examples do not fetch the function examples"
[code]

This works:
[code]

looks like we assume that we can kpt pkg get by release title, but in git it's actually a tag name which is functions/go/gatekeeper/v0.2.1.

[2022-02-01 18:15] mengqiy commented on #2704
@sdowell has pushed the short tags for previous tags. The issue has been mitigated.
Remaining task is to make our release pipeline work with 2 tags.

[2022-02-01 18:16] sdowell commented on #2704
We've have updated the tags so this should work now for all existing releases

The remaining task is to make the addition of the shorter tag format part of the release process. The current plan is to do this via a github action

[2022-02-02 22:14] droot commented on #2691
@aaron-prindle I am not able to reproduce this in my setup. Can you check `/usr/local/bin/kpt` is being invoked ?  I have run into situations where I had `kpt` binaries with different versions installed in different paths and older one was taking precedence because of dir ordering in $PATH.

[2022-02-02 22:22] droot commented on #2656
@sdowell Can you investigate this one. /cc @phanimarupaka

[2022-02-02 22:24] droot commented on #2638
/cc @yuwenma

[2022-02-02 22:25] droot commented on #2590
So will be tackling this in current sprint that is starting today.

[2022-02-02 23:01] #2654 closed

[2022-02-02 23:42] #2448 closed

[2022-02-04 18:24] bgrant0607 commented on #2300
Another example: https://kustomizer.dev/

[2022-02-04 22:14] bgrant0607 commented on #2528
An example:
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/functions/go/enable-gcp-services

This sets a blueprints.cloud.google.com/ownerReference annotation.

Which prunes resources no longer needed.
https://github.com/GoogleContainerTools/kpt-functions-catalog/tree/master/examples/enable-gcp-services-advanced#overview

[2022-02-07 02:51] aaron-prindle commented on #2691
Sorry for the noise, I had a different installation of kpt installed that was being used in the invocation.  The version is correct in kpt, sorry again!

[2022-02-07 02:51] #2691 closed

[2022-02-07 22:05] morgante opened #2756 "Function selectors: labels and annotations"
### Describe your problem

You should be able to select the resources to apply a function to based on label or annotation.

For example, I might want to set the project ID for all my prod resources to project ID.

[code]

Or I want to set all "cluster-only" resources (based on annotation) to be set to local-config:

[code]

[2022-02-08 00:56] droot commented on #2756
Selector expression can be extended to add `labelSelector` and `annotationSelector`. The design is extensible.

[2022-02-08 15:41] PatrickChenSe opened #2759 "[Question] Migrate kpt 1.0 with execution runtime and network/mount"
Hi,

We have some questions about kpt1.0 while migrating from 0.39 about `kpt fn` execution runtime. We're using `kpt fn run` with execution runtime and `--network` `--mount`. Function config is like below:
[code]
Running the config with
[code]

I'm glad that kpt1.0 added `execution` runtime for `kpt fn render`, but I found out that `kpt fn render` doesn't support `--network` and `--mount`, they a

[2022-02-09 00:55] loudej opened #2764 "pkg/content access layer should implicitly return adapters"
In access-layer calls like content.FileSystem and content.Reader.

If the content.Content instance doesn't support exactly the feature extension requested, but
does support an extension that can be adapted into what the caller requested, then the
access-layer call should use the related extension and return an adapter.

e.g. content that has a FileSystemProvider, but not ReaderProvider, the call t

[2022-02-09 01:27] loudej opened #2765 "open.Options that pass through as appropriate (for cases like auth)"
Placeholder code in open.Content currently hard-codes a few OCI remote.Option.

Instead, for built-in content opener types, there should be open.WithContainerRegistryOptions(...) and open.WithGitOptions(...) such that the CLI at the PreRunE level can build in advance the []open.Option from environment and cobra flags. For CLI it's assumed that would be passed to any open.* functions that take opti

[2022-02-09 05:07] loudej opened #2766 "Update license text to 2022"
Small change but large diff. Adding as a standalone issue rather than tacking onto an already large PR.

[2022-02-09 15:29] shaunmitchellve opened #2767 "kpt is still checking for CRDs when annotation config.kubernetes.io/local-config: true"
### Expected behavior

When adding the annotation config.kubernetes.io/local-config: "true" to the resource definition. Kpt would not check to see if the CRD is defined on the server.

### Actual behavior

[code]

The above resource uses a kpt function (gcr.io/kpt-fn/enable-gcp-services:v0.1.0) to create other resources (service.serviceusage.cnrm.cloud.google.com) that work perfectly fine.

[code]

[2022-02-09 15:44] yuwenma opened #2768 "`kpt fn render` changes yaml integer to scientific notation"
### Describe your problem
input resource:
[code]
Running `kpt fn render` to transform some irrelevant field and do `git diff`
 output resource:
[code]
I want to keep integers' original format and do not change to scientific notation

Similar issue #2487

[2022-02-10 12:56] fsommar opened #2775 "create-kpt-functions does not work on M1"
Hi 👋 I wasn't sure whether to mark this as a bug or a feature request, but given the increasing prevalence of M1 I opted for bug.

### Expected behavior

The npm module `create-kpt-functions` should be usable on macOS arm64 architecture.

### Actual behavior

The npm module `create-kpt-functions` isn't usable on macOS arm64 architecture (M1) because the precompiled `typegen` binary is not availabl

[2022-02-11 17:09] apelisse commented on #2532
OK I just tested it against master, 1.24 and 1.23 and this seems to work as expected, as long as you're consistently applying with server-side apply or client-side apply. Mixing server-side apply and client-side apply is still not working super well though.

[2022-02-12 01:30] natasha41575 commented on #2651
Because it seems that we can get a significant performance improvement from this work, I believe that we should prioritize this, but we should be aware that of the scope.

If we want to switch from "k8s.io/kube-openapi/pkg/validation/spec" to the "github.com/googleapis/gnostic/openapiv2", there will be a lot of changes. The underlying schema representation of the new library is different than the

[2022-02-14 21:25] yuwenma opened #2795 "Add `builtin-gcloud-generator` for variant constructor"
### Description

related to #2590

This KRM function is required to be a builtin generator to provide gcloud configuration as context resources (pseudo-resource) to kpt pipeline.

### Implementing details
- GVK. (another option is v1/ConfigMap)
[code]
- Fields:
[code]
- This function requires `Kptfile` passed in in the `resource_list.items` (via flag `--include-meta-resources`)
- This function is

[2022-02-14 22:35] droot commented on #2795
Few suggestions:

- Develop the function in `kpt-fn-catalog` as a Go function. `kpt` can vendor in the function to provide as `builtin`. How to invoke built-in functions, there are a couple of ways to do so (you suggestion , with a magic keyword in the image field `builtins/source-gcloud-config` or kpt overriding with builtin implementation when image path `gcr.io/kpt-fn/source-gcloud-config` is u

[2022-02-15 00:48] yuwenma commented on #2795
+1. I like the way how kpt discover functions and how autocompletion works with the `--image` flags.

It seems ConfigMap is sufficient for now considering that all gcloud configs can be stored as string values and the `metadata.name` is fixed, which means this function won't need CRD to provide structural schema and dedicated GVK. Also, a downside of CRD is that the GVK has to be aligned between t

[2022-02-15 17:40] droot commented on #2651
Thanks for the detailed analysis @natasha41575 . I was under the impression that we just need to switch the serialization format in which we consume the schema,. Switching to new library has ripple effect across both the projects and changes the scope significantly.

Before brainstorming alternatives, I have a quick question:
why `k8s.io/kube-openapi/pkg/validation/spec` can not use proto format f

[2022-02-15 17:50] natasha41575 commented on #2651
@droot Not sure if `k8s.io/kube-openapi/pkg/validation/spec` can use proto but I have not looked very deeply. Looking at this file here https://github.com/kubernetes/kube-openapi/blob/master/pkg/validation/spec/swagger.go and the library seems to revolve around JSON schemas.

[2022-02-15 21:57] droot commented on #2795
Consider scenario:

[code]

Say we generate `gcloud-config.yaml` under pkg-A/gcloud-config.yaml. When we invoke `kpt fn render pkg-A`, first inward `pkg-B` will be rendered, `gcloud-config.yaml` will not be available at `pkg-B`, so `set-gcp-location` won't have access to the configMap available at the `pkg-A`. A tedious workaround will be to generate `gcloud-config.yaml` under `pkg-B` as well. If

[2022-02-16 19:33] droot commented on #2775
/cc @mengqiy @yuwenma

[2022-02-16 20:03] droot commented on #2767
@rquitales Is this something you can take a look at ?

/cc @mortent

[2022-02-16 22:32] droot commented on #2184
ref: https://github.com/GoogleContainerTools/kpt/pull/2781

[2022-02-16 22:41] droot opened #2808 "Epic: kpt should support `variant constructor pattern`"
This is an umbrella issue to track all the sub tasks related to `variant constructor pattern`. Refer to [original issue](https://github.com/GoogleContainerTools/kpt/issues/2590) for details.

- [x] Finalize the design for `context generation hook`
- [ ] publish `go/kpt-variant-constructor-pattern` in `kpt` repo [in progress]
- [x] `set-namespace` to support use-case for tenant provisioning
- [x] I

[2022-02-16 22:45] droot commented on #2540
closing this since we have accomplished what we had scoped.

[2022-02-16 22:45] #2540 closed

[2022-02-17 00:03] rquitales commented on #2767
Hi @shaunmitchellve

It looks like you have an error in the yaml example you provided. The key and values of the annotation map must be a string.

In the example you provided, the value of the annotation `cnrm.cloud.google.com/deletion-policy: true` is parsed as a boolean instead of a string. This causes a silent error when we extract annotations from the unstructured object from upstream apimachi

[2022-02-18 12:41] PatrickChenSe commented on #2759
@mortent can you help me with this? At least let me know if there is a plan to support `network,mount` flag in `kpt fn render`?

[2022-02-18 22:43] williamjiuchengcai opened #2817 "generate-folders kpt function overly dedupes folders of certain names"
Given an example ResourceHierarchy yaml:
[code]

### Expected behavior
`kpt fn eval` on this YAML generates a hierarchy of folders like: "Env A", "env-a", "Env A/ unit a/ team i", "Env A/ unit a/ Team-i"... etc

### Actual behavior
`kpt fn eval` normalizes to a single "env-a" folder and a single "team-i" folder.

### Information
I believe this behavior is due to the normalization function treating

[2022-02-19 19:07] bgrant0607 commented on #2577
Another KRM function:
https://github.com/google/k8s-digester

Clearly it needs to be easier to find these.

[2022-02-19 21:38] #2704 closed

[2022-02-21 22:07] phanimarupaka opened #2818 "kpt vs cdk8s/pulumi"
What are the advantages of kpt(Config as Data) over cdk8s/pulumi way of managing applications?

**Advantages of cdk8s/pulumi:**
1. More appealing to developers. Defining infra as code in their language of choice is an immediate buy.
2. Packaging is taken care by the language and is already familiar to developers. As opposed to versioned kpt packages, developers can use versioned library abstractio

[2022-02-23 08:22] LeonardAukea opened #2824 "If parent directory does not exist kpt should create it"
### Describe your problem

The following command should create the directory `/apps` if it does not exist.

[code]

This would also be nice for use-cases like this where `/my-sub-apps` does not exists

[code]

Currently, these commands throws an error `Error: parent directory "apps" does not exist ` & `Error: parent directory "apps/my-sub-apps" does not exist` using `kpt` latest via `go install`.

[2022-03-02 05:00] Liujingfang1 opened #2857 "`kpt live apply` fails when there is no resource in the directory"
When there is no resources in the directory, `kpt live apply` exits with an error `inventory info is nil`.  By adding at least one resource in the directory, it works as expected.

[code]

Steps to reproduce this
- `kpt pkg init .`
- `kpt live init.`
- `kpt live apply .`

[2022-03-02 17:05] rquitales commented on #2857
This is a regression that was introduced when we updated to cli-utils v0.29.1 (#2845), as prior `kpt` builds worked as expected. Increasing log verbosity between the working and non-working builds indicated that it's due to `cli-utils` not applying the empty inventory to the live cluster:

Truncated log output for a working `kpt live apply -v4`:
[code]

On kpt builds with the newer cli-utils, it a

[2022-03-02 17:20] karlkfi commented on #2857
Thanks for chasing this down!

The easy fix would be to make the Solver always add the InvAddTask, but there should be no need in kpt or cli-utils to create the ResourceGroup before an apply with no objects. I can probably fix the InvSetTask code to avoid the nil error if the inventory doesn’t exist, and lazily create the ResourceGroup then.

Is there a reason why ConfigSync might need the Resourc

[2022-03-02 17:34] rquitales commented on #2857
I think the issue here is that we [always call InvSetTask](https://github.com/kubernetes-sigs/cli-utils/blob/326b8a2c925ab6cd27a88510fcd657ab64a3ebdf/pkg/apply/solver/solver.go#L212) as long as we're not destroying the inventory. So whenever we try to apply anything using cli-utils, we will always attempt to pull the current inventory that is on the live cluster.

Note: my understanding of the sol

[2022-03-03 09:16] kphunter commented on #2567
https://github.com/GoogleContainerTools/kpt/issues/2158

So as far as I can tell, a pipeline based on [Kaniko](https://github.com/GoogleContainerTools/kaniko) is incompatible with `kpt fn render` at the moment, correct? I'd really like to get resource mutation off my local machine.

[2022-03-04 19:47] yuwenma opened #2870 "function autocomplete should read catalog from OCI annotation or Docker label"
The function autocomplete catalog is hosted in https://catalog.kpt.dev/catalog-v2.json

The value is parsed from each function's metadata.yaml (see [example](https://github.com/GoogleContainerTools/kpt-functions-catalog/blob/master/functions/go/set-namespace/metadata.yaml)) .

We should
1. change functions to store info in the [OCI annotation](https://github.com/opencontainers/image-spec) or [dock

[2022-03-04 23:19] yuwenma commented on #2249
should be there in next release

[2022-03-04 23:19] #2249 closed

[2022-03-07 19:03] Pitta opened #2874 "`kpt` functions do not work on M1 Mac"
### Expected behavior

`kpt fn eval -i list-setters:v0.1.0` to list all setters in directory tree

### Actual behavior

[code]

### Information

kpt version `v1.0.0-beta.13`

### Steps to reproduce the behavior

Try to run any kpt function on an M1 Mac

[2022-03-07 22:41] natasha41575 commented on #2653
As part of this, we should provide a GVKN matching function, e.g. `isGVKN(r, "v1", "ConfigMap", "gcloud-config.kpt.dev")` would greatly simplify the starlark function for the value propagation task.

[2022-03-09 15:34] shaunmitchellve commented on #2767
Thanks @rquitales. I added the quotes and local-config is now working as expected.

I wonder if not having it be a silent error but perhaps a warning might have helped me troubleshoot this.

Thanks again, going to close the issue.

[2022-03-10 21:23] yuwenma commented on #2870
Per offline discussion, since kpt does not have short term plan to execute OCI KRM functions, we would not have autocomplete supporting the OCI annotation. Only add docker labels to the meta.

[2022-03-11 00:39] droot commented on #2874
@mengqiy @yuwenma we are seeing an increase of issues reported for supporting Mac M1. I think we should be able to compile our Go based functions easily for linux/arm target, but I wonder what is idiomatic way to support the container images across different platforms.

[2022-03-11 05:12] bzub commented on #2567
For what it's worth, I've had luck with running buildkitd as a deployment in kubernetes, along with a docker-in-docker deployment/service. If I set `DOCKER_HOST` in my build stage environments, to point to the docker service, things like kpt work. The result is that I can run `docker buildx build, bake etc` and it works just like I was running it on my laptop in terms of processes expecting docker

[2022-03-15 17:38] natasha41575 opened #2897 "Add helpers to sdk to convert from wireformat resourceList to ResourceList struct"
Suggestion in https://github.com/GoogleContainerTools/kpt-functions-catalog/pull/768#discussion_r826414446. This will help kpt/porch import functions such as apply-replacements as builtins.

[2022-03-16 03:44] natasha41575 opened #2901 "kpt fn render exits 0 when apply-replacements function returns error"
When apply-replacements function returns an error, kpt fn render prints:

[code]

and exits 0. It should say [FAIL] and exit 1.

[2022-03-16 16:17] Pitta commented on #2874
https://docs.docker.com/desktop/mac/apple-silicon/

Detailed here. And i tested this flag manually for running containers on amd64 machine with the flag `--platform linux/amd64` and it ran fine.

I suspect if this is added to the call for docker run, it would solve this until native images are baked in the CI.

[2022-03-16 16:20] Pitta commented on #2874
I also want to note - this will only get worse if not addressed. Apple doesnt sell intel macs anymore. Multi architecture is the new normal.

[2022-03-16 18:18] droot commented on #2901
Looks like a regression in the latest `kpt fn render` refactoring. I am surprised we don't have a test covering this.

[2022-03-16 18:57] mengqiy opened #2902 "make <func-name>-BUILD doesn't work"
It seems there is an issue with our scripts/docker.sh.

[code]

This issue exists when running `make <func-name>-BUILD` for any go functions.

[2022-03-16 18:58] mengqiy commented on #2902
@sdowell This is not urgent. But please fix when you find a chance.

[2022-03-16 19:16] sdowell commented on #2902
I was not able to reproduce this locally on the tip of master. Could you provide some more information for the environment in which you encountered this error? I expect perhaps this was encountered using an older version of bash

[2022-03-16 20:25] mengqiy commented on #2902
[code]
What version do you have?

[2022-03-16 20:36] sdowell commented on #2902
I normally run on linux, where I have the following bash version:
[code]

I was however able to reproduce this on my mac, so I'll take a deeper look

[2022-03-18 00:12] natasha41575 commented on #2901
I don't think this is a regression, running an error case with `kubeval` behaves as expected:

[code]

It seems like something about the apply-replacements function itself. I'll have a fix in the next day or so.

[2022-03-18 19:07] chasecaleb commented on #1544
@phanimarupaka Are you sure this is supported now? I'm on kpt `1.0.0-beta.14` and symlinks still appear to be ignored. Here's an example:

[code]

[2022-03-19 19:58] phanimarupaka commented on #1544
cc @droot

[2022-03-21 20:45] julianKatz opened #2924 "Improve `docker` support when using `kpt pkg update`"
### Expected behavior

I'd expect to be able to use the dockerized version of `kpt` in my Makefile and have it work smoothly.  I'm using `kpt pkg update`.  I've laid out the process I went through to get `kpt` working with docker.  It required a good bit of experimentation and docker know-how.  Considering that the docs [show running in docker as an option](https://kpt.dev/installation/?id=kpt), i

[2022-03-21 21:10] julianKatz opened #2925 "`kpt pkg update` doing crazy stuff on weird yaml whitespace comments"
### Expected behavior

`kpt pkg update` would accurately copy the code from the source repository

### Actual behavior

A bunch of whitespace is added.  The whitespace grows with each `kpt pkg update`.

### Information

 `v1.0.0-beta.13`
 https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/general

### Steps to reproduce the behavior

[code]

The [actual file](https://githu

[2022-03-21 23:41] droot commented on #2924
Thank for for such a detailed report. I totally agree that we can have a tutorial or guide under `kpt.dev/guides/how-to-use-kpt-as-container`.

@julianKatz will you be up for contributing a basic tutorial, I can help in reviewing it and getting it merged ? (no pressure ofcourse :))

[2022-03-22 16:20] droot opened #2930 "`kpt fn render|eval` should support excluding resources from function input"
## CUJ

`kpt fn render` and `kpt fn eval` supports mechanism to target resources to apply function on.  For example:

[code]

Declaratively, for example, apply `set-labels` on resources with group `apps` and kind `Deployment`.

[code]

Sometimes users want to exclude set of resources from function's target. For ex. apply this function on all resources except the ones with `kind` `Kptfile` or apply

[2022-03-22 16:25] droot commented on #2930
I looked for some prior art in this space and found kustomize's built-in [`replacement` transformer](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/#reject) to be the closest.

[2022-03-22 16:46] natasha41575 commented on #2930
@droot Question, when we write something like

[code]

Does that mean we should reject resources that have both kind Kptfile and group apps? Or does it mean that we should reject resources that have either kind Kptfile, or group apps?

It seems like it should be the latter, and to do the former it should look like

[code]

Is that correct?

[2022-03-22 18:11] droot commented on #2930
It's the latter. It's ORs(ANDs) very similar to how `reject` is implemented. It is also consistent with how `selectors` is implemented.

[2022-03-22 18:21] droot commented on #2930
/cc @bgrant0607 @yuwenma @mengqiy @phanimarupaka

[2022-03-23 17:47] natasha41575 commented on #2930
From discussion yesterday, `fn eval` exclusions will also be treated as an 'AND', and this should be documented with examples to prevent confusion for users.

This means that something like `--exclude-name some-name --exclude-kind StatefulSet` will exclude resources that have both Kind `StatefulSet` and name `some-name`.

If a user wants to exclude resources that are of either Kind `StatefulSet`,

[2022-03-23 21:16] yuwenma commented on #2930
Agree with the idea that kpt CLI should be flexible enough to provide a way to select/exclude resources. But I'm not sure if we want to add the feature on function level or even in the pipeline.mutators/validators

Some high level questions I have:
1. What's the right syntax for users to describe the expected hydration workflow (Kptfile specification). Writing the exclusion logic in function level

[2022-03-23 21:20] #2902 closed

[2022-03-24 23:46] martinmaly opened #2936 "Suspected bug parsing Git repository URLs"
### Expected behavior

DNS name of my git server should be allowed to contain `.git` as a substring.

### Actual behavior

[code]

### Information

I suspect the parsing of Git repository URLs is incorrect and can lead to unexpected behavior.

https://github.com/GoogleContainerTools/kpt/blob/main/internal/util/parse/parse.go#L42
https://github.com/GoogleContainerTools/kpt/blob/main/internal/util/p

[2022-03-25 17:33] mikebz commented on #2874
Proposal and tradeoffs:
https://github.com/GoogleContainerTools/kpt/pull/2938

[2022-03-25 20:10] natasha41575 commented on #2930
Discussed with @droot offline, we are thinking to not support these exclusions right now, and to release the change is and collect feedback from users.

Per @droot's request, I have created an example of how a user would exclude meta resources with the current `selectors` functionality: https://github.com/natasha41575/kpt-exclude-kptfile

The Kptfile looks like this:

[code]

It's a bit verbose, b

[2022-03-25 22:24] morgante commented on #2930
For the use case of excluding meta resources, I think we need a simpler mechanism. We should not expect function or package authors to keep an exhaustive list of everything which is a meta resource.

We either need an explicit exclusion selector or for kpt to automatically add an annotation to all meta-resources.

[2022-03-27 06:15] phanimarupaka commented on #2930
`This will become especially important as we allow functionConfigs and Kptfile to be included in function input by default in kpt fn commands.` Is it ? What is the rationale behind this ? By default users expect kpt fn should only include normal resources.

[2022-03-29 00:48] julianKatz commented on #2924
I'll have to respectfully decline.  Seems like something worthy of a real work item on the kpt team, as it's part of the docs for the product.  What I've done here should be a good place to start.

[2022-03-29 20:58] yuwenma commented on #2930
Agree with @morgante on a simpler mechanism for excluding meta resources. If this exclude is specifically for meta resources like Kptfile, users should not be required to handle kptfile resource in their Kptfile `.pipeline.mutators`. Kptfile is required by kpt CLI and if kpt CLI decides to include this meta-resource, the CLI has the responsibility to properly handle the cases.

To exclude meta-res

[2022-03-29 22:40] #2901 closed

[2022-03-30 20:29] morgante commented on #2930
I don't think we want to make such a decision globally. Some functions *do* want to read/write the Kptfile. So I think a `config.kubernetes.io/meta-resource: true` annotation would work well, then function selectors can choose to ignore it or not.

Local resources are useful for generator functions (including generators of generators), so we should conflate whether a resource is applied with wheth

[2022-03-30 21:02] yuwenma opened #2952 "Preserve comments in `kpt fn eval --save`"
Current `kpt fn eval --save` read/write Kptfile via yaml.Decoder parsing, which loses the comments information.

We want to keep the original comments from Kptfile since those comments contains important message like license header, kpt reserved comments, etc.

We can use the kustomize approach to reserve comments.

[2022-03-31 18:52] morgante commented on #2767
Should we reopen this? I think it's common to forget the quotes and the error behavior is non-intuitive.

[2022-03-31 19:51] natasha41575 commented on #2930
Re: option #1, if we are choosing between `config.kubernetes.io/hydration-override: false` and `config.kubernetes.io/meta-resource: true`, I think `config.kubernetes.io/hydration-override: false` is better. It is more accurate to what kpt is doing with the annotation and  easier to understand. The user may not intuitively understand what "meta resource" means, and IMO it very easy to explain that

[2022-03-31 19:55] morgante commented on #2930
The problem is this seems like it's making an absolute statement ("functions will not modify this resource") when really we want to indicate "this resource is a meta-resource that *most* functions might not want to modify." Some functions do want to modify the Kptfile and we still want to allow that.

[2022-03-31 19:59] natasha41575 commented on #2930
Another issue to address is what if users want some functions in their pipeline to modify the Kptfile/meta resources, and others to not touch it? This will not be possible to control at a function level if we use an annotation.

[2022-03-31 20:09] natasha41575 commented on #2930
@morgante Got it, that makes a lot of sense. Will discuss more internally and sync back.

[2022-04-01 06:08] ursweiss opened #2960 "kpt pkg update removes kpt-set from newly added field with empty array"
### Expected behavior
"kpt pkg update" should keep the setter when the field has an empty array set.

### Actual behavior
If an empty array ([]) is set as value of a new field with a setter, "kpt pkg update" removes the setter comment when adding the new field to the resource.

### Information
Kpt Version:  1.0.0-beta.14

### Steps to reproduce the behavior
**Prepare**
Create a new Kpt pkg which a

[2022-04-01 07:33] ursweiss commented on #2960
Btw. as a workaround for now I set a dummy value in the kpt package and override it with an empty array during render.

[code]
Both, "example.com" and IP subnet "192.0.2.0/24" (TEST-NET-1) are never used in the real world. So it would not even be needed to override it with an empty value, but I just do it to keep it clean.

Kptfile:

[code]

After rendering this results in:

[code]

[2022-04-04 02:04] yuwenma commented on #2930
My main concern for this new `exclude.annotations` is that it basically requires users to manually configure the new `exclude` syntax to all functions, but the meta-resources are not a typical deployable resources so this additional manual work does not add much real value to users. I propose using the reverse logic `include.annotations` here based on the assumptions that users won't need to confi

[2022-04-04 03:01] natasha41575 commented on #2930
IIUC we already had the reverse logic previously with the `include-meta-resources` flag, and that we decided that we should instead include all meta resources, including the Kptfile, to kpt functions by default. If the meta resources are included by default, then naturally it seems to me that there should be an optional  mechanism to exclude them. Unless I am misunderstanding something, wouldn't d

[2022-04-05 16:08] morgante commented on #2930
Agreed, and my proposal was that kpt automatically adds the `meta-resource` annotation to the Kptfile and function configs. Then any function which wants to ignore them can just look for that mutation, instead of trying to figure out all the meta-resources itself.

[2022-04-06 18:21] droot opened #2973 "`set-namespace` function should read input from package context unless specific args specified"
### Expected behavior

Running `set-namespace` on a kpt package that has `package context` should succeed and use the input from `data.name` field in the package context.

### Actual behavior

[code]

Two things to note here:

- Function actually failed but `kpt fn render` is reporting that it has passed
- function input: it should use the `data.name` for function input

[2022-04-06 18:27] yuwenma commented on #2973
The latest `unstable` image should work.
https://console.cloud.google.com/gcr/images/kpt-fn/global/set-namespace@sha256:a457b9266764ae42c94b2ecd6690e4fc858295b2c58a7043d9e486697ef8b201/details

[2022-04-07 20:05] cartyc opened #2982 "ConfigConnectorContext prevents kpt live apply from finishing"
### Expected behavior

`kpt live apply` to complete once all resources are provisioned

### Actual behavior

`kpt live apply` never ends.

### Information
Config Connector Context successfully deploys in target namespace.
[code]
`kpt live apply` then stays alive trying to reconcile and never stops.

Looking at `kpt live apply` reveals that `kpt` is not recognizing the `ConfigConnectorContext` as b

[2022-04-08 14:12] bkanuka opened #2987 "configconnectorcontext.core.cnrm.cloud.google.com does not reconcile"
I'm attempting to use the namespace pattern outlined [here](https://cloud.google.com/config-connector/docs/how-to/advanced-install).
To set up namespace mode, I'm using the blueprint provided [here](https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/project/kcc-namespace).

After `kpt live apply`, kpt gets hung on:
[code]

A couple of things to note:

- kubectl lists these resourc

[2022-04-08 14:26] bkanuka commented on #2987
@cartyc beat me to it in https://github.com/GoogleContainerTools/kpt/issues/2982 !

[2022-04-08 16:54] droot commented on #2973
`package-context.yaml` need to be specified as `functionConfig`. Once I did that, it worked, so closing this issue.

[2022-04-08 16:54] #2973 closed

[2022-04-08 16:55] droot commented on #2982
@mortent @rquitales @karlkfi Any ideas what could be going on here ?

[2022-04-08 17:27] bkanuka commented on #2982
Here's my ConfigConnectorContext yaml.  See #2987 for more details of my install, but I beleive its the same issue.
[code]
  cc: @shaunmitchellve

[2022-04-08 21:10] bgrant0607 commented on #2930
Note: Background for this change is in #1280 and #2184.

The kind of filtering that's needed is a per-function behavior that should be implemented as part of the function's logic. kpt fn source, sink, and render should always deal with all objects in the package.

The function SDKs need to make such filtering easy.

If we need to be able to more easily identify meta-resources (just Kptfile at this

[2022-04-08 21:13] bcongdon opened #2988 ""kpt pkg update" with large number of subpackages can trigger Github throttling for clone operations"
### Information

If you try to run `kpt pkg update` on a package with many (~20+) subpackages that each have upstreams, kpt attempts to clone each of those subpackages in quick succession, resulting in Github throttling the clone operations and the update failing.

Unfortunately, if this happens in the middle of an update, there is no way to resume the operation -- so the next time `kpt pkg update

[2022-04-08 21:25] bcongdon commented on #2988
Another alternative would be if kpt cached instances of the same upstream during the whole update. The linked blueprint uses many instances of the same upsteam. It's unlikely that the upstream will change _during_ the update, so perhaps kpt could cache (e.g. using the [existing env variable](https://kpt.dev/reference/cli/pkg/update/?id=env-vars)) upstreams for the lifetime of the update operation

[2022-04-11 17:21] mengqiy commented on #2988
@bcongdon Thanks for providing steps to reproduce it!
I want to hear more about your use case. Do you have a real world use case that a package has many (~20+) subpackages? Or it's just a experiment?

[2022-04-11 23:35] bcongdon commented on #2988
Yes, when deploying a resource hierarchy (e.g.
akin to [the resource hierarchy example](https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/hierarchy)), the package we're trying to deploy has several subpackages of the project blueprint in it ([project blueprint](https://github.com/GoogleCloudPlatform/blueprints/tree/main/catalog/project))

We're nearing an upper limit of the numbe

[2022-04-12 18:15] mengqiy commented on #2988
Thanks for letting us know the use case.
I agree we should optimize it before our customers hit the upper limit.

@droot will look at this when he is back next Monday.

[2022-04-13 00:31] yuwenma opened #2996 "Display function Results by Severity level"
The KRM Function Specification defines the result with 3 severity level: info, warning, error.  Info level result contains the details including GVK, currentValue, proposedValue,  local file path.

All these results will be shown in the output of `kpt fn render` and `kpt fn eval`. kpt and SDK shall provide the option to filter results by severity .e.g `-v=info` or `-v=i` outputs all info, warning,

[2022-04-13 00:31] yuwenma commented on #2996
@mengqiy Do you have any suggestions on how we can better display/filter the results?

[2022-04-13 16:23] #2936 closed

[2022-04-14 00:06] natasha41575 commented on #2930
Design and implementation approved and merged. Will create a PR for documentation shortly.

[2022-04-14 17:47] mengqiy commented on #2996
It makes sense to me to introduce a verbosity flag in `kpt fn render|eval`.

[2022-04-15 13:50] cartyc commented on #2982
@bkanuka this PR should fix the issue we bumped into https://github.com/GoogleContainerTools/kpt/pull/3002

[2022-04-17 22:48] yuwenma opened #3014 "User friendly `--type` flag behavior"
### Current behavior
`--type` flag is defined in `kpt fn eval`, default to "mutator". It has autocompletion to suggest "mutator" and "validator". It has two functionalities
1. Used with `--save` flag to store the function to the corresponding Kptfile `pipeline.mutators` or `pipeline.validators` list
2. Used with `--keywords` or `--image` autocompletion to filter suggested functions by type.

### P

[2022-04-17 22:49] yuwenma commented on #3014
This is from the previous PR discussion https://github.com/GoogleContainerTools/kpt/pull/2956#discussion_r851551772
CC @mengqiy @droot

[2022-04-18 17:27] mengqiy commented on #3014
Matching functions by type accepts the "--type" to be empty string "", in such case suggest all functions.

These 2 make sense.

IMO when `--save` is specified, we should require users to set `--type` explicitly. Defaulting it to `mutator` when it's empty might be a problematic defaulting.

[2022-04-18 18:39] yuwenma commented on #3014
You are right! I'll force user providing `--type` if `--save` is given. Thanks.

[2022-04-18 18:53] yuwenma opened #3016 "SDK should provide a general resource filtering by GVK"
### Description
Related to https://github.com/GoogleContainerTools/kpt/pull/2971#issuecomment-1098578711

SDK should provide a general solution which can be easily used to all functions to filter resources by GVK. Currently, [kpt provides the `selector` and `exclude` syntax in Kptfile and as flags to filter resources before passing into each function](https://github.com/GoogleContainerTools/kpt/pu

[2022-04-18 18:54] yuwenma commented on #3016
+cc @natasha41575 @droot @bgrant0607

[2022-04-18 19:47] chrislovecnm opened #3019 "Release for darwin arm64 and linux arm64"
### Describe your problem

kpt does not run on an m1 mac or on linux arm64.  Please release a version of this software tool on the m1 mac

[2022-04-19 00:32] natasha41575 commented on #2930
Closing this issue as it is complete.

The docs PR https://github.com/GoogleContainerTools/kpt/pull/3022 should be merged at the time of the next release.

[2022-04-19 00:32] #2930 closed

[2022-04-19 15:21] charleshansen commented on #2988
To add some context, the real world use case we are trying to build right now will have the following minimum subpackages:
- 1 resource hierarchy
- 8 projects
- 3-6 VPCs
- 6-12 subnets
- 3-12 firewalls
- 1-2 log-exports

That full blueprint will hit the github limit every time. We can't run this as an authenticated github user either, which would be the obvious workaround. Our current workaround w

[2022-04-20 21:21] mengqiy opened #3030 "Add progress bar for rendering functions pipeline"
When a user has multiple functions in the pipeline, the overall time needed is longer than what a user expects for an interactive UI latency. E.g. 10 functions and each takes 0.5 second, it will take 5 seconds in total. If there are functions that are not in the cache, it will take even longer.

We should add a progress bar when there are multiple functions in the pipeline. We can communicate to o

[2022-04-20 23:16] yuwenma commented on #3014
Fixed.

[2022-04-20 23:16] #3014 closed

[2022-04-21 18:03] justinsb opened #3042 "porch executor should be compatible with Cluster-Autoscaler"
I saw a notification in the GKE UI about bare pods blocking cluster-autoscaler scale down.  I _think_ the problem was the function executor pods.

Looking at https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node, I think an easy option could be to set `"cluster-autoscaler.kubernetes.io/safe-to-evict": "true"` on these

[2022-04-26 23:10] droot commented on #2988
@bharathkkb will be taking a look at it next week.

Thanks Bharath.

[2022-04-27 18:42] PSanetra commented on #2399
@rquitales @yuwenma Is this considered fixed since https://github.com/GoogleContainerTools/kpt/pull/2615 was merged?

[2022-04-28 18:05] yuwenma commented on #2399
It is not. http://github.com/GoogleContainerTools/kpt/pull/2802 has some major changes that need to go in as well. @rquitales Are you still working on this feature? If so, can you resolve @mortent comments and the code conflict?

[2022-05-06 20:35] bgrant0607 commented on #2818
Does pulumi work with any GitOps tools other than the pulumi service? I assume that cdk8s could be integrated into ArgoCD via the plugin mechanism -- looks like an issue has been filed.

Interestingly, pulumi just announced yaml support: https://www.pulumi.com/blog/pulumi-yaml/. I don't know if their sdk supports manipulating it, though.

I just updated a bunch of docs to describe the CaD approach

[2022-05-09 13:20] #2400 closed

[2022-05-09 13:21] etefera commented on #2400
This seems completed now.

[2022-05-10 16:20] bgrant0607 opened #3118 "Create a way to pass non-KRM files through function input/output"
This came up in the slack channel:
https://kubernetes.slack.com/archives/C0155NSPJSZ/p1651968001107699

There are cases where users would like non-KRM files to be available to functions.

Examples that have come up include:
* including code files, such as Starlark functions or Rego in Gatekeeper ConstraintTemplates: #2350
* generating or updating documentation markdown
* inputs for generating Conf

[2022-05-10 16:22] bgrant0607 opened #3119 "ConfigMap generation"
ConfigMap generation was one of the first generators built for kustomize. It's pretty common: env files, app config files that need to be injected via volume mount.

We'll need to figure out how to support this.

It's a special case of generator (#2528).

[2022-05-10 17:23] bgrant0607 opened #3121 "Could we just use kustomize for transformations?"
I'm filing this braindump for discussion.

Using kustomize for configuration generation and transformation was the original plan when we first created kustomize. Just stamping out variants of groups of resources could be done with kustomize, obviously. Though verbose, the replacement transformer also has the advantage over the original kustomize patches of being able to adapt to other input format

[2022-05-10 19:02] justinsb commented on #3121
Thanks for starting the discussion here @bgrant0607

I claim that our solution needs to be clearly defined and easy to understand.  I claim this because we don't want packages to be write-only, we want content and changes to be reviewed by others, and we want everyone to have confidence both in the current state of package instances and in their state going forwards.

We have some feature requirem

[2022-05-10 20:57] bgrant0607 commented on #3121
Regarding reading a package:

With respect to functions "winning": I want functions to win, in the case that they are intended to act as mutating admission control. This is the "inner" model of extension: the base decides how it can be extended. Other functions may be intended more as authoring automation. Those could be invoked imperatively, but in some cases we will need to distinguish between t

[2022-05-10 23:19] justinsb commented on #3121
I agree with the idea that functions have two purposes - @droot and I were talking about "hard-control" and "soft-control" of values.  "Hard control" is where the value shouldn't be changeable other than through the function, for example because it's core to the identity or nature of a package instance, such as the namespace, and we don't want to validate the function only to then find that all th

[2022-05-11 00:38] bgrant0607 opened #3125 "Figure out how to handle secrets"
Forking the discussion from https://github.com/GoogleContainerTools/kpt/issues/2433#issuecomment-931896466

For usage in applications, there's https://secrets-store-csi-driver.sigs.k8s.io/.

For cases where we do need to copy into Kubernetes Secrets, I'd recommend using a similar approach as GitOps, which is copying from the storage system, the secret manager in this case rather than git. In the G

[2022-05-11 06:01] bgrant0607 commented on #3121
Regarding coupling functions to packages: I explicitly do not want to require writing new functions for every package. At that point, one might as well use one of the "as code" tools. I see the same patterns recur for packages that contain particular resource types. I would like to be able to reuse functions implementing those patterns. One example: resource generators. As with imperative tools, I

[2022-05-11 14:53] justinsb commented on #3121
I don't think we would _require_ writing a new function.  But I think your point is that if a package had 3 required functions, we should keep the identity of those 3 functions, rather than combining them into one function.  That feels like an approach we should add to the list of viable approaches that we're building here.  (I'll try to write it up directly next)

It would certainly be possible t

[2022-05-11 15:06] justinsb commented on #3121
To try to document the approach you're exploring/proposing @bgrant0607:

A blueprint package has a set of recommended & required functions.  When we create an instance of that blueprint package, the required functions must be invoked (and the user must provide any missing parameters), and recommended functions can be invoked (at creation time, maybe also in subsequent changes).

Generally, using a

[2022-05-11 16:35] bgrant0607 commented on #3125
Yes, definitely as much as is practical we should recommend automatically rotated secrets: service accounts, workload identity, managed certs, and so on.

[2022-05-11 18:19] bgrant0607 commented on #3121
"A blueprint package has a set of recommended & required functions"

Not all functions used on resources in a package need to be specified in the Kptfile. Imperative generation and asynchronous mutation need to be viable; excluding them is extremely limiting, crippling in fact. For example, the UI plugin generates the resources added to a blueprint.

Not all functions use on resources in a package

[2022-05-11 18:25] bgrant0607 commented on #3121
"kpt packages produce the same result as running kubernetes with corresponding admission controllers and controllers" -- this is a good starting point for how to think about it.

This diagram is relevant:
https://raw.githubusercontent.com/GoogleContainerTools/kpt/main/docs/design-docs/CaD%20Overview.svg

I am thinking of the approach as more similar to approaches that operate directly on the live

[2022-05-11 20:53] droot commented on #2808
We have completed all the items that we scoped for this epic. so closing this one out.

[2022-05-11 20:53] #2808 closed

[2022-05-11 21:12] bgrant0607 opened #3131 "Document problems with setters / parameters, and alternatives"
This is a reminder for me to write a doc about this.

I covered over-parameterization in the rationale doc and elsewhere (https://github.com/kubernetes/design-proposals-archive/blob/8da1442ea29adccea40693357d04727127e045ed/architecture/declarative-application-management.md#parameterization-pitfalls).

Setters have kind of been an attractive nuisance, similar to [vars in kustomize](https://github.c

[2022-05-11 22:14] mathieu-benoit opened #3134 "`gcr.io/kpt-fn/gatekeeper` container image doesn't exist in `latest`"
`docker pull gcr.io/kpt-fn/gatekeeper` is giving this error:
[code]

Furthermore, apparently `gcr.io/kpt-fn/gatekeeper:v0.2.1` (referenced [here](https://catalog.kpt.dev/gatekeeper/v0.2/gatekeeper-imperative/)) is dated from Nov 22, 2021, is this one updated regulary with `latest`? Same for `gcr.io/kpt-fn/gatekeeper:v0.2`?

[2022-05-11 22:35] justinsb commented on #3121
It wasn't my intent to imply that - I agree with you there.  We want a rich library of functions that can be used across packages.

Are there any significant differences that you would call out?  I feel it's easy to communicate this model, there's some implementation work but it's well specified.

[2022-05-12 00:38] bgrant0607 commented on #3121
Significant differences: We'll need to start simple and work through more complex cases to see where it breaks down.

Kubernetes has a number of types of clients: admission controllers, controllers, CLIs, CLI plugins, UIs, UI plugins, etc.

If we start with a deployment package and ignore complications like upstream blueprints and nested subpackages, a ResourceList should be kind of like a slice o

[2022-05-12 00:44] mathieu-benoit opened #3139 "[Question] Is there any reason why `latest` is still `` and `` still `` for the `gcr.io/kpt-dev/kpt` container image?"
Is there any reason why the tag `latest` is still `v0.39.3` and the tag `next` still `v1.0.0-beta.1` for the `gcr.io/kpt-dev/kpt` container image?

[2022-05-12 15:35] bgrant0607 commented on #3121
Some thoughts from my morning ride before I forget the other half of them...

If we look at the namespace provisioning example, the blueprint acts as a factory for stamping out namespaces and their associated policy resources.
https://kpt.dev/guides/namespace-provisioning-ui
https://kpt.dev/guides/namespace-provisioning-cli

The inputs to the factory need to come from the downstream variant. In th

[2022-05-12 18:37] droot commented on #3134
@mengqiy can confirm this, but as per my understanding, we deliberately avoid having `:latest` tag and consider it to be a bad practice especially when it comes to managing configuration. kpt users are strongly recommended to use either fully qualified tag (x.y.z) or floating versioned tags (v0.2 like in this case). That is the only way to ensure prevent configuration errors in production (keeping

[2022-05-12 18:45] droot commented on #3139
Thanks for raising this Mathieu.

I touched on this briefly https://github.com/GoogleContainerTools/kpt/issues/3134 but we have decided to move way from `latest` and `next` floating tags because `kpt` is still in `beta` and we run the risk of breaking downstream users with floating tags (ran into this problem with Istio packaging :) and learnt the hard way). It's good practice to use a fully quali